<%def name="get_area_general(area)">\
  <h3 ng-click="mainCtrl.animateHeaderIcon($event)"
      data-toggle="collapse" data-target="#general" aria-expanded="true" aria-controls="general">
    <span translate>General</span> <span class="glyphicon glyphicon-menu-down"></span></h3>
  <div class="finfo collapse in" id="general">
    <div class="ficontent max">
      <span class="detail-text accordion">
        <p><span translate class="value-title">area_type</span>: <span x-translate class="value">${area['area_type']}</span></p>
        <p><span translate class="value-title">quality</span>: <span x-translate class="value">${area['quality']}</span></p>
      </span>
    </div>
  </div>
</%def>