<div class="list advanced-search" c2c-loading>
  <div id="card{{doc.document_id}}" class="list-item" ng-class="[searchCtrl.doctype, {'highlight': doc.document_id === searchCtrl.highlightId}]"
       ng-repeat="doc in searchCtrl.documents track by doc.document_id">
    <c2c-card c2c-card-doc="::doc" ng-mouseenter="searchCtrl.onMouseEnter(doc.document_id)"
              ng-mouseleave="searchCtrl.onMouseLeave(doc.document_id)"></c2c-card>
  </div>
  <!--
    add 5 empty items to fix last row item width
    see http://stackoverflow.com/a/22018710
  !-->
  <div class="list-item" ng-repeat="n in [].constructor(5) track by $index"></div>
</div>
<p translate class="text-warning text-center no-results" ng-class="{'show': searchCtrl.noResults}">No results</p>
