<figure>
  ## TITLE & TYPES
  <h3><span translate>title</span> & <span translate>types</span></h3>
  <p><label translate>title</label>
    <input required class="form-control" ng-model="waypoint.locales[0].title">
    <p class="text-danger" translate ng-if="!waypoint.locales[0].title">This field is required.</p>
  </p>
  <p><label translate>waypoint_type</label> 
    <input disabled required class="form-control" value="{{mainCtrl.translate(waypoint.waypoint_type)}}">
    <p class="text-danger" translate ng-if="!waypoint.waypoint_type">This field is required.</p>
  </p>
  <p><label translate>lang</label>
    <input disabled required class="form-control" value="{{mainCtrl.translate(waypoint.locales[0].lang)}}">
    <p class="text-danger" translate ng-if="!waypoint.locales[0].lang">This field is required.</p>
  </p>
  <p ng-if="waypoint.waypoint_type == 'paragliding_takeoff' || waypoint.waypoint_type == 'paragliding_landing' || waypoint.waypoint_type == 'climbing_outdoor'">
    <label translate>orientation</label>{{waypoint.orientation}}</p>
  <p ng-if="waypoint.areas[0].locales[0].title"><label translate>country</label>{{waypoint.areas[0].locales[0].title}}</p>
  <p ng-if="waypoint.waypoint_type == 'climbing_outdoor'"><label translate>children_proof</label>{{waypoint.children_proof}}</p>
  <p ng-if="waypoint.waypoint_type == 'climbing_outdoor'"><label translate>rain_proof</label>{{waypoint.rain_proof}}</p>

  <article ng-if="waypoint.waypoint_type == 'weather_station'">
    <label translate>weather_station_types</label><br>
    <ul class="types">
      <li ng-repeat="type in waypoint['weather_station_types']" x-translate>{{type}}</li>
    </ul>
  </article>

  <article ng-if="waypoint.waypoint_type == 'local_product'">
    <label translate>product_types</label><br>
    <ul class="types">
      <li ng-repeat="type in waypoint['product_types']" x-translate>{{type}}</li>
    </ul>
  </article>

  <article ng-if="waypoint.waypoint_type == 'climbing_outdoor' && waypoint.climbing_outdoor_types[0] != ''">
    <label translate>climbing_outdoor_types</label><br>
    <ul class="types">
      <li ng-repeat="type in waypoint['climbing_outdoor_types']" x-translate>{{type}}</li>
    </ul>
  </article>

  <article ng-if="waypoint.waypoint_type == 'climbing_indoor'">
    <label translate>climbing_indoor_types</label><br>
    <ul class="types">
      <li ng-repeat="type in waypoint['climbing_indoor_types']" x-translate>{{type}}</li>
    </ul>
  </article>

  <article ng-if="waypoint.waypoint_type == 'climbing_outdoor' || waypoint.waypoint_type == 'climbing_indoor'">
    <label translate>climbing_styles</label><br>
    <ul class="types">
      <li ng-repeat="type in waypoint['climbing_styles']" x-translate>{{type}}</li>
    </ul>
  </article>

  <article ng-if="waypoint.waypoint_type == 'climbing_outdoor'">
    <label translate>rock_types</label><br>
    <ul class="types">
      <li ng-repeat="type in waypoint['rock_types']" x-translate>{{type}}</li>
    </ul>
  </article>

</figure>

## NUMBERS
<figure>
  <h3>numbers</h3>

  <article>
    <label translate>elevation</label>
    <div class="input-group">
      <input type="number" min="0" class="form-control" ng-model="waypoint.elevation">
      <span class="input-group-addon">m</span>
    </div>
    <p class="text-danger" translate ng-if="!waypoint.elevation">This field is required.</p>
  </article>

  <article ng-if="waypoint.waypoint_type == 'access'">
    <label translate>elevation_min</label>
    <div class="input-group">
      <input type="number" min="0" class="form-control" required ng-model="waypoint.elevation_min">
      <span class="input-group-addon">m</span>
    </div>
    <p class="text-danger" translate ng-if="!waypoint.elevation_min">This field is required.</p>
  </article>

  <article ng-if="waypoint.waypoint_type == 'paragliding_takeoff' || waypoint.waypoint_type == 'paragliding_landing'">
    <label translate>length</label>
    <div class="input-group">
      <input type="number" min="0" class="form-control" ng-model="waypoint.length">
      <span class="input-group-addon">m</span>
    </div>
  </article>

  <article ng-if="waypoint.waypoint_type == 'paragliding_takeoff' || waypoint.waypoint_type == 'paragliding_landing'">
    <label translate>slope</label>
    <div class="input-group">
      <input type="number" min="0" class="form-control" ng-model="waypoint.slope">
      <span class="input-group-addon">&#176;</span>
    </div>
  </article>

  <article ng-if="waypoint.waypoint_type == 'summit'">
    <label translate>prominence</label>
    <div class="input-group">
      <input type="number" min="0" class="form-control" ng-model="waypoint.prominence">
      <span class="input-group-addon">m</span>
    </div>
  </article>

  <article ng-if="waypoint.waypoint_type == 'climbing_outdoor' || waypoint.waypoint_type == 'climbing_indoor'">
    <label translate>height_max</label>
    <div class="input-group">
      <input type="number" min="0" class="form-control"  ng-model="waypoint.height_max">
      <span class="input-group-addon">m</span>
    </div>
  </article>

  <article ng-if="waypoint.waypoint_type == 'climbing_outdoor' || waypoint.waypoint_type == 'climbing_indoor'">
    <label translate>height_min</label>
    <div class="input-group">
      <input type="number" min="0" class="form-control" ng-model="waypoint.height_min">
      <span class="input-group-addon">m</span>
    </div>
  </article>

  <article ng-if="waypoint.waypoint_type == 'climbing_outdoor' || waypoint.waypoint_type == 'climbing_indoor'">
    <label translate>height_median</label>
    <div class="input-group">
      <input type="number" min="0" class="form-control" ng-model="waypoint.height_median">
      <span class="input-group-addon">m</span>
    </div>
  </article>

  <article ng-if="waypoint.waypoint_type == 'climbing_outdoor' || waypoint.waypoint_type == 'climbing_indoor'">
    <label translate>routes_quantity</label>
    <div class="input-group">
      <input type="number" min="0" class="form-control" ng-model="waypoint.routes_quantity">
      <span class="input-group-addon">m</span>
    </div>
  </article>

  <article ng-if="waypoint.waypoint_type == 'gite' || waypoint.waypoint_type == 'bivouac' || waypoint.waypoint_type == 'camp_site' || waypoint.waypoint_type == 'hut' || waypoint.waypoint_type == 'shelter'">
    <label translate>capacity</label>
    <div class="input-group">
      <input type="number" min="0" class="form-control" ng-model="waypoint.capacity">
      <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
    </div>
  </article>

  <article ng-if="waypoint.waypoint_type == 'gite' || waypoint.waypoint_type == 'camp_site' || waypoint.waypoint_type == 'hut' || waypoint.waypoint_type == 'shelter'">
    <label translate>capacity_staffed</label>
    <div class="input-group">
      <input type="number" min="0"  class="form-control" ng-model="waypoint.capacity_staffed">
      <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
    </div>
  </article>

</figure>

## MAPS
<figure>
  <h3>maps</h3>
  <p><label translate>lonlat</label> 
    <input class="form-control" disabled value=" {{waypoint.lonlat.longitude}} °W / {{waypoint.lonlat.latitude}} °N">
    <p class="text-danger" translate ng-if="!waypoint.lonlat.longitude || !waypoint.lonlat.longitude">Longitude and latitude are required.</p>
  </p>
  <label translate>maps_info</label>
  <p ng-repeat="map in waypoint.maps">{{map.code}} {{map.editor}}  {{map.locales[0].title}}</p>
  <p>{{waypoint.maps_info}}</p>
</figure>


## DESCRIPTION
<figure class="summary-description">
  <h3>text</h3>
  <label translate>description</label>
  <textarea class="form-control">{{waypoint.locales[0].description}}</textarea>
  <label translate>summary</label>
  <textarea class="form-control">{{waypoint.locales[0].summary}}</textarea>
</figure>

## RATINGS
<figure ng-if="waypoint.waypoint_type == 'climbing_outdoor' || waypoint.waypoint_type == 'climbing_indoor' || waypoint.waypoint_type == 'access'
          ||  waypoint.waypoint_type == 'paragliding_landing' || waypoint.waypoint_type == 'paragliding_takeoff'">
  <h3>ratings</h3>
  <p ng-if="waypoint.paragliding_rating && (waypoint.waypoint_type == 'paragliding_takeoff' || waypoint.waypoint_type == 'paragliding_landing')"><label translate>paragliding_rating</label>  {{waypoint.paragliding_rating}}</p>
  <p ng-if="waypoint.exposition_rating && (waypoint.waypoint_type == 'paragliding_takeoff' || waypoint.waypoint_type == 'paragliding_landing')"><label translate>exposition_rating</label>  {{waypoint.exposition_rating}}</p>
  <p ng-if="waypoint.climbing_rating_max && (waypoint.waypoint_type == 'climbing_outdoor' || waypoint.waypoint_type == 'climbing_indoor')"><label translate>climbing_rating_max</label>  {{waypoint.climbing_rating_max}}</p>
  <p ng-if="waypoint.climbing_rating_min && (waypoint.waypoint_type == 'climbing_outdoor' || waypoint.waypoint_type == 'climbing_indoor')"><label translate>climbing_rating_min</label>  {{waypoint.climbing_rating_min}}</p>
  <p ng-if="waypoint.climbing_rating_median && (waypoint.waypoint_type == 'climbing_outdoor' || waypoint.waypoint_type == 'climbing_indoor')"><label translate>climbing_rating_median</label>  {{waypoint.climbing_rating_median}}</p>
  <p ng-if="waypoint.equipment_rating && waypoint.waypoint_type == 'climbing_outdoor'"><label translate>equipment_rating</label>{{waypoint.equipment_rating}}</p>
</figure>

## TRANSPORTS
<figure ng-if="waypoint.waypoint_type == 'access'">
  <h3>transports</h3>
  <article>
    <label translate>public_transportation_types</label><br>
    <ul >
      <li ng-repeat="type in waypoint['public_transportation_types']" x-translate>{{type}}</li>
    </ul>
  </article>
  <p><label translate>public_transportation_rating</label>
    <input class="form-control" disabled value="{{waypoint.public_transportation_rating | translate}}">
  </p>
  <p><label translate >parking_fee</label> 
  <input class="form-control" disabled value=" {{waypoint.parking_fee}}">
  </p>
  <p><label translate>lift_access</label>
    <input class="form-control" disabled value="{{waypoint.lift_access | translate}}">
  </p>
</figure>


## CONTACT
<figure  ng-if="waypoint.waypoint_type == 'climbing_indoor' || waypoint.waypoint_type == 'local_product' || waypoint.waypoint_type == 'gite'
            || waypoint.waypoint_type == 'local_product' || waypoint.waypoint_type == 'camp_site' || waypoint.waypoint_type == 'hut' || waypoint.waypoint_type == 'webcam'
            || waypoint.waypoint_type == 'weather_station' || waypoint.waypoint_type == 'climbing_indoor' || waypoint.waypoint_type == 'climbing_outdoor'">
  <h3>contact</h3>

  <article ng-if="waypoint.waypoint_type == 'climbing_indoor' || waypoint.waypoint_type == 'local_product'
              || waypoint.waypoint_type == 'gite' || waypoint.waypoint_type == 'camp_site' || waypoint.waypoint_type == 'hut' || waypoint.waypoint_type == 'weather_station'
              || waypoint.waypoint_type == 'climbing_outdoor' || waypoint.waypoint_type == 'webcam'">
    <label translate>url</label>
    <div class="input-group">
      <input type="text" class="form-control" disabled value="{{waypoint.url}}">
      <span class="input-group-addon">@</span></span>
    </div>
  </article>

  <article ng-if="waypoint.waypoint_type == 'climbing_indoor' || waypoint.waypoint_type == 'local_product' || waypoint.waypoint_type == 'gite'
              || waypoint.waypoint_type == 'local_product' || waypoint.waypoint_type == 'camp_site' || waypoint.waypoint_type == 'hut'">
    <label translate>phone</label>
    <div class="input-group">
      <input type="text" class="form-control" disabled value="{{waypoint.phone}}">
      <span class="input-group-addon"><span class="glyphicon glyphicon-earphone"></span></span>
    </div>
  </article>

  <article ng-if="waypoint.waypoint_type == 'camp_site' || waypoint.waypoint_type == 'hut' || waypoint.waypoint_type == 'gite'">
    <label translate>phone_custodian</label>
    <div class="input-group">
      <input type="text" class="form-control" disabled value="{{waypoint.phone_custodian}}">
      <span class="input-group-addon"><span class="glyphicon glyphicon-earphone"></span></span>
    </div>
  </article>

  <p ng-if="waypoint.waypoint_type == 'gite' || waypoint.waypoint_type == 'hut' || waypoint.waypoint_type == 'camp_site'"><label translate>custodianship</label>  {{waypoint.custodianship}}</p>
</figure>

## EQUIPMENT
<figure ng-if="waypoint.waypoint_type == 'hut' || waypoint.waypoint_type == 'shelter'">
  <h3>equipment</h3>
  <p><label translate>matress_unstaffed</label>{{waypoint.matress_unstaffed}}</p>
  <p><label translate>heating_unstaffed</label>{{waypoint.heating_unstaffed}}</p>
  <p><label translate >blanket_unstaffed</label>{{waypoint.blanket_unstaffed}}</p>
  <p><label translate>gas_unstaffed</label>{{waypoint.gas_unstaffed}}</p>
</figure>

## ACCESS
<figure  ng-if="waypoint.waypoint_type == 'access' || waypoint.waypoint_type == 'local_product' || waypoint.waypoint_type == 'climbing_outdoor' || waypoint.waypoint_type == 'hut' || waypoint.waypoint_type == 'camp_site'">
  <h3>access</h3>
  <p ng-if="waypoint.waypoint_type == 'access' || waypoint.waypoint_type == 'local_product'">
    <label translate>access</label>
    "{{waypoint.locales[0].access}}"

  <p ng-if="waypoint.waypoint_type == 'access' || waypoint.waypoint_type == 'local_product' || waypoint.waypoint_type == 'hut' || waypoint.waypoint_type == 'gite' || waypoint.waypoint_type == 'camp_site'">
    <label translate>access_period</label>
    "{{waypoint.locales[0].access_period}}"
  <p ng-if="waypoint.waypoint_type == 'access'">
    <label translate>snow_clearance_rating</label>
    <input class="form-control" disabled value="{{waypoint.snow_clearance_rating}}">
  </p>

  <p ng-if="waypoint.waypoint_type == 'climbing_outdoor'">
    <label translate>access_time</label>
    {{waypoint.access_time}}
  </p>
  <article ng-if="waypoint.waypoint_type == 'climbing_outdoor'">
    <label translate>best_periods</label><br>
    <ul >
      <li ng-repeat="month in waypoint['best_periods']" x-translate>{{month}}</li>
    </ul>
  </article>
</figure>