<%!
from c2corg_common.attributes import default_cultures
%>\
<%inherit file="../base.html"/>
<%
updating_doc = waypoint_id and waypoint_culture
%>\
<%block name="pagetitle">FIXME: Adding/editing page title</%block>
<%block name="metarobots"><meta name="robots" content="noindex,nofollow"></%block>\

<h1>${self.pagetitle()}</h1>
<form app-document-editing="waypoints" app-document-editing-model="waypoint"
% if updating_doc:
  app-document-editing-id="${waypoint_id}" app-document-editing-culture="${waypoint_culture}"
% endif
  name="editForm" novalidate ng-submit="editCtrl.submitForm(editForm.$valid)">
  <div id="culture-group" class="form-group" ng-class="{ 'has-error': editForm.culture.$touched && editForm.culture.$invalid }">
    <label translate>Culture</label>
    % if waypoint_culture:
      {{mainCtrl.translate('${waypoint_culture}')}}
    % else:
      <select name="culture" ng-options="culture as mainCtrl.translate(culture) for culture in ['${"','".join(default_cultures) |n}']" 
        ng-model="waypoint.locales[0].culture" class="form-control" required>
      </select>
      <div class="help-block" ng-messages="editForm.culture.$error" ng-if="editForm.culture.$touched">
        <p ng-message="required" translate>This field is required.</p> 
      </div>
    % endif
  </div>
  <div id="title-group" class="form-group" ng-class="{ 'has-error': editForm.title.$touched && editForm.title.$invalid }">
    <label translate>title</label>
    <input type="text" name="title" ng-model="waypoint.locales[0].title" class="form-control" required ng-minlength="3" />
    <div class="help-block" ng-messages="editForm.title.$error" ng-if="editForm.title.$touched">
      <p ng-message="required" translate>This field is required.</p> 
      <p ng-message="minlength" translate>Title is too short.</p>
    </div>
  </div>
  <div id="waypoint_type-group" class="form-group" ng-class="{ 'has-error': editForm.waypoint_type.$touched && editForm.waypoint_type.$invalid }">
    <label translate>waypoint_type</label>
    <select name="waypoint_type" ng-options="type as mainCtrl.translate(type) for type in ['${"','".join(waypoint_types) |n}']"
      ng-model="waypoint.waypoint_type" class="form-control" required>
    </select>
    <div class="help-block" ng-messages="editForm.waypoint_type.$error" ng-if="editForm.waypoint_type.$touched">
      <p ng-message="required" translate>This field is required.</p> 
    </div>
  </div>
  <div id="elevation-group" class="form-group" ng-class="{ 'has-error': editForm.elevation.$touched && editForm.elevation.$invalid }">
    <label translate>elevation</label>
    <input type="number" name="elevation" ng-model="waypoint.elevation" class="form-control" required max="9999" /> m
    <div class="help-block" ng-messages="editForm.elevation.$error" ng-if="editForm.elevation.$touched">
      <p ng-message="required" translate>This field is required.</p> 
      <p ng-message="max" translate>Elevation must be smaller than 9999 m.</p>
    </div>
  </div>
  <div id="longitude-group" class="form-group" ng-class="{ 'has-error': editForm.longitude.$touched && editForm.longitude.$invalid }">
    <label translate>Longitude</label>
    <input type="number" name="longitude" ng-model="waypoint.lonlat.longitude" ng-change="editCtrl.updateMap()" class="form-control" required min="-180" max="180" /> °E
    <div class="help-block" ng-messages="editForm.longitude.$error" ng-if="editForm.longitude.$touched">
      <p ng-message="required" translate>This field is required.</p>
      <p ng-message="min" translate>Longitude must be between -180° and 180°.</p>
      <p ng-message="max" translate>Longitude must be between -180° and 180°.</p>
    </div>
  </div>
  <div id="latitude-group" class="form-group" ng-class="{ 'has-error': editForm.latitude.$touched && editForm.latitude.$invalid }">
    <label translate>Latitude</label>
    <input type="number" name="latitude" ng-model="waypoint.lonlat.latitude" ng-change="editCtrl.updateMap()" class="form-control" required required min="-90" max="90" /> °N
    <div class="help-block" ng-messages="editForm.latitude.$error" ng-if="editForm.latitude.$touched">
      <p ng-message="required" translate>This field is required.</p>
      <p ng-message="min" translate>Latitude must be between -90° and 90°.</p>
      <p ng-message="max" translate>Latitude must be between -90° and 90°.</p>
    </div>
  </div>
  <div id="maps_info-group" class="form-group">
    <label translate>maps_info</label>
    <input type="text" name="maps_info" ng-model="waypoint.maps_info" class="form-control" />
  </div>
  <div id="description-group" class="form-group">
    <label translate>description</label>
    <textarea name="description" ng-model="waypoint.locales[0].description" class="form-control" placeholder="{{'Describe here the waypoint'|translate}}"></textarea>
  </div>
  % if updating_doc:
  <div id="message-group" class="form-group">
    <label translate>Comment about the changes</label>
    <input type="text" name="message" ng-model="route.message" class="form-control" placeholder="{{'Short description of the applied changes'|translate}}" />
  </div>
  % endif
  <p>
    <button type="submit" class="btn btn-primary" ng-disabled="editForm.$invalid" translate>Save</button>
    <%
    view_url = request.route_url('waypoints_view', id=waypoint_id, culture=waypoint_culture) if updating_doc else ''
    index_url = request.route_url('waypoints_index_default')
    %>
    <button type="button" class="btn btn-default" ng-click="editCtrl.cancel('${view_url}', '${index_url}')" translate>Cancel</button>
  </p>
  <app-map app-map-edit-ctrl="editCtrl" app-map-draw-type="Point"></app-map>
</form>
