<%inherit file="waypoint_base.html"/>
<%namespace file="../helpers.mako" import="get_attr"/>
<%
culture = current_culture
updating_doc = waypoint and culture
if updating_doc:
    waypoint_id = waypoint['document_id']
%>\

<%block name="pagetitle">
${'Editing waypoint %s' % locale['title'] if locale is not None else 'Adding a waypoint'}
</%block>

<h1>${self.pagetitle()}</h1>
<form novalidate ng-submit="wpCtrl.saveEditedDocument(waypointEditingForm.$valid)" name="waypointEditingForm">
  <div id="culture-group" class="form-group">
    <label>Culture</label>
    % if culture:
      ${culture}
      <input type="hidden" name="culture" ng-model="waypoint.culture" value="${culture}" />
    % else:
      <select name="culture" ng-model="waypoint.culture" class="form-control" required>
      % for culture in available_cultures:
        <option value="${culture}">${culture}</option>
      % endfor
      </select>
      <span class="help-block"></span>
    % endif
  </div>
  <div id="waypoint_type-group" class="form-group">
    <label>Type</label>
    <select name="waypoint_type" ng-model="waypoint.waypoint_type" class="form-control" required>
    % for waypoint_type in waypoint_types:
      <%
      selected = ' selected' if waypoint and waypoint_type == waypoint['waypoint_type'] else ''
      %>
      <option value="${waypoint_type}"${selected}>${waypoint_type}</option> 
    % endfor
    </select>
    <span class="help-block"></span>
  </li>
  </div>
  <div id="title-group">
    <label>Title</label>
    <input type="text" name="title" ng-model="waypoint.title" ng-init="waypoint.title='${get_attr(locale, 'title')}'" class="form-control" required />
    <span class="help-block"></span>
  </div>
  <div id="elevation-group">
    <label>Elevation</label>
    <input type="text" name="elevation" ng-model="waypoint.elevation" ng-init="waypoint.elevation=${get_attr(waypoint, 'elevation')}" class="form-control" required /> m
    <span class="help-block"></span>
  </div>
  <div id="maps_info-group">
    <label>Maps info</label>
    <input type="text" name="maps_info" ng-model="waypoint.maps_info" ng-init="waypoint.maps_info='${get_attr(waypoint, 'maps_info')}'" class="form-control" />
    <span class="help-block"></span>
  </div>
  <div id="description-group">
    <label>Description</label>
    <textarea name="description" ng-model="waypoint.description" class="form-control">${get_attr(locale, 'description')}</textarea>
    <span class="help-block"></span>
  </div>
  <div id="pedestrian_access-group">
    <label>Pesdestrian access</label>
    <textarea name="pedestrian_access" ng-model="waypoint.pedestrian_access" class="form-control" placeholder="Describe here the way to this WP">${get_attr(locale, 'pedestrian_access')}</textarea>
    <span class="help-block"></span>
  </div>
  <p>
    <button type="submit" class="btn btn-primary" ng-disabled="waypointEditingForm.$invalid">Save</button>
    <%
    if updating_doc:
        cancel_url = request.route_url('waypoints_view', id=waypoint_id, culture=culture)
    else:
        cancel_url = request.route_url('waypoints_index')
    %>
    <a href="${cancel_url}">Cancel</a>
  </p>
</form>
<h2>Georeferencing the waypoint</h2>
<div id="map" ngeo-map="wpCtrl.map"></div>
