<%!
from c2corg_common.attributes import default_cultures, waypoint_types, activities
%>
<form app-search-filters>
  <div class="filters">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3 filter">
        <label translate>Around</label>
        <select class="form-control" ng-model="searchFiltersCtrl.around"><option translate>My position</option><option translate>Place</option></select>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 filter">
        <label>{{'summit' | translate | capitalize}}</label>
        <input type="text" class="form-control">
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 filter">
        <label translate>elevation</label><br>
        <input type="range" id="elevation-filter" class="range-between" data-slider-tooltip="hide">
        <span class="slider-min-max">
          <p class="min-value">{{searchFiltersCtrl.elevation.min}} m</p>
          <p>{{searchFiltersCtrl.elevation.max}} m</p>
        </span>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 filter">
        <label translate>height_diff_up</label><br>
        <input type="range" class="range-between" id="height-filter" data-slider-tooltip="hide">
        <span class="slider-min-max">
          <p class="min-value">{{searchFiltersCtrl.height_diff_up.min}} m</p>
          <p>{{searchFiltersCtrl.height_diff_up.max}} m</p>
        </span>
      </div>
    </div>
    <div class="row collapse" id="moreFilters">
      <div class="col-xs-12 col-sm-6 col-md-3 filter">
          <label translate>activities</label><br>
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            <p><span translate>Select</span>
              <span ng-if="searchFiltersCtrl.activities.length > 0"> ({{searchFiltersCtrl.activities.length}})</span>
              <span class="caret"></span>
            </p>
          </button>
         <ul class="dropdown-menu multiselect-box">
           <li ng-repeat="activity in ['${"','".join(activities) |n}']">
             <a data-value="{{activity}}" ng-click="searchFiltersCtrl.selectOption(activity, 'activities', $event)">
               <input type="checkbox">
               <span class="activity">{{mainCtrl.translate(activity) | capitalize}}</span>
             </a>
           </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 filter">
        <label>{{'type' | translate | capitalize }}</label><br>
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            <p><span translate>Select</span>
              <span ng-if="searchFiltersCtrl.waypoint_types.length > 0"> ({{searchFiltersCtrl.waypoint_types.length}})</span>
              <span class="caret"></span>
            </p>
          </button>
            <ul class="dropdown-menu multiselect-box type">
              <li ng-repeat="type in ['${"','".join(waypoint_types) |n}']">
                <a data-value="{{type}}" ng-click="searchFiltersCtrl.selectOption(type, 'waypoint_types', $event)">
                  <input type="checkbox">
                  <span class="activity">{{mainCtrl.translate(type) | capitalize}}</span>
                </a>
              </li>
           </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 filter">
        <label translate>Georeferenced</label>
        <select class="form-control" ng-model="searchFiltersCtrl.georef"><option translate>Yes</option><option translate>No</option></select>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 filter">
        <label translate>culture</label>
        <select ng-model="searchFiltersCtrl.culture" class="form-control" ng-options="culture as (mainCtrl.translate(culture) | capitalize ) for culture in ['${"','".join(default_cultures) |n}'] | translate" ng-model="culture"></select>
      </div>
      <button class="btn btn-warning less-filters-btn" data-toggle="collapse" data-target="#moreFilters" 
              aria-expanded="false" aria-controls="moreFilters">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
      <button class="btn btn-lg btn-default search-filters-btn" data-toggle="collapse" 
              data-target="#moreFilters" aria-expanded="false" aria-controls="moreFilters" translate>Search 
        <span class="glyphicon glyphicon-search"></span>
      </button>
    </div>
    <button class="btn btn-info" data-toggle="collapse" data-target="#moreFilters" aria-expanded="false" aria-controls="moreFilters" translate>More filters</button>
  </div>
</form>
