<%!
from c2corg_common.attributes import default_langs, waypoint_types, orientation_types
%>
<form app-search-filters>
  <div class="filters">
    <div class="simple-filters">

      <div class="filter">
        <label translate>title</label>
        <input type="text" class="form-control" ng-model="filtersCtrl.filters.q">
      </div>

      <div class="filter">
        <label translate>type</label><br>
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
          <p>
            <span ng-if="filtersCtrl.filters.wtyp.length > 0" ng-cloak> ({{filtersCtrl.filters.wtyp.length}})</span>
            <span class="glyphicon glyphicon-menu-down"></span>
          </p>
        </button>
        <ul class="dropdown-menu multiselect-box type">
          <li ng-repeat="type in ['${"','".join(waypoint_types) |n}']">
            <a data-value="{{type}}" ng-click="filtersCtrl.selectOption('wtyp', type, $event)">
              <input type="checkbox" ng-checked="filtersCtrl.filters.wtyp && filtersCtrl.filters.wtyp.indexOf(type) !== -1">
              <span class="activity">{{mainCtrl.translate(type) | capitalize}}</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="filter">
        <label translate>elevation</label><br>
        <app-slider model="filtersCtrl.filters.walt"></app-slider>
      </div>
      
    </div>
    <div class="collapse" id="moreFilters">

      <div class="filter col-xs-12 col-sm-6">
        <label translate>Cable car</label>
        <select class="form-control" ng-model="filtersCtrl.georef"><option translate>Yes</option><option translate>No</option></select>
      </div>
      
      <div class="filter col-xs-12 col-sm-6">
        <label translate>lang</label>
        <select ng-model="filtersCtrl.lang" class="form-control" ng-options="lang as (mainCtrl.translate(lang) |  capitalize ) for lang in ['${"','".join(default_langs) |n}'] | translate" ng-model="lang"></select>
      </div>
      
      <div class="col-xs-12 col-sm-6 col-md-6 filter orientation" ng-init="orientations = ${orientation_types}">
        <label translate>orientation</label>
        <%include file="c2corg_ui:static/img/orientation.svg" />
        <select class="form-control" ng-options="orient as orient for orient in ${orientation_types} | translate" ng-model="orientation"></select>
      </div>

      <div class="col-xs-12 col-sm-5 col-md-5 filter">
        <label translate>height_diff</label><br>
        <app-slider></app-slider>
      </div>
      
      <div class="filters-bottom-buttons">
        <button class="btn less-filters-btn gray-btn" data-toggle="collapse" data-target="#moreFilters" aria-expanded="false">
          <span translate>close and cancel</span> 
        </button>
        <button class="btn search-filters-btn orange-btn" data-toggle="collapse" 
                data-target="#moreFilters" aria-expanded="false">
          <span translate>apply and search</span> 
        </button>
      </div>
    </div>
    <div class="more-filters-btn-container">
      <button class="btn orange-btn more-filters-btn" data-toggle="collapse" data-target="#moreFilters" aria-expanded="false" aria-controls="moreFilters" translate>more filters</button>
    </div>

  </div>
</form>
