<%inherit file="../base.html"/>
<%namespace file="../helpers.html" import="show_attr, add_pagination_links, show_title"/>
<%block name="pagetitle"><title ng-bind="mainCtrl.page_title('Waypoints')">${show_title('Waypoints')}</title></%block>
<%block name="metarobots"><meta name="robots" content="noindex,follow"></%block>\

<%block name="moduleConstantsValues">
% if len(waypoints):
module.value('mapFeatureCollection', {
  "type": "FeatureCollection",
  "properties": {
    "enableClickInteraction": true
  },
  "features": [
    <%
    from json import dumps, loads
    features = [];
    for waypoint in waypoints:
        if waypoint['geometry']['geom'] is not None:
            properties = {
               "module": "waypoints",
               "type":  waypoint['waypoint_type'],
               "documentId": waypoint['document_id'],
               "lang": waypoint['locales'][0]['culture'],
               "title": waypoint['locales'][0]['title'] + (
                " (" + waypoint['locales'][0]['culture'] + ")" if
                lang != waypoint['locales'][0]['culture'] else ""
               )
            }
            features.append(dumps({
                "type": "Feature",
                "geometry": loads(waypoint['geometry']['geom']),
                "properties": properties
            }))
    %>
    ${', '.join(features) | n}
  ]
});
% endif
</%block>\
<div class="text-center"><h3 ng-init="nbItems = ${total}">${self.pagetitle()} ({{nbItems}})</h3></div class="text-center">
<%include file="filters.html" />
<section id="waypoints-section">
  <div class="add-waypoint text-center">
    <app-edit-button app-edit-button-url="${request.route_url('waypoints_add')}">
      <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
      <span translate>Add a waypoint</span>
    </app-edit-button>
    ${add_pagination_links('waypoints', waypoints, total, filter_params)}
  </div>
  <div id="waypoints">
    <div class="list">
      % for waypoint in waypoints:
      <% locale = waypoint['locales'][0] %>\
      <div class="list-item">
        <a href="${request.route_url('waypoints_view', id=waypoint['document_id'], culture=locale['culture'])}">
          <span class="list-item-title ">${show_attr(locale, 'title', False)}</span>
          % if lang != locale['culture']:
          <span class="list-item-culture">(${locale['culture']})</span>
          <br>
          % endif
          <div class="list-item-info">
          % if waypoint['elevation'] is not None:
            <span class="list-item-elevation">Elevation: ${waypoint['elevation']} m</span>
          % endif
            <span>
              <p><img alt="waypoint type" src="${request.static_url('c2corg_ui:static/img/icons/' + waypoint['waypoint_type'] + '.png')}">{{mainCtrl.translate('${waypoint['waypoint_type']}')}}</p>
            </span>
            <p class="text-justify">${show_attr(locale, 'summary')}</p>
          </div>
        </a>
      </div>
      % endfor
    </div>
  </div>
</section>
% if len(waypoints):
<div class="map-right">
  <app-map></app-map>
</div>
% endif
