<%inherit file="../base.html"/>
<%namespace file="../helpers.html" import="get_attr, add_pagination_links"/>
<%block name="pagetitle">Waypoints</%block>\
<%block name="metarobots"><meta name="robots" content="noindex,follow"></%block>\

<%block name="moduleConstantsValues">
% if len(waypoints):
module.value('mapFeatureCollection', {
  "type": "FeatureCollection",
  "properties": {
    "enableClickInteraction": true
  },
  "features": [
    <%
    from json import dumps, loads
    features = [];
    for waypoint in waypoints:
        if waypoint['geometry']['geom'] is not None:
            properties = {
               "module": "waypoints",
               "type":  waypoint['waypoint_type'],
               "documentId": waypoint['document_id'],
               "lang": waypoint['locales'][0]['culture'],
               "title": waypoint['locales'][0]['title'] + (
                " (" + waypoint['locales'][0]['culture'] + ")" if
                lang != waypoint['locales'][0]['culture'] else ""
               )
            }
            features.append(dumps({
                "type": "Feature",
                "geometry": loads(waypoint['geometry']['geom']),
                "properties": properties
            }))
    %>
    ${', '.join(features) | n}
  ]
});
% endif
</%block>\

<h1>${self.pagetitle()}</h1>
% if len(waypoints):
  <app-map></app-map>
% endif
<p translate ng-init="nbItems = ${total}">{{nbItems}} waypoints</p>
${add_pagination_links('waypoints', waypoints, total, filter_params)}
<ul>
  <li><a href="${request.route_url('waypoints_add')}" translate>Add a waypoint</a></li>
% for waypoint in waypoints:
  <li>
    <% locale = waypoint['locales'][0] %>\
    <a href="${request.route_url('waypoints_view', id=waypoint['document_id'], culture=locale['culture'])}">${locale['title']}</a>
    % if lang != locale['culture']:
      (${locale['culture']})
    % endif
    % if waypoint['elevation'] is not None:
      - ${waypoint['elevation']} m
    % endif
    ${get_attr(locale, 'summary')} 
  </li>
% endfor
</ul>
