<%namespace file="../helpers/view.html" import="get_document_locale_text, get_document_description"/>
<%namespace file="../helpers/preview.html" import="show_preview_warning"/>
<%namespace file="helpers/view.html" import="get_waypoint_equipment,
    get_waypoint_orientations, get_waypoint_contact, get_waypoint_style, get_waypoint_rating,
    get_waypoint_access, get_waypoint_heights, get_waypoint_location, get_waypoint_general,
    get_waypoint_maps_info"/>

<%
waypoint = document
locale = document['locales'][0]
%>

${show_preview_warning()}
<div class="viewdoc">
  <header class="view-title-without-bg">
    <h1 class="routes">
      <span class="icon-${waypoint['waypoint_type']} waypoint-type" uib-tooltip="{{mainCtrl.translate('${waypoint['waypoint_type']}')}}"></span>
      <span>${locale['title']}</span>
    </h1>
  </header>
  <section class="view-details-section">
    <div class="row">
      <div class="col-xs-12 col-md-4 col-lg-3">

        % if version:
          ${show_archive_data('waypoints', waypoint, locale, version)}
        % endif
        <app-map class="view-details-map"></app-map>

        ${get_waypoint_maps_info(waypoint)}

      </div>
      <div class="col-xs-12 cold-md-8 col-lg-9">
        <section id="document-informations" class="collapse in">
          <div class="finfo">
            <div class="ficontent">
              <div class="row">
              ${get_waypoint_general(waypoint)}
              ${get_waypoint_orientations(waypoint)}
              ${get_waypoint_location(waypoint, geometry4326) if geometry4326 else ''}
              ${get_waypoint_contact(waypoint)}

              ${get_waypoint_rating(waypoint)}
              ${get_waypoint_heights(waypoint)}
              ${get_waypoint_equipment(waypoint)}
              ${get_waypoint_style(waypoint)}
              ${get_waypoint_access(waypoint, locale)}
              </div>
            </div>
          </div>
          <% description_title = 'road access' if waypoint['waypoint_type'] == 'access' else 'description' %>
          ${get_document_description(locale, 'waypoint', description_title)}

        </section>
    </div>
    </div>
  </section>
</div>
