<%inherit file="waypoint_base.html"/>
<%
waypoint_id = waypoint['document_id']
%>\

<%block name="pagetitle">
${locale['title']}
</%block>

<h1>${self.pagetitle()}</h1>
<ul>
  <li>Id: ${waypoint_id}</li>
  <li>Culture: ${culture}</li>
  <li>Elevation: ${waypoint['elevation']} m</li>
  <li>Maps info: ${waypoint['maps_info']}</li>
  <li>Description: ${locale['description']}</li>
  <li>Access: ${locale['access']}</li>
</ul>
% if other_cultures:
  <p>View in other culture:</p>
  <ul>
  % for l in other_cultures:
    <li><a href="${request.route_url('waypoints_view', id=waypoint_id, culture=l)}">${other_cultures[l]['title']}</a> (${l})</li>
  % endfor
  </ul>
% endif
<div id="map" ngeo-map="wpCtrl.map"></div>
<ul>
  <li>History (TODO)</li>
  <li><a href="${request.route_url('waypoints_edit', id=waypoint_id, culture=culture)}">Edit</a></li>
</ul>
