<%!
from c2corg_ui.templates.utils import get_lang_lists
%>\
<%inherit file="../base.html"/>
<%namespace file="../helpers.html" import="show_attr, show_archive_data, show_other_langs_links, show_missing_langs_links, show_title"/>
<%
waypoint_id = waypoint['document_id']
other_langs, missing_langs = get_lang_lists(waypoint, lang)

## FIXME: transform() makes server crash in apache mode. Reprojection is then temporarly deactivated.
##geometry4326 = transform(geometry, 'epsg:3857', 'epsg:4326')
geometry4326 = geometry
%>\
<%block name="pagelang">lang="${lang}"</%block>\
<%block name="pagetitle"><title>${show_title(locale['title'])}</title></%block>\
<%block name="metarobots">\

  % if version:
<meta name="robots" content="noindex,follow">\
  % else:
<meta name="robots" content="index,follow">\
  %endif
</%block>\

<%block name="moduleConstantsValues">
module.value('mapFeatureCollection', {
  "type": "FeatureCollection",
  "properties": {},
  "features": [{
    "type": "Feature",
    "geometry": {"type": "Point", "coordinates": [${geometry.x}, ${geometry.y}]},
    "properties": {
      "title": "${locale['title']}",
      % if waypoint['waypoint_type'] != 'climbing_outdoor':
      "elevation": ${waypoint['elevation']},
      % endif
      "module": "waypoints",
      "type": "${waypoint['waypoint_type']}"
    }
  }]
});
</%block>\

<header class="view-details-title">
  <span class="heading">${locale['title']} <label class="badge" translate>waypoint</label></span>
  <div class="float-buttons">
    <div class="float-button float-edit" tooltip-placement="top" uib-tooltip="{{'Edit' | translate}}">
      <app-edit-button app-edit-button-url="${request.route_url('waypoints_edit', id=waypoint_id, lang=lang)}"></app-edit-button>
      <span class="glyphicon glyphicon-edit"></span>
    </div>
    <div class="float-button float-favorite" tooltip-placement="top" uib-tooltip="{{'Add to favorites' | translate}}">
      <span class="glyphicon glyphicon-heart"></span>
    </div>
  </div>
</header>
<app-map class="view-details-map"></app-map>

<section class="view-details-section">
  <div class="thumbnail view-details-list col-lg-4 col-md-4 col-sm-12">
    % if waypoint['elevation']:
      <div class="name-icon-value col-sm-6">
        <div class="name-icon">
          <span class="glyphicon glyphicon-stats detail-icon"></span>
          <span translate class="detail-name">elevation</span>
        </div>
        <span class="detail-value">${waypoint['elevation']} m</span>
      </div>
    % endif
    <div class="name-icon-value col-sm-6">
      <div class="name-icon">
        <span class="glyphicon glyphicon-map-marker"></span>
        <span translate class="detail-name">coordinates</span>
      </div>
      <table class="coordinates-table">
        <tr><td>${round(geometry4326.x)} °E</td></tr>
        <tr><td>${round(geometry4326.y)} °N</td></tr>
      </table>
    </div>
    % if locale['summary']:
      <div class="name-icon-value col-sm-6">
        <div class="name-icon">
          <span class="glyphicon glyphicon-list-alt"></span>
          <span class="detail-name">{{mainCtrl.translate('summary')}}</span>
        </div>
        <span class="detail-text">${show_attr(locale, 'summary')}</span>
      </div>
    % endif
    % if waypoint['maps_info']:
      <div class="name-icon-value col-sm-6">
        <div class="name-icon">
          <span class="glyphicon glyphicon-info-sign"></span>
          <span class="detail-name" translate>maps_info</span>
        </div>
        <span class="detail-text">${show_attr(waypoint, 'maps_info')}</span>
      </div>
    % endif
  </div>
  <div class="col-lg-7 col-md-7 col-xs-12 detail-buttons">
    % if version:
      ${show_archive_data('waypoints', waypoint, locale, version)}
    % else:
      ${show_other_langs_links('waypoints', waypoint, other_langs)}
      ${show_missing_langs_links('waypoints', waypoint, missing_langs)}
    % endif
    <a class="btn btn-info" href="${request.route_url('waypoints_history', id=waypoint_id, lang=lang)}" translate>History</a>
  </div>
  % if locale['description']:
  <div class="view-details-description col-lg-8 col-md-8 col-xs-12">
    <span class="lead"> 
      <h3 translate class="text-center heading">description</h3>
      ${show_attr(locale, 'description')}
    </span>
  </div>
  % endif
</section>
<%include file="../document/floating-button-responsive.html"/>

