<%
locales = waypoint['locales']
attrs = filter(lambda l: 'culture' in l and l['culture'] == culture, locales)
locale = attrs[0];
# FIXME: what if desired culture is not available?
waypoint_title = locale['title']
waypoint_id = waypoint['document_id']
%>\
<%inherit file="../base.html"/>

<%block name="pagetitle">
FIXME waypoint name
</%block>

<h1>${waypoint_title}</h1>
<ul>
  <li>Id: ${waypoint_id}</li>
  <li>Culture: ${culture}</li>
  <li>Elevation: ${waypoint['elevation']} m</li>
  <li>Maps info: ${waypoint['maps_info']}</li>
  <li>Description: ${locale['description']}</li>
  <li>Pedestrian access: ${locale['pedestrian_access']}</li>
</ul>
% if len(locales) > 1:
  <p>View in other culture:</p>
  <ul>
  % for l in locales:
    % if l['culture'] != culture:
      <li><a href="${request.route_url('waypoints_view', id=waypoint_id, culture=l['culture'])}">${l['title']}</a> (${l['culture']})</li>
    % endif
  % endfor
  </ul>
% endif
<div id="map" ngeo-map="mainCtrl.map"></div>
<ul>
  <li>History (TODO)</li>
  <li><a href="${request.route_url('waypoints_edit', id=waypoint_id, culture=culture)}">Edit</a></li>
</ul>
