<%!
from c2corg_common.attributes import default_langs, activities, article_categories, article_types
%>
<%inherit file="../base.html"/>
<%
  updating_doc = article_id and article_lang
%>
<%namespace file="../helpers/common.html" import="show_title"/>
<%namespace file="../helpers/edit.html" import="show_save_confirmation_modal, show_preview_container, show_editing_buttons,
  show_editing_associated_waypoints, show_editing_associated_routes, show_editing_associated_outings,
  show_editing_associated_articles, show_editing_associated_books"/>

<%block name="pagetitle"><title ng-init="id = ${article_id if article_id else 0}" ng-bind="id ? mainCtrl.page_title('Editing an article') : mainCtrl.page_title('Creating an article')">${show_title('Create/edit article')}</title></%block>
<%block name="metarobots"><meta name="robots" content="noindex,nofollow"></%block>

<section class="create-edit-document">

  <h1 ng-init="id = ${article_id if article_id else 0}" class="text-center">
    <label class="label label-primary" ng-bind="id ? ('Editing an article' | translate) : ('Creating an article' | translate)"></label>
  </h1>

  <form app-loading app-document-editing="articles" app-document-editing-model="article"
    app-document-editing-controller-name="appDocumentEditingController"
  % if updating_doc:
    app-document-editing-id="${article_id}" app-document-editing-lang="${article_lang}"
  % endif
    class="document-editing" name="editForm" novalidate ng-submit="editCtrl.confirmSave(editForm.$valid)">

    <section class="editing">

      <div class="step step-1">

        <section class="section">
          <h2 class="heading show-phone" translate>general informations</h2>
          <div class="content">

            ## TITLE
            <div id="title-group" class="form-group"
                 ng-class="{ 'has-feedback': editForm.title.$touched,
                             'has-error': editForm.title.$touched && editForm.title.$invalid,
                             'has-success': editForm.title.$valid }">
              <label ng-class="{ 'control-label': editForm.title.$touched && editForm.lang.$invalid }"><span translate>title</span> *</label>
              <input type="text" name="title" ng-model="article.locales[0].title" ng-minlength="3" class="form-control" required />
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="editForm.title.$valid"></span>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.title.$invalid && editForm.title.$touched"></span>
              <div class="help-block" ng-messages="editForm.title.$error" ng-if="editForm.title.$touched && editForm.title.$invalid">
                <p ng-message="required" translate>This field is required.</p>
                <p ng-message="minlength" translate>Title must have at least 3 characters.</p>
              </div>
            </div>

            ## LANGUAGE
            <div id="lang-group" class="form-group"
                 ng-class="{ 'has-feedback': editForm.lang.$touched,
                             'has-error': editForm.lang.$touched && editForm.lang.$invalid,
                             'has-success': editForm.lang.$valid}">
              <label ng-class="{ 'control-label': editForm.lang.$touched && editForm.lang.$invalid }"><span translate>lang</span> *</label>
              % if article_lang:
                <input disabled class="form-control" value="{{mainCtrl.translate('${article_lang}')}}">
              % else:
              <select name="lang" ng-options="lang as mainCtrl.translate(lang) for lang in ['${"','".join(default_langs) |n}'] | translate" ng-model="article.locales[0].lang" class="form-control" required><option value=""></option></select>
              % endif
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="editForm.lang.$valid"></span>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.lang.$touched && editForm.lang.$invalid"></span>
              <div class="help-block" ng-messages="editForm.lang.$error" ng-if="editForm.lang.$touched && editForm.lang.$invalid">
                <p ng-message="required" translate>This field is required.</p>
              </div>
            </div>

            ## ACTIVITIES
            <div class="form-group data full" id="route-activities" ng-init="activities = ${activities}"
                 ng-class="{ 'has-feedback': editForm.activites.$touched,
                             'has-error': editForm.activities.$touched && editForm.activities.$invalid,
                             'has-success': editForm.activities.$valid }">
              <label><span translate>activities</span> *</label>
              <div class="route-activities">
                <div ng-repeat="activity in activities" class="activity">
                  <div>
                    <div class="icon-{{activity}}" class="icon-" ng-click="editCtrl.pushToArray(article, 'activities', activity, $event)"
                         ng-class="{'activity-selected' : article.activities.indexOf(activity) > -1}">
                    </div>
                    <p>{{activity | translate}}</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group half half-group">
              <div ng-class="{ 'has-feedback': editForm.article_type.$touched,
                               'has-error': editForm.article_type.$touched && editForm.article_type.$invalid,
                               'has-success': editForm.article_type.$valid}" ng-init="article_types = ${article_types}">
                <label><span translate>article_type</span> *</label>
                % if updating_doc:
                  <select ng-if="userCtrl.auth.isModerator()" class="form-control"
                          name="article_type" ng-model="article.article_type"
                          ng-options="type as mainCtrl.translate(type) for type in article_types" required><option value=""></option></select>
                  <select ng-if="userCtrl.auth.isModerator() == false && article.article_type =='collab'"
                          name="article_type" class="form-control" ng-model="article.article_type"
                          ng-options="type as mainCtrl.translate(type) for type in article_types | filter: 'collab'" required><option value=""></option>
                  </select>
                  <select ng-if="userCtrl.auth.isModerator() == false && article.article_type =='personal'"
                          name="article_type" class="form-control" ng-model="article.article_type"
                          ng-options="type as mainCtrl.translate(type) for type in article_types" required><option value=""></option>
                  </select>
                % else:
                  <select class="form-control" ng-model="article.article_type"
                          name="article_type" ng-options="type as mainCtrl.translate(type) for type in article_types" required><option value=""></option></select>
                % endif
                  <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="editForm.article_type.$valid"></span>
                  <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.article_type.$touched && editForm.article_type.$invalid"></span>
                  <div class="help-block" ng-messages="editForm.article_type.$error" ng-if="editForm.article_type.$touched && editForm.article_type.$invalid">
                    <p ng-message="required" translate>This field is required.</p>
                  </div>
              </div>
            </div>


            <div class="form-group half half-group">
              <label><span translate>categories</span> *</label>
              <ul class="types">
                <li ng-repeat="category in ${article_categories}" ng-click="editCtrl.pushToArray(article, 'categories', category, $event)">
                  <div class="checkbox"><input type="checkbox" ng-checked="article.categories.indexOf(category) > -1"><span>{{category | translate}}</span></div>
                </li>
              </ul>
            </div>

          </div>
        </section>

        ## ASSOCIATIONS
        <section class="section associations">
          <h2 class="heading show-phone"><span translate>associations</span></h2>
          <h5 class="full" translate ng-show="editCtrl.documentService.document.associations.waypoints.length == 0 &&
                                              editCtrl.documentService.document.associations.routes.length == 0">
            You can add associated documents by searching in the field.
          </h5>
          <div class="content route-associations">
            <app-simple-search parent-id="article.document_id"
              app-select="editCtrl.documentService.pushToAssociations(doc)" dataset="wrocb"></app-simple-search>
            ${show_editing_associated_waypoints('article')}
            ${show_editing_associated_routes('article')}
            ${show_editing_associated_outings('article')}
            ${show_editing_associated_articles('article')}
            ${show_editing_associated_books('article')}
          </div>
        </section>

        <section class="section">
          <h2 class="heading show-phone" translate>description</h2>
          <div class="content">

            ## SUMMARY
            <div id="summary-group" class="form-group full">
              <label translate>summary</label>
              <textarea app-markdown-editor name="summary" ng-model="article.locales[0].summary" class="form-control"></textarea>
            </div>

            ## DESCRIPTION
            <div id="description-group" class="form-group full">
              <label translate>article body</label>
              <textarea app-markdown-editor name="description" ng-model="article.locales[0].description" class="form-control description"></textarea>
            </div>

          </div>
        </section>

      </div>

      ${show_editing_buttons('article', updating_doc, article_id, article_lang)}

    </section>
  </form>
  ${show_preview_container()}
  ${show_save_confirmation_modal(updating_doc)}
</section>
