<%!
from c2corg_common.attributes import default_langs, quality_types, \
activities, article_categories, article_types
%>
<%namespace file="../helpers/filters.html" import="add_multiselect, show_results_buttons, show_filters_buttons"/>

## Duplicate simple filters into the main filters and into #moreFilters.
## It is really useful - no need for re-compilation with angular in case of sticky filters.
<%def name="simple_filters()">
    <div class="row simple-filters">
      <div class="filter">
        <label translate>title</label>
        <input type="text" class="form-control" ng-model="filtersCtrl.filters.q">
      </div>
      <div class="filter">
        <label translate>activities</label><br>
        ${add_multiselect('act', activities)}
      </div>
      <div class="filter">
        <label translate>categories</label><br>
        ${add_multiselect('acat', article_categories)}
      </div>
    </div>
</%def>

<form c2c-search-filters c2c-search-filters-controller-name="SearchFiltersController" c2c-sticky-filters>
  <div class="filters">
    ${simple_filters()}
    <div class="row collapse" id="moreFilters">
      ${simple_filters()}

      <div class="col-xs-12 col-sm-6 filter">
        <label translate>article_type</label><br>
        ${add_multiselect('atyp', article_types)}
      </div>

      <div class="col-xs-12 col-sm-6 filter">
        <label translate>quality</label><br>
        <c2c-slider filter="qa" filters-list="filtersCtrl.filters" unit=""
          values-list="['${"','".join(quality_types) |n}']"></c2c-slider>
      </div>

      <div class="col-xs-12 col-sm-6 filter">
        <label translate>lang</label><br>
        ${add_multiselect('l', default_langs)}
      </div>

      ${show_results_buttons('articles')}

    </div>

    ${show_filters_buttons('articles')}

  </div>
</form>
