<%inherit file="../base.html"/>
<%namespace file="../helpers.html" import="get_attr"/>
<%block name="pagelang">lang="${culture}"</%block>
<%block name="pagetitle">${title}</%block>

<h1>${self.pagetitle()}</h1>

<table class="diff_header">
  <tr>
    <td>
      <span translate>Revision as of</span> {{'${1000 * version1['written_at']}' | date:'medium'}}<br/>
      <span translate>by</span> <a href="#TODO profile for ${version1['user_id']}">${version1['username']}</a>
      % if version1['comment']:
        <br/><span class="revision-comment">(${version1['comment']})</span>
      % endif
    </td>
    <td>
      <span translate>Revision as of</span> {{'${1000 * version2['written_at']}' | date:'medium'}}<br/>
      by <a href="#TODO profile for ${version2['user_id']}">${version2['username']}</a>
      % if version2['comment']:
        <br/><span class="revision-comment">(${version2['comment']})</span>
      % endif
    </td>
  </tr>
</table>

% for field_diff in diffs:
  <h3 translate>${field_diff.field}</h3>
  % if field_diff.field == 'geometry':
  [Map showing the two different geometries]
  % else:
  <div class="diff-container">
    ${field_diff.html_diff | n}
  </div>
  % endif
% endfor
