<script>
  function floatButtonResponsive() {
    // init float-buttons tooltips
    $('[data-toggle="tooltip"]').tooltip();
    // This code will watch the Title height and adapt the buttons position accordingly.
    var detailTitleHeight = $(".view-details-title").height(); 
    adaptFloatingButtons(detailTitleHeight);

    $(window).resize(function(){
      var detailTitleHeight = $(".view-details-title").height(); 
      adaptFloatingButtons(detailTitleHeight);
    });

    function adaptFloatingButtons(detailTitleHeight) {
      if (detailTitleHeight >= 100 && detailTitleHeight <= 200 && window.innerWidth >= 250 && window.innerWidth <= 768) {
        $(".float-buttons").css({"width": 0, "margin-left": "30px"});
      } else if (detailTitleHeight >= 100 && detailTitleHeight <= 200 && window.innerWidth > 768){
        $(".float-buttons").css({"width": "180px"});
      }
    };
  };
</script>