<%inherit file="../base.html"/>
<%namespace file="../helpers.html" import="show_version_comment"/>
<%block name="pagelang">lang="${culture}"</%block>\
<%block name="pagetitle">${title}</%block>\
<%block name="metarobots"><meta name="robots" content="noindex,nofollow"></%block>\

<h1>${self.pagetitle()}</h1>

<p><span translate>List of versions for language:</span> <strong>{{mainCtrl.translate('${culture}')}}</strong></p>

<%
    # show last versions first
    document_versions.reverse()
    has_several_versions = len(document_versions) > 1
%>

% if has_several_versions:
<form app-versions data-document-type="${module}" data-document-id="${document_id}"
      data-lang="${culture}" ng-submit="versionsCtrl.compare()">
    <p><button type="submit" class="btn btn-primary" translate>Compare selected versions</button></p>
% endif
  <table class="versions-list">
    <tr>
      % if has_several_versions:
        <th></th>
      % endif
      <th translate>Created on</th>
      <th translate>Author</th>
      <th translate>Comment about the changes</th>
    </tr>
    % for v in document_versions:
      <tr>
        % if has_several_versions:
          <td>
            % if loop.first:
              <div ng-init="to = ${v['version_id']}"></div>
            % elif loop.index == 1:
              <div ng-init="from = ${v['version_id']}"></div>
            % endif
            <input type="radio" ng-model="from" ng-value="${v['version_id']}" ng-class="{'hide-radio': ${v['version_id']} >= to}">
            <input type="radio" ng-model="to" ng-value="${v['version_id']}" ng-class="{'hide-radio': ${v['version_id']} <= from}">
          </td>
        % endif
        <%
            if loop.first:
                version_url = request.route_url(module + '_view', id=document_id, culture=culture)
            else:
                version_url = request.route_url(module + '_archive', id=document_id, culture=culture, version=v['version_id'])
        %>
        <td><a href="${version_url}">{{'${1000 * v['written_at']}' | date:'medium'}}</a></td>
        <td><a href="#TODO profile for ${v['user_id']}">${v['username']}</a></td>
        <td>${show_version_comment(v)}</td>
      </tr>
    % endfor
  </table>
% if has_several_versions:
    <p><button type="submit" class="btn btn-primary" translate>Compare selected versions</button></p>
</form>
% endif
