<select class="form-control select-document" onchange="window.location = this.value;">
  <option translate value="${request.route_url('routes_index_default')}" ng-selected="{{mainCtrl.isPath('routes')}}">Routes</option>
  <option translate value="${request.route_url('waypoints_index_default')}" ng-selected="{{mainCtrl.isPath('waypoints')}}">Waypoints</option>
  <option translate value="${request.route_url('outings_index_default')}" ng-selected="{{mainCtrl.isPath('outings')}}">Outings</option>
</select>