<div class="modal-header">
  <h3 class="modal-title"><span translate>Sensitive area:</span> {{modalCtrl.title}}</h3>
</div>
<div class="modal-body">
  <p>
    <span translate>sensitive_months:</span>
    <span ng-repeat="month in modalCtrl.months">{{month}}{{$last ? '' : ', '}}</span>
  </p>
  <p ng-bind-html="modalCtrl.description"></p>
  <a ng-href="{{modalCtrl.infoUrl}}" target="_blank" translate>More info</a> |
  <a ng-href="{{modalCtrl.kmlUrl}}" target="_blank" tranlate>KML</a>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="modalCtrl.close()">OK</button>
</div>