<div class="announcement" ng-class="{'showAnnouncement': announcementCtrl.isExpanded}"
     ng-if="announcementCtrl.hasAnnouncement">
  <div ng-bind-html="announcementCtrl.text" class="msg"></div>
  <button class="btn btn-primary" ng-click="announcementCtrl.toggle()"
          ng-show="announcementCtrl.canExpand && !announcementCtrl.isExpanded">
    <span class="glyphicon glyphicon-chevron-down"></span> <span translate>Read the announcement</span>
  </button>
  <button class="btn btn-primary" ng-click="announcementCtrl.toggle()"
          ng-show="announcementCtrl.isExpanded">
    <span class="glyphicon glyphicon-chevron-up"></span> <span translate>Close the announcement</span>
  </button>
</div>
