<div class="feed-title flex flexend-align" ng-show="!feedCtrl.busy && !feedCtrl.error && !feedCtrl.noFeed">
  <span class="icon-news"></span>
  <h3 translate>Activity feed</h3>
</div>

<h4 class="text-center text-danger" translate ng-show="feedCtrl.error">Sorry, there was an error while getting the feed.</h4>
<h4 class="text-success text-center" translate ng-show="feedCtrl.busy">Loading feed, please wait...</h4>
<h4 class="text-success text-center" translate ng-show="feedCtrl.noFeed">This user has no recent activity.</h4>

<div class="feed-list" ng-show="feedCtrl.documents.length > 0"
     infinite-scroll="feedCtrl.getDocumentsFromFeed()"
     infinite-scroll-immediate-check="false"
     infinite-scroll-distance="0.7"
     infinite-scroll-disabled="feedCtrl.busy || feedCtrl.error || feedCtrl.feedEnd || feedCtrl.noFeed">

  <article class="feed-list-item" protected-url-btn url="/outings/add" ng-if="!feedCtrl.userId">
    <div class="timeline-bullet icon-outings" uib-tooltip="{{'outing'| translate}}" tooltip-placement="left"></div>
    <div class="list-item vertical-align">
      <button class="orange-btn btn" translate>add an outing</button>
    </div>
  </article>

  <article class="feed-list-item" ng-repeat="doc in feedCtrl.documents"
           ng-init="type = feedCtrl.documentType(doc.document.type);">

    <div class="timeline-bullet icon-{{type}}s" uib-tooltip="{{type | translate}}" tooltip-placement="left"></div>

    <p class="action-line">
      <span class="action" ng-cloak>
        <b><a ng-href="/profiles/{{doc['user']['document_id']}}/{{doc['user']['locales'][0]['lang']}}">{{doc['user']['name']}}</a></b>
        <span x-translate>{{feedCtrl.createActionLine(doc)}}</span>
      </span>
      <br>
      <span class="action date">
        <span class=" glyphicon glyphicon-time"></span>
        <span am-time-ago="doc.time"></span>
      </span>
    </p>

    <div class="list-item {{type}}s">
      <app-card app-card-doc="doc['document']"></app-card>
    </div>
  </article>
  <h4 class="text-center text-danger" translate ng-show="feedCtrl.error">Sorry, there was an error while getting the feed.</h4>
  <h4 class="text-success text-center" translate ng-show="feedCtrl.busy">Loading feed, please wait...</h4>
  <h4 class="text-success text-center" translate ng-show="feedCtrl.feedEnd">No more feed to load.</h4>
</div>
