  <div ng-if="uplCtrl.files.length === 0"
       ngf-drop
       ngf-select
       ng-model="uplCtrl.files"
       class="drop-box"
       ngf-drag-over-class="'dragover'"
       ngf-multiple="true"
       ngf-keep="'distinct'"
       ngf-fix-orientation="true"
       ngf-allow-dir="true"
       ngf-resize-if="uplCtrl.resizeIf($file, $width, $height)"
       ngf-resize="{width: 2048, height: 2048, quality: 0.9}"
       accept="image/*"
       ngf-pattern="'image/*'">
    <span translate>Drop images here or click to upload</span>
  </div>

  <div ng-show="uplCtrl.files.length > 0" class="images-container">
    <div ng-repeat="file in uplCtrl.files track by $index" class="uploaded-image {{$index}}" ng-show="file">

      <div class="img-container" style="background-image: url({{file.src}})">
        <!-- EXIF INFO-->
        <div class="exif" ng-style="file.metadata.FocalLength && {'opacity': 1} || {'opacity' : 0}">
          <p ng-if="file.metadata.DateTime"><span class="glyphicon glyphicon-calendar"></span><span>{{file.metadata.DateTime}}</span></p>
          <p><span class="glyphicon glyphicon-certificate"></span><span>f/{{file.metadata.FNumber}}</span>&nbsp;
            <span ng-if="file.metadata.ExposureTime">1/{{1/file.metadata.ExposureTime}}&nbsp;s</span> &nbsp;
            <span ng-if="file.metadata.FocalLengthIn35mmFilm">{{file.metadata.FocalLengthIn35mmFilm}}&nbsp;mm</span> &nbsp;
            <span ng-if="file.metadata.PhotographicSensitivity">{{file.metadata.PhotographicSensitivity}}&nbsp;ISO</span>
          </p>
          <p ng-if="file.metadata.geo"><span class="glyphicon glyphicon-map-marker"></span><b>{{file.metadata.geo.label}}</b></p>
        </div>
      </div>

      <div class="img-data">


        <!-- TITLE-->
        <input type="text" class="form-control" ng-model="file.metadata.title" placeholder="{{'title' | translate}}" ng-change="uplCtrl.rename(file, file.metadata.title)">

        <div class="image-attributes btn-group" ng-show="file['processed']">
          <!-- ACTIVITIES-->
          <div class="btn-group">
            <button class="btn btn-default dropdown-toggle" ng-class="{'btn-success': file.metadata.activities.length > 0}" type="button" data-toggle="dropdown">
              <label translate>activities</label>
              <span class="glyphicon glyphicon-menu-down"></span>
            </button>
            <ul class="dropdown-menu multiselect-box type">
              <li ng-repeat="activity in activities">
                <a ng-click="uplCtrl.selectOption(file.metadata, 'activities', activity, $event)">
                  <input type="checkbox" ng-checked="file.metadata.activities.indexOf(activity) > -1">
                  <span class="activity">{{activity| translate}}</span>
                </a>
              </li>
            </ul>
          </div>
          <!-- CATEGORIES-->
          <div class="btn-group">
            <button class="btn btn-default dropdown-toggle" ng-class="{'btn-success': file.metadata.categories.length > 0}" type="button" data-toggle="dropdown">
              <label translate>categories</label>
              <span class="glyphicon glyphicon-menu-down"></span>
            </button>
            <ul class="dropdown-menu multiselect-box type">
              <li ng-repeat="category in categories">
                <a ng-click="uplCtrl.selectOption(file.metadata, 'categories', category, $event)">
                  <input type="checkbox">
                  <span class="category">{{category| translate}}</span>
                </a>
              </li>
            </ul>
          </div>
          <!-- IMAGE TYPE-->
          <div class="btn-group">
            <button class="btn btn-default dropdown-toggle" ng-class="{'btn-success': file.metadata.image_type}" type="button" data-toggle="dropdown">
              <label translate>type</label>
              <span class="glyphicon glyphicon-menu-down"></span>
            </button>
            <ul class="dropdown-menu">
              <li ng-repeat="type in uplCtrl.filterImageTypes(types)">
                <div class="radio">
                  <label><input type="radio" ng-model="file.metadata.image_type" ng-value="type">{{type | translate}}</label>
                </div>
              </li>
            </ul>
          </div>
          <!-- REMOVE IMAGE-->
          <div class="btn-group">
            <button class="btn btn-default dropdown-toggle remove-image-btn" ng-click="uplCtrl.deleteImage($index)"
                    type="button" class="btn btn-danger">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </div>

        </div>
      </div>
      <!-- PROGRESS BAR-->
      <div class="progress" ng-show="!file['processed']">
        <div class="progress-bar progress-bar-striped active" role="progressbar" style="width:{{file.progress}}%;">
          <span ng-show="file.progress < 100">{{file.progress | number : 0}}%</span>
          <span ng-show="file.progress >= 100" translate>Processing</span>
        </div>
      </div>
      <!-- ABORT BUTTON-->
      <button class="btn btn-danger" type="button" ng-click="uplCtrl.abortFileUpload(file)" ng-show="!file['processed']" translate>Abort</button>
    </div>
    <div class="upload-file uploaded-image drop-box"
         ngf-drop
         ngf-select
         multiple
         ng-model="uplCtrl.files"
         class="drop-box"
         ngf-drag-over-class="'dragover'"
         ngf-multiple="true"
         ngf-keep="'distinct'"
         ngf-fix-orientation="true"
         ngf-allow-dir="true"
         accept="image/*"
         ngf-pattern="'image/*'">
      <button class="orange-btn btn" type="button" translate>Add images</button>
    </div>
  </div>
  <button class="btn btn-warning" type="button" ng-click="imageModalCtrl.close()" translate>Close</button>
  <button class="btn btn-primary" type="button" ng-click="imageModalCtrl.save()" ng-show="uplCtrl.areAllUploaded" translate>Save</button>
