<div class="alert alert-warning">
  <p class="text-center"><strong translate>Warning: This action cannot be undone!</strong></p>
</div>

<p translate>Merging a source document with a target document transfers all
associations of the source document to the target document, and sets up a
redirection from the source to the target document.</p>
<p><strong translate>Note that comments have to be transferred manually in Discourse before merging.</strong></p>

<div class="document-to-merge">
  <p>
    <label>Source:</label> {{ mergeCtrl.sourceDocument.title }}
    (<a ng-href="/{{ mergeCtrl.module }}/{{ mergeCtrl.sourceDocument.document_id }}"
        target="_blank">{{ mergeCtrl.sourceDocument.document_id }}</a>)
  </p>
  <p>
    <label>Target:</label>
    <span ng-if="!mergeCtrl.targetDocument" class="merge-hint" translate>Search for a target document (document id or title).</span>
    <span ng-if="mergeCtrl.targetDocument">
      {{ mergeCtrl.getTargetTitle() }}
      (<a ng-href="/{{ mergeCtrl.module }}/{{ mergeCtrl.targetDocument.document_id }}"
          target="_blank">{{ mergeCtrl.targetDocument.document_id }}</a>)
    </span>
  </p>
  <app-simple-search app-select="mergeCtrl.selectTargetDocument(doc)"
                     app-simple-search-standard="true"
                     ignore-document-id="mergeCtrl.sourceDocument.document_id"
                     dataset="{{ mergeCtrl.sourceDocument.type }}"></app-simple-search>
</div>

<p class="text-center">
  <button type="button" ng-disabled="!mergeCtrl.targetDocument" ng-click="mergeCtrl.mergeDocuments()"
        class="btn btn-primary" translate>Merge documents</button>
</p>
