<div id="{{image_id}}-slide">
  <h2 class="image-title" ng-bind="locales[0].title"></h2>

  <div class="image-infos">
    <h3 translate>Infos</h3>
    <p class="loading-infos loading-gif-typehead"></p>
    <div class="images-infos-container">

      <p ng-show="date_time" class="date">
        <span class="glyphicon glyphicon-calendar"></span>
        <span ng-bind="date_time | amUtc | amLocal | amDateFormat:'L LTS'"></span>
      </p>
      <p ng-show="locales[0].title" class="title"><span class="glyphicon glyphicon-tag"></span><span ng-bind="locales[0].title"></span></p>
      <p ng-show="locales[0].description" class="description" ng-bind="locales[0].description"></p>
      <p ng-show="image_type" class="image-type"><span class="glyphicon glyphicon-copyright-mark"></span><label x-translate ng-bind="image_type"></label></p>

      <div ng-show="iso_speed || focal_length || exposure_time || camera_name" class="settings">
        <label translate>Settings</label>
        <ul>
          <li ng-show="camera_name"><span ng-bind="camera_name"></span></li>
          <li ng-show="exposure_time" uib-tooltip="{{'exposure_time'| translate}}"><span ng-bind="exposure_time + 's'"></span></li>
          <li ng-show="fnumber" uib-tooltip="{{'fnumber'| translate}}"><span ng-bind=" 'f/' + fnumber"></span></li>
          <li ng-show="focal_length" uib-tooltip="{{'focal_length'| translate}}"><span ng-bind="focal_length + ' mm'"></span></li>
          <li ng-show="iso_speed" uib-tooltip="{{'iso_speed'| translate}}"><span ng-bind="iso_speed + ' ISO'"></span></li>
          <li ng-show="width && height" uib-tooltip="{{'resolution'| translate}}"><span ng-bind="height"></span> x <span ng-bind="width"></span> <span translate>pixels</span></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="image-infos-buttons">

    <a href="#" ng-href="{{view_url}}" class="view-details-btn">
      <button>
        <span class="glyphicon glyphicon-eye-open"></span>
      </button>
    </a>
    <button protected-url-btn url="{{edit_url}}">
      <span class="glyphicon glyphicon-edit"></span>
    </button>
    <button class="pswp__button info glyphicon glyphicon-info-sign" img-id="{{image_id}}"></button>
  </div>
</div>
