<div class="btn-group" id="user-menu">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
          ng-if="!userCtrl.auth.isAuthenticated()" ng-click="userCtrl.showLogin()">
      <span class="login-text" translate>Login</span>
      <span class="glyphicon glyphicon-log-in"></span>
  </button>
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
          ng-if="userCtrl.auth.isAuthenticated()">
    <span class="user-info" ng-show="userCtrl.auth.userData.username">{{userCtrl.auth.userData.username}}</span>
    <span class="icon-user" ng-show="userCtrl.auth.userData.username"></span>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" ng-show="userCtrl.auth.isAuthenticated()">
    <li><a translate href="/account">My account</a></li>
    <li><a translate href="/preferences">My preferences</a></li>
    <li ng-click="userCtrl.logout()">
      <a href="#">
        <span translate>Logout</span>
      </a>
    </li>
  </ul>
</div>
