c2c-announcement { /* stylelint-disable-line selector-type-no-unknown */
  .announcement {
    background-color: #cce5ff;
    color: #004085;
    padding: 10px;
    border-radius: 0 0 2px 2px;
    border-bottom: 1px solid #b8daff;
    display: flex;
    align-items: flex-end;

    .msg {
      flex-grow: 1;
      margin-bottom: 5px;
      font-size: 18px;

      @media @phone {
        font-size: 15px;
      }

      p {
        text-align: justify;

        &:not(:first-child) {
          display: none;
        }
      }
    }

    button {
      margin-left: 5px;
      align-self: flex-end;
      .blue-btn;

      @media only screen and (max-width: @tablet-max) {
        span.glyphicon {
          margin-right: 0;
        }

        span:not(.glyphicon) {
          display: none;
        }
      }
    }

    &.showAnnouncement p {
      display: block !important;
    }
  }
}
