@import (inline) "../node_modules/openlayers/css/ol.css";
@import "../node_modules/bootstrap/less/bootstrap.less";
@import "search.less";
@import "diff.less";

.map {
  height: 400px;
}

.page-header {
  position: absolute;
  top: 5px;
  right: 5px;
  margin-top: 0;
  border: 0;

  .quick-search {
    width: 200px;
    float: left;
  }

  .lang-user {
    width: 400px;
    float: right;
    text-align: right;
  }

  .culture-selector {
    display: inline;
  }
}

.page-content {
  .archive-data {
    margin: 5px;
    padding: 5px;
    border: 1px solid red;
    background-color: rgba(255, 0, 0, 0.2);
  }
  .versions-list {
    border: 1px solid black;
    margin-bottom: 10px;
    border-collapse: collapse;
    th {
      padding: 5px;
      border: 1px solid black;
    }
    td {
      padding: 5px;
      border: 1px solid black;
      .hide-radio {
        visibility: hidden;
      }
    }
  }
}

app-alerts {
  position: absolute;
  bottom: 10px;
  width: 100%;
}
