@import (inline) "../node_modules/openlayers/css/ol.css";
@import "../node_modules/bootstrap/less/bootstrap.less";
@icon-font-path: "../../../node_modules/bootstrap/fonts/";
@import "simplesearch.less";
@import "diff.less";
@import "sidemenu.less";
@import "scrollbar.less";
@import "floatbuttons.less";
@import "stickyfilters.less";
@import "filters.less";
@import "svg-icons.less";
@import "viewdetails.less";
@import "documentedit.less";
@import "helpers.less";
@import "images.less";
@import "map.less";
@import "404.less";
@import "variables.less";


html, body{
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  background-color: @body-color;
}

.ol-zoom {
  top: 44px;
}
.modal-dialog {
  margin-top: 30vh;

  h3 {
    margin-bottom: 0;
  }
}

.documents-nav-buttons {
  .flex();
  flex-flow: wrap row;
  margin-left: 3%;
  margin-top: 1%;
  width: 100%;
}
.add-waypoint, .add-route {
  margin: 1% 0 1% 0;

  a {
    color:white;
  }
}

.page-main-title {
  top: @page-header-height - 8;
  color: white;
  height: 40px;
  position: relative;
  z-index: 5;
  margin-left: @list-width;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 2px;
  background-color: rgba(104, 159, 179, 0.64);

  @media @phone {
    border-bottom: 1px solid #ccc;
    font-size: 1.5em;
    padding: 0;
    position: initial;
    margin-left: 0;
    height: 35px;

    h3 {
      margin: 0;
      padding: 0.7%;
    }
  }

  .badge {
    background-color: @C2C-orange;
  }
}

.welcome-title {
  margin-top: @page-header-height;
  @media @tablet {
    margin-top: @page-header-height +10px;
  }
}

h1 {
  font-size: 3em;
}

#waypoints, #routes {
  padding-right: 2%;
  margin-bottom: 2%;
  margin-left: 2%;
  width:98%;
  min-height:100px;
  height: 69vh;
  overflow-y: auto;

  @media @phone {
    height: 45vh;
  }
}

#missing-langs, #other-langs {
  a {
    text-decoration: none;
  }
  .modal-header {
    margin-bottom: 1%;
  }
  .glyphicon {
    color: @C2C-orange;
    float: right;
    transition: 0.1s;
  }

  ul {
    flex-flow: wrap row;
    flex-direction: column;
    align-items: stretch;
    .flex();
    list-style: none;
    font-size: 1.2em;
    width: 16%;
    margin: auto;
    text-align: center;
    @media @phone {
      width: 38%;
    }
    @media @tablet {
      width: 25%;
    }
    li {
      color: #337ab7; 
      cursor: pointer;
      height: 30px;
      transition: 0.1s;

      &:hover {
        font-size: 1.02em;

        .glyphicon {
          transition: 0.1s;
        }
      }

    }
  } 
}

main {
  #missing-langs, #other-langs {
    display: none;
  }
} 

.nav-tabs {
  display: none;
  text-align: center;
  @media @phone {
    display: block;
  }
  >li {
    display: inline-table;
    float: none;
  }

}
.thumbnail {
  padding: 0;
  margin-bottom: 10px;
}



.scroll-top-btn {
  border-radius: 57%;
  height: 40px;
  width: 40px;
  padding: 0;

  @media @phone {
    display: none;
  }
  .glyphicon {
    margin-left: -3px;
    margin-top: 3px;
  }
}

.glyphicon {
  color: @C2C-orange;
}


.translate-lang, .view-other-lang {
  .caret {
    color : #F6911A;
  }
}

.translate-lang {
  display: inline-block;
  margin-bottom: 10px;

  .dropdown-menu {
    padding: 0;

    li {
      cursor: pointer;
    }
  }
}



#pagination {
  position: absolute;
  right: 0;
  margin: 0 10px;
  padding: 0;

  @media (max-width: @screen-sm-min) {
    position: relative;
    margin-bottom: 5px;
  }

  ul {
    display:inline-block;
    margin-bottom: 0;
    
    li {
      display:inline-block;

      a,  .glyphicon {
        color:white;
      }
    }
  }
}

.help-block {
  position: absolute;
  margin-top: -20px;
  margin-bottom: 0;

  p {
    display: none;
    font-size: 1em;
    color: white !important;
  }
}

.list {
  width:100%;
  padding-left: 0;
  -moz-column-count: 2;
  -webkit-column-count:2;
  column-count: 2;

  @media @big {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }

  @media (max-width: @screen-sm-min) {
    -moz-column-count: 1;
    -webkit-column-count:1;
    column-count: 1;
  }
}

.list-item-title {
  font-weight: bold;
  color: graytext;
  line-height: 5px;

  @media @tablet {
    font-size: 1em;
  }
}

.list-item-info {
  text-decoration: none;
  color: black;
  font-weight: normal;
}

.list-item {
  position: relative;
  cursor: pointer;
  padding: 10px;
  background-color: white;
  min-height: 100px;
  margin-top: 1%;
  outline: none;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  transition: .2s ease-in-out;
  border: 2px solid rgba(88, 150, 165, 0.2);
  position:relative;

  &:active {
    -webkit-box-shadow: inset 1px 1px 8px -3px rgba(0,0,0,.75);
    -moz-box-shadow: inset 1px 1px 8px -3px rgba(0,0,0,.75);
    box-shadow: inset 1px 1px 8px -3px rgba(0,0,0,.75);
    -webkit-transition: .2s ease-in-out;
    transition: 0.2s ease-in-out;
    outline: none;
  }
  &:hover {
    background-color: #EFEFEF;
    transition: 0.1s ease-in-out;
  }
  @media @tablet {
    margin-bottom: 10px;
    border-width: 1px;
  }
  @media @phone {
    border-width: 1px;
    font-size: 1.3em;
  }
  .waypoint-type {
    font-size: 2em;
    color: @C2C-orange;
  }
  .route-activity {
    font-size: 3.5em;
    color: @C2C-orange;
    margin-bottom: 10px;
    @media @phone {
      font-size: 3em;
    }
  }
  &.main-waypoint {
    border: 2px solid @bright-green;
  }
  &.outings {
    a {
      .flex() !important;
    }
    .outing-author, .outing-date {
      font-size: 0.9em;
    }
    .list-item-info {
      width: 67%;
      margin-left: 15px;
    }
    .outing-author {
      width: 33%;
      color: gray;
      margin: auto;

      .icon-user {
        font-size: 3em;
      }
    }
    .glyphicon-trash {
      top: 65% !important;
    }
  }
  a {
    display: block;
    transition: 0.2s;
    font-weight: normal;
    word-wrap: break-word;
    color: #767676;

    .list-item-lang {
      opacity: 0.9;
      color: graytext;
      font-weight: normal;
    }

    &:hover {
      text-decoration: none;
    }

    &:hover .list-item-title {
      color: teal;
      transition: 0.1s ease-in-out;
    }
    &:focus {
      text-decoration: none;
      outline: none;
    }
    @media @tablet {
      padding : 2%;
    }
    @media @phone {
      padding : 0%;
      font-size: .8em;
    }
  } /*list-item a*/

} /* list-item*/

.line-separator{
  height:1px;
  background:#717171;
  border-bottom:1px solid @lightgrey;
  opacity: 0.9;
  margin: 3% 0 3% 0;
}

.map-right {
  position: relative;

  .map {        
    @media (max-height: 300px) {
      height: 70vh;
    }
    @media @phone {
      -webkit-box-shadow: 0px 0px 36px -10px rgba(0,0,0,0.56);
      -moz-box-shadow: 0px 0px 36px -10px rgba(0,0,0,0.56);
      box-shadow: 0px 0px 36px -10px rgba(0,0,0,0.56);
      height: 250px;
      margin-top: 0;
      height: 40vh !important;
    }
  }
  margin-left: @list-width;

  @media @phone {
    margin-left:0;
  }
}
.documents-list-section, .map-right .map, .not-found-section {
  height: calc(~"100vh -" @page-header-height);
  height: -moz-calc(~"100vh -" @page-header-height);
  height: -webkit-calc(~"100vh -" @page-header-height);
  height: -o-calc(~"100vh -" @page-header-height);
  height: calc(~"100vh -" @page-header-height);
}

.documents-list-section, .not-found-section {
  background-color: @lightgrey;
  position: relative;
  width: @list-width;
  float: left;
  overflow-y: auto;
  overflow-x: hidden;

  @media @phone {
    width: 100%;
    float:none;
    margin-top: 0;
    height: 45vh;
  }
  .show-documents-filters-phone {
    display: none;
    height: 33px;
    margin-right: 5px;

    @media @phone {
      display: block;
    }
  }
}
.list {
  padding: 1% 2% 2% 2%;
  .list-item {
    display: inline-table;
    width: 100%;
  }
}

.search-icon {
  font-size: 1.8em;
  margin-right: 8px;
  margin-top: 5px;

  @media @phone {
    cursor: pointer;
    /*hover triggers the search input to appear in simplesearch.js*/
  }
}

.login-text {

  margin-bottom: 0;
  @media @phone {
    display: none;
  }
}

app-user{
  text-align: center;

  .dropdown-toggle {
    min-height: 35px;
    align-items: center;

    @media @phone {
      padding: 1px 7px 0 7px;
    }
  }

  .icon-user, .glyphicon {
    color: white;
  }
  .icon-user {
    font-size: 2em;
  }
  .login-out-button {
    span { 
      @media @phone {
        display: none;
      }
    }
  }
  .caret {
    @media @phone {
      display: none;
    }
  }
}
.user-info {
  @media @phone {
    display: none;
  }
}

.search {
  background-color: #FBFBFB !important;
  width : 380px;
  height: 35px;
  border-radius: 0 5px 5px 0;
  border: none;
  -webkit-transition: width .5s ease;
  -moz-transition: width .5s ease;
  transition: width .5s ease;

  @media @tablet {
    width: 150px;
  }
  @media @phone {
    border: 1px solid bisque;
  }
}

.lang-selector {
  .flex();
  width:100%;
  align-items: center;
  color: graytext;

  @media @phone {
    width: 46px;
  }
  > label {
    @media (max-width: 800px){
      display: none;
    }
  }
}

app-lang{
  margin-left: 10px;
  font-size: 1.2em;

  @media @phone {
    width: 105px;
    margin-left: 0;
  }
  .selected-lang {
    text-transform: uppercase;
    color: #676767;
  }
  .dropdown-toggle {
    padding: 6px 8px;
    @media @phone {
      padding: 6px 6px;
    }
  }
  .dropdown-menu {
    right: 0;
    left: initial;
    min-width: 91px;
    cursor: pointer;
  }
}

app-simple-search {
  .flex();
  border-radius: 6px;
  padding-left: 10px;
  margin-right: 10px;
  background: @C2C-orange;
  width: 25%;
  
  .glyphicon {
    color: #F9F9F9;
  }

  @media @phone {
    width: 40px;
    padding-left: 6px;
  }
}

.page-header {
  .flex();
  background-color: @body-color;
  position: absolute;
  width: 100%;
  border-bottom: 2px solid @C2C-orange !important;
  justify-content: flex-end;
  margin-top: 0;
  top: 0;
  margin-bottom: 0;
  border: 0;
  padding-bottom: 5px;
  padding-top: 5px;

  @media @phone {
    position: fixed;
    margin-top: 6px;
  }
  #add-my-outing {
    margin-left: 10px;
    @media (max-width: 650px) {
      display: none;
    }
  }

  .show-search {
    position: absolute !important;
    left: 5px !important;
    z-index: 2;
    width: 100% !important;
    padding: 0 !important;
    transition: 0.3s ease-in-out;
  }

  .quick-search {
    rigth: 0;
    position: relative;
    transition: 0.3s ease-in-out;

    input {
      @media @phone {
        visibility: hidden;
        width: 0px;
      }
    }
  }

  .search {
    -webkit-transition: width .5s ease;
    -moz-transition: width .5s ease;
    transition: width .5s ease;
    padding: 5px;
    &:focus, &:hover {
      width: 420px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      outline: none;
      border: 1px solid bisque;
      @media @tablet {
        width: 150px;
      }
      @media @phone {
        width: -moz-calc(~"100vw - 45px");
        width: -webkit-calc(~"100vw - 45px");
        width: -o-calc(~"100vw - 45px");
        width: calc(~"100vw - 45px");
      }
    }
    @media @phone {
      width: 0px;
      margin-left: -3px;
    }
  }
  .lang-user {
    .flex();
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
  }

  #user-menu {
    height: 33px;

    .icon-user {
      display: none;

      @media @phone {
        display: block;
      }
    }
    .caret {
      @media @phone {
        display:none;
      }
    }
    .user-info {
      @media @phone {
        display: none;
      }
    }
  }
}/* page-header */ 

.logo.header {
  position: relative;
  display: none;
  margin-left: 60px;
  margin-bottom: 6px;
  z-index: 2;
  width: 80px;

  @media @phone {
    position: fixed;
    display: block;
    top: 6px;
  }
  @media @tablet {
    display: block;
    margin-top: 4px;
  }
  img {
    height: 39px;

    @media @phone {
      height: 37px;
    }
  }
}

.page-content {
  margin-left: @menu-width;
  margin-top:  8px;

  @media @tablet {
    margin-left: @menu-width-tablet;
    margin-top:  -41px;
  }
  @media @phone {
    margin-left: 0;
    margin-top: 50px;
  }

  .archive-data {
    margin: 5px;
    padding: 5px;
    border: 1px solid red;
    background-color: rgba(255, 0, 0, 0.2);
  }

  .versions-list {
    border: 1px solid black;
    margin-bottom: 10px;
    border-collapse: collapse;

    th {
      padding: 5px;
      border: 1px solid black;
    }

    td {
      padding: 5px;
      border: 1px solid black;

      .hide-radio {
        visibility: hidden;
      }
    }
  }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

app-alerts {
  position: fixed;
  top: 30vh;
  left: 45vw;
  z-index: 20;
  .flex();
  justify-content: center;
  flex-direction: column;
  @media @phone {
    left: 5vw;
    width: 90%;
  }
  
  ul {
    list-style: none;
  }
  app-alert {
    -webkit-animation: fadein .3s;
    -moz-animation: fadein .3s;
    -ms-animation: fadein .3s;
    -o-animation: fadein .3s;
    animation: fadein .3s;
    text-align: center;
  }
  .alert {
    display: block !important;
    font-size: 1.2em;
    border: 1px solid #ccc !important;
  }
  .alert-text {
    display: inline;
  }
}

.auth-form {
  padding: 0 10% 0 10%;
  margin-top: 100px;
      
  section {
    background-color: white;
    padding-top: 0.01%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 6%;
    border: 1px solid #eee;
    border-radius: 5px;
  }
}


.archive-data {
  div {
    display: table;
    margin: auto;
  }
  h2, .glyphicon {
    color: @brand-danger;
    @media @phone {
      font-size: 1.4em;
    }
  }
  p {
    font-size: 1.3em;
    color: white;
    @media @phone {
      font-size: 1.1em;
    }
  }

  h2 {
    text-align: center;
    padding: 1%;
  }
  button a {
    text-decoration: none;
  }
}

.hidden-options {
  margin-bottom: 2%;
  padding: 0;
}

.document-history, .document-differences {
  padding: 5%;
  @media @tablet {
    padding-top: 7%;
  }
}

.versions-list {
  background-color: #EBEBEB;

  tr:first-of-type {
    background-color: #337AB7 !important;
    color: white;
  }
  td {
    .hide-radio {
      display: none;
    }
  }
}

button:focus {
  outline: none !important;
}

.form-control {
  border-radius: 2px;
}

input[type=checkbox]{
  width: 0px; 
  display: none;
}

input[type=checkbox] + * {
  padding-left:21px;
  height:16px; 
  display:inline-block;
  line-height:16px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:16px;
  vertical-align:middle;
  cursor:pointer;
  background-image:url(../img/checkbox-bg.svg);
  transition: 0.2s ease-in-out;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;    
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=checkbox]:checked + * {
  background-position: 0 -16px;
  transition: 0.2s ease-in-out;
}

.orange-btn, .gray-btn, .green-btn, .blue-btn {
  color: white;
  font-weight: bold;
  font-variant: small-caps;
  &:hover {
    color: white;
  }
  &:focus {
    color: white;
  }
  .glyphicon {
    color: white;
    margin-right: 5px;
  }
  a {
    color: white;
    &:hover {
      text-decoration: none;
    }
  }
  transition: 0.1s;
}
.orange-btn {
  background-color: @C2C-orange;
  &:hover {
    background-color: #FF9416;
    transition: 0.1s;
  }
}

.gray-btn {
  background-color: graytext;
  &:hover {
    background-color: #B89191;
    transition: 0.1s;
  }
}

.blue-btn {
  background-color: @brand-primary;
  &:hover {
    background-color: #286090;
    transition: 0.1s;
  }
}

.green-btn {
  background-color: @bright-green;
  &:hover {
    background-color: #4C9B5D;
    transition: 0.1s;
  }
}

.dropdown-toggle {
  font-variant: small-caps;
}

ul {
  padding-left: 15px;
}

.value, .value-title {
  font-weight: bold;
}
.value-title {
  color: darkslategray;
}
.value {
  color: darkgray;
  &.space {
    margin-left: 4px;
  }
}

.awesomeness {
  font-size: 1.2em;
  cursor: pointer;
}

.select-document {
  width: 170px;
  margin-right: 10px;
}

.section.associations, .view-details-section {
  .list-item {
    margin-right: .5%;
    margin-left: .5%;
    width: 49%;

    @media @big {
      width: 32%;
    }
    @media @phone {
      width: 100%;
    }
  }
  app-add-association, .associated-section {
    width: 100%;
    margin-top: 10px;
  }
  .associated-documents {
    max-height: 600px;
    overflow-y: auto;
    width: 100%;
    .flex();
    flex-wrap: wrap;

    app-delete-association {
      position: absolute;
      bottom: 30px;
      right: 0;
      margin-right: 5px;
      font-size: 15px;
      
      @media @phone {
        font-size: 13px;
      }
      .glyphicon {
        color: red;
      }
      button {
        padding: 5px;
      }
    }
    .glyphicon-trash:not(app-delete-association) {
      position: absolute;
      color: red;
      font-size: 1.3em;
      right: 0;
      margin-right: 5px;
      top: 80%;
    }
  }
  .route-activities {
    justify-content: flex-start !important;
  }
}
