@import "variables.less";

.view-details-title {
  .flex();
  margin-top: 60px;
  margin-bottom: 10px;
  
  @media @phone {
    margin-top: 55px;
  }
  @media @tablet {
    margin-top: 40px;
  }

  >h1 {
    margin: auto;
    width: 80%;
    text-align: center;
    transition: 0.4s;
    line-height: 45px;

    @media @phone {
      font-size: 1.8em;
      line-height: 26px;
      margin-left: 20px;
    }
    @media @tablet {
      font-size: 2em;
      line-height: 35px;
    }
    .badge {
      font-size: 0.5em;
      margin-left: 10px;
      &.route {
         background-color: @brand-info;
      }
      &.waypoint {
         background-color: @brand-success;
      }
    }
  }
}

.view-details-section {
  height: 73%;
  margin-left: 4%;
  margin-right: 0;
  width: 90%;
  margin-top: -30px;
  padding-top: 15px;
  padding-bottom: 266px;
  overflow: hidden;

  @media @phone{
    padding-top: 28px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }

  .nav-tabs {
    border: none;
  }
  .view-details-photos {
    width: 100% !important; 
    margin-left: 0 !important;
    padding: 10px 0 10px 0;
    .photos {
      .flex();
      justify-content: space-around;
    }
  }
  /* uib accordion*/
  .panel-title {
    .glyphicon {
      float: right;
    }
  }

  .view-details-description, .view-details-other,  .view-details-info, .view-details-associations, .view-details-photos {
    text-align: justify;
    padding-left: 0;
    padding-right: 0;
    background: white;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #eee;
    padding-top: 15px;
    
    @media @phone {
      border-width: 2px;
    }

    @media @big {
      width: 72.5%;
      margin-left: 2.5%;
    }

    h2 {
      text-align: left;
      font-size: 1.5em;
    }

    .lead {
      width: 100%;
      font-size: 17px;
      word-break: break-word;
      float: left;
      padding: 0 30px 15px 30px;
      margin-bottom: 0;

      @media (max-width: @screen-xs-max) {
        font-size: 14px;
        padding: 0 15px 15px 15px;
      }
    }
  }

  .view-details-associations {
    width: 100%;
    margin-left: 0;
    background: white;
    border: 1px solid #eee;

    @media @phone {
      display: none;
    }
    @media @big {
      section {
        .flex();
        justify-content: space-between;
        article {
          flex-basis:  49%;
        }
      }
    }
    a { padding: 0%; }
    h3 { 
      margin-top: 1%; 
      margin-bottom: 1%; 
    }
    .list-item {
      padding: 1%;
      margin: 0;
      min-height: 105px;
      margin-bottom: 10px;
      background: #EEE;
      width: 44%;

      a {
        text-align: left; 
      }
      @media @big {
        width: 49%;
      }
      @media @phone {
        a {
          font-size: 1.3em;
        }
      }
      @media @tablet {
        min-height: 90px;
      }
    }

    .associated-documents {
      margin-top: 10px;
      padding: 0 10px;
      max-height: 600px;
      overflow-y: scroll;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      .flex();
      flex-flow: wrap;
      justify-content: space-around;
      @media @big {
        justify-content: space-between;
      }
      @media @phone{
        justify-content: space-between;
      }
      app-delete-association {
        position: absolute;
        bottom: 0;
        right: 0;
        margin-bottom: 5px;
        margin-right: 5px;

        .glyphicon {
          color: white;
        }
        button {
          padding: 5px;
          @media (max-width: @screen-sm-min)  {
            padding: 7px 3px 3px 3px;
            font-size: 1.3em;
          }
        }
      }
    }
  }
  .view-details-informations {
    background-color: white;
    border: 2px solid #FFB761;
    .flex();
    flex-flow: row wrap;

    @media @phone { 
      width: 100%;
      margin-bottom: -200px;
      display: none;
    }
    @media @big {
      width: 25%;
    }
    #document-informations {
      .flex();
      flex-flow: row wrap;
      overflow: hidden;
      width: 100%;

      @media @phone {
        display: block;
      }
    }
    >.heading {
      margin-top:0;
    }
    .heading .glyphicon {
      font-size: .8em;
    }
    .glyphicon-sort-by-attributes{
      transform: rotateZ(180deg);
    }
    .glyphicon {
      font-size: 3em;

      @media @phone {
        font-size: 1em;
      }
    }
    .detail-name {
      font-weight: bold;
    }
    .detail-value {
      margin: auto;
      font-size: 1.5em;
    }
    .detail-text {
      width: 80%;
      margin: auto;
      text-align: left;
      line-height: 17px;
      font-size: 1.1em;

      @media @phone {
        width: 200%;
        font-size: 1em;
        display: none;
      }
      @media @tablet {
        font-size: 1em;
      }
      ul {
        padding-left: 15px;
        width: 90%;
        li {
          margin-bottom: 5px;
        }
      }
    }
    .no-info-text {
      text-align: center;
      width: 55%;
      margin: auto;

      @media (min-width: @screen-xs-min) and (max-width: @screen-sm-max) {
        width: 70%;
      } 
    }
    .name-icon-value {
      .flex();
      flex-basis: 33.33%;
      padding: 0;
      min-height: 110px;
      background-color: white;
      border-bottom: 1px solid #dfd6c5;
      transition: 0.3s;

      @media @big {
        padding-top: 2%;
        flex-basis: 100%;
        min-height: 0;
        height: auto;
      }
      @media @tablet {
        flex-basis: 50%;
        padding: 0;
      }
      @media @phone {
        width: 100%;
        height: auto;
        min-height: 0;
        padding: 0;
        cursor: pointer;
        &:not(:first-of-type) {
          border-top: 1px solid #dfd6c5;
        }
      }    
      &.location {
        display: none;
        @media @phone {
          .flex();
        }
      }
    }
    
    .accordion {
      margin-left: 5px;

      @media @phone {
        padding-top: 1%;
      }
      @media @tablet {
        font-size: 14px;
      }
      ul {
        margin: 0;
      }
    }
    h4 {
      display: none;
      width: 100%;
      text-align: center;

      span {
        margin-right: 5px;
        transition: 0.3s;
      }
      @media @phone {
        display: block;
      }
    }
    .name-icon {
      width: 75px;
      text-align: center;
      margin: auto 5px auto 10px;
      transition: 0.3s;

      @media (max-width: @screen-xs-max) {
        margin-left: 5%;
        width: 60px;
      }
      @media @phone {
        display: none;
      }

      p {
        font-weight: bold;
        font-variant: small-caps;
      }
    }
    .coordinates-table {
      width: 180px;
      td {
        text-align: center;
        vertical-align: middle;
        padding: 1%;
      }
    }
  }
} /*.view-details-section*/


.view-details-map{
  .map {
    width: 100%;
    margin-bottom: 29px;

    @media @phone {
      margin-bottom: 0;
    }
  }
  .ol-viewport {
    height: 280px !important;

    @media @tablet {
      height: 220px !important;
    }
    margin-bottom: 2%;
    @media @phone {
      height: 170px !important;
    }
  }
}

.view-details-other {
  width: 100% !important;
  margin: 0 0 40px 0 !important; 
  @media @phone {
    display: none;
  }
}

.document-summary, .document-remarks, .document-access, .document-gear {
  color: #626262;
  border: 1px solid #D8D8D8;
  border-left: 0.5em solid #5FE45F;
  padding: 5px 15px 5px 15px;
  background-color: rgba(168, 168, 168, 0.07);
  margin: 10px 0 10px 0;
  .shadow(0, 0, 2px, rgba(0,0,0,0.2));
  font-style: italic;

  label {
    font-style: normal;
  }
}
.document-remarks {
  border-left-color: rgba(255, 67, 34, 0.61);
}
.document-access {
  border-left-color: #ADD8E6;
}
.document-gear {
  border-left-color: beige;
}

app-add-association {

  app-search {
    margin-bottom: 20px;
    width: 346px;

    @media @phone {
      width: 100%;
    }
    @media @tablet {
      width: 100%;
    }
    .search {
      width: 100%;

    }
    .glyphicon-search {
      margin-top: 4px;
      font-size: 1.5em;
    }
    .tt-suggestion {
      border-radius: 0;
      padding: 5px !important;
    }
    p {
      margin: 0 !important;
    }
  }

}

.view-details-description, .view-details-other,  .view-details-info, .view-details-associations, .view-details-photos, .view-details-informations {
  ul li {
    list-style: none;
    &:before {
      /*Using a Bootstrap glyphicon as the bullet point*/
      content: "\e080";
      font-family: 'Glyphicons Halflings';
      font-size: 12px;
      float: left;
      margin-left: -17px;
      color: @brand-success;
    }
  }
  ul.types li {
    width: 50%;
    float: left;
  }
  
}

.scroll-top-btn {
  margin-top: 50px;
  margin-bottom: 25px;
}

.location-static {
  min-height: 80px;
  padding: 10px;
  position: absolute;
  color: #A55944;
  background: #FFFB80;
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  -o-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  transform: rotate(4deg);
  .shadow(2px, 2px, 10px, rgba(33,33,33,0.4) );

  @media @tablet {
    right: 30px;
    font-size: 1em;
    width: 167px;
  }
  @media @phone {
    display: none;
  }
  @media @big {
    font-size: 1.1em;
    right: 50px;
  }
  @media @desktop {
     right: 50px;
  }

  p {
    margin-top: 2px;
    margin-bottom: 0;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li:first-of-type {
      font-weight: bold;
    }
    li:last-of-type {
      text-decoration: underline;
    }
  }
}
.view-details-description {
  min-height: 190px;
  
  @media @phone {
    min-height:  50px;
    margin-bottom: -200px;
  }
  h2{
    margin-top: 10px;
  }
}
.show-phone.elevation {
  display: none;
  @media @phone {
     display: block;
  }
}
#detail-orientation {
  .flex();
  justify-content: center;
  #orientation-svg{
    height: 110px;
    width: 110px;
    margin-bottom: 10px;
  }
}

