#elevation-profile-chart {
  margin-left: -20px;
  font: 10px sans-serif;

  .axis path,
  .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
  }

  .line {
    fill: none;
    stroke: @C2C-orange;
    stroke-width: 3px;
  }

  .circle {
    fill: white;
    stroke: @C2C-orange;
    stroke-width: 2px;
  }

  line.target {
    stroke: lightgray;
    stroke-width: 1px;
  }

  .bubble {
    font-size: 12px;
  }

  .overlay {
    fill: none;
    pointer-events: all;
  }
}

.elevation-profile-controls {
  label {
    font-weight: normal;
  }
  input[type="radio"] {
    margin-right: 0;
  }
}
