#feed {
  display: block;
  padding-top: 10px;
  height: 100%;
  background-color: rgba(229, 229, 229, 0.3);

  .feed-title {
    color: lightslategrey;
    padding-left: @margin-desktop - 1;
    padding-top: 20px;
    padding-bottom: 20px;
    .icon-news {
      font-size: 2em;
      margin-right: 10px;
    }
    h3 {
      margin-top: 0;
    }
  }
  .images {
    height: 150px;
    margin-bottom: 20px;
    padding: 10px;

    .thumbnail {
      overflow: hidden;
      border: 2px solid rgba(88, 150, 165, .2);
    }

    .image {
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      -moz-transition: all .3s;
      -webkit-transition: all .3s;
      transition: all .3s;
      &:hover {
        transform: scale(1.1);
      }
    }
    .big-image {
      float: left;
      height: 150px;
      width: 60%;
    }
    .small-image {
      float: left;
      width: 38%;
      height: 73px;
      margin-left: 5px;
      &:last-of-type {
        margin-top: -5px;
      }
    }
  }
  .feed-list {
    height: 100%;
    margin-bottom: 200px;
    position: relative;
    transition: .3s;

    /*timeline solid*/
    &:before {
      content: '';
      position: absolute;
      left: @margin-desktop;
      height: calc(~"100% - 150px");
      margin-top: 15px;
      width: 4px;
      background-color: #dfdfdf;
    }
  }
  .feed-list-item {
    padding: 10px;
    margin: 10px auto;
    background-color: #fbfbfb;
    border-radius: 10px;
    width: 40%;
    transition: .3s;

    &:first-of-type .list-item {
      margin-top: 13px;
    }
    /*left triangle*/
    &:before {
      border-width: 8px 25px 9px 10px;
      border-color: transparent #fbfbfb transparent transparent;
      content: '';
      position: relative;
      left: -100%;
      border-style: solid;
      display: block;
      margin-bottom: -30px;
      transition: .3s;
    }

    .timeline-bullet {
      background-color: #96a0ad;
      position: absolute;
      width: 40px;
      height: 40px;
      margin-top: 2px;
      left: @margin-desktop;
      transform: translateX(-45%);
      border-radius: 50%;
      border: 1px solid gainsboro;
      padding-left: 7px;
      padding-top: 5px;
      transition: .3s;

      /*bullet icon*/
      &:before {
        font-size: 1.8em;
        color: white;
      }
      &.icon-routes {
        padding-top: 7px;
        padding-left: 6px;
      }
      &.icon-waypoints {
        padding-top: 6px;
      }
      &.icon-articles {
        padding-top: 7px;
        &:before {
          margin-left: -0.5px;
          font-family: 'Glyphicons Halflings';
          content: "\e086"; // info-sign
        }
      }
      &.icon-xreports {
        padding-top: 6px;
        &:before {
          font-family: 'Glyphicons Halflings';
          content: "\e107"; // warning-sign
          font-size: 21px;
          margin-left: 1px;
        }
      }
    }
    .glyphicon-time {
      color: #A9D361;
    }
    .action-line {
      padding-top: 7px;
      margin-bottom: -4px;
    }
    .action {
      color: slategray;
      a {
        color: slategray;
      }
    }
  }

  @media @tablet {
    .feed-list-item {
      width: 55%;
    }
    .feed-list:before, .timeline-bullet, .feed-title {
      left: @margin-tablet !important;
    }
  }

  @media @phone {
    padding-left: 10px;
    padding-right: 10px;
    .feed-list-item {
      width: 100%;
      &:first-of-type .list-item {
        margin-top: 0;
      }
    }
    .action-line {
      padding: 0 !important;
      margin: -5px 0 !important;
    }
    .feed-title {
      padding-left: 2% !important;
    }
    .timeline-bullet, .feed-list:before,   .feed-list-item:before {
      display: none;
    }
  }
}
