@import 'variables.less';
/*
#feed {
display: block;
padding-top: 10px;
height: 100%;
background-color: rgba(206, 206, 206, 0.38);

.btn {
white-space: normal;
}

.feed-title {
color: lightslategrey;
padding-left: @margin-tablet - 1;
padding-top: 20px;
padding-bottom: 20px;
.icon-news {
font-size: 2em;
margin-right: 10px;
}
h3 {
margin-top: 0;
}
}
.details {
margin-left: -5px;
}
.images {
height: 150px;
min-width: 300px;
max-width: 600px;
@media @phone {
height: 100px;
min-width: 200px;
}
margin-bottom: 6px;
margin-top: 6px;
margin-left: 0;
order: 1;
flex: 1 1 400px;

.thumbnail {
overflow: hidden;
border: 2px solid rgba(88, 150, 165, .2);
}

.image {
width: 100%;
background-size: auto 100%;
background-repeat: no-repeat;
background-position: center;
-moz-transition: all .3s;
-webkit-transition: all .3s;
transition: all .3s;
&:hover {
transform: scale(1.1);
}
}

a {
float: left;
&:nth-child(2) {
margin-bottom: 5px;
}
flex:1;
max-width: 200px;
height: 150px;
@media @phone {
height: 100px;
}
margin-left: 5px;
}
}
.feed-list {
height: 100%;
margin-bottom: 200px;
position: relative;
transition: .3s;


&:before {
content: '';
position: absolute;
left: @margin-tablet;
height: ~"calc(100% - 150px)";
margin-top: 15px;
width: 4px;
background-color: #96a0ad;
}
}
.feed-list-item {
padding: 10px;
margin: 10px auto;
background-color: #fbfbfb;
border-radius: 10px;
width: 80%;
@media @big {
width: 60%;
}
transition: .3s;
flex-direction: column;
.list-item {
margin-left: 5px;
}
&:first-of-type .list-item {
margin-top: 13px;
margin-left: 0;
}

&:before {
border-width: 13px 31px 11px 23px;
border-color: transparent #fbfbfb transparent transparent;
content: '';
position: relative;
left: -100%;
border-style: solid;
display: block;
margin-bottom: -30px;
transition: .3s;
}

.timeline-bullet {
background-color: #96a0ad;
position: absolute;
width: 40px;
height: 40px;
margin-top: 2px;
left: @margin-tablet;
transform: translateX(-45%);
border-radius: 50%;
border: 1px solid gainsboro;
padding-left: 7px;
padding-top: 5px;
transition: .3s;


&:before {
font-size: 1.8em;
color: white;
}
&.icon-routes {
padding-top: 7px;
padding-left: 6px;
}
&.icon-waypoints {
padding-top: 6px;
}
&.icon-articles {
padding-top: 7px;
&:before {
margin-left: -0.5px;
font-family: 'Glyphicons Halflings';
content: "\e086"; // info-sign
}
}
&.icon-xreports {
padding-top: 6px;
&:before {
font-family: 'Glyphicons Halflings';
content: "\e107"; // warning-sign
font-size: 21px;
margin-left: 1px;
}
}
}
.glyphicon-time {
color: #A9D361;
}
.action-line {
padding: 7px 5px 0 5px;
margin-bottom: -4px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
.action {
display: block;
color: slategray;
a {
color: slategray;
}
b:hover {
cursor: pointer;
}
}
}

@media @phone {
padding-left: 10px;
padding-right: 10px;
.feed-list-item {
width: 100%;
&:first-of-type .list-item {
margin-top: 0;
}
}
.action-line {
padding: 0 !important;
margin: -5px 0 !important;
}
.feed-title {
padding-left: 2% !important;
}
.timeline-bullet, .feed-list:before,   .feed-list-item:before {
display: none;
}
}
}

.whatsnew {
padding: 10px;
margin: 10px;

.tools {
padding: 10px;
}
.feed-list {
transition: .3s;

.badge {
font-size: 0.8em;
margin-right: 5px;
margin-left: 5px;
padding-bottom: 4px;
margin-top: 2px;

a {
color: white;
cursor: pointer;
text-decoration: none;
}

@media @phone {
display: none;
}

.glyphicon {
color: white;
}

&.article {
background-color: @darkcyan;
}
&.book {
background-color: @plum;
}
&.image {
background-color: @darkolivegreen;
}
&.route {
background-color: @brand-info;
}
&.xreport {
background-color: @tomato;
}
&.waypoint {
background-color: @bright-green;
}
}
}
.table > tbody > tr > td {
vertical-align: middle;
}
.feedtable {
overflow-y: hidden;
padding: 10px;
background-color: rgba(229, 229, 229, 0.5);
}
}

*/



app-feed {

  display: flex;
  flex-direction: row;
  padding: 20px;
  height: 100%;
  background-color: rgba(206, 206, 206, 0.38);


  @media @phone {
    padding: 20px 0;
  }

  @media @tablet {
    padding: 20px;
  }
  .post {
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    z-index: 1;
    background-color: #fefefe;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    display: inline-block;
    margin-right: 20px;
    overflow: hidden;
    text-align: start;

    min-width: 350px;
    max-width: 100%;
    width: 100%;
    margin-bottom: 20px;
    outline: none;

    cursor:pointer;

    @media @phone {
      box-shadow: none;
      margin-right: 0px;
    }
  }
  .post.rencontre {
    padding: 10px;

  }
  .post.rencontre .lville , .post .lvillel {
    list-style: none;
    margin: 0px;
    padding: 0px;
  }
  .post.rencontre .lville a {
    color: #ee4c5b;
  }
  .post.rencontre h1 {
    text-align: ;
    margin: 0px 0 15px;
  }
  .post .infoa {
    margin: 16px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    align-items: center;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px;
  }
  .parent-infop-first {
    padding-bottom: 8px;
    border-bottom: 1px solid #ebebeb;
  }

  .post .infoa .pportrait
  {
    display: block;
    outline: none;
    flex: none;
  }

  .post .infoa .pportrait img {
    border-radius: 50%;
    display: block;
  }

  .post .infoa .parent-author {
    width: 120px;
    line-height: 18px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: auto;
    -webkit-flex: auto;
    flex: auto;

  }
  .post .cont {
    padding: 10px;
  }
  .mt20{
    margin-top: 20px;
  }
  .slz-wrapper-content .mb20  {
    margin-bottom: 20px;
  }
  .wpb_single_image .center {
    max-width: 100%;
    max-height: 25px;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .post .infoa .parent-author .under-author {
    font-weight: 500;
    margin-right: 16px;
    padding: 0 0 0 2px;
    white-space: nowrap;
    -webkit-box-flex: auto;
    -webkit-flex: auto;
    flex: auto;
    width: ~"calc(100% - 200px)";
  }

  .post .infoa .parent-author .under-author .author {
    margin-left: 6px;
    max-width: 100%;
    white-space: nowrap;
    float: left;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-weight: bold;
  }
  .post .infoa .parent-author .under-author .author span {
    color: rgba(0,0,0,0.54);
    margin-left: 6px;
    font-weight: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .post .infoa .parent-hour {
    -webkit-box-flex: auto;
    -webkit-flex: auto;
    flex: auto;
    position: relative;
  }

  .post .infoa .parent-hour .hour {
    position: absolute;
    top: 0;
    right: 0;

    font-size: 12px;
    font-weight: 400;
    -webkit-box-flex: none;
    -webkit-flex: none;
    flex: none;
    display: block;
    color: #9e9e9e;
    max-width: 100%;
    text-align: right;
    word-wrap: break-word;
  }
  .post .infoa .parent-hour .hour .d-hour{

    height: 20px;
    display: block;
  }
  .hashtagmsg{
    color: #ee4c5b;
    margin-left: 5px;
  }
  .post .parent-text {
    font-size: 14px;
    line-height: 20px;
    margin: 0 16px 16px;
    word-wrap: break-word;
  }
  .post .parent-text .text {
    float: right;
    width: 100%;
    margin-left: -5px;
    padding :0px;
  }
  .post a .parent-text .text {
    color: #000;
    font-weight: bold;
  }

  .post a .parent-text .summary {
    color: #000;
    font-weight: normal;
    margin-top: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &.c {
      overflow: hidden;
      white-space: normal

    }
  }

  .post .parent-img {
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
    max-height: 275px;
  }
  .post .parent-text .text.emptyimg {
    border-bottom: 1px solid #ebebeb;
    padding: 0 0 8px 0;
  }
  .post .parent-img .img {
    display: block;
    width: 100%;
    margin: auto auto -3px;
  }
  .post .parent-img .img1,.post .parent-img .img2 ,.post .parent-img .img3 {
    display: flex;
    flex: auto;
    flex-direction: column;
    width: 33.33%;
    height: 80px;
    margin: auto 1px auto 0;
  }
  .post .parent-img .img3 {
    margin: auto ;
  }

  .post .parent-img .img .imgo {
    margin-top: 11px;
    width: 100%;
  }
  .addcom {
    width: 100%;
    margin: 0 auto 0;
    outline: none;

    z-index: 1;
    white-space: normal;
    line-height: normal;
    border-top: 1px solid #ebebeb;
  }


  .postbox .postboxin , .addcom .postboxin, .listcom .com {
    -moz-box-align: center;
    box-align: center;
    align-items: center;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    flex-direction: row;
    box-pack: justify;
    justify-content: space-between;
    box-sizing: border-box;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 16px;
    -moz-user-select: none;
    cursor: pointer;
  }

  .listcom .com  {
    padding: 10px 16px;
  }

  .postbox .portrait img , .addcom .portrait img  , .com .portrait img {
    border-radius: 36px;
    min-width: 36px;
    height: 36px;
  }
  .postbox .iconpho
  {
    -moz-user-select: none;
    -moz-transition: background .3s;
    transition: background .3s;
    border: 0;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 48px;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 48px;
    z-index: 0;

    background-color: #eeeeee;
    cursor: pointer;

    color: rgba(255,255,255,0.749);
    fill: rgba(255,255,255,0.749);
  }

  .postbox .iconpho svg {
    width: 24px;
    height: 24px;
    margin-top: 12px;
  }
  .postbox .iconpho path, .postbox .iconpho circle {
    fill: #757575;
  }

  .postbox .area , .addcom .area {
    width: 100%;
    padding: 0 20px;
  }
  .com .area {
    width: 100%;
    padding: 0 10px;
  }
  .com .area .nom {
    font-weight: bold;
    color: rgba(0,0,0,0.87);
  }
  .com .area .texte {
    color: rgba(0,0,0,0.87);
  }
  textarea {
    resize: none !important;
  }
  .addcom .area textarea {
    border: none;

  }
  .parent-com .listcom{
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .listcom .com .date {
    font-size: 12px;
    color: rgba(0,0,0,0.54);
    text-align: right;
    margin-top: -23px;
  }
  .parent-com {
    display: none;
  }
  .flux {
    width: ~"calc(33.33% - 40px)";
    margin: 30px 0px 30px 30px ;
    float: left;
  }


  .post .relative-sep {
    position: relative;
    display: flex;
    display: flex;
    width: 100%;
    border-bottom: 1px solid #ebebeb;
    height: 10px;
  }
  .post .parent-infop {
    margin: 5px 16px;
  }
  .post .parent-infop .infop-bar {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;

  }

  .post .parent-infop .parent-bubble {
    display: block;
    margin: 0px 8px 0 0;
    -webkit-box-flex: 0;
    box-flex: 0;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
  }
  .post .parent-infop .parent-bubble .bubble {
    -webkit-user-select: none;
    -webkit-transition: background .3s;
    transition: background .3s;
    border: 0;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 48px;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    width: 48px;
    z-index: 0;
    background: transparent;
    display: block;
    height: 36px;
    width: 36px;

  }
  .post .parent-infop.parent-infop-first .parent-bubble .bubble {
    height: 24px;
    width: 36px;
  }
  .post .parent-infop .parent-bubble .bubble i { font-size: 21px;  }
  .parent-bubble a:hover {
    text-decoration: none;
  }
  .post .parent-infop .parent-bubble .bubblej {
    background: #eeeeee;  
    padding: 5px;
  }

  .post .parent-infop .parent-bubble .bubblei {
    background: #eeeeee;  
    padding: 8px;
  }

  .post .parent-img .img .imgo {
    margin-top: 15px;
    width: 100%;
  }

  .post .parent-infop .parent-bubble .bubble span {
    font-size: 2em;
    color: #A9D361;
  }

  .post .parent-infop-first .parent-bubble .bubble span {
    font-size: 1.5em;
    color: #FFAA45;
  }

  .post .parent-infop .parent-bubble .condition-rating {
    width: 20px;
    height: 20px;
    border-radius: 20px;
  }
  .post .parent-infop .parent-bubble .condition-rating.excellent {
    background-color:green;

  }
  .post .parent-infop .parent-bubble .condition-rating.good {
    background-color:#9ACD32;

  }
  .post .parent-infop .parent-bubble .condition-rating.average {
    background-color:#ff0;

  }
  .post .parent-infop .parent-bubble .condition-rating.poor {
    background-color:red;
  }

  .post .parent-infop .parent-bubble .condition-rating.awful {
    background:#8B0000
  }


  .post .parent-infop .parent-bubble .bquality 
  {
    width: 20px;
    height: 20px;
  }

  .post .parent-infop .parent-bubble .bquality span {
    font-size: 1.3em;
    color: #d3d3d3;
  }
  .rating {
    float:left; margin-right:5px;
  }
  .post .parent-infop  .grow {
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
  }
  .post .parent-infop .text-bubble {
    line-height: 36px;
    color: #777;
    font-size: 12px;
    margin-right: 6px
  }
  .entry-content h3 {
    margin-top: 0px;
  }
  .entry-content h4 {
    margin-top: 30px;

  }
  .entry-content .img-share {
    max-width: 150%;
    margin-left: -25%;
  }












  .feed-cl {
    width: 66.66%;

  }

  .feed-cr {
    width: 33.33%;

  }

  .fpost {
    a:hover {
      text-decoration: none;
    }
  }
  .feed-cr .info h3 {
    font-size: 16px;
    font-weight: 500;
    color: rgba(0,0,0,0.8);
    margin-bottom: 10px;
    font-weight: bold;
  }
  .feed-cr .info {
    margin-bottom: 40px;
  }

  .fpcontent {


    height: 60px;
  }

  .ficontent {
    height: auto;
    padding: 15px;
    .center {
      text-align: center;
      display: block;
      margin: 10px 0 0 0;
      font-weight: 700;
    }

    .ftitle {

      .title {
        font-weight: 400;
        white-space: initial;
        text-align: justify;
        line-height: 22px;

      }
    }


  }


  .fleft {
    cursor: pointer;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-shrink: 1;
    height: 100%;
    min-width: 0;
    width: 100%;
    -moz-box-align: center;
    box-align: center;
    align-items: center;
  }
  .fportrait {
    display: inline-block;
    background-color: #bdbdbd;
    height: 24px;
    width: 24px;

    margin: 0 16px;
    -moz-border-radius: 50%;
    border-radius: 50%;
    flex-shrink: 0;
  }
  .loc {
    font-style: italic;
  }
  .s48 {
    width: 36px;
    height: 36px;
    margin-top: -6px;
  }
  .fportrait .activity {
    color: #FFAA45;
    font-size: 3em;
    background: #fff;
  }
  .fportrait img {
    border-radius: 50%;
    height: 24px;
    width: 24px;
  }
  .ftxt {
    flex-shrink: 1;
    min-width: 0;
    width: 100%;
    margin-top: 3px;
  }

  .fauthor{
    color: rgba(0,0,0,0.87);
    font-size: 16px;
    margin-right: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    max-width: 100%;
    line-height: 18px;
  }

  .ftitle {
    color: rgba(0,0,0,0.54);
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    max-width: 100%;
    line-height: 17px;
    .title {
      font-weight: bold;
      color: rgba(0,0,0,0.87);

    }
  }

  .cotationbox {
    max-width: 120px;
    overflow: hidden;
    max-height: 36px;
    word-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .in-feed-col-1 , .in-feed-col-2  , .in-feed-col-3 {float:left; width:50%; padding-right: 20px;
    @media @phone {
      padding:0px;
      width: 100%;
    }
    @media @tablet {
      padding-right: 20px;
      width: 100%;
    }


    @media @desktop{
      padding-right: 20px;
      width: 100%;
    }


    @media @big {
      width: 50%;
    } 
    @media @verybig {
      width: 33.33%;
    }
  }
  .in-feed-cr {float:left; width:50%; padding-right: 20px;}
  #user-profile-data .in-feed-col-1 , #user-profile-data .in-feed-col-2, #user-profile-data .in-feed-col-3  {
    float:none;
    width: 100%;
    padding: 0 10px;

  }
  #user-profile-data .feed-cl {
    width: 100%;

  }
  #user-profile-data .feed-cr {
    display: none;
  }
  #user-profile-data .post {
    max-width:none;
  }
  .in-feed-cl::after {
    display:block;
    clear:both;
    content: " ";
    width: 0;
    height: 0;
  }





  .feed-list { 
    .info  {
      padding-right: 20px;
      h3 {
        font-size: 18px;
        color: rgba(0,0,0,0.8);
        font-weight: 700;
        text-align: center;
        margin-bottom: 10px;
      }

    }
  }

  @media screen and (min-width: 768px) and (max-width: 1360px){
    .in-feed-cl , .in-feed-cr {float:none; width:100%;width: 100%; padding-right: 20px;}
    .post {
      max-width: 100%;
    }
  }
  @media screen and (max-width: 767px) {
    .post {
      border-radius: 0px;
    }
    #feed {
      padding: 0px;
    }

    .feed-cl {
      width: 100%;
    }
    .feed-cr {
      display: none;
    }
    .post {
      min-width: initial;
      max-width: none;
      width: 100%;
    }
    .in-feed-cl , .in-feed-cr {float:none; width:100%;width: 100%; padding: 0 10px;}

  }
  .post .author a {color: #000;}






}