@import "variables.less";

form[app-search-filters] {
  background-color: white;
  width: 100%;

  @media @phone {
    display: none;
  }

  .dropdown-menu {
    left: 10px;
    top: initial;
  }

  .more-filters-btn {
    position: relative;
    margin-bottom: 10px;
    margin-left: 5px;

    @media @phone {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
}

.filters {
  text-align: center;
  position: relative;
  transition: 0.2s;

  /*too little filters in areas - do not show more-filters-bnt*/
  &.areas {
    .more-filters-btn-container {
      display: none;
    }

    .sticky-filters-btn-container {
      display: flex;
    }
  }

  /*there are 2 of them: one in .filters and one in #moreFilters*/
  .simple-filters {
    justify-content: space-between;
    flex-flow: wrap row;
    display: flex;

    .filter {
      width: 33%;

      @media @phone {
        width: 100%;
      }
    }
  }

  label {
    margin-bottom: 0;

    @media @phone {
      margin-bottom: 5px;
    }
  }

  .filter {
    padding: 5px 10px;

    @media @phone {
      line-height: 1;
      width: 100%;

      ul {
        margin-top: -12px;
      }
    }
  }

  #moreFilters {
    background-color: white;
    position: absolute;
    z-index: 30;
    padding: 0 10px  20px 10px;
    margin-top: 19px;
    width: 100%;
    top: @page-header-height - 1;
    overflow: auto;
    box-shadow: 0 14px 14px -14px #332;
    -webkit-box-shadow: 0 14px 14px -14px #332;
    -moz-box-shadow: 0 14px 14px -14px #332;
    max-height: 400vh;

    @media @phone {
      top: 165px;
      overflow: hidden;
      width: 100% !important;
      padding: 0 0 20px 0;
    }

    &.images .collapse.in {
      overflow-y: visible;
    }

    /*show simple-filters only when #moreFilters has .sticky-filters-moreFilters*/
    &:not(.sticky-filters-moreFilters) .simple-filters {
      display: none;
    }

    .filters-bottom-buttons {
      width: 100%;
      display: flex;
      justify-content: space-around;
      position: relative;

      @media @phone {
        padding-bottom: 1%;
        position: static;
        top: 25px;
        flex-flow: wrap row;

        button {
          margin-top: 5px;
        }
      }

      @media (max-height: 580px) {
        position: relative !important;
        margin-bottom: 10px !important;
        bottom: -10px !important;
      }

      @media (max-height: @screen-sm-max) {
        position: relative !important;
        margin-bottom: 10px !important;
        bottom: -10px !important;
      }

      button {
        font-variant: small-caps;
        font-size: 1.2em;
        font-weight: bold;

        @media (max-width: @screen-md-min) {
          font-size: 1em;
        }
      }
    }

    .activities {
      list-style: none;
      display: flex;
      justify-content: center;
      padding: 0;
      flex-flow: wrap row;

      [class^='icon'] {
        font-size: 4em;
      }

      .activity {
        width: 33.33%;

        @media (max-width: 900px) and (min-width: @phone-max) {
          width: 50%;
        }
      }

      li.activity {
        text-align: left;
      }
    }

    .route-activities {
      @media @phone {
        margin-bottom: 200px;
      }

      &.show-tight {
        display: none;
      }

      @media (max-height: 740px) and (min-width: @phone-max) {
        display: none;

        &.show-tight {
          display: block;
        }

        [class^='icon'] {
          width: 50%;
        }
      }
    }

    .orientation {
      svg {
        transform: scale(0.8);
        margin-top: -10px;
        width: 100%;
      }
    }
  } /*moreFilters */

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .caret {
    color: @C2C-orange;
  }

  .slider-min-max {
    top: 5px;
    height: 10px;
    position: relative;
    display: inline-flex;
    width: 100%;
  }

  .min-value {
    text-align: left;
    width: 50%;

    @media @phone {
      width: 25%;
      text-align: inherit;
    }
  }

  .max-value {
    width: 50%;
    text-align: right;

    @media @phone {
      width: 65%;
    }
  }

  .slider-handle {
    background-image: none;
    background-color: @C2C-orange;
    margin-top: -5px;
  }

  .slider.slider-horizontal {
    width: 95%;

    @media @phone {
      width: 90%;
    }

    @media @phone {
      width: 80%;
    }
  }

  .slider-selection {
    background: #bababa;
  }

  .dropdown-toggle {
    width: 100%;

    .activity {
      margin-left: 30px;
    }

    p {
      margin: 0;
    }

    label {
      font-family: inherit;
    }
  }
} /*filters */

.multiselect-box {
  columns: 2;
  column-gap: 4px;
  column-rule: 2px outset #ccc;
  margin-left: 1%;

  @media @phone {
    -webkit-columns: inherit;
    -moz-columns: inherit;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 250px;
  }

  @media @tablet {
    width: auto;
  }

  @media (max-height: 400px) {
    overflow-y: scroll;
    height: 130px;
  }

  > li > a > span {
    margin-left: 8px;
    padding-right: 2%;
    display: block;
    width: 175px;
    white-space: normal;

    @media @phone {
      margin-left: 5px;
    }
  }

  a {
    padding-left: 5%;
    padding-right: 14px;
    cursor: pointer;
    transition: 0.3s;
  }
} /* multi-selectbox */

.more-filters-btn-container {
  display: flex;
  justify-content: center;
  flex-flow: wrap row;
  padding-top: 5px;
  transition: 0.2s;

  @media @phone {
    width: 100% !important;
  }
}
