@import "variables.less";


.filters-phone {
  overflow-y: scroll;
  height: 40vh;
}

.filters {
  text-align: center;
  position: relative;
  background-color: white;
  transition: 0.2s;

  @media @phone {
    display: none;
  }

  .simple-filters {
    justify-content: space-between;
    flex-flow: wrap row;
    .flex();
    .filter {
      width:  33%;
    }
  }
  
  label {
    margin-bottom: 0;
    @media @phone {
      margin-bottom: 5px;
    }
  }
  .filter {
    padding: 5px 10px;

    @media @phone {
      height: 55px;
      font-size: 0.9em;
      line-height: 1;
      width: 100%;

      ul {
        margin-top: -12px;
      }
    }
    }

    .more-filters-btn {
    position: relative;
    margin-bottom: 10px;

    @media @phone {
      margin-top: 5px;
      margin-bottom: 5px;
      padding: 4px;
      left: -5px;
    }
  }

  #moreFilters {
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 5;
    padding: 0;
    top: 70px;
    box-shadow: 0 14px 14px -14px #332;
    -webkit-box-shadow: 0 14px 14px -14px #332;
    -moz-box-shadow:  0 14px 14px -14px #332;
    height: -moz-calc(~"100vh - 105px");
    height: -webkit-calc(~"100vh - 105px");
    height: -o-calc(~"100vh - 105px");
    height: calc(~"100vh - 105px");

    .filters-bottom-buttons {
      width: 100%;
      .flex();
      justify-content: space-around;
      position: relative;

      @media @phone {
        padding-top: 20px;
        padding-bottom: 1%;
        position: static;
        top: 25px;
      }
      @media (max-height: 580px){
        position: relative !important;
        margin-bottom: 10px !important;
        bottom: -10px !important;
      }
      @media @tablet {
        @media (max-height: @screen-sm-max){
        position: relative !important;
        margin-bottom: 10px !important;
        bottom: -10px !important;
      }
      }
      button {
        width: 40%;
        font-variant: small-caps;
        font-size: 1.2em;
        font-weight: bold;

        @media (max-width:@screen-md-min) {
          font-size: 1em;
          width: 45%;
        }
      }
    }
    .activities {
      list-style: none;
      .flex();
      justify-content: center;
      padding: 0;
      flex-flow: wrap row;
      
      [class^='icon'] {
        font-size: 5em;
      }
      .activity {
        width: 33.33%;
        
        @media (max-width: 900px) and (min-width: @phone-max) {
          width: 50%;
        }
      }
      li.activity {
        text-align: left;
      }
    }
    .route-activities {
      @media @phone {
        margin-bottom: 200px;
      }
      &.show-tight {
        display: none;          
      }
      @media (max-height: 740px) and (min-width: @phone-max){
        display: none;
        &.show-tight {
          display: block
        }
        [class^='icon'] { 
          width: 50%;
        }
      }
    }
    .orientation {
      svg {
        transform: scale(.8);
        margin-top: -10px;
        width: 100%;
      }
    }
  } /*moreFilters */

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  input:not([type='checkbox']), select, .dropdown-toggle {
    margin-bottom: 1%;
    height: 30px;
  }
  
  .caret {
    color: @C2C-orange;
  }

  .slider-min-max {
    top: 5px;
    height: 10px;
    position: relative;
    display: inline-flex;
    width: 100%;
  }

  .min-value {
    text-align: left;
    width: 50%;
    
    @media @phone {
      width: 25%;
      text-align: inherit;
    }
  }

  .max-value {
    width: 50%;
    text-align: right;
    
    @media @phone {
      width: 65%;
    }
  }
  .slider-handle {
    background-image: none;
    background-color: @C2C-orange;
  }
  .slider.slider-horizontal {
    width: 95%;
    
    @media @phone {
      width: 90%;
    }
    @media @phone {
      width: 80%;
    }
  }
  .slider-selection {
    background: #BABABA;
  }
  .dropdown-toggle {
    width: 100%;
    .activity {
      margin-left: 30px;
    }
    p {
      margin: 0;
    }
    label {
      font-family: inherit;
    }
  }
} /*filters */

 
.multiselect-box {
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  -webkit-column-gap: 4px;
  -moz-column-gap: 4px;
  column-gap: 4px;
  -webkit-column-rule: 2px outset #CCC; /* Chrome, Safari, Opera */
  -moz-column-rule: 2px outset #CCC; /* Firefox */
  column-rule: 2px outset #CCC;
  margin-left: 1%;

  @media @phone {
   -webkit-columns: inherit;
   -moz-columns: inherit;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height : 250px;
    width: 70%;
    margin-left: -5%;
  }

  @media @tablet {
    width: auto;
  }

  @media (max-height: 400px){
    overflow-y: scroll;
    height: 130px;
  }
  span {
    margin-left: 8px;
    padding-right: 2%;
    @media @phone {
      margin-left: 5px;
    }
  }
  a {
    padding-left: 5%;
    padding-right: 14px;
    cursor: pointer;
    transition: 0.3s;
  }
} /* multi-selectbox */
