.date-icon {
  display: block;
  position: relative;
  width: 40px;
  height: 45px;
  margin-right: 6px;
  margin-bottom: 4px;
  background-color: #fff;
  border-radius: 0.6em;
  box-shadow: 0 0 0 1px #bdbdbd;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotate(0deg) skewY(0deg);
  -webkit-transform-origin: 50% 10%;
  transform-origin: 50% 10%;
  align-self: start;
  flex-shrink: 0;

  * {
    display: block;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    font-style: normal;
    text-align: center;
  }

  .day {
    position: absolute;
    top: 0;
    color: #333;
    background-color: #a9d361;
    font-size: 1em;
  }

  .year {
    position: absolute;
    bottom: 2px;
    color: #333;
    font-size: 0.6em;
  }

  .month {
    width: 100%;
    font-size: 0.9em;
    padding-top: 20px;
    color: #333;
  }
}
