.drop-box {
  background: #F8F8F8;
  border: 5px dashed #DDD;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 25px;
}
.dragover {
  border: 5px dashed red;
}
#image-uploader {
  height: 95%;
  @media @phone {
    height: 90%;
    padding: 0;
  }
  > button {
    float: right;
    margin-top: 10px;
    margin-left: 5px;
  }
  p {
    margin-bottom: 5px;
    font-size: 14px;
    margin-top: 4px;
  }
}
.progress {
  margin: 0;
}
.images-container {
  .flex();
  flex-flow: wrap row;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-bottom: 200px;
}
.uploaded-image {
  flex-basis: 23%;
  margin-left: 1%;
  margin-right: 1%;
  text-align: center;
  height: 280px;
  margin-bottom: 25px;

  @media @desktop {
    flex-basis: 31%;
  }
  @media @tablet {
    flex-basis: 48%;
  }
  @media @phone {
    flex-basis: 98%;
  }
  .image-attributes {
    align-content: strech;
    .flex();
    .btn-group {
      flex-grow: 1;
      @media @phone {
        .dropdown-toggle {
          font-size: .8em;
        }
      }
    }
    .dropdown-toggle {
      padding-right: 0;
      padding-bottom: 2px;
      height: 35px;
      width: 100%;
    }
    .dropdown-menu.geo {
      padding:10px;
      .search {
        width: 200px;
      }
      @media @phone {
        .search {
          width: 180px;
        }
      }
    }
    .dropdown-menu > li > div.radio {
      display: block;
      padding: 3px 20px;
      clear: both;
      font-weight: normal;
      line-height: 1.42857143;
      color: #333;
      white-space: nowrap;
    }
    .remove-image-btn {
      font-size: 12px;
      .glyphicon-trash {
        position: relative;
        margin: 5px -3px auto auto;
      }
    }
  }
  .img-container {
    width:100%;
    height: 200px;
    transition: 0.2s;
    background-color: #E2E2E2;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;

    &:hover {
      background-color: black;
      transition: 0.2s;
      .exif {
        background-color: rgba(83, 83, 83, 0.58);
      }
      .remove-image-btn, .exif p {
        opacity: 1;
        transition: 0.2s;
      }
    }
  }
  img {
    width: 50%;
    height: 50%;
    position: relative;
    margin-bottom: -50px;
  }
  .glyphicon {
    margin-right: 10px;
  }
}
.exif {
  position: relative;
  text-align: left;
  padding: 1px 10px;
  transition: 0.2s;
  min-height: 60px;
  color: white;
  p {
    opacity: 0;
  }
}

.modal-xl {
  width: 90%;
  height: 90%;

  @media @phone{
    width: 100%;
    height: 95%;
    margin: 0;
  }
  &.modal-dialog {
    margin: 5vh auto auto auto;
    @media @phone {
      margin-top: 3vh;
    }
  }
  .modal-content {
    padding: 2%;
    height: 100%;
  }

}

.photoswipe-image-container {
  height: 100%;
  display: flex;
  flex-direction: column;

  @media @phone {
    .calc(height, "100% - 45px");
    margin-top: 45px;
  }
  &:hover {
    .image-title {
      opacity: 1;
      transition: 0.3s;
    }
  }

  img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;

    &.showing-info {
      transition: 0.3s;
    }
  }
  .image-title {
    position: absolute;
    color: white;
    padding: 10px 30px;
    z-index: 2323232322;
    width: 100%;
    bottom: 0;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: 0.3s;
  }
  .image-infos {
    width: 20%;
    right: -20%;
    padding: 50px 1.5% 0 2%;
    color: white;
    height: 100%;
    top: 0;
    position: absolute;
    transition: 0.3s;
    @media @tablet {
      width: 30%;
      right: -30%;
    }
    &.showing-info {
      right: 0;
      transition: 0.3s;
      background-color: #1D1D1D;
      @media @phone {
        width: 60%;
        padding: 40px 10px 0 30px;
      }
    }
    .loading-infos {
      height: 20px;
      width: 20px;
      margin: 20px auto;
    }
    .activities, .categories, .image-type, .image-infos-buttons, .settings,
    .title, .date, .description {
      margin-top: 10px;
    }
    .glyphicon {
      margin-right: 5px;
      color: gray;
    }
    .glyphicon-ok {
      color: white !important;
    }
    .glyphicon-remove {
      color: #F9ABAB;
    }
  }
}

.pswp__button.info {
  background: none !important;
  font-size: 19px;
  color: #c3c7d0;
  margin-top: -1px;
  margin-left: 3px;
  @media @phone {
    margin-top: -3px;
  }
}

.pswp__caption, .pswp__counter {
  display: none;
}

.pswp__top-bar {
  background-color: transparent;
  pointer-events: none;
}

.pswp__button {
  pointer-events: all;
}

.pswp__button, .image-infos-buttons button {
  .glyphicon {
    color: #CAD0D9;
  }
}

.view-details-btn {
  top: 1px;
  position: relative;
}
.image-infos-buttons {
  position: absolute;
  .calc(right, "35px * 3");
  top: -2px;

  @media @phone {
    top: 0;
  }

  button {
    opacity: .8;
    background-color: transparent;
    border-color: transparent;
    padding: 9px 5px 5px 5px;
    width: 44px;
    height: 44px;
    font-size: 1.25em;
    transition: .3s;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
    .glyphicon-edit, .glyphicon-eye-open {
      margin-right: 0 !important;
    }
  }
}
