.list {
  width:100%;
  padding: 2px 2px 50px 2px;
  display: flex;
  flex-flow: wrap;
  margin-left: -4px;
  margin-top: -4px;
  & + .no-results {
    display: none;
  }
}

.list-item {
  position: relative;
  cursor: pointer;
  background-color: white;
  margin-top: 4px;
  outline: none;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  transition: .2s ease-in-out;
  border: 1px solid @darkgray;


  &:active {
    -webkit-box-shadow: inset 1px 1px 8px -3px rgba(0,0,0,.75);
    -moz-box-shadow: inset 1px 1px 8px -3px rgba(0,0,0,.75);
    box-shadow: inset 1px 1px 8px -3px rgba(0,0,0,.75);
    -webkit-transition: .2s ease-in-out;
    transition: 0.2s ease-in-out;
    outline: none;
  }
  &:hover, &.highlight {
    background-color: #EFEFEF;
    transition: 0.1s ease-in-out;
    cursor: pointer;
  }

  a {
    display: block;
    transition: 0.2s;
    font-weight: normal;
    height: 100%;
    word-wrap: break-word;
    color: #767676;
    padding: 5px;

    @media @phone {
      padding: 7px;
    }

    &:hover .list-item-title {
      color: teal;
      transition: 0.1s ease-in-out;
    }

    &:focus, &:hover {
      text-decoration: none;
      outline: none;
    }
  } /*list-item a*/

  .list-item-lang {
    opacity: 0.9;
    color: @darkgray;
    white-space: nowrap;
    font-weight: normal;
  }
  .list-item-title {
    font-weight: bold;
    color: #333;
    font-size: 1.1em;
    margin-right: 5px;
    font-size: 1.1em;
    color: #333;
    p {
      line-height: normal;
      display: block;
      margin: 0;
    }
  }

  .location {
    line-height: normal;
    margin-right: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
     .value {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .list-item-title-lang {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
  }
  .elevation, .waypoint-elevation .glyphicon {
    margin-top: -1px;
  }
  .list-item-info {
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #919191;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;

    .quality, .orientations, .date,  .height-diff, .height-diff-difficulties, .elevation, .waypoint-elevation {
      white-space: nowrap;
      .glyphicon {
        margin-right: 3px;
      }
    }
    .elevation, .height-diff, .height-diff-difficulties, .orientations, .icon-rating, .rating {
      margin-right: 3px;
      align-self: center;
    }
    .icon-rating {
      font-size: 1.4em;
      margin-bottom: 5px;
    }
    .full-rating {
      flex-wrap: wrap;
      align-items: baseline;
      .glyphicon {
        font-size: 1.3em;
        margin-left: -3px;
        margin-right: 3px !important;
      }
      .value {
        transition: .2s;
        &:hover {
          color: gold;
        }
      }
    }
    .glyphicon, [class*="icon-"]:not(.activity):not(.waypoint-type) {
      color: @bright-green;
    }
    .route-infos {
      > span {
        margin-right: 2px;
      }
    }
  }/*list-item-info*/
  .show-more-activities:hover {
    color: teal;
  }
  .activities .activity {
    font-size: 2.2em;
    color: @C2C-orange;
  }
  .set-main-waypoint {
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 3px 10px;
    max-height: 26px;
  }

  // .list-item.waypoints
  &.waypoints {

    .waypoint-type {
      font-size: 2em;
      color: @C2C-orange;
      margin: 5px;
      @media @phone {
        margin-left: 10px;
      }
    }
    .list-item-info {
      flex: 1;
    }
    .waypoint-infos {
      width: ~"calc(100% - 20px)";
      display: flex;
      align-items: baseline;
      flex-wrap: wrap;
    }
  }
  // .list-item.books
  &.books {
    .author {
      line-height: normal;
      width: ~"calc(100% - 30px)";
    }
    .glyphicon-pencil {
      color: @lightgray !important;
    }
    .book-type {
      color: @bright-green;
    }
  }
  // .list-item.main-waypoint
  &.main-waypoint {
    border: 2px solid @bright-green;
  }
  // .list-item.images
  &.images  {
    min-height: 170px;
    a {
      display: flex;
      flex-flow: wrap;
    }
    .list-item-info {
      align-self: flex-start;
    }
    .image {
      width: 100%;
      height: 150px;
      background-position: 50% 40%;
      background-repeat: no-repeat;
    }
  }
  // .list-item.outings
  &.outings {
    max-height: 150px;
    .activities {
      margin-right: 5px;
      width: 120px;
    }
    .activity-author {
      width: ~"calc(100% - 20px)";
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      .condition-rating {
        width: 1.2em;
        height: 1.2em;
        align-self: flex-end;
        margin: 2px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        border: 1px solid @lightgray;
        flex-shrink: 0;
        &.excellent {
          background: #008000;
        }
        &.good {
          background: #9ACD32;
        }
        &.average {
          background: #FFFF00;
        }
        &.poor {
          background: #FF0000;
        }
        &.awful {
          background: #8B0000;
        }
      }
    }
    .author-name {
      font-weight: bold;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .list-item-info {
      justify-content: flex-start;
      width: ~"calc(100% - 50px)";
      align-self: flex-start;
    }
    .outing-author {
      color: @gray;
      align-items: flex-end;
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;
      overflow: hidden;
    }
    .glyphicon-trash {
      top: ~"calc(100% - 60px)";
    }
    .date-location {
      justify-content: space-between;
    }

  } // end outing cards

&.routes {

    .list-item-info {
      .location {
        width: 100%;
      }
    }
    .quality {
      font-size:1.2em;
      }
  } // end routes card

  // .list-item.highlight
  &.highlight a .list-item-title {
    color: teal;
    transition: 0.1s ease-in-out;
  }
  // .list-item.users
  &.users {
    .list-item-info {
      justify-content: center;
    }
    .icon-user {
      font-size: 2.5em;
      color: @gray !important;
    }
    button {
      float: right;
      margin: 5px;
    }
  }
} /* list-item*/


.documents-list-section-container {
  display: flex;

  &.no-map {
    .page-main-title, .documents-list-section {
      flex-basis: 100%;
    }
  }
  &.no-list .documents-list-section {
    flex-basis: 0;
  }
  .no-list-btn, .switch-list-btn {
    padding: 7px 5px 6px 5px;
  }

}
.documents-list-section, .not-found-section, .map-right .map {
  margin-top: @page-main-title-height;
  height: ~"calc(100vh - @{page-header-height} - @{page-main-title-height})";
}

.documents-list-section, .not-found-section {
  background-color: rgba(206,206,206,.38);
  overflow: auto;
  flex-basis: @list-width;
  transition: .3s;

  @media @phone {
    flex-basis: 100%;
    padding-top: 35px;
    height: ~"calc(100vh - 92px)";
  }
  .show-documents-filters-phone {
    display: none;
    height: 33px;
    margin-right: 5px;
    float: right;

    @media @phone {
      display: block;
    }
  }
}

.list-item {
  flex: 1 1 300px;
  min-width: 0;
  margin-top: 6px;
  margin-left: 6px;

  // http://stackoverflow.com/a/22018710
  &:empty {
    min-height: 0;
    height: 0;
    border: none;
  }
}

.list.users,
.list.areas {
  .list-item {
    flex: 1 0 200px;
    min-width: 0;
  }
}

.section.associations .list-item, .view-details-section .list-item {
  font-size: 0.9em;
  &.new-outing a, &.new-route a {
    display: flex;
    align-items: center;
  }
  &.waypoints  {
    &.to-route {
      min-height: 115px;
      flex-wrap: wrap;
      display: flex;
      app-card {
        flex-basis: 100%;
      }
    }
    a {
      height: auto;
    }
  }
}

#feed .list-item {
  margin-left: 0;
  padding: 7px;
  max-height: 150px;
  &.waypoints .waypoint-type {
    flex-basis: 10%;
    @media @phone {
      flex-basis: 0;
    }
  }
  &.outings {
    border-color: @C2C-orange;
    .activities {
      margin-bottom: 0;
    }
    .author-name {
      display: none;
    }
    .date-icon {
      margin-right: 10px;
      margin-top: 2px;
      margin-bottom: 2px;
      width: 50px;
      height: 55px;
      .month {
        padding-top: 22px;
      }
    }
  }
}

.list.advanced-search {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
  font-size: 0.9em;
}


.row-list {
  .margin-t-sm {
    margin-top: 0px;
  }
  .margin-b-sm {
    margin-bottom: 0px;
  }
  flex-direction: row;
  .list-item {
    flex-direction: row;
    flex: 1 1 100%;
    margin-top: 3px;
    a {
      padding: 0px;
    }
  }
  .list-item-info {
    align-self: center;
    flex-direction: row;
  }
  .elevation, .waypoint-elevation, .height-diff, .height-diff-difficulties {
    width: 65px;
  }
  .activities {
    flex-shrink: 0;
    font-size: 0.9em;
    width: 150px;
  }
  .list-item-title-lang {
    width: 30%;
    @media @big {
    width: 40%;
  }
    flex-shrink: 0;
    margin-left: 2px;
  }
  .article-type {
    width: 100px;
    align-self: center;
  }
  .article-categories, .book-types {
    width: ~"calc(60% - 250px)";
    align-self: center;
  }
  .author {
    margin-right: 20px;
    justify-content: flex-start;
    align-self: center;
    width: 200px;
  }
  .waypoint-items-infos {
    .list-item-info {
      .list-item-title-lang {
        width: 50%;
        @media @big {
          width: 60%;
        }
        flex-shrink: 0;
      }
      .location {
        width: 30%;
      }
    }
  }

  .date-outing-item-infos {
    flex-direction: row;
    .outing-item-infos {
      flex-direction: row;
      width: 75%;
      .date-icon {
        box-shadow: unset;
        width: 80px;
        height: unset;
        margin: 5px;
        align-self: center;
        * {
          display: inline;
        }
        .day {
          position: unset;
          background-color: unset;
        }
        .month {
          position: unset;
        }
        .year {
          position: unset;
          font-size: 0.9em
        }
      }
      .list-item-info {
        .list-item-title-lang {
          margin-left: 2px;
          width: 80%;
          @media @big {
            width: 70% ;
          }
          flex-shrink: 0;
        }
        .location {
          width: ~"calc(20% - 70px)";
          @media @big {
            width: ~"calc(30% - 70px)";
          }
          max-width: 250px;
          @media @big {
            max-width: 300px;
          }
          flex-shrink: 0;
          align-self: center;
        }
      }
    }
    .activity-author {
      width: 25%;
      align-self: center;
      max-width: 300px;
      .condition-rating {
        order: 0;
	margin-left: 7%;
	margin-right: 7%;
        align-self: center;
      }
      .outing-author {
        order: 1;
        margin-right: 20px;
        justify-content: flex-start;
        align-self: center;
      }
      .activities {
        order: 1;
        width: 90px;
      }
    }
  }
  .route-item-infos {
    flex-direction: row;
    .list-item-info {
      .list-item-title-lang {
        width: ~"calc(80% - 300px)";
        @media @big {
          width: ~"calc(70% - 400px)";
        }
        flex-shrink: 0;
        margin-left: 2px;
      }
      .location {
        width: 20%;
        @media @big {
          width: 30% ;
        }
        max-width: 250px;
        @media @big {
          max-width: 300px;
        }
        flex-shrink: 0;
        align-self: center;
      }
      .orientations {
        width: 5em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .full-rating {
        flex-shrink: 0;
      }
    }
    .activities {
      width: 120px;
    }
  }
}

.list-item-info .slackline-type {
  color: @bright-green;
}

.card-list {
  display: none ;
  @media @tablet {
    display: inherit ;
  }
  @media @desktop {
    display: inherit ;
  }
  @media @big {
    display: inherit ;
  }
}

.associated-documents {
  .location {
    display: none;
  }
}
.view-details-section.images .location {
  display: inherit ;
}

.no-map-btn {
    position: absolute;
    top: ~"calc(100% - 80px)";
    right: 10px;
    z-index: 2;
    margin-left: 10px;
    .glyphicon {
      color: white;
    }
  }
