.map {
  margin:0;
  position: relative;
}

app-baselayer-selector {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 2;
}

app-geolocation {
  position: absolute;
  bottom: 10px;
  left: 100px;
  z-index: 2;
}
