#user-profile-data {
  app-feed {
    background: transparent;
  }
  #feed {
    padding: 0px;
    .feed-title {
      padding-left: 10%;
    }
    .feed-list {
      margin-bottom: 50px;
    }
    .feed-list:before, .timeline-bullet {
      left: 11%;
    }
    .feed-list-item {
      width: 65%;
      margin-left: 20%;
    }
    .list-item {
      width: 100%;
      margin-left: 0;
    }

    @media (max-width: 1400px) {
      width: 100%;
      margin-left: 0;
    }
    @media @phone {
      .feed-list-item {
        margin-left: 0;
        width: 100%;
      }
    }
  }
}
