@import "variables.less";

/* Hide for mobile, show later */
@menu-width: 200px;
@menu-translation: @menu-width + 2px; // 2px for safety
#sidemenu {
  transition: transform 0.3s;
  transform: translate3d(-@menu-translation, 0, 0);
  outline: 1px solid transparent; // fix transition display bug
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1002;
  width: @menu-width;
  height: 100%;
  overflow-x: hidden;
}

/* always shown when greater than grid breakpoint */
@media (min-width: (@tablet-max + 1)) {
  #sidemenu {
    transform: translate3d(0, 0, 0) !important;
  }
}

/* whatever the screen size, sidemenu is shown when body has class .sidemenu-toggled */
body.menu-toggled #sidemenu {
  transform: translate3d(0, 0, 0);
}

#content-toggled {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1001;
  cursor: pointer;
  background-color: black;
  opacity: 0;
  transition: opacity 0.3s;
}

body.menu-toggled #content-toggled {
  opacity: 0.1;
}

#sidemenu {
  color: @darkgray;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  margin: 0;
  white-space: nowrap;
  font-size: 1em;

  .page-menu {
    width: 100%;
  }

  @media (max-height: 400px) {
    overflow-y: auto;

    ul li {
      font-size: 0.9em;

      > a {
        padding-top: 6px !important;
        padding-bottom: 6px !important;
      }
    }

    footer {
      position: relative;
      margin-top: 20px;
    }

    .logo {
      width: 100px;
    }
  }

  @media (max-height: 745px) {
    .advertisement {
      display: none !important;
    }
  }

  @media (max-height: 770px) {
    .version {
      display: none !important;
    }
  }

  .logo {
    width: 140px;
    margin-left: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  ul {
    margin: 0;
  }

  /*discourse only*/
  .lang {
    display: none;
  }

  .glyphicon {
    color: @darkgray;
  }

  .menu-text {
    margin-left: 10px;
  }

  .glyphicon-home,
  .glyphicon-arrow-right,
  .glyphicon-info-sign,
  .glyphicon-warning-sign,
  .glyphicon-time,
  .glyphicon-comment {
    color: @bright-green;
  }

  a:hover:not(.homepage) {
    background-color: @C2C-orange;
    color: white;
    cursor: pointer;

    .glyphicon {
      color: white;
    }
  }

  a:focus:not(.homepage) {
    background-color: rgba(255, 189, 84, 0.61);
    outline: none;
  }

  li.main-menu {
    display: block;
    border-top: 1px solid #ccc;

    &:hover {
      cursor: pointer;
    }

    a {
      padding: 10px 15px;
      color: @darkgray;
      display: flex;
    }
  }

  a:hover {
    text-decoration: none;
  }

  .show-locale {
    display: block;
  }

  body.menu-toggled #sidemenu {
    .menu-text:not(.hidden-locale),
    .logo {
      display: inline !important;
    }

    .advertisement,
    .version {
      display: block;
    }

    .social-networks {
      display: block;
    }

    .footer-nav {
      display: flex !important;
    }
  } /* menu-open*/
}  /*sidemenu*/

/*only in discourse*/
.navigation-categories .menu-open-close.header {
  position: fixed;
  left: 120px;
  top: 20px;
  font-size: 20px;
  z-index: 2000;
  color: #999;
  display: none !important;
  padding: 0;

  &:hover {
    color: @gray;
    cursor: pointer;
  }

  @media (max-width: @phone-max) {
    display: block !important;
  }
}

.homepage {
  margin-left: 25px;

  @media (max-width: @tablet-max) {
    margin-left: 0;
  }
}

.menu-open-close.menu {
  display: none;
  margin: auto;
  position: relative;
  z-index: 2;
  width: 40px;
  height: 40px;
  background-color: white;
  outline: none;
  border: none;

  @media (max-width: @tablet-max) {
    display: inline;
    top: -15px;
    left: 5px;
  }

  span {
    display: block;
    position: absolute;
    top: 18px;
    left: 7px;
    right: 7px;
    height: 4px;
    background: @C2C-orange;
    transform: rotate(180deg);

    &::before,
    &::after {
      position: absolute;
      display: block;
      left: 0;
      width: 50%;
      height: 4px;
      background-color: @C2C-orange;
      content: "";
    }

    &::before {
      top: 0;
      transform-origin: top right;
      transform: translateX(16px) translateY(2px) rotate(45deg);
    }

    &::after {
      bottom: 0;
      transform-origin: bottom right;
      transform: translateX(16px) translateY(-2px) rotate(-45deg);
    }
  }
}

.menu-open-close.header {
  display: none;
  position: fixed;
  top: 6px;
  left: 5px;
  z-index: 31;

  @media (max-width: @tablet-max) {
    display: block;
  }
}

.menu-selected {
  text-decoration: none;
  background-color: @bright-green !important;
  transition: 0.1s;

  .glyphicon,
  a {
    color: white !important;
    font-weight: bold;
  }
}

footer {
  font-size: 0.8em;
  position: absolute;
  width: 100%;
  bottom: 15px;

  a:hover {
    background-color: initial !important;
    color: inherit !important;
  }

  [class^="icon"] {
    font-size: 2.5em;
  }

  .icon-twitter {
    color: #4099ff;
  }

  .icon-google-plus {
    color: #dd4b39;
  }

  .icon-facebook {
    color: #6d8bc9;
  }

  .footer-nav {
    list-style: none;
    width: 100%;
    margin-top: 20px;
    padding: 0 5px;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;

    .bullet {
      margin: 0 5px 0 5px;
    }

    li {
      cursor: pointer;
      transition: 0.2s ease-in-out;

      &:hover {
        color: @C2C-orange;
        transition: 0.1s ease-in-out;
      }
    }
  }

  .version {
    width: 100%;
    text-align: center;

    a {
      font-size: 0.8em;
      color: fade(#337ab7, 40%);
    }
  }

  .advertisement {
    text-align: center;
    margin-bottom: 20px;
  }

  .social-networks {
    width: 100%;
    margin-top: 10px;

    .icons {
      font-size: 1em;
      width: 100%;
      display: flex;
      flex-flow: wrap row;
      justify-content: space-around;
    }

    a {
      margin-top: 5px;
    }
  }
}

.logo.header {
  position: fixed;
  display: none;
  margin-left: 10px;
  margin-bottom: 6px;
  z-index: 34;
  width: 80px;

  @media (max-width: @tablet-max) {
    margin-left: @menu-width-tablet + 10;
    display: block;
    top: 4px;
    left: 0;
  }

  img {
    height: 39px;
  }
}
