@import "variables.less";

.sticky-filters-btn-container {
  position: fixed !important;
  font-size: 20px;
  z-index: 29;
  top: @page-header-height - 1;
  height: 40px;
  left: @menu-width;
  padding-left: 10px;
  padding-top: 2px !important;
  background-color: #DDDDDD;
  text-align: left;

  @media @tablet {
    left: @menu-width - (@menu-width - @menu-width-tablet);
  }
  @media @phone {
    font-size: 1.2em;
    left: 0;
    padding-top: 0;
    width: 100%;
    height: 40px;

    .more-filters-btn {
      margin: 6px !important;
    }
  }
  .more-filters-btn {
    height: 30px;
    padding: 0 10px;
    margin: 3px !important;
  }
}

.sticky-filters-moreFilters {
  position: fixed !important;
  top: @page-header-height - 1 !important;
  margin-top: 0 !important;
  max-height: -moz-calc(~"100vh -"  @page-header-height) !important;
  max-height: -webkit-calc(~"100vh -"  @page-header-height) !important;
  max-height: -o-calc(~"100vh -"  @page-header-height) !important;
  max-height: calc(~"100vh -"  @page-header-height) !important;

  @media @phone {
    top: 90px;
  }
}

.overflow-scroll {
  overflow-y: scroll;
}