@import "variables.less";

.sticky-filters-btn-container {
  position: fixed !important;
  font-size: 20px;
  z-index: 1;
  top: @page-header-height;
  height: 40px;
  left: @menu-width;
  padding-left: 10px;
  background-color: #DDDDDD;
  text-align: left;

  @media @tablet {
    left: @menu-width - (@menu-width - @menu-width-tablet);
  }
  @media @phone {
    font-size: 1.2em;
    left: 0;
    padding-top: 0;
    width: 100%;
    top: 50px;
    height: 40px;
  }
  .more-filters-btn {
    margin: 3px !important;
  }
}
.sticky-filters-moreFilters {
  position: fixed !important;
  top: @page-header-height !important;
  overflow-y: scroll;
  height: -moz-calc(~"100vh -"  @page-header-height) !important;
  height: -webkit-calc(~"100vh -"  @page-header-height) !important;
  height: -o-calc(~"100vh -"  @page-header-height) !important;
  height: calc(~"100vh -"  @page-header-height) !important;

  @media @phone {
    top: 90px;
  }
}

.overflow-scroll {
  overflow-y: scroll;
}