@big: ~"only screen and (min-width: 1400px) and (max-width: 3000px)";
@desktop: ~"only screen and (min-width: 1100px) and (max-width: 1399px)";
@tablet: ~"only screen and (min-width: 701px) and (max-width: 1099px)";
@phone: ~"only screen and (max-width: 700px)";
@phone-max: 700px;
@tablet-max: 1100px;
@large-width: 1800px;
@lightgrey: #F0F0F0;
@C2C-orange: #FFAA45;
@bg-color1 : #ebe4d1;
@page-header-height: 48px;
@menu-width: 250px;
@menu-width-tablet: 50px;
@bright-green: #A9D361;
@float-buttons-bar-height: 65px;
@list-width: 60%;
@body-color: #FBFAF6;
@page-main-title-height: 30px;

.shadow(@right, @bottom, @spread, @color) {
  -moz-box-shadow: @right @bottom @spread @color;
  -webkit-box-shadow: @right @bottom @spread @color;
  box-shadow: @right @bottom @spread @color;
}
.flex(){
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

.calc(@prop; @val) {
  @{prop}: calc(~'@{val}');
  @{prop}: -moz-calc(~'@{val}');
  @{prop}: -webkit-calc(~'@{val}');
  @{prop}: -o-calc(~'@{val}');
}
