@phone-max: 768px;
@tablet-min: (@phone-max + 1px);
@tablet-max: 1099px;
@desktop-min: (@tablet-max + 1px);
@desktop-max: 1599px;
@big-min: (@desktop-max + 1px);
@phone: ~"only screen and (max-width: @{phone-max})";
@tablet: ~"only screen and (min-width: @{tablet-min}) and (max-width: @{tablet-max})";
@desktop: ~"only screen and (min-width: @{desktop-min}) and (max-width: @{desktop-max})";
@big: ~"only screen and (min-width: 1600px)";

@desktop-little-min: @desktop-min;
@desktop-little-max: 1399px;
@desktop-medium-min: (@desktop-little-max + 1px);
@desktop-medium-max: @desktop-max;
@verybig-min: 2000px;
@desktop-little: ~"only screen and (min-width: @{desktop-little-min}) and (max-width: @{desktop-little-max})";
@desktop-medium: ~"only screen and (min-width: @{desktop-medium-min}) and (max-width: @{desktop-medium-max})";
@verybig: ~"only screen and (min-width: @{verybig-min})";

@lightgray: #f0f0f0;
@gray: #a9a9a9;
@darkgray: #6d6d6d;
@C2C-orange: #ffaa45;
@bg-color1: #fbfbfb;
@page-header-height: 48px;
@menu-width: 190px;
@menu-width-tablet: 50px;
@bright-green: #a9d361;
@darkolivegreen: #556b2f;
@plum: #dda0dd;
@tomato: #ff6347;
@darkcyan: #008b8b;
@indigo: #4b0082;
@float-buttons-bar-height: 65px;
@list-width: 60%;
@body-color: #fbfaf6;
@content-color: #f1f1f1;
@page-main-title-height: 30px;
@gray-bg: #cecece80;
@gray-border-card: #5a5e6b;
