@import "variables.less";

.view-details-associations .section,  .view-details-informations, #document-informations, .name-icon,
.view-details-associations .associated-documents {
  .flex();
  flex-flow: wrap row;
}

.view-details-title {
  margin-top: 60px;
  margin-bottom: 5px;

  @media @phone {
    margin-top: 55px;
    margin-bottom: 0;
  }
  @media @tablet {
    margin-top: 50px;
  }
  &.image {
    margin-bottom: 30px;
  }
  .outing-date {
    font-size: 2.2em;
    color: darkgray;
    text-align: center;
    @media @phone {
      font-size: 1.5em;
    }
  }
  >h1 {
    .flex();
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 80%;
    text-align: center;
    transition: 0.4s;
    margin-top: -5px;
    font-size: 2.5em;


    @media @phone {
      font-size: 2em;
      margin: 10px 0 5px 10px;
    }
    @media @tablet {
      font-size: 2em;
      line-height: 35px;
    }

    &.routes {
      .flex();
      align-items: center;
      justify-content: center;
      width: 99%;
      .title {
        max-width: 70%;
        margin-right: 10px;
      }
      .icons-header {
        font-size: 1.5em;
        margin-right: 10px;
        @media @phone {
          margin-right: 5px;
          width: 150px;
        }
      }
    }

    .waypoint-type {
      margin-right: 10px;
      font-size: 1.3em;
      color: @C2C-orange;
    }
    .badge {
      font-size: 0.5em;
      margin-right: 10px;
      margin-left: 10px;
      padding-bottom: 6px;
      margin-top: 5px;
      cursor: pointer;

      a {
        color: white;
        cursor: pointer;
        text-decoration: none;
      }

      @media @phone {
        display: none;
      }

      .glyphicon {
        color: white;
      }
      &.route {
        background-color: @brand-info;
      }
      &.waypoint {
        background-color: @bright-green;
      }
    }
  }
  .icons-header {
    margin-right: 30px;
    .flex();
    flex-flow: wrap row;
    justify-content: center;
    font-size: 4em;
    .route-activity, .waypoint-type {
      color: @C2C-orange;
    }
    @media @big {
      font-size: 4.5em;
    }
    @media @phone {
      font-size: 2em;
      margin-right: 5px;
    }
  }
}

.view-details-not-authorised {
  height: 100px;
  padding-top: 15px;
  margin-top: 10px;
  width: 100% !important;
}

.view-details-section {
  height: 73%;
  margin-left: 3%;
  width: 91%;
  padding-bottom: 266px;
  overflow: hidden;

  @media @phone {
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }
  @media @big {
    margin-left: 4%;
    width: 89%;
  }
  &.images, &.articles {
    margin-top: 0;
  }

  .view-details-photos {
    width: 90% !important;
    margin-right: 5%;
    padding: 10px 0 10px 0;
    height: 170px;
    @media @phone {
      width: 88% !important;
      margin-right: 6%;
    }
    .photos {
      img {
        height: 150px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin-left: 5px;
        margin-right: 5px;
      }
    }
    .slick-prev, .slick-next {
      width: 40px;
      height: 100%;
      &:before {
        font-size: 30px;
        color: @C2C-orange;
      }
    }
    .slick-prev {
      left: -40px;
      @media @phone {
        left: -35px;
      }
    }
    .slick-next {
      right: -40px;
      @media @phone {
        right: -35px;
      }
    }
  }
  .view-details-description, .view-details-other,  .view-details-info, .view-details-associations, .view-details-photos,
  .view-details-comments, .view-details-not-authorised {
    padding-left: 0;
    padding-right: 0;
    background: white;
    margin-bottom: 10px;
    border-radius: 5px;
    float: right;
    border: 1px solid #eee;

    @media @phone {
      border-width: 2px;
    }

    @media @big {
      width: 71.5%;
      margin-left: 2.5%;
    }

    h2 {
      text-align: left;
    }
    .heading {
      margin-top: 0;
    }
    .lead {
      width: 100%;
      word-break: break-word;
      float: left;
      padding: 15px 20px;
      margin-bottom: 0;
      font-size: 1.2em;

      @media (max-width: @screen-xs-max) {
        padding: 10px;
      }
    }
    .conditions-levels {
      font-size: 1em;
      th {
        line-height: 16px;
        color: #8D8D8D;
        font-variant: small-caps;
      }
    }
  }

  .view-details-associations {
    background: white;
    width: 100%;
    border: 1px solid #eee;

    @media @big {
      section article {
        min-width:  48%;
        margin-left: 0.5%;
        margin-right: 0.5%;
        flex-grow: 1;
      }
    }
    .add-association {
      float: left;
    }
    .add-outing {
      float: right;
      background: #CACACA;
      margin-bottom: 10px;
      padding: .5%;
      color: white;
      border-radius: 5px;
      font-variant: small-caps;
    }
    .show-more {
      float: right;
      margin-bottom: 5px;
    }

    .outings {
      .heading {
        background-color: gray;
      }
    }

    .heading {
      margin-top: 1%;
      border-color: #eee;
      font-size: 1.1em;
    }
    .list-item {
      &.waypoints {
        @media @big {
          width: 24%;
        }
        @media @desktop {
          width: 32%;
        }
        @media @tablet {
          width: 49%;
        }
      }
      .list-item-title {
        font-size: 0.9em;
      }
    }

    .associated-documents {
      max-height: 600px;
      overflow-y: auto;
      border: 1px solid #eee;
      padding-bottom: 10px;
      margin-bottom: 5px;
    }
  }

  .view-details-informations {
    background-color: white;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 0;
    margin-bottom: 20px;

    @media (max-width: 1400px) {
      width: 100%;
    }
    @media @big {
      width: 26%;
    }
    .value, .value-title {
      font-size: 1em;
    }
    .rating-block {
      float: left;
      margin-right: 6px;
      .flex();
      label {
        margin: 0;
        color: @bright-green;
      }
    }
    .route-activity {
      font-size: 2.5em;
      color: @bright-green;
    }

    #document-informations {
      overflow: hidden;
      width: 100%;
      @media @phone {
        display: block;
        border: 2px solid @C2C-orange;
      }
    }
    >.heading {
      margin-top:0;

      .glyphicon {
        font-size: .8em;
      }
    }
    .glyphicon-sort-by-attributes{
      transform: rotateZ(180deg);
    }
    .glyphicon {
      font-size: 2.5em;
      @media @phone {
        font-size: 1em;
      }
    }
    .icon-glacier {
      font-size: 3.3em;
      color: @C2C-orange;
    }

    .detail-text {
      width: 80%;
      margin: auto;
      text-align: left;
      line-height: 17px;
      font-size: 1.1em;

      @media @phone {
        width: 200%;
        font-size: 1em;
        display: none;
      }
      @media @tablet {
        font-size: 1em;
      }
      ul {
        padding-left: 15px;
        width: 90%;
        li {
          margin-bottom: 5px;
        }
      }
      >p, >article {
        margin-top: 3px;
        margin-bottom: 3px;
      }
      &.ratings .value {
        cursor: pointer;
        transition: .2s;
        &:hover {
          color: gold;
          transition: .2s;
        }
      }
    }

    .name-icon-value {
      .flex();
      padding: 0;
      flex-grow: 1;
      min-height: 80px;
      background-color: white;
      border-bottom: 1px solid #dfd6c5;
      transition: 0.3s;

      @media @big {
        min-width: 100%;
        min-height: 0;
        height: auto;
      }

      @media (max-width : @screen-sm-max) {
        min-width:  50%;
        padding: 0;
      }
      @media @phone {
        width: 100%;
        height: auto;
        min-height: 0;
        padding: 0;
        cursor: pointer;
        &:not(:first-of-type) {
          border-top: 1px solid #dfd6c5;
        }
      }
      .activities {
        font-size: 1.1em;
      }
      .icon-user {
        color: @C2C-orange;
      }

      &.location {
        display: none;
        @media @phone {
          .flex();
        }
        .areas {
          @media (min-width: @phone-max) {
            display: none;
          }
        }
      }
      &.maps {
        order: 10;
      }
    }

    .accordion {
      padding: 5px;

      @media @phone {
        padding-top: 1%;
      }
      @media @tablet {
        font-size: 14px;
      }
      ul {
        margin: 0;
      }
    }
    h4 {
      display: none;
      width: 100%;
      text-align: center;

      span {
        margin-right: 5px;
        transition: 0.3s;
      }
      @media @phone {
        display: block;
        font-size: 1em;
        margin-left: 10px;
      }
    }

    .name-icon {
      width: 67px;
      text-align: center;
      transition: 0.3s;
      justify-content: center;
      align-items: center;
      align-content: center;
      margin: 5px 3px 5px 10px;

      @media @phone {
        display: none;
      }
      .icon-user {
        font-size: 3em;
      }
      p {
        font-weight: bold;
        font-variant: small-caps;
      }
    }
    .coordinates-table {
      width: 180px;
      td {
        text-align: center;
        vertical-align: middle;
        padding: 1%;
      }
    }
  }
  .view-details-comments {
    @media @big {
      width: 100%;
    }

    #discourse-comments {
      text-align: center;

      .no-thread {
        display: inline-block;
        background: #CACACA;
        margin: 10px;
        padding: .5%;
        color: white;
        border-radius: 5px;
        font-variant: small-caps;
      }
    }
  }
  .area-associations {
    padding: 10px 10px 20px 10px;
    [class^="icon-"] {
      font-size: 2em;
      color: @C2C-orange
    }
  }
} /*.view-details-section*/

.view-details-map {
  height: 230px!important;
  margin-bottom: 15px;
  display: block;
  background-color: rgba(164, 164, 166, 0.24);

  @media @tablet {
    height: 200px !important;
  }
  @media @phone {
    height: 150px !important;
    margin-bottom: 0;
  }
  .map {
    height: 100%;
  }
}

.view-details-other {
  width: 100% !important;
  margin: 0 0 40px 0 !important;
}

.document-summary{
  color: #626262;
  border: 1px solid #D8D8D8;
  border-left: 0.5em solid @bright-green;
  padding: 5px 15px 5px 15px;
  background-color: rgba(168, 168, 168, 0.07);
  margin: 10px 0 10px 0;
  .shadow(0, 0, 2px, rgba(0,0,0,0.2));
  font-style: italic;

  label {
    font-style: normal;
  }
}

app-add-association {

  app-simple-search {
    margin-bottom: 20px;
    width: 346px;

    @media @phone {
      width: 100%;
    }
    @media @tablet {
      width: 100%;
    }
    .search {
      width: 100%;

    }
    .glyphicon-search {
      margin-top: 4px;
      font-size: 1.5em;
    }
    .tt-suggestion {
      border-radius: 0;
      padding: 5px !important;
    }
    p {
      margin: 0 !important;
    }
  }

}

.view-details-description, .view-details-other,  .view-details-info, .view-details-associations, .view-details-photos, .view-details-informations {
  will-change: height;
  ul li {
    list-style: none;
    &:before {
      /*Using a Bootstrap glyphicon as the bullet point*/
      content: "\e080";
      font-family: 'Glyphicons Halflings';
      font-size: 12px;
      float: left;
      margin-left: -17px;
      color: @brand-success;
    }
  }
  ul.types li {
    width: 50%;
    float: left;
  }
}

.scroll-top-btn {
  margin-top: 50px;
  margin-bottom: 25px;
}
.view-details-wrapper {
  width:  100%;
  display: inline-block;
}

.location-static {
  min-height: 80px;
  max-width: 250px;
  padding: 10px;
  position: relative;
  float: right;
  z-index: 20;
  margin-bottom: -18%;
  top: 45px;
  background: #FFFB80; /*yellow*/
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  -o-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  transform: rotate(4deg);
  .shadow(2px, 2px, 10px, rgba(33,33,33,0.4) );

  @media @tablet {
    right: 30px;
    font-size: 1em;
    max-width: 200px;
  }
  @media @phone {
    display: none !important;
  }
  @media @big {
    font-size: 1.1em;
    right: 50px;
  }
  @media @desktop {
     right: 50px;
  }

  p {
    margin-top: 2px;
    margin-bottom: 0;
  }
  ul {
    list-style: none;
    padding: 0;
    text-align: center;
    li:hover {
      cursor: pointer;
      font-weight: bold;
    }
    a {
      color: #A55944;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
.view-details-description {
  img.image {
    max-width: 100%;
  }
  @media @phone {
    min-height:  50px;
    margin-bottom: -200px;
  }
  h2 {
    margin-top: 10px;
  }
  .embedded_center {
    margin: 10px auto;
    display: block;
  }
  .embedded_left {
    float: left;
    clear: left;
    margin: 5px 25px 10px 0;
  }
  .embedded_right {
    float: right;
    clear: right;
    margin: 5px 0 10px 25px;
  }
  .embedded_inline {
    margin: 5px 25px 10px 10px;
  }
}
.show-phone.elevation {
  display: none;
  @media @phone {
     display: block;
  }
}
#detail-orientation {
  .flex();
  justify-content: center;

  @media @phone {
    justify-content: flex-start;
    display: none;
  }

  #orientation-svg{
    height: 110px;
    width: auto;
  }
}
