.finfo {
  margin-bottom: 20px;
  clear: both;
}

.rating-block {
  display: inline-block;
}

.ficontent,
.fpcontent {
  display: flex;
  align-items: center;
  background-color: #fff;
  height: 60px;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);

  .row {
    width: 100%;

    &.nomargin {
      margin: 0;
    }

    @media @phone {
      width: auto;
    }
  }

  h3,
  p {
    clear: none;
  }
}

.ficontent {
  height: auto;
  padding: 15px;

  h4 {
    [class*="icon-"] {
      color: #ffaa45;
      font-weight: bold;
      font-size: 18px;
    }
  }

  &.noflex {
    display: block;
  }

  &.max {
    height: 100%;
    padding: 15px;
  }
}

.viewdoc-bottom {
  background: @content-color;
}

.viewdoc {
  overflow: hidden;
  background: @content-color;

  @media @phone {
    .flexmobile {
      display: flex;
      flex-direction: column;

      .finfo {
        order: 0;
      }

      #route_history,
      #title-route_history {
        order: 1;
      }
    }
  }

  .quote {
    .title {
      border-left: 5px solid #ddd;
      background: #eee;
      padding: 10px 0 0 16px;

      .avatar {
        margin-right: 10px;
      }
    }
  }

  blockquote {
    font-size: 15px;
    background: #eee;
    border-left: 5px solid #ddd;
  }

  &.viewprofile {
    .ficontent {
      cursor: default;
    }
  }

  .col-lg-3 {
    .list-item {
      margin-right: 0;
    }
  }

  .editing {
    .clear {
      clear: both;
    }

    .associated-documents {
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      .list-item {
        position: relative;
      }
    }
  }

  .create-edit-document {
    h1 {
      margin-top: 0;
      padding-top: 25px;
    }

    .section .content .associated-documents {
      border: none;
      border-radius: none;
    }

    .associated-section {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 30px;

      .principal {
        text-align: center;
      }

      .glyphicon-trash {
        top: 8px;
      }
    }
  }

  &.viewroute .area {
    display: none;
  }

  .important_message {
    border: 2px solid #f93;
  }

  .important_message,
  .warning_message {
    clear: both;
    display: inline-block;
    border-radius: 8px;
    margin: 0 0 5px 0;
    min-height: 25px;
    text-align: justify;
    vertical-align: middle;
    border-collapse: collapse;
    padding: 10px;

    span {
      margin-right: 5px;
    }
  }

  .md-alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 1px;
  }

  .md-alert-info {
    border-color: #bce8f1;
    background-color: #d9edf7;
    color: #31708f;
  }

  .md-alert-warning {
    border-color: #faebcc;
    background-color: #fcf8e3;
    color: #8a6d3b;
  }

  .md-alert-danger {
    border-color: #ebccd1;
    background-color: #f2dede;
    color: #a94442;
  }

  .emoji {
    width: 20px;
  }

  app-feed { /* stylelint-disable-line selector-type-no-unknown */
    .feed-cr {
      display: none;
    }

    .feed-cl {
      width: 100%;
    }
  }

  app-activity-filter { /* stylelint-disable-line selector-type-no-unknown */
    text-align: center;

    .route-activities {
      align-content: center;
      justify-content: center;

      [class^="icon-"] {
        font-size: 2.5em;
      }
    }
  }

  #associated-routes {
    clear: both;
  }

  .document-weather {
    margin-bottom: 10px;
  }

  .fleft {
    align-items: baseline;
  }

  .toforum {
    text-align: center;
    margin-top: 20px;
  }

  .ficontent {
    .no-thread {
      text-align: center;
    }

    .ctxt {
      width: 100%;
    }

    .fportrait {
      margin: 0 16px 0 0;
    }

    .ctxt {
      .parent_top {
        .flex();

        justify-content: space-between;
        margin-bottom: 10px;

        .fdate {
          color: #aaa;
          font-size: 0.857em;
        }

        .fauthor {
          max-width: 50%;
          font-weight: bold;

          a {
            color: #000;
          }
        }
      }
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: bold;
    }

    h2 {
      font-size: 2rem;
      margin: 1.5em 0 0.5em;
    }

    h3 {
      font-size: 1.5rem;
      margin: 1.1em 0 0.4em;
    }

    h4 {
      font-size: 1.2rem;
      margin: 1.2em 0 0.5em;
    }

    h5 {
      font-size: 1.1rem;
      margin: 1em 0 0.2em;
    }

    h6 {
      font-size: 1rem;
      margin: 1em 0 0.2em;
    }

    h2:first-child,
    h3:first-child,
    h4:first-child,
    h5:first-child,
    h6:first-child,
    h2 + h3,
    h3 + h4,
    h4 + h5,
    h5 + h6 {
      margin-top: 0.6em;
    }
  }

  .detail-text {
    .route-activity {
      color: #a9d361;
      font-size: 30px;
    }
  }

  .post {
    .value {
      color: #777;
      font-weight: normal;
    }
  }

  app-simple-search { /* stylelint-disable-line selector-type-no-unknown */
    border-radius: 0;
    background: #a9d361;

    .form-control {
      border-radius: 0;
    }
  }

  app-add-association app-simple-search .search { /* stylelint-disable-line selector-type-no-unknown */
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  app-add-association app-simple-search .glyphicon-search { /* stylelint-disable-line selector-type-no-unknown */
    font-size: 1em;
  }

  .glyphicon-menu-down {
    margin-left: 10px;
  }

  .lead {
    section {
      clear: both;
    }
  }

  .row-list.view-details-section {
    .associated-documents {
      margin-bottom: 20px;
      margin-top: 6px;
      clear: both;

      &.area {
        .list-item {
          a {
            text-align: center;
          }
        }
      }
    }
  }

  .row-list .list-item.new-outing {
    margin-top: 20px;
  }

  .row-list {
    .orange-btn.pull-right,
    app-list-switch.pull-right { /* stylelint-disable-line selector-type-no-unknown */
      margin-top: -5px;
      margin-bottom: 5px;
    }

    .list-item {
      margin: 0;
    }
  }

  .orange-btn .glyphicon {
    margin-right: 0;
  }

  a {
    text-decoration: none;
  }

  .orientation-svg {
    height: 110px;
  }

  .ficontent,
  .fpcontent {
    h3 {
      clear: none;
      text-align: left;
    }
  }

  .value {
    color: #387ef5;
    word-wrap: break-word;
  }

  .value-title {
    font-weight: normal;
  }

  h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
    clear: both;

    @media @phone {
      text-align: center;
      width: 100%;
    }
  }

  .view-details-map {
    margin-bottom: 15px;
    padding-top: 75%;
    width: 100%;
    position: relative;
    display: block;

    .map {
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  .moz {
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    background: transparent;
    border-bottom: none;

    app-slide-info { /* stylelint-disable-line selector-type-no-unknown */
      display: none;
    }

    figure {
      width: 33.33%;

      @media @desktop {
        width: 50%;
      }
    }

    .fullimg {
      width: 100%;
    }

    a {
      width: 100%;
      padding: 1px;
      display: block;

      img {
        width: 100%;
      }
    }
  }

  header.view-title-with-bg,
  header.view-title-without-bg {
    position: relative;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media @desktop-little {
      height: 350px;
    }

    .outing-date {
      font-size: 0.7em;
      color: #fff;
      text-align: center;
      margin-top: 10px;
    }

    .view-image-bg {
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      height: 500px;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center bottom;

      @media @desktop-little {
        height: 350px;
      }

      .view-filter-bg {
        background-color: rgba(0, 0, 0, 0.4);
        position: absolute;
        width: 100%;
        height: 100%;
        transition: background-color 0.2s ease;
      }

      .view-filter-bg:hover {
        background-color: transparent;
      }
    }

    h1 {
      position: relative;
      text-align: center;
      color: #fff;
      font-size: 2.8em;

      .waypoint-type {
        color: @C2C-orange;
        background: #fff;
        border-radius: 25px;
        padding: 5px;
        font-size: 35px;
      }

      .icons-header {
        margin: 10px 0 0;

        .route-activity,
        .waypoint-type {
          color: @C2C-orange;
          background: #fff;
          border-radius: 20px;
        }
      }

      .badge {
        font-size: 0.5em;
        margin-right: 10px;
        margin-left: 10px;
        padding-bottom: 6px;
        margin-top: 5px;
        cursor: pointer;

        &.route,
        &.article,
        &.book,
        &.image,
        &.outing,
        &.outing,
        &.xreport,
        &.waypoint,
        &.area {
          a {
            .glyphicon {
              color: #fff;
            }

            color: #fff;
            text-decoration: none;
          }
        }

        &.route {
          background-color: @brand-info;
        }

        &.article {
          background-color: @darkcyan;
        }

        &.book {
          background-color: @plum;
        }

        &.image {
          background-color: @darkolivegreen;
        }

        &.outing {
          background-color: @indigo;
        }

        &.xreport {
          background-color: @tomato;
        }

        &.waypoint {
          background-color: @bright-green;
        }
      }
    }
  }

  header.view-title-with-bg {
    @media @phone {
      height: auto;
      padding-top: 30px;

      .view-image-bg {
        display: none;
      }

      h1 {
        position: relative;
        color: #000;
        top: auto;

        .icons-header {
          display: none;
        }

        .outing-date {
          color: #6d6d6d;
        }
      }
    }
  }

  header.view-title-without-bg {
    height: auto;
    padding-top: 30px;

    h1 {
      position: relative;
      color: #000;
      top: auto;

      .icons-header {
        display: none;
      }

      .waypoint-type {
        color: @C2C-orange;
        background: #fff;
        border-radius: 25px;
        padding: 5px;
        font-size: 35px;
      }

      .outing-date {
        color: #6d6d6d;
      }
    }
  }

  .associated-documents {
    .post {
      .infoa {
        font-size: 12px;
      }

      .parent-infop-first {
        font-size: 13px;
      }

      .parent-infop .parent-bubble .bubble {
        font-size: 13px;
      }
    }

    &.area {
      .list-item {
        text-align: center;

        span {
          display: block;
        }
      }
    }
  }

  .new-outing {
    flex-direction: column;
  }

  @media @phone {
    .view-details-section {
      padding: 0 0 70px 0;
      background: #f1f1f1;
    }
  }
}

.name-icon {
  display: flex;
  flex-flow: wrap column;
}

.view-details-title {
  margin-top: 60px;
  margin-bottom: 5px;

  @media @phone {
    margin-top: 55px;
    margin-bottom: 0;
  }

  @media @tablet {
    margin-top: 50px;
  }

  &.image {
    margin-bottom: 30px;
  }

  .outing-date {
    font-size: 2em;
    color: @darkgray;
    text-align: center;
  }

  > h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 80%;
    text-align: center;
    transition: 0.4s;
    margin-top: -5px;
    font-size: 2.5em;

    @media @phone {
      font-size: 2em;
      margin: 10px 0 5px 10px;
    }

    @media @tablet {
      font-size: 2em;
      line-height: 35px;
    }

    &.routes {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 99%;

      .title {
        max-width: 70%;
        margin-right: 10px;

        @media @phone {
          max-width: none;
        }
      }

      .icons-header {
        font-size: 1.5em;
        margin-right: 10px;

        @media @phone {
          margin-right: 5px;
        }
      }
    }

    .waypoint-type {
      margin-right: 10px;
      font-size: 1.3em;
      color: @C2C-orange;
    }

    .badge {
      font-size: 0.5em;
      margin-right: 10px;
      margin-left: 10px;
      padding-bottom: 6px;
      margin-top: 5px;
      cursor: pointer;

      a {
        color: white;
        cursor: pointer;
        text-decoration: none;
      }

      @media @phone {
        display: none;
      }

      .glyphicon {
        color: white;
      }

      &.article {
        background-color: @darkcyan;
      }

      &.book {
        background-color: @plum;
      }

      &.image {
        background-color: @darkolivegreen;
      }

      &.outing {
        background-color: @indigo;
      }

      &.route {
        background-color: @brand-info;
      }

      &.xreport {
        background-color: @tomato;
      }

      &.waypoint {
        background-color: @bright-green;
      }
    }
  }

  .icons-header {
    margin-right: 30px;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    font-size: 3.5em;

    .route-activity,
    .waypoint-type {
      color: @C2C-orange;
    }

    @media @desktop {
      font-size: 2.8em;
    }

    @media @big {
      font-size: 3em;
    }

    @media @phone {
      font-size: 2em;
      margin-right: 5px;
    }
  }
}

.view-details-not-authorised {
  height: 100px;
  padding-top: 15px;
  margin-top: 10px;
  width: 100% !important;
}

.view-details-section {
  display: inline-block;
  margin-left: 3%;
  width: 91%;
  margin-top: 20px;
  padding-bottom: 100px;

  @media @phone {
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .view-details-comments,
  .view-details-not-authorised {
    padding-left: 0;
    padding-right: 0;
    background: white;
    margin-bottom: 10px;
    border-radius: 5px;
    float: right;
    border: 1px solid #eee;

    @media @phone {
      border-width: 2px;
    }

    @media @big {
      width: 71.5%;
      margin-left: 2.5%;
    }

    h2 {
      text-align: left;
    }

    .heading {
      margin-top: 0;
    }

    .lead {
      width: 100%;
      word-break: break-word;
      float: left;
      padding: 15px 20px;
      margin-bottom: 0;
      font-size: 1em;

      @media (max-width: @screen-xs-max) {
        padding: 10px;
      }
    }
  }

  .conditions-levels {
    th {
      line-height: 16px;
      color: #8d8d8d;
      font-variant: small-caps;
    }

    @media @phone {
      thead {
        display: none;
      }

      tbody,
      tr,
      th,
      td {
        display: block;
        padding: 0;
        text-align: left;
        white-space: normal;
      }

      tr {
        overflow: hidden;
        margin-bottom: 30px;
        background-color: inherit;
      }

      td {
        border-top: 0;
        padding-left: 10px;
      }

      td[data-title]::before {
        content: attr(data-title);
        display: block;
        color: #8d8d8d;
        padding: 3px 10px;
        margin-left: -10px;
        font-variant: small-caps;
        font-weight: bold;
        border-bottom: 1px solid #ddd;
      }
    }
  }

  &.images {
    @media @big {
      .name-icon-value {
        min-height: 80px;
        min-width: auto;
      }
    }
  }

  .view-details-comments {
    @media @big {
      width: 100%;
    }

    #discourse-comments {
      text-align: center;
      padding: 20px;

      .no-thread {
        display: inline-block;
        background: #cacaca;
        padding: 5px;
        color: white;
        border-radius: 5px;
        font-variant: small-caps;
      }
    }
  }

  .area-associations {
    padding: 10px 10px 20px 10px;

    [class^="icon-"] {
      font-size: 2em;
      color: @C2C-orange;
    }
  }

  .other-langs {
    clear: both;
  }
}

.view-details-map {
  height: 230px !important;
  margin-bottom: 15px;
  display: block;
  background-color: rgba(164, 164, 166, 0.24);

  @media @tablet {
    height: 200px !important;
  }

  @media @phone {
    height: 150px !important;
    margin-bottom: 0;
  }

  .map {
    height: 100%;
  }
}

.no-map {
  .view-details-map {
    display: none;
  }
}

.map-block {
  margin-bottom: 10px;
}

.document-summary {
  color: #626262;
  border: 1px solid #d8d8d8;
  border-left: 0.5em solid @bright-green;
  padding: 10px 15px 5px 15px;
  background-color: rgba(168, 168, 168, 0.07);
  margin: 10px 0 10px 0;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  font-style: italic;

  label {
    font-style: normal;
  }
}

app-add-association { /* stylelint-disable-line selector-type-no-unknown */
  app-simple-search { /* stylelint-disable-line selector-type-no-unknown */
    margin-bottom: 20px;
    width: 346px;

    @media @phone {
      width: 100%;
    }

    @media @tablet {
      width: 100%;
    }

    .search {
      width: 100%;
    }

    .glyphicon-search {
      font-size: 1em;
      margin-top: 7px;
    }

    .tt-suggestion {
      border-radius: 0;
      padding: 5px !important;
    }

    p {
      margin: 0 !important;
    }
  }
}

.list-green {
  will-change: height;

  ul li {
    list-style: none;

    &::before {
      /*Using a Bootstrap glyphicon as the bullet point*/
      content: "\e080";
      font-family: 'Glyphicons Halflings'; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
      float: left;
      margin-left: -17px;
      color: @bright-green;
    }
  }

  ul.types li {
    width: 50%;
    float: left;
  }
}

.list-green {
  ul {
    margin-bottom: 0;
  }
}

.parent-scroll {
  background: @content-color;
}

.view-details-wrapper {
  width: 100%;
  display: inline-block;
}


.view-details-section {
  .center-mobile {
    @media @phone {
      text-align: center;
      width: 100%;
      display: block;
    }

    .pull-right {
      float: none !important;
    }
  }

  img.image {
    max-width: 100%;

    &.full-image {
      margin-bottom: 20px;
    }
  }

  @media @phone {
    min-height: 50px;
    margin-bottom: 0;
  }

  h2 {
    margin-top: 10px;
  }

  .header-emphasis {
    font-size: 90%;
    font-style: italic;
  }

  [class^='embedded_'] {
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 15px;
    background-color: rgba(234, 234, 234, 0.37);
    cursor: pointer;

    @media @phone {
      margin: 5px auto !important;
      max-width: 90%;
      float: none !important;

      figcaption {
        text-align: center;
        margin-left: 0;
        margin-top: 5px;
      }

      img {
        margin: auto !important;
        max-width: 100%;
        height: auto;
      }
    }

    /*Big Image*/
    &.BI {
      display: table-cell;
      max-width: none;
      margin-left: 10px;

      figcaption,
      img {
        max-width: 100% !important;
      }
    }

    app-slide-info { /* stylelint-disable-line selector-type-no-unknown */
      display: none;
    }

    figcaption {
      margin: 5px 10px -5px 10px;
      color: @gray;
    }

    img {
      margin: auto auto 0 auto;
    }
  }

  .embedded_center {
    margin: 10px auto;
    display: table;
  }

  .embedded_left {
    float: left;
    clear: left;
    margin: 5px 25px 10px 0;
  }

  .embedded_right {
    float: right;
    clear: right;
    margin: 5px 0 10px 20px;
  }

  .embedded_inline {
    display: table;
    margin: 5px 20px 10px 10px;
  }
}

.warning_message {
  background-color: #fcc9c8;

  span.glyphicon {
    color: #fff;
  }
}

.description {
  .important_message,
  .warning_message {
    clear: both;
    display: inline-block;
    border-radius: 8px;
    margin: 0 0 5px 0;
    min-height: 25px;
    text-align: justify;
    vertical-align: middle;
    border-collapse: collapse;
    padding: 10px;

    span.glyphicon {
      margin-right: 10px;
    }
  }

  .important_message {
    border: 2px solid #f93;
  }

  .warning_message {
    background-color: #fcc9c8;

    span.glyphicon {
      color: white;
    }
  }

  .embed-responsive-4by3.video {
    margin-top: 5px;
    margin-bottom: 5px;

    @media (min-width: @phone-max) {
      width: 560px;
      padding-bottom: 420px;
    }
  }
}

.show-phone.elevation {
  display: none;

  @media @phone {
    display: block;
  }
}

.ltag {
  margin: 0.5em 0;

  .pitch {
    font-weight: bold;
  }

  td,
  th {
    vertical-align: top;
    word-wrap: normal;
    word-break: normal;
    padding: 0.2em 0;

    &:not(:last-child) {
      padding-right: 0.6em;
    }
  }

  @media @phone {
    tr {
      display: flex;
      flex-flow: row wrap;
      padding: 0.4em 0 0.5em;
      border-top: 1px solid #d0d0d0;

      &:last-child {
        border-bottom: 1px solid #d0d0d0;
      }
    }

    td,
    th {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

#title-associated-maps,
#associated-maps {
  @media @phone {
    display: none;
  }
}
