{
  "parserOptions": {
    "ecmaVersion": 6
  },
  "extends": [
    "eslint:recommended",
    "openlayers",
    ".eslintrc-googshift.yaml"
  ],
  "globals": {
    "DEBUG": false,
    "goog": false,
    "ol": false,
    "ngeo": false,
    "gmf": false,
    "_": false,
    "$": false,
    "Bloodhound": false
  },
  "rules": {
    "no-console": 1,
    "valid-jsdoc": 0,
    "prefer-arrow-callback": 2,
    "no-var": 2,
    "no-multi-assign": 2
  }
}
