<%!
from c2corg_common.attributes import via_ferrata_ratings, default_langs, activities, route_types, \
    orientation_types, route_duration_types, glacier_gear_types, route_configuration_types, mtb_up_ratings, \
    ski_ratings, labande_ski_ratings, global_ratings, engagement_ratings, risk_ratings, ice_ratings, \
    mixed_ratings, aid_ratings, exposition_ratings, equipment_ratings, rock_types, hiking_ratings, \
    exposition_rock_ratings, climbing_outdoor_types, snowshoe_ratings,mtb_up_ratings, mtb_down_ratings, \
    climbing_ratings, quality_types
%>
<%inherit file="../base.html"/>
<%
updating_doc = route_id and route_lang
%>
<%namespace file="../helpers/common.html" import="show_title"/>
<%namespace file="../helpers/edit.html" import="show_editing_associated_waypoints, show_editing_associated_routes"/>
<%namespace file="../helpers/orientations.svg" import="show_orientations"/>

<%block name="pagetitle"><title ng-init="id=${route_id if route_id else 0}" ng-bind="id ? mainCtrl.page_title('Editing a route') : mainCtrl.page_title('Creating a route')">${show_title('Create/edit route')}</title></%block>

<%block name="metarobots"><meta name="robots" content="noindex,nofollow"></%block>

<section class="create-edit-document">

  <h1 ng-cloak ng-init="id=${route_id if route_id else 0}" ng-bind="id ? ('Editing a route' | translate) : ('Creating a route' | translate)" class="text-center"></h1>

  <form app-loading app-document-editing="routes" app-document-editing-model="route"
    app-document-editing-controller-name="appDocumentEditingController"
  % if updating_doc:
    app-document-editing-id="${route_id}" app-document-editing-lang="${route_lang}"
  % endif
     name="editForm" novalidate ng-submit="editCtrl.submitForm(editForm.$valid)" class="document-editing">

    <app-progress-bar>
      ## It won't work with ng-init
      <span class="ng-hide">{{progressBarCtrl.maxSteps = 4}} </span>

      ## PROGRESS BAR
      <ul class="progress-bar-edit">
        <li class="nav-step-1" ng-click="progressBarCtrl.step(1, 'route',  'backwards')" ng-class="{'nav-step-selected': progressBarCtrl.currentStep == 1 }"><span class="nav-text"><span translate>route</span> & <span translate>associations</span></span><span class="bullet-container"><span class="bullet"></span></span></li>
        <li class="nav-step-2" ng-click="progressBarCtrl.step(2, 'route', progressBarCtrl.previousStep >= 2 ? 'backwards' : 'forwards')"><span class="nav-text"><span translate>figures</span></span><span class="bullet-container"><span class="bullet"></span></span></li>
        <li class="nav-step-3" ng-click="progressBarCtrl.step(3, 'route', progressBarCtrl.previousStep >= 3 ? 'backwards' : 'forwards')"><span class="nav-text"><span translate>comments</span></span></span><span class="bullet-container"><span class="bullet"></span></span></li>
        <li class="nav-step-4" ng-click="progressBarCtrl.step(4, 'route',  'forwards')"><span translate class="nav-text">review</span><span class="bullet-container"><span class="bullet"></span></span></li>
      </ul>

      ## NAV BUTTONS
      <div class="nav-buttons">
        <button class="btn btn-primary prev" type="button" ng-if="progressBarCtrl.previousStep !== 0" ng-click="progressBarCtrl.step(progressBarCtrl.previousStep, 'route', 'backwards')"><span class="glyphicon glyphicon-triangle-left"></span></button>
        <button class="btn btn-primary next" type="button" ng-if="progressBarCtrl.nextStep <= progressBarCtrl.maxSteps" ng-click="progressBarCtrl.step(progressBarCtrl.nextStep, 'route', 'forwards')"><span class="glyphicon glyphicon-triangle-right"></span></button>
      </div>
    </app-progress-bar>

    <section class="editing route">

      <div class="step step-1">

        <section class="section title">
          <h2 class="heading show-phone" translate>general informations</h2>

          <div class="content" id="title-edit">
            ## TITLE
          <div id="title-group" class="form-group" ng-class="{ 'has-error': editForm.title.$touched && editForm.title.$invalid, 'has-success': editForm.title.$valid }">
            <label><span translate>title</span> *</label>
            <span uib-tooltip="{{mainCtrl.translate('main waypoint title')}}"/><input type="text" name="main_waypoint_title"
              ng-model="route.main_waypoint_title" ng-show="route.main_waypoint_title" class="form-control" disabled></span>
            <input type="text" name="title" ng-model="route.locales[0].title" ng-minlength="3"class="form-control" required />
            <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="editForm.title.$valid"></span>
            <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.title.$invalid && editForm.title.$touched"></span>
            <div class="help-block" ng-messages="editForm.title.$error">
              <p ng-message="required" class="label label-danger" style="{{ (editForm.title.$invalid && editForm.title.$touched) ? 'display:inline' : '' }}" translate>This field is required.</p>
              <p ng-message="minlength" class="label label-danger" style="{{ (editForm.title.$invalid && editForm.title.$touched) ? 'display:inline' : '' }}" translate>Title must have at least 3 characters.</p>
            </div>
          </div>

            ## LANGUAGE
            <div id="lang-group" class="form-group" ng-class="{ 'has-error': editForm.lang.$touched && editForm.lang.$invalid, 'has-success': editForm.lang.$valid}">
              <label><span translate>lang</span> *</label>
              % if route_lang:
                <input disabled x-translate class="form-control" value="${route_lang}">
              % else:
                <select name="lang" ng-options="lang as mainCtrl.translate(lang) for lang in ['${"','".join(default_langs) |n}'] | translate" ng-model="route.locales[0].lang" class="form-control" required><option value=""></option></select>
              % endif
                <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="route.locales[0].lang"></span>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.lang.$touched && editForm.lang.$invalid"></span>
              <div class="help-block" ng-messages="editForm.lang.$error">
                <p ng-message="required" class="label label-danger" style="{{ (editForm.lang.$invalid && editForm.lang.$touched) ? 'display:inline' : '' }}" translate>This field is required.</p>
              </div>
            </div>

            ## MAP + upload
            <app-gpx-upload></app-gpx-upload>
            <app-map app-map-edit="true" app-map-draw-type="LineString" class="map-edit"></app-map>

          </div>
        </section>

        <section class="section associations">
          <h2 class="heading show-phone"><span translate>associations </span></h2>
          <div class="content route-associations" id="title-edit">
            ## wr = waypoints, routes
            <app-simple-search parent-id="route.document_id"
              app-select="editCtrl.documentService.pushToAssociations(doc)" dataset="wr"></app-simple-search>
            <h5 translate ng-show="editCtrl.documentService.document.associations.routes.length == 0 && editCtrl.documentService.document.associations.waypoints.length == 0">
              You can add associated routes and waypoints by searching in the field.
            </h5>
            ${show_editing_associated_waypoints('route')}
            ${show_editing_associated_routes('route')}
          </div>
        </section>

      </div>

      <div class="step step-2">
        <section class="section">
          <h2 class="heading show-phone"><span><span translate>activities</span> & <span translate>types</span></span></h2>
          <div class="content">

            ## ACTIVITIES
            <div class="form-group data full" id="route-activities" ng-init="activities = ${activities}">
              <label><span translate>activities</span> *</label>
              <div class="route-activities">
                <div ng-repeat="activity in activities" class="activity" ng-if="activity !== 'paragliding' ">
                  <div>
                    <div class="icon-{{activity}}" class="icon-" ng-click="editCtrl.pushToArray(route, 'activities', activity, $event)"
                         ng-class="{'activity-selected' : route.activities.indexOf(activity) > -1}">
                    </div>
                    <p>{{activity | translate}}</p>
                  </div>
                </div>
              </div>
            </div>

            ## CLIMBING OUTDOOR TYPE
            <div ng-if="route.activities.indexOf('rock_climbing') > -1" class="form-group data half" ng-class="{ 'has-success': route.climbing_outdoor_type}">
              <label translate>climbing_outdoor_type</label>
              <select class="form-control" ng-model="route.climbing_outdoor_type" ng-options="type as mainCtrl.translate(type) for type in ${climbing_outdoor_types}"><option value=""></option></select>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="route.climbing_outdoor_type"></span>
            </div>

          </div>
        </section>

        <section class="section">
          <h2 class="heading show-phone" translate>configuration</h2>
          <div class="content configuration">

            ## ORIENTATION
            <div class="form-group data half">
              <label><span translate>orientation</span></label>
              ${show_orientations('editCtrl', 'route')}
            </div>

            <div class="form-group data half">

              ## ROUTE TYPES
              <label translate>route_types</label>
              <ul class="types">
                <li ng-repeat="type in ${route_types}" ng-click="editCtrl.pushToArray(route, 'route_types', type, $event)">
                  <div class="checkbox"><input type="checkbox" ng-checked="route.route_types.indexOf(type) > -1"><span>{{type|| translate}}</span></div>
                </li>
              </ul>

              ## CONFIGURATION TYPES
              <div  ng-if="route.activities.indexOf('skitouring') > -1 || route.activities.indexOf('snow_ice_mixed') > -1
                  || route.activities.indexOf('mountain_climbing') > -1  || route.activities.indexOf('rock_climbing') > -1
                  || route.activities.indexOf('snowshoeing') > -1 || route.activities.indexOf('via_ferrata') > -1" class="form-group" adsd>
                <label translate>route_configuration_types</label>
                <ul class="types">
                  <li ng-repeat="type in ${route_configuration_types}" ng-click="editCtrl.pushToArray(route, 'configuration', type, $event)">
                    <div class="checkbox"><input type="checkbox" ng-checked="route.configuration.indexOf(type) > -1"><span x-translate>{{type}}</span></div>
                  </li>
                </ul>
              </div>

            </div>

            ## ROCK TYPES
            <div class="form-group data half" ng-if="route.activities.indexOf('snow_ice_mixed') > -1 || route.activities.indexOf('mountain_climbing') > -1 || route.activities.indexOf('rock_climbing') > -1 || route.activities.indexOf('via_ferrata') > -1">
              <label translate>rock_types</label>
              <ul class="types long">
                <li ng-repeat="type in ${rock_types}" ng-click="editCtrl.pushToArray(route, 'rock_types', type, $event)">
                  <div class="checkbox"><input type="checkbox" ng-checked="route.rock_types.indexOf(type) > -1"><span x-translate>{{type}}</span></div>
                </li>
              </ul>
            </div>

          </div>
        </section>

        <section class="section numbers">
          <h2 class="heading show-phone"><span translate>numbers</span></h2>
          <div class="content" id="numbers-edit">

            ## ELEVATION MIN
            <div id="elevation_min-group" class="data half form-group" ng-class="{ 'has-error': editForm.elevation_min.$touched && editForm.elevation_min.$invalid,'has-success': route.elevation_min }">
              <label translate>elevation_min</label>
              <div class="input-group">
                <input type="number" min="0" minlength="1" name="elevation_min" ng-model="route.elevation_min" class="form-control" />
                <span class="input-group-addon">m</span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="route.elevation_min"></span>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.elevation_min.$invalid && route.elevation_min"></span>
              <div class="help-block" ng-messages="editForm.elevation_min.$error">
                <p ng-message="number" class="label label-danger" style="{{ (editForm.elevation_min.$invalid && editForm.elevation_min.$touched) ? 'display:inline' : '' }}" translate>This field must be a number.</p>
              </div>
            </div>

            ## ELEVATION MAX
            <div id="elevation_max-group" class="data half form-group" ng-class="{ 'has-error': editForm.elevation_max.$touched && editForm.elevation_max.$invalid,'has-success': route.elevation_max }">
              <label translate>elevation_max</label>
              <div class="input-group">
                <input type="number" min="0" minlength="1" name="elevation_max" ng-model="route.elevation_max" class="form-control" />
                <span class="input-group-addon">m</span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="route.elevation_max"></span>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.elevation_max.$invalid && route.elevation_max"></span>
              <div class="help-block" ng-messages="editForm.elevation_max.$error">
                <p ng-message="number" class="label label-danger" style="{{ (editForm.elevation_max.$invalid && editForm.elevation_max.$touched) ? 'display:inline' : '' }}" translate>This field must be a number.</p>
              </div>
            </div>

            ## HEIGHT DIFF UP
            <div id="height_diff_up-group" class="data half form-group" ng-class="{ 'has-error': editForm.height_diff_up.$touched && editForm.height_diff_up.$invalid,'has-success': route.height_diff_up }">
              <label translate>height_diff_up</label>
              <div class="input-group">
                <input type="number" min="0" name="height_diff_up" ng-model="route.height_diff_up" class="form-control" />
                <span class="input-group-addon">m</span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="route.height_diff_up"></span>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.height_diff_up.$invalid && editForm.height_diff_up.$touched"></span>
              <div class="help-block" ng-messages="editForm.height_diff_up.$error">
                <p ng-message="number" class="label label-danger" style="{{ (editForm.height_diff_up.$invalid && editForm.height_diff_up.$touched) ? 'display:inline' : '' }}" translate>This field must be a number.</p>
              </div>
            </div>

            ## HEIGHT DIFF DOWN
            <div id="height_diff_down-group" class="data half form-group" ng-class="{ 'has-error': editForm.height_diff_down.$touched && editForm.height_diff_down.$invalid,'has-success': route.height_diff_down }">
              <label translate>height_diff_down</label>
              <div class="input-group">
                <input type="number" min="0" name="height_diff_down" ng-model="route.height_diff_down" class="form-control" />
                <span class="input-group-addon">m</span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="route.height_diff_down"></span>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.height_diff_down.$invalid && editForm.height_diff_down.$touched"></span>
              <div class="help-block" ng-messages="editForm.height_diff_down.$error">
                <p ng-message="number" class="label label-danger" style="{{ (editForm.height_diff_down.$invalid && editForm.height_diff_down.$touched) ? 'display:inline' : '' }}" translate>This field must be a number.</p>
              </div>
            </div>

            ## HEIGHT DIFF ACCESS
            <div id="height_diff_access-group" class="data half form-group" ng-class="{ 'has-error': editForm.height_diff_access.$touched && editForm.height_diff_access.$invalid,'has-success': route.height_diff_access }">
              <label translate>height_diff_access</label>
              <div class="input-group">
                <input type="number" min="0" name="height_diff_access" ng-model="route.height_diff_access" class="form-control" />
                <span class="input-group-addon">m</span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="route.height_diff_access"></span>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.height_diff_access.$invalid && editForm.height_diff_access.$touched"></span>
              <div class="help-block" ng-messages="editForm.height_diff_access.$error">
                <p ng-message="number" class="label label-danger" style="{{ (editForm.height_diff_access.$invalid && editForm.height_diff_access.$touched) ? 'display:inline' : '' }}" translate>This field must be a number.</p>
              </div>
            </div>

            ## HEIGHT DIFF DIFFICULTIES
            <div id="height_diff_difficulties-group" class="data half form-group" ng-class="{ 'has-error': editForm.height_diff_difficulties.$touched && editForm.height_diff_difficulties.$invalid,'has-success': route.height_diff_difficulties }">
              <label translate>height_diff_difficulties</label>
              <div class="input-group">
                <input type="number" min="0" name="height_diff_difficulties" ng-model="route.height_diff_difficulties" class="form-control" />
                <span class="input-group-addon">m</span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="route.height_diff_difficulties"></span>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.height_diff_difficulties.$invalid && editForm.height_diff_difficulties.$touched"></span>
              <div class="help-block" ng-messages="editForm.height_diff_difficulties.$error">
                <p ng-message="number" class="label label-danger" style="{{ (editForm.height_diff_difficulties.$invalid && editForm.height_diff_difficulties.$touched) ? 'display:inline' : '' }}" translate>This field must be a number.</p>
              </div>
            </div>

            ## DIFFICULTIES HEIGHT
            <div id="difficulties_height-group" class="data half form-group" ng-class="{ 'has-error': editForm.difficulties_height.$touched && editForm.difficulties_height.$invalid,'has-success': route.difficulties_height }"
                 ng-if="route.activities.indexOf('via_ferrata') > -1 || route.activities.indexOf('mountain_biking') > -1 || route.activities.indexOf('snowshoeing') > -1 || route.activities.indexOf('hiking') > -1|| route.activities.indexOf('ice_climbing') > -1 || route.activities.indexOf('rock_climbing') > -1
                  || route.activities.indexOf('mountain_climbing') > -1 || route.activities.indexOf('snow_ice_mixed') > -1">
              <label translate>difficulties_height</label>
              <div class="input-group">
                <input type="number" min="0" name="difficulties_height" ng-model="route.difficulties_height" class="form-control" />
                <span class="input-group-addon">m</span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="route.difficulties_height"></span>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.difficulties_height.$invalid && editForm.difficulties_height.$touched"></span>
              <div class="help-block" ng-messages="editForm.difficulties_height.$error">
                <p ng-message="number" class="label label-danger" style="{{ (editForm.difficulties_height.$invalid && editForm.difficulties_height.$touched) ? 'display:inline' : '' }}" translate>This field must be a number.</p>
              </div>
            </div>

            ## ROUTE LENGTH
            <div id="route_length-group" class="data half form-group" ng-class="{ 'has-error': editForm.route_length.$touched && editForm.route_length.$invalid,'has-success': route.route_length }"
                 ng-if="route.activities.indexOf('skitouring') > -1 || route.activities.indexOf('snow_ice_mixed') > -1 || route.activities.indexOf('hiking') > -1 || route.activities.indexOf('snowshoeing') > -1 || route.activities.indexOf('via_ferrata') > -1 || route.activities.indexOf('mountain_biking') > -1">
              <label translate>route_length</label>
              <div class="input-group">
                <input type="number" min="0" minlength="1" name="route_length" ng-model="route.route_length" class="form-control" />
                <span class="input-group-addon">m</span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="route.route_length"></span>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.route_length.$invalid && editForm.route_length.$touched"></span>
              <div class="help-block" ng-messages="editForm.route_length.$error">
                <p ng-message="number" class="label label-danger" style="{{ (editForm.route_length.$invalid && editForm.route_length.$touched) ? 'display:inline' : '' }}" translate>This field must be a number.</p>
              </div>
            </div>

           ## MTB LENGTH ASPHALT
            <div id="mtb_length_asphalt-group" class="data half form-group" ng-class="{ 'has-error': editForm.mtb_length_asphalt.$touched && editForm.mtb_length_asphalt.$invalid,'has-success': route.mtb_length_asphalt }"
                 ng-if="route.activities.indexOf('mountain_biking') > -1">
              <label translate>mtb_length_asphalt</label>
              <div class="input-group">
                <input type="number" min="0" minlength="1" name="mtb_length_asphalt" ng-model="route.mtb_length_asphalt" class="form-control" />
                <span class="input-group-addon">m</span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="route.mtb_length_asphalt"></span>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.mtb_length_asphalt.$invalid && editForm.mtb_length_asphalt.$touched"></span>
              <div class="help-block" ng-messages="editForm.mtb_length_asphalt.$error">
                <p ng-message="number" class="label label-danger" style="{{ (editForm.mtb_length_asphalt.$invalid && editForm.mtb_length_asphalt.$touched) ? 'display:inline' : '' }}" translate>This field must be a number.</p>
              </div>
            </div>

            ## MTB LENGTH TRAIL
            <div id="mtb_length_trail-group" class="data half form-group" ng-class="{ 'has-error': editForm.mtb_length_trail.$touched && editForm.mtb_length_trail.$invalid,'has-success':route.mtb_length_trail}"
                 ng-if="route.activities.indexOf('mountain_biking') > -1">
              <label translate>mtb_length_trail</label>
              <div class="input-group">
                <input type="number" min="0" minlength="1" name="mtb_length_trail" ng-model="route.mtb_length_trail" class="form-control" />
                <span class="input-group-addon">m</span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="route.mtb_length_trail"></span>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.mtb_length_trail.$invalid && editForm.mtb_length_trail.$touched"></span>
              <div class="help-block" ng-messages="editForm.mtb_length_trail.$error">
                <p ng-message="number" class="label label-danger" style="{{ (editForm.mtb_length_trail.$invalid && editForm.mtb_length_trail.$touched) ? 'display:inline' : '' }}" translate>This field must be a number.</p>
              </div>
            </div>

            ## MTB HEIGHT DIFF PORTAGES
            <div id="mtb_height_diff_portages-group" class="data half form-group" ng-class="{ 'has-error': editForm.mtb_height_diff_portages.$touched && editForm.mtb_height_diff_portages.$invalid,'has-success': route.mtb_height_diff_portages }"
                 ng-if="route.activities.indexOf('mountain_biking') > -1">
              <label translate>mtb_height_diff_portages</label>
              <div class="input-group">
                <input type="number" min="0" minlength="1" name="mtb_height_diff_portages" ng-model="route.mtb_height_diff_portages" class="form-control" />
                <span class="input-group-addon">m</span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="route.mtb_height_diff_portages"></span>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.mtb_height_diff_portages.$invalid && editForm.mtb_height_diff_portages.$touched"></span>
              <div class="help-block" ng-messages="editForm.mtb_height_diff_portages.$error">
                <p ng-message="number" class="label label-danger" style="{{ (editForm.mtb_height_diff_portages.$invalid && editForm.mtb_height_diff_portages.$touched) ? 'display:inline' : '' }}" translate>This field must be a number.</p>
              </div>
            </div>

            ## DURATIONS
            <div class="form-group data half" ng-class="{ 'has-success': route.durations}">
              <label><span translate>durations</span> (<span translate>days</span>)</span></label>
              <ul class="types">
                <li ng-repeat="type in ${route_duration_types}" ng-click="editCtrl.pushToArray(route, 'durations', type, $event)">
                  <div class="checkbox"><input type="checkbox" ng-checked="route.durations.indexOf(type) > -1"><span x-translate>{{type}}</span></div>
                </li>
              </ul>
            </div>

            ## LIFT ACCESS
            <div class="form-group data half" ng-class="{ 'has-success': route.lift_access }">
              <label translate>lift_access</label>
              <div class="input-group">
               <select class="form-control" ng-model="route.lift_access">
                  <option value="true" ng-selected="route.lift_access == true"><span translate>yes</span></option>
                  <option value="false" ng-selected="route.lift_access == false"><span translate>no</span></option>
                  <option value="" translate>no info</option>
                </select>
                <span class="input-group-addon"><span class="glyphicon glyphicon-resize-vertical"></span></span>
              </div>

              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="route.lift_access"></span>
            </div>

          </div>
        </section>

        <section class="section ratings" ng-if="(route.activities.indexOf('mountain_climbing') > -1 || route.activities.indexOf('mountain_biking') > -1 || route.activities.indexOf('rock_climbing') > -1
                  || route.activities.indexOf('skitouring') > -1 || route.activities.indexOf('snowshoeing') > -1 || route.activities.indexOf('snow_ice_mixed') > -1
                  || route.activities.indexOf('ice_climbing') > -1 || route.activities.indexOf('hiking') > -1 || route.activities.indexOf('mountain_biking') > -1)">
          <h2 class="heading show-phone" translate>ratings</h2>
          <div class="content" id="rating-edit">

            ## SKI RATING
            <div class="form-group data half" ng-class="{ 'has-success': route.ski_rating}" ng-if="route.activities.indexOf('skitouring') > -1">
              <label translate>ski_rating</label>
              <div class="input-group">
                <select class="form-control" ng-model="route.ski_rating" ng-options="rat as rat for rat in ${ski_ratings}"><option value=""></option></select>
                <span class="input-group-addon"><span class="glyphicon glyphicon-star"></span></span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="route.ski_rating"></span>
            </div>

            ## LABANDE SKI RATING
            <div class="form-group data half" ng-class="{ 'has-success': route.labande_ski_rating}" ng-if="route.activities.indexOf('skitouring') > -1">
              <label translate>labande_ski_rating</label>
              <div class="input-group">
                <select class="form-control" ng-model="route.labande_ski_rating" ng-options="rat as rat for rat in ${labande_ski_ratings}"><option value=""></option></select>
                <span class="input-group-addon"><span class="glyphicon glyphicon-star"></span></span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="route.labande_ski_rating"></span>
            </div>

            ## LABANDE GLOBAL  RATING
            <div class="form-group data half" ng-class="{ 'has-success': route.labande_global_rating}" ng-if="route.activities.indexOf('skitouring') > -1">
              <label translate>labande_global_rating</label>
              <div class="input-group">
                <select class="form-control" ng-model="route.labande_global_rating" ng-options="rat as rat for rat in ${global_ratings}"><option value=""></option></select>
                <span class="input-group-addon"><span class="glyphicon glyphicon-star"></span></span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="route.labande_global_rating"></span>
            </div>

            ## SNOWSHOE  RATING
            <div class="form-group data half" ng-class="{ 'has-success': route.snowshoe_rating}" ng-if="route.activities.indexOf('snowshoeing') > -1">
              <label translate>snowshoe_rating</label>
              <div class="input-group">
                <select class="form-control" ng-model="route.snowshoe_rating" ng-options="rat as rat for rat in ${snowshoe_ratings}"><option value=""></option></select>
                <span class="input-group-addon"><span class="glyphicon glyphicon-star"></span></span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="route.snowshoe_rating"></span>
            </div>

            ## GLOBAL  RATING
            <div class="form-group data half" ng-class="{ 'has-success': route.global_rating}" ng-if="route.activities.indexOf('snow_ice_mixed') > -1 || route.activities.indexOf('mountain_climbing') > -1 || route.activities.indexOf('rock_climbing') > -1 || route.activities.indexOf('ice_climbing') > -1">
              <label translate>global_rating</label>
              <div class="input-group">
                <select class="form-control" ng-model="route.global_rating" ng-options="rat as rat for rat in ${global_ratings}"><option value=""></option></select>
                <span class="input-group-addon"><span class="glyphicon glyphicon-star"></span></span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="route.global_rating"></span>
            </div>

            ## ENGAGEMENT  RATING
            <div class="form-group data half" ng-class="{ 'has-success': route.engagement_rating}" ng-if="route.activities.indexOf('snow_ice_mixed') > -1 || route.activities.indexOf('mountain_climbing') > -1 || route.activities.indexOf('rock_climbing') > -1
                 || route.activities.indexOf('ice_climbing') > -1 || route.activities.indexOf('via_ferrata') > -1">
              <label translate>engagement_rating</label>
              <div class="input-group">
                <select class="form-control" ng-model="route.engagement_rating" ng-options="rat as rat for rat in ${engagement_ratings}"><option value=""></option></select>
                <span class="input-group-addon"><span class="glyphicon glyphicon-star"></span></span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="route.engagement_rating"></span>
            </div>

            ## EQUIPMENT  RATING
            <div class="form-group data half" ng-class="{ 'has-success': route.equipment_rating}" ng-if="route.activities.indexOf('snow_ice_mixed') > -1 || route.activities.indexOf('mountain_climbing') > -1 || route.activities.indexOf('rock_climbing') > -1 || route.activities.indexOf('ice_climbing') > -1 || route.activities.indexOf('via_ferrata') > -1">
              <label translate>equipment_rating</label>
              <div class="input-group">
                <select class="form-control" ng-model="route.equipment_rating" ng-options="rat as rat for rat in ${equipment_ratings}"><option value=""></option></select>
                <span class="input-group-addon"><span class="glyphicon glyphicon-star"></span></span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="route.equipment_rating"></span>
            </div>

            ## ICE  RATING
            <div class="form-group data half" ng-class="{ 'has-success': route.ice_rating}" ng-if="route.activities.indexOf('snow_ice_mixed') > -1 || route.activities.indexOf('ice_climbing') > -1">
              <label translate>ice_rating</label>
              <div class="input-group">
                <select class="form-control" ng-model="route.ice_rating" ng-options="rat as rat for rat in ${ice_ratings}"><option value=""></option></select>
                <span class="input-group-addon"><span class="glyphicon glyphicon-star"></span></span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="route.ice_rating"></span>
            </div>

            ## MIXED  RATING
            <div class="form-group data half" ng-class="{ 'has-success': route.mixed_rating}" ng-if="route.activities.indexOf('snow_ice_mixed') > -1 || route.activities.indexOf('ice_climbing') > -1">
              <label translate>mixed_rating</label>
              <div class="input-group">
                <select class="form-control" ng-model="route.mixed_rating" ng-options="rat as rat for rat in ${mixed_ratings}"><option value=""></option></select>
                <span class="input-group-addon"><span class="glyphicon glyphicon-star"></span></span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="route.mixed_rating"></span>
            </div>

            ## RISK  RATING
            <div class="form-group data half" ng-class="{ 'has-success': route.risk_rating}" ng-if="route.activities.indexOf('snow_ice_mixed') > -1 || route.activities.indexOf('mountain_climbing') > -1 || route.activities.indexOf('rock_climbing') > -1 || route.activities.indexOf('ice_climbing') > -1">
              <label translate>risk_rating</label>
              <div class="input-group">
                <select class="form-control" ng-model="route.risk_rating" ng-options="rat as rat for rat in ${risk_ratings}"><option value=""></option></select>
                <span class="input-group-addon"><span class="glyphicon glyphicon-star"></span></span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="route.risk_rating"></span>
            </div>

            ## VIA FERRATA  RATING
            <div class="form-group data half" ng-class="{ 'has-success': route.via_ferrata_rating}" ng-if="route.activities.indexOf('via_ferrata') > -1">
              <label translate>via_ferrata_rating</label>
              <div class="input-group">
                <select class="form-control" ng-model="route.via_ferrata_rating" ng-options="rat as rat for rat in ${via_ferrata_ratings}"><option value=""></option></select>
                <span class="input-group-addon"><span class="glyphicon glyphicon-star"></span></span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="route.via_ferrata_rating"></span>
            </div>

            ## HIKING  RATING
            <div class="form-group data half" ng-class="{ 'has-success': route.hiking_rating}" ng-if="route.activities.indexOf('hiking') > -1">
              <label translate>hiking_rating</label>
              <div class="input-group">
                <select class="form-control" ng-model="route.hiking_rating" ng-options="rat as rat for rat in ${hiking_ratings}"><option value=""></option></select>
                <span class="input-group-addon"><span class="glyphicon glyphicon-star"></span></span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="route.hiking_rating"></span>
            </div>

            ## MTB DOWN  RATING
            <div class="form-group data half" ng-class="{ 'has-success': route.mtb_down_rating}" ng-if="route.activities.indexOf('mountain_biking') > -1">
              <label translate>mtb_down_rating</label>
              <div class="input-group">
                <select class="form-control" ng-model="route.mtb_down_rating" ng-options="rat as rat for rat in ${mtb_down_ratings}"><option value=""></option></select>
                <span class="input-group-addon"><span class="glyphicon glyphicon-star"></span></span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="route.mtb_down_rating"></span>
            </div>

            ## MTB UP  RATING
            <div class="form-group data half" ng-class="{ 'has-success': route.mtb_up_rating}" ng-if="route.activities.indexOf('mountain_biking') > -1">
              <label translate>mtb_up_rating</label>
              <div class="input-group">
                <select class="form-control" ng-model="route.mtb_up_rating" ng-options="rat as rat for rat in ${mtb_up_ratings}"><option value=""></option></select>
                <span class="input-group-addon"><span class="glyphicon glyphicon-star"></span></span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="route.mtb_up_rating"></span>
            </div>

            ## ROCK FREE  RATING
            <div class="form-group data half" ng-class="{ 'has-success': route.rock_free_rating}" ng-if="route.activities.indexOf('mountain_climbing') > -1 || route.activities.indexOf('rock_climbing') > -1">
              <label translate>rock_free_rating</label>
              <div class="input-group">
                <select class="form-control" ng-model="route.rock_free_rating" ng-options="rat as rat for rat in ${climbing_ratings}"><option value=""></option></select>
                <span class="input-group-addon"><span class="glyphicon glyphicon-star"></span></span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="route.rock_free_rating"></span>
            </div>

            ## ROCK EXPOSITION RATING
            <div class="form-group data half" ng-class="{ 'has-success': route.exposition_rock_rating}" ng-if="route.activities.indexOf('rock_climbing') > -1 || route.activities.indexOf('mountain_climbing') > -1">
              <label translate>exposition_rock_rating</label>
              <div class="input-group">
                <select class="form-control" ng-model="route.exposition_rock_rating" ng-options="rat as rat for rat in ${exposition_rock_ratings}"><option value=""></option></select>
                <span class="input-group-addon"><span class="glyphicon glyphicon-star"></span></span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="route.exposition_rock_rating"></span>
            </div>

            ## ROCK REQUIRED  RATING
            <div class="form-group data half" ng-class="{ 'has-success': route.rock_required_rating}" ng-if="route.activities.indexOf('mountain_climbing') > -1 || route.activities.indexOf('rock_climbing') > -1">
              <label translate>rock_required_rating</label>
              <div class="input-group">
                <select class="form-control" ng-model="route.rock_required_rating" ng-options="rat as rat for rat in ${climbing_ratings}"><option value=""></option></select>
                <span class="input-group-addon"><span class="glyphicon glyphicon-star"></span></span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="route.rock_required_rating"></span>
            </div>

            ## AID RATING
            <div class="form-group data half" ng-class="{ 'has-success': route.aid_rating}" ng-if="route.activities.indexOf('mountain_climbing') > -1 || route.activities.indexOf('rock_climbing') > -1">
              <label translate>aid_rating</label>
              <div class="input-group">
                <select class="form-control" ng-model="route.aid_rating" ng-options="rat as rat for rat in ${aid_ratings}"><option value=""></option></select>
                <span class="input-group-addon"><span class="glyphicon glyphicon-star"></span></span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="route.aid_rating"></span>
            </div>

            ## SKI EXPOSITION
            <div class="form-group data half" ng-if="route.activities.indexOf('skitouring') > -1" ng-class="{ 'has-success': route.ski_exposition}">
              <label translate>ski_exposition</label>
              <div class="input-group">
                <select class="form-control" ng-model="route.ski_exposition" ng-options="rat as mainCtrl.translate(rat) for rat in ${exposition_ratings}"><option value=""></option></select>
                <span class="input-group-addon"><span class="glyphicon glyphicon-resize-vertical"></span></span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="route.ski_exposition"></span>
            </div>

            ## HIKING MTB EXPOSITION
            <div class="form-group data half" ng-class="{ 'has-success': route.hiking_mtb_exposition}" ng-if="route.activities.indexOf('hiking') > -1 || route.activities.indexOf('mountain_biking') > -1">
              <label translate>hiking_mtb_exposition</label>
              <div class="input-group">
                <select class="form-control" ng-model="route.hiking_mtb_exposition" ng-options="rat as rat for rat in ${exposition_ratings}"><option value=""></option></select>
                <span class="input-group-addon"><span class="glyphicon glyphicon-resize-vertical"></span></span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="route.hiking_mtb_exposition"></span>
            </div>

            ## SLOPE
            <div id="slope-group" class="form-group data full" ng-class="{ 'has-success': route.locales[0].slope}"  ng-if="route.activities.indexOf('skitouring') > -1 || route.activities.indexOf('snow_ice_mixed') > -1  || route.activities.indexOf('ice_climbing') > -1 || route.activities.indexOf('snowshoeing') > -1">
              <label translate>slope</label>
              <input type="text" name="slope" ng-model="route.locales[0].slope" class="form-control">
            </div>

          </div>
        </section>
      </div>

      <div class="step step-3">
        <section class="section">
          <h2 class="heading show-phone" translate>comments</h2>
          <div class="content" id="title-edit">

            ## SUMMARY
            <div id="summary-group" class="form-group data full">
              <label translate>summary</label>
              <textarea name="summary" ng-model="route.locales[0].summary" class="form-control"></textarea>
            </div>

            ## DESCRIPTION
            <div id="description-group" class="form-group data full">
              <label translate>description</label>
              <textarea name="description" ng-model="route.locales[0].description" class="form-control description"></textarea>
            </div>

            ## REMARKS
            <div id="remarks-group" class="form-group data full">
              <label translate>remarks</label>
              <textarea name="remarks" ng-model="route.locales[0].remarks" class="form-control"></textarea>
            </div>

            ## ROUTE HISTORY
            <div class="form-group data full">
              <label translate>route_history</label>
              <textarea name="route_history" ng-model="route.locales[0].route_history" class="form-control"></textarea>
            </div>

            ## GEAR LOCALE
            <div id="gear-group" class="form-group data full">
              <label translate>gear</label>
              <textarea name="gear" ng-model="route.locales[0].gear" class="form-control" placeholder="{{'Describe here the gear needed for this route'|translate}}"></textarea>
            </div>

            ## GLACIER GEAR
          <div class="form-group data half" ng-class="{ 'has-success': route.glacier_gear }"
               ng-if="route.activities.indexOf('skitouring') > -1 || route.activities.indexOf('snow_ice_mixed') > -1 || route.activities.indexOf('mountain_climbing') > -1 || route.activities.indexOf('rock_climbing') > -1
                || route.activities.indexOf('ice_climbing') > -1  || route.activities.indexOf('snowshoeing') > -1">
            <label translate>glacier_gear</label>
            <select class="form-control" ng-model="route.glacier_gear" ng-options="rat as mainCtrl.translate(rat) for rat in ${glacier_gear_types}"><option value=""></option></select>
            <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="route.glacier_gear"></span>
          </div>

          </div>
        </section>
      </div>

      <div class="step step-4">
        <section class="section summary">
          <h2 class="heading show-phone" translate>summary</h2>

          <div class="content" id="title-edit">
            <%include file="create_edit_summary.html" />
            % if updating_doc:
            <div id="message-group" class="form-group">
              <label translate>Comment about the changes</label>
              <input type="text" name="message" ng-model="route.message" class="form-control" placeholder="{{'Short description of the applied changes'|translate}}" />
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="route.message"></span>
            </div>
            % endif

            ## QUALITY
            <div class="form-group" ng-style="{'has-success': route.quality}" ng-init="qualityTypes = ${quality_types}">
              ## I tried with ng-init, ng-selected..so hacking
              <div class="ng-hide">{{route.quality = route.quality || qualityTypes[1]}}</div>
              <label translate>document_quality</label>
              <select ng-options="type as mainCtrl.translate(type) for type in qualityTypes" ng-model="route.quality" class="form-control"><option value=""></option></select>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="route.quality"></span>
            </div>

          </div>
        </section>

        <div class="action-buttons float-buttons">
          <button type="submit" class="btn btn-lg orange-btn float-button" ng-if="!editForm.$invalid && !editCtrl.hasMissingProps(route, false)"
                  tooltip-placement="left" uib-tooltip="{{'Save' | translate}}">
            <span class="glyphicon glyphicon-ok"></span>
          </button>

          <button type="button" class="btn btn-lg orange-btn float-button" ng-style="(editForm.$invalid || editCtrl.hasMissingProps(route, false)) && {'opacity': 0.5}"
                  tooltip-placement="left" uib-tooltip="{{'What is missing?' | translate}}" ng-if="editForm.$invalid || editCtrl.hasMissingProps(route, false)" ng-click="editCtrl.hasMissingProps(route, true)">
            <span class="glyphicon glyphicon-ok"></span>
          </button>
          <%
          view_url = request.route_url('routes_view', id=route_id, lang=route_lang) if updating_doc else ''
          index_url = request.route_url('routes_index')
          %>
          <button type="button" class="btn btn-lg gray-btn float-button" ng-click="editCtrl.cancel('${view_url}', '${index_url}')"  tooltip-placement="left" uib-tooltip="{{'Cancel' | translate}}">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </div>
      </div>

    </section>
  </form>
</section>
