<%!
from c2corg_common.attributes import default_langs, quality_types, route_types, activities, \
    route_duration_types, orientation_types, route_types, ski_ratings, exposition_ratings, \
    labande_ski_ratings, global_ratings, engagement_ratings, risk_ratings, equipment_ratings, \
    ice_ratings, mixed_ratings, climbing_ratings, exposition_rock_ratings, aid_ratings, \
    via_ferrata_ratings, hiking_ratings, snowshoe_ratings, mtb_up_ratings, mtb_down_ratings, \
    route_configuration_types, climbing_outdoor_types, rock_types, glacier_gear_types, \
    slackline_types

activities = [activity for activity in activities if activity != 'paragliding']
%>

<%namespace file="../helpers/filters.html" import="add_multiselect, show_results_buttons, show_filters_buttons"/>
<%namespace file="../helpers/orientations.svg" import="show_orientations"/>

## Duplicate simple filters into the main filters and into #moreFilters.
## It is really useful - no need for re-compilation with angular in case of sticky filters.
<%def name="simple_filters()">
  <div class="row simple-filters">
    <div class="filter">
      <label translate>title</label><br>
      <input type="text" class="form-control" ng-model="filtersCtrl.filters.q">
    </div>
    <div class="filter">
      <label translate>activities</label><br>
      ${add_multiselect('act', activities)}
    </div>
    <div class="filter">
      <label translate>elevation_max</label><br>
      <app-slider filter="rmaxa" filters-list="filtersCtrl.filters" max="8850"></app-slider>
    </div>
  </div>
</%def>

<form app-search-filters app-search-filters-controller-name="appSearchFiltersController" app-sticky-filters>
  <div class="filters">
    ${simple_filters()}
    <div class="row collapse" id="moreFilters">
      ${simple_filters()}

      ## Slacklining
      <div class="col-xs-12 col-sm-6 filter"
           ng-if="filtersCtrl.filters.act.length
               && filtersCtrl.filters.act.indexOf('slacklining') !== -1">
        <label translate>slackline_type</label><br>
        ${add_multiselect('sltyp', slackline_types)}
      </div>
      <div class="col-xs-12 col-sm-6 filter"
           ng-if="filtersCtrl.filters.act.length
               && filtersCtrl.filters.act.indexOf('slacklining') !== -1">
        <label translate>length</label><br>
        <app-slider filter="rlen" filters-list="filtersCtrl.filters" max="2000" step="10" unit="m"></app-slider>
      </div>


      ## SKITOURING
      <div ng-if="filtersCtrl.filters.act.length
               && filtersCtrl.filters.act.indexOf('skitouring') !== -1">
        <div class="col-xs-12 col-sm-6 filter">
          <label translate>ski_rating</label><br>
          <app-slider filter="trat" filters-list="filtersCtrl.filters" unit=""
            values-list="['${"','".join(ski_ratings) |n}']"></app-slider>
        </div>

        <div class="col-xs-12 col-sm-6 filter">
          <label translate>ski_exposition</label><br>
          <app-slider filter="sexpo" filters-list="filtersCtrl.filters" unit=""
            values-list="['${"','".join(exposition_ratings) |n}']"></app-slider>
        </div>

        <div class="col-xs-12 col-sm-6 filter">
          <label translate>labande_global_rating</label><br>
          <app-slider filter="lrat" filters-list="filtersCtrl.filters" unit=""
            values-list="['${"','".join(global_ratings) |n}']"></app-slider>
        </div>

        <div class="col-xs-12 col-sm-6 filter">
          <label translate>labande_ski_rating</label><br>
          <app-slider filter="srat" filters-list="filtersCtrl.filters" unit=""
            values-list="['${"','".join(labande_ski_ratings) |n}']"></app-slider>
        </div>
      </div>

      ## ROCK CLIMBING
      <div class="col-xs-12 col-sm-6 filter"
           ng-if="filtersCtrl.filters.act.length
               && filtersCtrl.filters.act.indexOf('rock_climbing') !== -1">
        <label translate>climbing_outdoor_type</label><br>
        ${add_multiselect('crtyp', climbing_outdoor_types)}
      </div>


      ## ROCK AND ALPINE CLIMBING
      <div ng-if="filtersCtrl.filters.act.length
               && (filtersCtrl.filters.act.indexOf('rock_climbing') !== -1 ||
                   filtersCtrl.filters.act.indexOf('alpine_climbing') !== -1)">
        <div class="col-xs-12 col-sm-6 filter">
          <label translate>rock_free_rating</label><br>
          <app-slider filter="frat" filters-list="filtersCtrl.filters" unit=""
            values-list="['${"','".join(climbing_ratings) |n}']"></app-slider>
        </div>

        <div class="col-xs-12 col-sm-6 filter"
             ng-if="filtersCtrl.filters.act.length
                 && (filtersCtrl.filters.act.indexOf('rock_climbing') === -1
                     || filtersCtrl.filters.crtyp.indexOf('multi') !== -1
                     || filtersCtrl.filters.crtyp.indexOf('single') !== -1
                     || filtersCtrl.filters.crtyp.length === 0
                     || filtersCtrl.filters.act.length > 1)">
          <label translate>rock_required_rating</label><br>
          <app-slider filter="rrat" filters-list="filtersCtrl.filters" unit=""
            values-list="['${"','".join(climbing_ratings) |n}']"></app-slider>
        </div>

        <div class="col-xs-12 col-sm-6 filter">
          <label translate>exposition_rock_rating</label><br>
          <app-slider filter="rexpo" filters-list="filtersCtrl.filters" unit=""
            values-list="['${"','".join(exposition_rock_ratings) |n}']"></app-slider>
        </div>

        <div class="col-xs-12 col-sm-6 filter"
             ng-if="filtersCtrl.filters.act.length
                 && (filtersCtrl.filters.act.indexOf('rock_climbing') === -1
                     || filtersCtrl.filters.crtyp.indexOf('multi') !== -1
                     || filtersCtrl.filters.crtyp.indexOf('single') !== -1
                     || filtersCtrl.filters.crtyp.length === 0
                     || filtersCtrl.filters.act.length > 1)">
          <label translate>aid_rating</label><br>
          <app-slider filter="arat" filters-list="filtersCtrl.filters" unit=""
            values-list="['${"','".join(aid_ratings) |n}']"></app-slider>
        </div>
      </div>


      ## SNOW, ICE, ROCK AND ALPINE CLIMBING
      <div ng-if="filtersCtrl.filters.act.length
               && (filtersCtrl.filters.act.indexOf('snow_ice_mixed') !== -1 ||
                   filtersCtrl.filters.act.indexOf('rock_climbing') !== -1
                     && (filtersCtrl.filters.crtyp.indexOf('multi') !== -1
                         || filtersCtrl.filters.crtyp.length === 0) ||
                   filtersCtrl.filters.act.indexOf('mountain_climbing') !== -1 ||
                   filtersCtrl.filters.act.indexOf('ice_climbing') !== -1)">
        <div class="col-xs-12 col-sm-6 filter">
          <label translate>global_rating</label><br>
          <app-slider filter="grat" filters-list="filtersCtrl.filters" unit=""
            values-list="['${"','".join(global_ratings) |n}']"></app-slider>
        </div>

        <div class="col-xs-12 col-sm-6 filter"
             ng-if="filtersCtrl.filters.act.length
                 && (filtersCtrl.filters.act.indexOf('rock_climbing') === -1
                     || filtersCtrl.filters.crtyp.indexOf('multi') !== -1
                     || filtersCtrl.filters.act.length > 1)">
          <label translate>engagement_rating</label><br>
          <app-slider filter="erat" filters-list="filtersCtrl.filters" unit=""
            values-list="['${"','".join(engagement_ratings) |n}']"></app-slider>
        </div>

        <div class="col-xs-12 col-sm-6 filter">
          <label translate>risk_rating</label><br>
          <app-slider filter="orrat" filters-list="filtersCtrl.filters" unit=""
            values-list="['${"','".join(risk_ratings) |n}']"></app-slider>
        </div>

        <div class="col-xs-12 col-sm-6 filter"
             ng-if="filtersCtrl.filters.act.length
                 && (filtersCtrl.filters.act.indexOf('rock_climbing') === -1
                     || filtersCtrl.filters.crtyp.indexOf('multi') !== -1
                     || filtersCtrl.filters.crtyp.indexOf('single') !== -1
                     || filtersCtrl.filters.crtyp.length === 0
                     || filtersCtrl.filters.act.length > 1)">
          <label translate>equipment_rating</label><br>
          <app-slider filter="prat" filters-list="filtersCtrl.filters" unit=""
            values-list="['${"','".join(equipment_ratings) |n}']"></app-slider>
        </div>


        <div class="col-xs-12 col-sm-6 filter">
          <label translate>difficulties_height</label><br>
          <app-slider filter="ralt" filters-list="filtersCtrl.filters" max="6000"></app-slider>
        </div>

        <div class="col-xs-12 col-sm-6 filter">
          <label translate>height_diff_access</label><br>
          <app-slider filter="rappr" filters-list="filtersCtrl.filters" max="3000"></app-slider>
        </div>

        <div class="col-xs-12 col-sm-6 filter">
          <label translate>height_diff_difficulties</label><br>
          <app-slider filter="dhei" filters-list="filtersCtrl.filters" max="3000"></app-slider>
        </div>

      </div>

      ## ICE AND SNOW_ICE_MIXED
      <div ng-if="filtersCtrl.filters.act.length
               && (filtersCtrl.filters.act.indexOf('snow_ice_mixed') !== -1 ||
                   filtersCtrl.filters.act.indexOf('ice_climbing') !== -1)">
        <div class="col-xs-12 col-sm-6 filter">
          <label translate>ice_rating</label><br>
          <app-slider filter="irat" filters-list="filtersCtrl.filters" unit=""
            values-list="['${"','".join(ice_ratings) |n}']"></app-slider>
        </div>

        <div class="col-xs-12 col-sm-6 filter">
          <label translate>mixed_rating</label><br>
          <app-slider filter="mrat" filters-list="filtersCtrl.filters" unit=""
            values-list="['${"','".join(mixed_ratings) |n}']"></app-slider>
        </div>
      </div>

      ## VIA FERRATA
      <div class="col-xs-12 col-sm-6 filter"
           ng-if="filtersCtrl.filters.act.length
               && filtersCtrl.filters.act.indexOf('via_ferrata') !== -1">
        <label translate>via_ferrata_rating</label><br>
        <app-slider filter="krat" filters-list="filtersCtrl.filters" unit=""
          values-list="['${"','".join(via_ferrata_ratings) |n}']"></app-slider>
      </div>

      ## HIKING
      <div class="col-xs-12 col-sm-6 filter"
           ng-if="filtersCtrl.filters.act.length
               && filtersCtrl.filters.act.indexOf('hiking') !== -1">
        <label translate>hiking_rating</label><br>
        <app-slider filter="hrat" filters-list="filtersCtrl.filters" unit=""
          values-list="['${"','".join(hiking_ratings) |n}']"></app-slider>
      </div>

      ## SNOWSHOEING
      <div class="col-xs-12 col-sm-6 filter"
           ng-if="filtersCtrl.filters.act.length
               && filtersCtrl.filters.act.indexOf('snowshoeing') !== -1">
        <label translate>snowshoe_rating</label><br>
        <app-slider filter="wrat" filters-list="filtersCtrl.filters" unit=""
          values-list="['${"','".join(snowshoe_ratings) |n}']"></app-slider>
      </div>

      ## MOUNTAIN BIKING
      <div ng-if="filtersCtrl.filters.act.length
               && filtersCtrl.filters.act.indexOf('mountain_biking') !== -1">
        <div class="col-xs-12 col-sm-6 filter">
          <label translate>mtb_up_rating</label><br>
          <app-slider filter="mbur" filters-list="filtersCtrl.filters" unit=""
            values-list="['${"','".join(mtb_up_ratings) |n}']"></app-slider>
        </div>

        <div class="col-xs-12 col-sm-6 filter">
          <label translate>mtb_down_rating</label><br>
          <app-slider filter="mbdr" filters-list="filtersCtrl.filters" unit=""
            values-list="['${"','".join(mtb_down_ratings) |n}']"></app-slider>
        </div>

        <div class="col-xs-12 col-sm-6 filter">
          <label translate>mtb_length_asphalt</label><br>
          <app-slider filter="mbroad" filters-list="filtersCtrl.filters" max="50000" step="500" unit="m"></app-slider>
        </div>

        <div class="col-xs-12 col-sm-6 filter">
          <label translate>mtb_length_trail</label><br>
          <app-slider filter="mbtrack" filters-list="filtersCtrl.filters" max="50000" step="500" unit="m"></app-slider>
        </div>

        <div class="col-xs-12 col-sm-6 filter">
          <label translate>mtb_height_diff_portages</label><br>
          <app-slider filter="mbpush" filters-list="filtersCtrl.filters" max="5000" step="100" unit="m"></app-slider>
        </div>
      </div>

      ## HIKING AND MOUNTAIN BIKING
      <div class="col-xs-12 col-sm-6 filter"
           ng-if="filtersCtrl.filters.act.length
               && (filtersCtrl.filters.act.indexOf('mountain_biking') !== -1 ||
                   filtersCtrl.filters.act.indexOf('hiking') !== -1)">
        <label translate>hiking_mtb_exposition</label><br>
        <app-slider filter="hexpo" filters-list="filtersCtrl.filters" unit=""
          values-list="['${"','".join(exposition_ratings) |n}']"></app-slider>
      </div>

      <div class="col-xs-12 col-sm-6 filter">
        <label translate>elevation_min</label><br>
        <app-slider filter="rmina" filters-list="filtersCtrl.filters" max="6000"></app-slider>
      </div>

      <div class="col-xs-12 col-sm-6 filter">
        <label translate>height_diff_up</label><br>
        <app-slider filter="hdif" filters-list="filtersCtrl.filters" max="10000"></app-slider>
      </div>

      <div class="col-xs-12 col-sm-6 filter">
        <label translate>height_diff_down</label><br>
        <app-slider filter="ddif" filters-list="filtersCtrl.filters" max="10000"></app-slider>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 filter orientation">
        <label translate>orientations</label><br>
        ${show_orientations('filtersCtrl', 'filtersCtrl', 'fac')}
      </div>

      <div class="col-xs-12 col-sm-6 filter">
        <label translate>durations</label><br>
        <app-slider filter="time" filters-list="filtersCtrl.filters" unit="days"
          values-list="['${"','".join(route_duration_types) |n}']"></app-slider>
      </div>

      <div class="col-xs-12 col-sm-6 filter"
           ng-if="filtersCtrl.filters.act.length
               && (filtersCtrl.filters.act.indexOf('rock_climbing') === -1
                   || filtersCtrl.filters.crtyp.indexOf('multi') !== -1
                   || filtersCtrl.filters.crtyp.indexOf('single') !== -1
                   || filtersCtrl.filters.crtyp.length === 0
                   || filtersCtrl.filters.act.length > 1)">
        <label translate>route_types</label><br>
        ${add_multiselect('rtyp', route_types)}
      </div>

      <div class="col-xs-12 col-sm-6 filter"
           ng-if="filtersCtrl.filters.act.length
               && (filtersCtrl.filters.act.indexOf('rock_climbing') === -1
                   || filtersCtrl.filters.crtyp.indexOf('multi') !== -1
                   || filtersCtrl.filters.act.length > 1)">
        <label translate>configuration</label><br>
        ${add_multiselect('conf', route_configuration_types)}
      </div>

      ## ALL EXCEPT MOUNTAIN BIKING
      <div class="col-xs-12 col-sm-6 filter"
           ng-if="filtersCtrl.filters.act.length
               && filtersCtrl.filters.act.indexOf('mountain_biking') === -1">
        <label translate>glacier_gear</label><br>
        ${add_multiselect('glac', glacier_gear_types)}
      </div>

      ## SKITOURING, SNOWSHOEING, HIKING, MOUNTAIN BIKING
      <div class="col-xs-12 col-sm-6 filter toto"
           ng-if="filtersCtrl.filters.act.length
               && (filtersCtrl.filters.act.indexOf('skitouring') !== -1 ||
                   filtersCtrl.filters.act.indexOf('snowshoeing') !== -1 ||
                   filtersCtrl.filters.act.indexOf('hiking') !== -1 ||
                   filtersCtrl.filters.act.indexOf('mountain_biking') !== -1)">
        <label translate>route_length</label><br>
        <app-slider filter="rlen" filters-list="filtersCtrl.filters" max="100000" step="500" unit="m"></app-slider>
      </div>

      ## SNOW_ICE_MIXED, ROCK AND ALPINE CLIMBING
      <div class="col-xs-12 col-sm-6 filter"
           ng-if="filtersCtrl.filters.act.length
               && (filtersCtrl.filters.act.indexOf('snow_ice_mixed') !== -1 ||
                   filtersCtrl.filters.act.indexOf('rock_climbing') !== -1 ||
                   filtersCtrl.filters.act.indexOf('mountain_climbing') !== -1)">
        <label translate>rock_types</label><br>
        ${add_multiselect('rock', rock_types)}
      </div>

      <div class="col-xs-12 col-sm-6 filter">
        <label translate>lang</label><br>
        ${add_multiselect('l', default_langs)}
      </div>

      <div class="col-xs-12 col-sm-6 filter">
        <label translate>quality</label><br>
        <app-slider filter="qa" filters-list="filtersCtrl.filters" unit=""
          values-list="['${"','".join(quality_types) |n}']"></app-slider>
      </div>

      ${show_results_buttons('routes')}

    </div>

    ${show_filters_buttons('routes')}

  </div>

</form>
