<%inherit file="../base.html"/>
<%namespace file="../helpers/common.html" import="show_title"/>
<%namespace file="../helpers/list.html" import="add_doctype_selector"/>

<%block name="pagetitle"><title ng-bind="mainCtrl.page_title('Routes')">${show_title('Routes')}</title></%block>

<header class="page-main-title">
  <h3><span translate>Routes</span>
    <span class="badge" ng-cloak>{{resCounter}}</span>
  </h3>
</header>
<section class="documents-list-section">
  <%include file="filters.html" />
  <div class="documents-nav-buttons text-center">
    <button class="btn btn-default show-documents-filters-phone" translate>Filters</button>
    ${add_doctype_selector()}
    <button class="btn btn-default" protected-url-btn url="${request.route_url('routes_add')}">
      <span class="glyphicon glyphicon-plus-sign"></span>
    </button>
    <app-pagination></app-pagination>
  </div>
  <app-advanced-search document-type="routes" use-map="true"></app-advanced-search>
</section>
<div class="map-right">
  <app-map app-map-advanced-search="true"></app-map>
</div>
<script>
window.onload = function(){
  app.stickyFilters();
}
</script>
