<%inherit file="../base.html"/>

<%block name="pagetitle">
Routes
</%block>

<h1>${self.pagetitle()}</h1>
<app-map></app-map>
<p>${total} routes</p>
<ul>
  <li><a href="${request.route_url('routes_add')}">Add a route</a></li>
% for route in routes:
  <li>
  % for locale in route['locales']:
    <a href="${request.route_url('routes_view', id=route['document_id'], culture=locale['culture'])}">${locale['title']}</a> (${locale['culture']})
  % endfor
  - ${route['elevation_max']} m</li>
% endfor
</ul>
