<%namespace file="../helpers/view.html" import="get_document_locale_text,
    show_locale_title, get_activities, get_document_description"/>
<%namespace file="../helpers/preview.html" import="show_preview_warning"/>
<%namespace file="helpers/view.html" import="get_route_location,
    get_route_glacier_gear, get_route_rating, get_route_general, get_route_heights,
    get_route_access, get_route_associated_maps, get_route_orientations"/>

<%
route = document
locale = document['locales'][0]
%>

${show_preview_warning()}

<div class="viewdoc viewroute">

  </header>
  <header class="view-title-without-bg">
    <h1 class="routes">
      <span class="title">${locale['title']}</span>
      <div class="icons-header routes">${get_activities(route, 'top')}</div>
    </h1>
  </header>
  <section class="view-details-section">
    <div class="row">
      <div class="col-xs-12 col-md-4 col-lg-3">

        % if version:
          ${show_archive_data('routes', route, locale, version)}
        % endif
        <c2c-map class="view-details-map"></c2c-map>

        ${get_route_associated_maps(route)}
      </div>
      <div class="col-xs-12 col-md-8 col-lg-9">

        <section id="document-informations" class="flexmobile">
          <div class="finfo">
            <div class="ficontent">
              <div class="row">
                  ${get_route_general(route, locale)}
                  ${get_route_location(route)}
                  ${get_route_rating(route)}
                  ${get_route_heights(route, locale)}
                  ${get_route_glacier_gear(route)}
                  ${get_route_access(route)}
                  ${get_route_orientations(route)}
              </div>
            </div>
          </div>
          ${get_document_locale_text(locale, 'route_history', True)}
          ${get_document_description(locale, 'route')}
          ${get_document_locale_text(locale, 'slackline_anchor1', True)}
          ${get_document_locale_text(locale, 'slackline_anchor2', True)}
          ${get_document_locale_text(locale, 'remarks', True)}
          ${get_document_locale_text(locale, 'external_resources', True)}
        </section>

      </div>
    </div>

  </section>
</div>
