<%namespace file="../helpers/view.html" import="get_document_locale_text,
    show_locale_title, get_activities, get_document_description"/>
<%namespace file="../helpers/preview.html" import="show_preview_warning"/>
<%namespace file="helpers/view.html" import="get_route_location,
    get_route_glacier_gear, get_route_rating, get_route_general, get_route_heights,
    get_route_access, get_route_associated_maps, get_route_orientations"/>

<%
route = document
locale = document['locales'][0]
%>

${show_preview_warning()}

<header class="view-details-title">
  <h1 class="routes">
    <div class="icons-header routes">${get_activities(route, 'top')}</div>
    <span class="title">${show_locale_title(locale)}</span>
    <label class="badge route">
      <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;<span translate>route</span>
    </label>
  </h1>
</header>

<section class="view-details-section">

  <div class="thumbnail view-details-informations col-sm-12 informations">
    <h3 class="heading informations" ng-click="mainCtrl.animateHeaderIcon($event)" data-toggle="collapse" data-target="#document-informations">
      <span translate>Information</span><span class="glyphicon glyphicon-menu-down"></span>
    </h3>
    <section id="document-informations" class="collapse in">
      ${get_route_general(route, locale, True)}
      ${get_route_location(route)}
      ${get_route_heights(route, locale)}
      ${get_route_rating(route)}
      ${get_route_glacier_gear(route)}
      ${get_route_access(route)}
      ${get_route_orientations(route)}
      ${get_route_associated_maps(route)}
    </section>
  </div>

  ${get_document_description(locale, 'route')}

  <div class="description ">
    ${get_document_locale_text(locale, 'remarks', True)}
    ${get_document_locale_text(locale, 'gear', True)}
    ${get_document_locale_text(locale, 'route_history', True)}
    ${get_document_locale_text(locale, 'external_resources', True)}
  </div>

</section>
