<%inherit file="../base.html"/>
<%namespace file="../helpers/common.html" import="show_title"/>
<%namespace file="../helpers/view.html" import="add_seo_association_links"/>

<%block name="pagetitle"><title ng-bind="mainCtrl.page_title('Routes')">${show_title('Routes')}</title></%block>

<%block name="metarobots"><meta name="robots" content="noindex,follow"></%block>

<header class="page-main-title text-center" ng-cloak>
  <h3 ng-init="nbItems = ${total}" ng-cloak><span translate>Routes</span>
    <span class="badge">{{nbItems}}</span>
  </h3>
</header>
<section class="documents-list-section">
  <h2>Temporary page for sitemap</h2>
  ${add_seo_association_links(routes, 'routes', False)}
</section>
