<%!
from c2corg_ui.templates.utils import get_lang_lists
%>\
<%inherit file="../base.html"/>
<%namespace file="../helpers.html" import="show_attr, show_archive_data, show_other_langs_links, show_missing_langs_links, show_route_title"/>
<%
route_id = route['document_id']
other_langs, missing_langs = get_lang_lists(route, lang)
%>\
<%block name="pagelang">lang="${lang}"</%block>\
<%block name="pagetitle"><title>${show_route_title(locale, True)}</title></%block>\
<%block name="metarobots">\
  % if version:
<meta name="robots" content="noindex,follow">\
  % else:
<meta name="robots" content="index,follow">\
  %endif
</%block>\

<header class="view-details-title">
  <span class="heading">${show_route_title(locale)} <label class="badge" translate>route</label></span>
  <div class="float-buttons">
    <div class="float-button float-edit" tooltip-placement="top" uib-tooltip="{{'Edit' | translate}}">
      <app-edit-button app-edit-button-url="${request.route_url('routes_edit', id=route_id, lang=lang)}"></app-edit-button>
      <span class="glyphicon glyphicon-edit"></span>
    </div>
    <div class="float-button float-favorite" tooltip-placement="top" uib-tooltip="{{'Add to favorites' | translate}}">
      <span class="glyphicon glyphicon-heart"></span>
    </div>
  </div>
</header>
<app-map class="view-details-map"></app-map>
<section class="view-details-section">
  <div class="thumbnail view-details-list col-lg-4 col-md-4 col-sm-12">
    % if route['height_diff_up']:
      <div class="name-icon-value col-sm-6">
        <div class="name-icon">
          <span class="glyphicon glyphicon-stats detail-icon"></span>
          <span translate class="detail-name">height_diff_up</span>
        </div>
        <span class="detail-value">${route['height_diff_up']} m</span>
      </div>
    % endif
    % if locale['summary']:
      <div class="name-icon-value col-sm-6">
        <div class="name-icon">
          <span class="glyphicon glyphicon-list-alt"></span>
          <span class="detail-name" translate>summary</span>
        </div>
        <span class="detail-text">${show_attr(locale, 'summary')}</span>
      </div>
    % endif
    % if locale['gear']:
      <div class="name-icon-value col-sm-6">
        <div class="name-icon">
          <span class="glyphicon glyphicon-paperclip"></span>
          <span class="detail-name" translate>gear</span>
        </div>
        <span class="detail-text">${show_attr(locale, 'gear')}</span>
      </div>
    % endif
  </div>
  <div class="col-lg-7 col-md-7 detail-buttons col-xs-12">
    % if version:
      ${show_archive_data('routes', route, locale, version)}
    % else:
      ${show_other_langs_links('routes', route, other_langs)}
      ${show_missing_langs_links('routes', route, missing_langs)}
    % endif
    <a class="btn btn-info" href="${request.route_url('routes_history', id=route_id, lang=lang)}" translate>History</a>
  </div>
  <div class="view-details-description col-lg-8 col-md-8 col-xs-12">
    <span class="lead"> 
      <h3 translate class="text-center heading">description</h3>
      ${show_attr(locale, 'description')}
    </span>
  </div>
</section>
<%include file="../document/floating-button-responsive.html"/>
