
<%!
from c2corg_common.attributes import activities, image_categories, image_types
from c2corg_ui.templates.utils import get_lang_lists, get_title
from json import dumps
%>

<%inherit file="../base.html"/>
<%namespace file="../helpers/view.html" import="get_comments, get_image_gallery,
    photoswipe_gallery, get_document_locale_text,
    get_document_locale_text, show_missing_langs_links,
    show_other_langs_links, show_archive_data, show_locale_title,
    show_areas, show_float_buttons, show_maps, get_activities,
    show_associated_waypoints, show_associated_routes, show_associated_outings,
    show_associated_articles, show_associated_books, show_associated_xreports,
    delete_association_confirmation_modal, associated_waypoints_featurelist,
    show_badge, get_document_description, get_licence, show_merge_documents_dialog,
    show_delete_document_dialog, generate_share_metadata, display_app_smartphone_info" />

<%namespace file="helpers/view.html" import="get_route_location,
    get_route_glacier_gear, get_route_rating, get_route_general, get_route_heights,
    get_route_access, get_route_associated_maps, get_route_orientations,
    get_route_gear"/>

<%
route_id = route['document_id']
route['doctype'] = 'routes'
other_langs, missing_langs = get_lang_lists(route, lang)
%>

<%block name="pagelang">lang="${lang}"</%block>

<%block name="pagetitle"><title>${show_locale_title(locale, True)}</title></%block>

<%block name="metarobots">
  % if version:
    <meta name="robots" content="noindex,follow">
  % else:
    <meta name="robots" content="index,follow">
  %endif
</%block>

<%block name="moduleConstantsValues">
  <%
      if route['geometry']:
          geometry = route['geometry']['geom_detail'] \
              if route['geometry']['geom_detail'] else route['geometry']['geom']
      else:
          geometry = None
  %>
  module.value('mapFeatureCollection',
    % if geometry:
      {
        "type": "FeatureCollection",
        "properties": {},
        "features": [
        {
          "type": "Feature",
          "geometry": ${geometry | n},
          "properties": {
            "title": ${dumps((locale['title_prefix'] + ' : ' if locale.get('title_prefix') else '') + locale['title']) | n},
            "lang": "${locale['lang']}",
            "documentId": ${route['document_id']},
            "module": "routes"
          }
        }
        % if not version:
          ${associated_waypoints_featurelist(route)}
        % endif
      ]}
    % else:
      null
    % endif
  );

  module.value('documentData', {
    "document_id": ${route.get('document_id')},
    "protected": ${'true' if route.get('protected') else 'false'},
    "lang": "${lang}",
    "type": "r",
    "title": ${dumps(get_title(locale)) | n},
    "activities": ${dumps(route.get('activities')) | n},
    "topic_id": ${dumps(locale.get('topic_id'))},
    % if route.get('orientations'):
      "orientations": [${'"' + '","'.join(route['orientations']) + '"' if len(route['orientations']) else '' | n}],
    % endif
    "associations": ${dumps(route.get('associations')) | n}
  });
</%block>
<%block name="share">
  ${generate_share_metadata(route, 'routes')}
</%block>
<div ng-cloak>
  <div class="viewdoc viewroute">
    <header class="view-title-with-bg" ng-if="detailsCtrl.hasHeadband">
      <div class="view-image-bg" ng-style="{'background-image': 'url('+this.headBands+')'}"><div class="view-filter-bg"></div></div>

      <h1 class="routes">
        <span class="title">${show_locale_title(locale)}</span>
        <div class="icons-header routes">${get_activities(route, 'top')}</div> ${show_badge(route, 'route')}
      </h1>
    </header>
    <header class="view-title-without-bg" ng-if="!detailsCtrl.hasHeadband">
      <h1 class="routes">
        <span class="title">${show_locale_title(locale)}</span>
        <div class="icons-header routes">${get_activities(route, 'top')}</div> ${show_badge(route, 'route')}
      </h1>
    </header>
    <section class="view-details-section" app-view-details ng-class="{'row-list' : switchCtrl.showList}">
      % if version:
      ${show_archive_data('routes', route, locale, version)}
      % endif

      <div class="row">
        <div class="col-xs-12 col-md-4 col-lg-3">
          <div class="finfo" ng-if="detailsCtrl.documentService.document.associations.images.length > 0 && detailsCtrl.hasVerticalImg">
            <div class="ficontent moz">
              <img ng-src="{{detailsCtrl.createImageUrl(detailsCtrl.documentService.document.associations.images[0].filename, 'MI')}}" alt="{{detailsCtrl.documentService.document.associations.images[0].locales[0].title}}" class="fullimg"/>
            </div>
          </div>
          % if version:
            ${show_archive_data('routes', route, locale, version)}
          % endif
          <app-map class="view-details-map"></app-map>
          % if not version:
            ${display_app_smartphone_info('route')}
          % endif
          % if not version:
            ${show_associated_waypoints(route)}
            ${get_image_gallery()}
            ${show_other_langs_links('routes', route, other_langs)}
          % endif
          ${get_route_associated_maps(route)}
          ${get_licence(route)}
        </div>
        <div class="col-xs-12 col-md-8 col-lg-9">
          <section id="document-informations" class="collapse in flexmobile">
            <div class="finfo">
              <div class="ficontent">
                <div class="row">
                    ${get_route_general(route, locale)}
                    ${get_route_location(route)}
                    ${get_route_rating(route)}
                    ${get_route_heights(route, locale)}
                    ${get_route_glacier_gear(route)}
                    ${get_route_access(route)}
                    ${get_route_orientations(route)}
                </div>
              </div>
            </div>
            ${get_document_locale_text(locale, 'route_history', True)}
            ${get_document_description(locale, 'route')}
            ${get_document_locale_text(locale, 'slackline_anchor1', True)}
            ${get_document_locale_text(locale, 'slackline_anchor2', True)}
            ${get_document_locale_text(locale, 'remarks', True)}
            ${get_route_gear(route, locale)}
            ${get_document_locale_text(locale, 'external_resources', True)}
          </section>

          % if not version:
            ## route has always at least 1 associated waypoint so this div will always be displayed
            <div class="row">
              <div class="col-xs-12">
                <span class="lead">
                  <section>
                    <div ng-show="userCtrl.auth.isAuthenticated()" class="add-association">
                      <label translate>Add association</label>
                      <app-add-association parent-id="${route_id}" parent-doctype="routes" dataset="wrcbx"></app-add-association>
                    </div>

                    ${show_associated_routes(route)}
                    ${show_associated_outings(route)}
                    ${show_associated_articles(route)}
                    ${show_associated_books(route)}
                    ${show_associated_xreports(route)}
                    <div class="clear"></div>
                  </section>
                </span>
              </div>
            </div>

            ${get_comments()}

            ${show_float_buttons(route, lang, other_langs, missing_langs)}
          % endif
        </div>
      </div>

    </section>
  </div>



  <div class="text-center parent-scroll viewdoc-bottom">
    <button class="btn btn-default scroll-top-btn" onclick="window.scrollTo(0, 0);">&nbsp;<span class="glyphicon glyphicon-menu-up"></span></button>
  </div>

  % if not version:
  <div class="ng-hide">
    <div id="image-uploader" app-image-uploader activities="${activities}" categories="${image_categories}" types="${image_types}"></div>
    ${delete_association_confirmation_modal()}
    ${show_missing_langs_links('routes', route, missing_langs)}
    ${show_merge_documents_dialog('routes')}
    ${show_delete_document_dialog('routes', lang, other_langs)}
  </div>

    ${photoswipe_gallery()}

  <script>
    window.onload = function() {
      ## init float-buttons tooltips
      $('[data-toggle=\'tooltip\']').tooltip();
    }
  </script>
  % endif
</div>
