<%!
from c2corg_common.attributes import default_langs, activities, image_types, image_categories
%>
<%inherit file="../base.html"/>
<%
  updating_doc = image_id and image_lang
%>
<%namespace file="../helpers/common.html" import="show_title"/>

<%namespace file="../helpers/edit.html" import="show_editing_associated_waypoints,
    show_editing_associated_routes, show_editing_associated_outings, show_preview_container,
    show_save_confirmation_modal, show_editing_buttons, show_protected_warning"/>

<%block name="pagetitle">
<title ng-init="id = ${image_id if image_id else 0}" ng-bind="id ?
          mainCtrl.page_title('Editing an image') : mainCtrl.page_title('Creating an image')">${show_title('Create/edit image')}
</title>
</%block>

<%block name="metarobots"><meta name="robots" content="noindex,nofollow"></%block>

<section class="create-edit-document" ng-cloak>

  <h1 ng-init="id = ${image_id if image_id else 0}" class="text-center">
    <label class="label label-primary" ng-bind="id ? ('Editing an image' | translate) : ('Creating an image' | translate)"></label>
  </h1>

  <form c2c-loading c2c-document-editing="images" c2c-document-editing-model="image"
    c2c-document-editing-controller-name="ImageEditingController"
  % if updating_doc:
    c2c-document-editing-id="${image_id}" c2c-document-editing-lang="${image_lang}"
  % endif
    class="document-editing" name="editForm" novalidate>

    ## PROGRESS BAR
    <c2c-progress-bar ng-init="progressBarCtrl.maxSteps = 2">
      <ul class="progress-bar-edit">
        <li class="nav-step-1"ng-click="progressBarCtrl.step(1, 'image',  'backwards')" ng-class="{'nav-step-selected': progressBarCtrl.currentStep == 1 }"><span class="nav-text"><span translate>image</span></span><span class="bullet-container"><span class="bullet"></span></span></li>
        <li class="nav-step-2"ng-click="progressBarCtrl.step(2, 'image',  'backwards')" ng-class="{'nav-step-selected': progressBarCtrl.currentStep == 2 }"><span class="nav-text"><span translate>comments</span> & <span translate>associations</span></span><span class="bullet-container"><span class="bullet"></span></span></li>
      </ul>

      ## NAV BUTTONS
      <div class="nav-buttons">
        <button class="btn btn-primary prev" type="button" ng-if="progressBarCtrl.previousStep !== 0" ng-click="progressBarCtrl.step(progressBarCtrl.previousStep, 'image', 'backwards')"><span class="glyphicon glyphicon-triangle-left"></span></button>
        <button class="btn btn-primary next" type="button" ng-if="progressBarCtrl.nextStep <=  progressBarCtrl.maxSteps" ng-click="progressBarCtrl.step(progressBarCtrl.nextStep, 'image', 'forwards')"><span class="glyphicon glyphicon-triangle-right"></span></button>
      </div>
    </c2c-progress-bar>

    ${show_protected_warning('image')}

    <section class="editing">

      <div class="step step-1">
        <section class="section">
          <h2 class="heading show-phone" translate>general informations</h2>
          <div class="content">

            ## TITLE
            <div id="title-group" class="form-group">
              <label translate>title</label>
              <input type="text" name="title" ng-model="image.locales[0].title" class="form-control" />
            </div>

            ## LANGUAGE
            <div id="lang-group" class="form-group"
                 ng-class="{ 'has-feedback': editForm.lang.$touched,
                             'has-error': editForm.lang.$touched && editForm.lang.$invalid,
                             'has-success': editForm.lang.$valid}">
              <label ng-class="{ 'control-label': editForm.lang.$touched && editForm.lang.$invalid }"><span translate>lang</span> *</label>
              % if image_lang:
              <input disabled class="form-control" value="{{mainCtrl.translate('${image_lang}')}}">
              % else:
              <select name="lang" ng-options="lang as mainCtrl.translate(lang) for lang in ['${"','".join(default_langs) |n}'] | translate" ng-model="image.locales[0].lang" class="form-control" required><option value=""></option></select>
              % endif
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="image.locales[0].lang"></span>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.lang.$touched && editForm.lang.$invalid"></span>
              <div class="help-block" ng-messages="editForm.lang.$error" ng-if="editForm.lang.$touched && editForm.lang.$invalid">
                <p ng-message="required" translate>This field is required.</p>
              </div>
            </div>

            ## FILENAME
            <div id="title-group" class="form-group">
              <label translate>filename</label>
              <input disabled  type="text" name="filename" ng-model="image.filename" class="form-control" />
            </div>

            ## THE IMAGE
            <a class="full" href="#image" data-toggle="collapse" aria-expanded="false" aria-controls="image"><label translate>see the image</label></a>
            <div id="image" class="collapse">
              <div class="image" style="background-image: url('{{editCtrl.createImgUrl(image.filename)}}');"></div>
            </div>

            ## UPLOAD NEW IMAGE BTN
## TODO implement this tool
##            <div class="upload-file half">
##              <button class="orange-btn btn" type="button">
##                <span translate>upload a new version</span>&nbsp;
##                <span class="glyphicon glyphicon-upload"></span>
##              </button>
##              <input type="file"/>
##            </div>

            ## ACTIVITIES
            <div class="form-group full" ng-init="activities = ${activities}" id="image-activities">
              <label translate>activities</label>
              <div class="route-activities">
                <div ng-repeat="activity in activities" class="activity">
                  <div>
                    <div class="icon-{{activity}}" class="icon-" ng-click="editCtrl.pushToArray(image, 'activities', activity, $event)"
                         ng-class="{'activity-selected' : image.activities.indexOf(activity) > -1}">
                    </div>
                    <p>{{activity | translate}}</p>
                  </div>
                </div>
              </div>
            </div>

            ## CATEGORIES
            <div class="form-group half">
              <label translate>image_categories</label>
              <ul class="types">
                <li ng-repeat="category in ${image_categories}" ng-click="editCtrl.pushToArray(image, 'categories', category, $event)">
                  <div class="checkbox"><input type="checkbox" ng-checked="image.categories.indexOf(category) > -1"><span>{{category | translate}}</span></div>
                </li>
              </ul>
            </div>

            ## IMAGE TYPE
            <div class="form-group half half-group">

              ## DATE
              <label translate>date</label>
              <div class="input-group" ng-init="openDateStart = false" ng-model="image.date_time" datepicker-options="{maxDate : editCtrl.today}"
                   uib-datepicker-popup="dd MM yyyy" is-open="openDateStart">
                <input type="text" disabled class="form-control" value="{{image.date_time | amDateFormat: 'Do MMMM YYYY' }}"/>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="openDateStart = true"><span class="glyphicon glyphicon-calendar"></span></button>
                </span>
              </div>

              ## TIME
              <div class="input-group" uib-timepicker ng-model="image.date_time" hour-step="1" minute-step="1" second-step="1"
                   show-seconds="1" show-spinners="1" show-meridian="ismeridian">
              </div>

              <div ng-class="{ 'has-success': image.image_type}">
                <label><span translate>image_type</span> *</label>
                <div class="input-group" ng-init="image_types = ${image_types}">
                  <select class="form-control" ng-model="image.image_type" ng-if="userCtrl.isModerator()"
                    ng-options="type as mainCtrl.translate(type) for type in image_types"></select>
                  <div ng-if="!userCtrl.isModerator()">
                    <select class="form-control" ng-model="image.image_type" ng-if="editCtrl.initialImageType == 'personal'"
                      ng-options="type as mainCtrl.translate(type) for type in editCtrl.filterImageTypes(image_types)"></select>
                    <input type="text" disabled class="form-control" ng-model="image.image_type" ng-if="editCtrl.initialImageType != 'personal'" />
                  </div>
                  <span class="input-group-addon"><span class="glyphicon glyphicon-star"></span></span>
                </div>
                <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="image.image_type"></span>
              </div>

            </div>

          </div>
        </section>

        ## MAPS
        <section class="section maps-info">
          <h2 class="heading show-phone"><span translate>geolocation</span></h2>
          <div class="content" id="edit-maps">

            ## ELEVATION
            <div id="elevation-group" class="form-group data third"
                 ng-class="{ 'has-feedback': editForm.elevation.$touched,
                             'has-error': editForm.elevation.$touched && editForm.elevation.$invalid,
                             'has-success': editForm.elevation.$valid && image.elevation}">
              <label ng-class="{ 'control-label': editForm.elevation.$touched && editForm.elevation.$invalid }" translate>elevation</label>
              <div class="input-group">
                <input type="number" min="0" minlength="1" max="9999" name="elevation" ng-model="image.elevation" class="form-control" />
                <span class="input-group-addon">m</span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="image.elevation"></span>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.elevation.$touched && editForm.elevation.$invalid"></span>
              <div class="help-block" ng-messages="editForm.elevation.$error" ng-if="editForm.elevation.$touched && editForm.elevation.$invalid">
                <p ng-message="number" translate>This field must be a number.</p>
                <p ng-message="max" translate>This field must be lower than 9999 m.</p>
              </div>
            </div>

            ## LONGITUDE
            <div id="longitude-group" class="form-group data third"
                 ng-class="{ 'has-feedback': editForm.longitude.$touched,
                             'has-error': editForm.longitude.$touched && editForm.longitude.$invalid,
                             'has-success': editForm.longitude.$valid && waypoint.lonlat.longitude}">
              <label ng-class="{ 'control-label': editForm.longitude.$touched && editForm.longitude.$invalid }"><span translate>longitude</span></label>
              <div class="input-group">
                <input type="number" name="longitude" ng-model="image.lonlat.longitude" ng-change="editCtrl.updateMap()" class="form-control" min="-180" max="180" />
                <span class="input-group-addon">°E</span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="editForm.longitude.$valid && image.lonlat.longitude"></span>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.longitude.$invalid && editForm.longitude.$touched"></span>
              <div class="help-block" ng-messages="editForm.longitude.$error" ng-if="editForm.longitude.$touched && editForm.longitude.$invalid">
                <p ng-message="number" translate>This field must be a number.</p>
                <p ng-message="min" translate>This field must be between -180° and 180°.</p>
                <p ng-message="max" translate>This field must be between -180° and 180°.</p>
              </div>
            </div>

            ## LATITUDE
            <div id="latitude-group" class="form-group data third"
                 ng-class="{ 'has-feedback': editForm.latitude.$touched,
                             'has-error': editForm.latitude.$touched && editForm.latitude.$invalid,
                             'has-success': editForm.latitude.$valid && waypoint.lonlat.latitude}">
              <label ng-class="{ 'control-label': editForm.latitude.$touched && editForm.latitude.$invalid }"><span translate>Latitude</span></label>
              <div class="input-group">
                <input type="number" name="latitude" ng-model="image.lonlat.latitude" ng-change="editCtrl.updateMap()" class="form-control" min="-90" max="90" />
                <span class="input-group-addon">°N</span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="image.lonlat.latitude"></span>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.latitude.$invalid && editForm.latitude.$touched"></span>
              <div class="help-block" ng-messages="editForm.latitude.$error" ng-if="editForm.latitude.$invalid && editForm.latitude.$touched">
                <p ng-message="number" translate>This field must be a number.</p>
                <p ng-message="min" translate>This field must be between -90° and 90°.</p>
                <p ng-message="max" translate>This field must be between -90° and 90°.</p>
              </div>
            </div>

            <c2c-map c2c-map-edit="true" c2c-map-show-recenter-tools="true" c2c-map-draw-type="Point" class="map-edit"></c2c-map>

          </div>

        </section>

        <section class="section">
          <h2 class="heading show-phone" translate>camera settings</h2>
          <div class="content">

            ## CAMERA NAME
            <div class="form-group half">
              <label translate>camera_name</label>
              <input type="text" ng-model="image.camera_name" class="form-control">
            </div>

            ## Fnumber
            <div class="form-group half" ng-class="{ 'has-error': editForm.fnumber.$invalid, 'has-success': editForm.fnumber.$valid && image.fnumber }">
              <label translate>fnumber</label>
              <div class="input-group">
                <span class="input-group-addon">f/</span>
                <input type="text" ng-model="image.fnumber" name="fnumber" class="form-control">
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="editForm.fnumber.$valid && image.fnumber"></span>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.fnumber.$invalid && editForm.fnumber.$touched"></span>
            </div>

            ## FOCAL LENGTH
            <div class="form-group half"
                 ng-class="{ 'has-feedback': editForm.focal_length.$touched,
                             'has-error': editForm.focal_length.$invalid,
                             'has-success': editForm.focal_length.$valid && image.focal_length }">
              <label ng-class="{ 'control-label': editForm.focal_length.$touched && editForm.focal_length.$invalid }" translate>focal_length</label>
              <div class="input-group">
                <input type="number" min="1" name="focal_length" ng-model="image.focal_length" class="form-control">
                <span class="input-group-addon">mm</span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="editForm.focal_length.$valid && image.focal_length"></span>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.focal_length.$invalid && editForm.focal_length.$touched"></span>
              <div class="help-block" ng-messages="editForm.focal_length.$error" ng-if="editForm.focal_length.$invalid && editForm.focal_length.$touched">
                <p ng-message="number" translate>This field must be a number.</p>
              </div>
            </div>

            ## EXPOSURE TIME
            <div class="form-group half"
                 ng-class="{ 'has-feedback': editForm.exposure_time.$touched,
                             'has-error': editForm.exposure_time.$invalid || editCtrl.exposureError,
                             'has-success': editForm.exposure_time.$valid && image.exposure_time}">
              <label ng-class="{ 'control-label': editForm.exposure_time.$touched && editForm.exposure_time.$invalid }" translate>exposure_time</label>
              <span ng-bind-html="editCtrl.convertExposureTime(image.exposure_time)"></span>
              <div class="input-group flex">
                <input type="number" min="0" max="30" step="any" name="exposure_time" ng-model="image.exposure_time" ng-change="editCtrl.convertExposureTime(image.exposure_time)" class="form-control"
                       uib-tooltip="{{'You can type 0.003125 and it will be converted to 1/320s' | translate}}">
                <input type="text" disabled class="form-control" value="{{image.exposure_time_converted}}">
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="editForm.exposure_time.$valid && image.exposure_time"></span>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.exposure_time.$invalid && editForm.exposure_time.$touched"></span>
              <div class="help-block" ng-messages="editForm.exposure_time.$error || editCtrl.exposureError" ng-if="editForm.exposure_time.$invalid && editForm.exposure_time.$touched">
                <p ng-message="number" translate>This field must be a number.</p>
                <p ng-message="min"><span translate>This field must be a number</span> > 0 <span translate>and</span> < 30</p>
                <p ng-message="max"><span translate>This field must be a number</span> > 0 <span translate>and</span> < 30</p>
              </div>
            </div>

            ## ISO
            <div class="form-group half"
                 ng-class="{ 'has-feedback': editForm.iso_speed.$touched,
                             'has-error': editForm.iso_speed.$invalid,
                             'has-success': editForm.iso_speed.$valid && image.iso_speed }">
              <label ng-class="{ 'control-label': editForm.iso_speed.$touched && editForm.exposure_time.$invalid }" translate>iso_speed</label>
              <div class="input-group">
                <span class="input-group-addon">ISO</span>
                <input type="number" min="1" name="iso_speed" ng-model="image.iso_speed" class="form-control">
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="editForm.iso_speed.$valid && image.iso_speed"></span>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.iso_speed.$invalid && editForm.iso_speed.$touched"></span>
              <div class="help-block" ng-messages="editForm.iso_speed.$error" ng-if="editForm.iso_speed.$invalid && editForm.iso_speed.$touched">
                <p ng-message="number" translate>This field must be a number.</p>
                <p ng-message="min"><span translate>This field must be a number</span> > 0</p>
              </div>
            </div>

          </div>
        </section>

      </div>

      <div class="step step-2">
        <section class="section">
          <h2 class="heading show-phone" translate>comments</h2>
          <div class="content">

            ## DESCRIPTION
            <div id="description-group" class="form-group full">
              <label translate>description</label>
              <textarea c2c-markdown-editor name="description" ng-model="image.locales[0].description" class="form-control description"></textarea>
            </div>

            ## SUMMARY
            <div id="summary-group" class="form-group full">
              <label translate>summary</label>
              <textarea c2c-markdown-editor name="summary" ng-model="image.locales[0].summary" class="form-control"></textarea>
            </div>

            ## AUTHOR
            <div class="form-group half">
              <label translate>author</label>
              <input type="text" class="form-control" ng-model="image.author">
            </div>
        </section>

        <section class="section associations">
          <h2 class="heading show-phone" translate>associations</h2>
          <div class="content">
            <c2c-simple-search parent-id="image.document_id" c2c-select="editCtrl.documentService.pushToAssociations(doc)" dataset="wro"></c2c-simple-search>
            ${show_editing_associated_routes('image')}
            ${show_editing_associated_waypoints('image')}
            ${show_editing_associated_outings('image')}
          </div>
        </section>
      </div>

      ${show_editing_buttons('image', updating_doc, image_id, image_lang)}

    </section>
  </form>
  ${show_preview_container()}
  ${show_save_confirmation_modal(updating_doc)}
</section>
