<%!
from c2corg_common.attributes import default_langs, activities, image_categories, image_types
%>
<%namespace file="../helpers/filters.html" import="add_multiselect"/>

<form app-search-filters app-search-filters-controller-name="appSearchFiltersController">
  <div class="filters">
    <div class="row simple-filters">

      <div class="filter">
        <label translate>date_taken</label><br>
        <div class="input-group" ng-model="filtersCtrl.dates[0]" datepicker-options="{maxDate: filtersCtrl.dateMaxStart}"
             uib-datepicker-popup="dd MM yyyy" is-open="openDateStart" ng-change="filtersCtrl.setDate('date')">
          <input type="text" disabled class="form-control" value="{{filtersCtrl.dates[0] | amDateFormat:'Do MMMM YYYY'}}"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openDateStart = true"><span class="glyphicon glyphicon-calendar"></span></button>
          </span>
        </div>
      </div>

      <div class="filter">
        <label translate>activities</label><br>
        ${add_multiselect('act', activities)}
      </div>

      <div class="filter">
        <label translate>categories</label><br>
        ${add_multiselect('cat', image_categories)}
      </div>

    </div>

    <div class="row collapse" id="moreFilters">

      <div class="col-xs-12 col-sm-6 filter">
        <label translate>title</label>
        <input type="text" class="form-control" ng-model="filtersCtrl.filters.q">
      </div>

      <div class="col-xs-12 col-sm-6 filter">
        <label translate>elevation</label><br>
        <app-slider filter="oalt" filters-list="filtersCtrl.filters" max="8850"></app-slider>
      </div>

      <div class="col-xs-12 col-sm-6 filter">
        <label translate>type</label><br>
        ${add_multiselect('im_typ', image_types)}
      </div>

      <div class="filters-bottom-buttons">
        <button class="btn search-filters-btn orange-btn" data-toggle="collapse"
                data-target="#moreFilters" aria-expanded="false">
          <span translate>Show results</span> ({{resCounter}})
        </button>
        <button class="btn blue-btn search-filters-btn" ng-click="filtersCtrl.clear()"
                ng-show="filtersCtrl.filtersNb > 0"><span translate>Clear filters</span> ({{filtersCtrl.filtersNb}})</button>
      </div>
    </div>

    <div class="more-filters-btn-container">
      <button class="btn orange-btn more-filters-btn" data-toggle="collapse" data-target="#moreFilters"
        aria-expanded="false" aria-controls="moreFilters" translate>All filters</button>
      <button class="btn blue-btn more-filters-btn" ng-click="filtersCtrl.clear()" ng-cloak
              ng-show="filtersCtrl.filtersNb > 0"><span translate>Clear filters</span> ({{filtersCtrl.filtersNb}})</button>
    </div>

  </div>
</form>
