<%inherit file="../base.html"/>
<%namespace file="../helpers/common.html" import="show_title"/>
<%namespace file="../helpers/list.html" import="add_doctype_selector"/>

<%block name="pagetitle"><title ng-bind="mainCtrl.page_title('Images')">${show_title('Images')}</title></%block>

<%block name="moduleConstantsValues">
  module.value('mapFeatureCollection', null);
  module.value('advancedSearchFilters', {
    'date': {'type': 'date'},
    'act': {'type': 'list'},
    'oalt': {'type': 'range'}
  });
</%block>

<header class="page-main-title">
  <h3><span translate>Images</span>
    <span class="badge" ng-cloak>{{resCounter}}</span>
  </h3>
</header>

<section class="documents-list-section">
  <%include file="filters.html" />

  <div class="documents-nav-buttons text-center">
    <button class="btn btn-default orange-btn show-documents-filters-phone" translate>Filters</button>
    ${add_doctype_selector()}
    <app-pagination></app-pagination>
    <div class="toggle-map">
      <button class="btn btn-default"><span class="glyphicon glyphicon-globe"></span></button>
    </div>
  </div>

  <app-advanced-search document-type="images" use-map="true"></app-advanced-search>
</section>

<div class="map-right">
  <app-map app-map-advanced-search="true" app-map-show-recenter-tools="true"></app-map>
</div>