<%namespace file="../helpers/view.html" import="get_activities, get_document_description"/>
<%namespace file="../helpers/preview.html" import="show_preview_warning"/>
<%namespace file="helpers/view.html" import="get_image_general, get_image_camera_settings,
    show_image, get_image_location"/>

<%
image = document
locale = document['locales'][0]
%>

${show_preview_warning()}

<div class="viewdoc">
  <header class="view-title-without-bg">
    <h1 class="routes">
      <span class="title">${locale['title']}</span>
      <div class="icons-header routes">${get_activities(image, 'top')}</div>
    </h1>
  </header>

  <section class="view-details-section images">
       <div class="row">
        <div class="col-xs-12 col-md-4 col-lg-3">
          ${get_image_general(image)}
          ${get_image_camera_settings(image)}
          ${get_image_location(image)}
         </div>
         <div class="col-xs-12 col-md-8 col-lg-9">
           ${show_image(image, locale, 'BI', link=True)}
           ${get_document_description(locale, 'image')}
         </div>
    </div>
  </section>
</div>
