<%!
from c2corg_common.attributes import activities, image_categories, image_types
from c2corg_ui.templates.utils import get_lang_lists, has_associations, get_title
from json import dumps
%>

<%inherit file="../base.html"/>
<%namespace file="../helpers/view.html" import="get_image_gallery, photoswipe_gallery,
    show_missing_langs_links, show_other_langs_links, show_badge,
    show_archive_data, show_locale_title, get_activities, show_areas, show_float_buttons,
    show_associated_waypoints, show_associated_routes, show_associated_articles,
    show_associated_outings, show_associated_books, delete_association_confirmation_modal,
    get_document_description, get_comments, get_licence, show_merge_documents_dialog,
    show_delete_document_dialog, generate_share_metadata, get_print_license"/>
<%namespace file="helpers/view.html" import="get_image_general, get_image_camera_settings,
  show_image, get_image_location"/>

<%
  image_id = image['document_id']
  image['doctype'] = 'images'
  other_langs, missing_langs = get_lang_lists(image, lang)
%>

<%block name="pagelang">lang="${lang}"</%block>
<%block name="pagetitle"><title>${show_locale_title(locale, True)}</title></%block>
<%block name="metarobots">
  % if version:
    <meta name="robots" content="noindex,follow">
  % else:
    <meta name="robots" content="index,follow">
  % endif
</%block>

<%block name="moduleConstantsValues">
  module.value('mapFeatureCollection',
  % if geometry:
    {
      "type": "FeatureCollection",
      "properties": {},
      "features": [
      {
        "type": "Feature",
        "geometry": {"type": "Point", "coordinates": [${geometry.x}, ${geometry.y}]},
        "properties": {
          "title": ${dumps(locale['title']) | n},
          "lang": "${locale['lang']}",
          "documentId": ${image['document_id']},
          "module": "images",
          "highlight": true,
          "source": "c2c"
        }
      }]
   }
  % else:
    null
  % endif
  );
  module.value('documentData', {
    "document_id": ${image.get('document_id')},
    "lang": "${lang}",
    "type": "i",
    "image_type": "${image.get('image_type')}",
    "topic_id": ${dumps(locale.get('topic_id'))},
    "title": ${dumps(get_title(locale)) | n}
    % if not version:
       , "associations": ${dumps(image.get('associations')) | n}
    % endif
  });
</%block>

<%block name="share">
  ${generate_share_metadata(image, 'images')}
</%block>
<div ng-cloak>
  <div class="viewdoc">
    <c2c-announcement></c2c-announcement>
    <header class="view-title-without-bg">
      <h1 class="routes">
        <span class="title">${locale['title']}</span>
        <div class="icons-header routes">${get_activities(image, 'top')}</div>
        ${show_badge(image, 'image')}
      </h1>
    </header>

    <section class="view-details-section images" app-view-details>


      % if version:
        ${show_archive_data('images', image, locale, version)}
      % else:
        ${show_other_langs_links('images', image, other_langs)}
      % endif

         <div class="row">
          <div class="col-xs-12 col-md-4 col-lg-3">
            ${get_image_general(image)}
            ${get_image_camera_settings(image)}
            ${get_image_location(image)}

            % if geometry:
              <app-map class="view-details-map"></app-map>
            % endif
            ${get_licence(image)}

           </div>
           <div class="col-xs-12 col-md-8 col-lg-9">
             ${show_image(image, locale, 'BI', link=True)}
             ${get_document_description(locale, 'image')}

              % if not version:
                <div
                  % if not has_associations(image):
                     ng-if="userCtrl.hasEditRights('images', {'imageType': '${image['image_type']}', 'imageCreator': ${image['creator']['user_id']}})"
                  % endif
                >
                  <span class="lead">
                    <div class="add-association" ng-show="userCtrl.auth.isAuthenticated()
                      % if image['image_type'] == 'personal':
                        && userCtrl.hasEditRights('images', {'imageType': 'personal', 'imageCreator': ${image['creator']['user_id']}})
                      % endif
                    ">
                      <label translate>Add association</label>
                      <c2c-add-association parent-doctype="images" parent-id="${image_id}" dataset="wrcb"></c2c-add-association>
                    </div>

                    ${show_associated_outings(image)}
                    ${show_associated_routes(image)}
                    ${show_associated_waypoints(image)}
                    ${show_associated_articles(image)}
                    ${show_associated_books(image)}

                  </span>
                </div>

                ${get_comments()}

                ${get_print_license(image)}

                ${show_float_buttons(image, lang, other_langs, missing_langs)}
              % endif

           </div>
      </div>
    </section>
  </div>

  % if not version:
    <div class="ng-hide">
      <div id="image-uploader" app-image-uploader activities="${activities}" categories="${image_categories}" types="${image_types}"></div>
      ${delete_association_confirmation_modal()}
      ${show_missing_langs_links('images', image, missing_langs)}
      ${show_merge_documents_dialog('images')}
      ${show_delete_document_dialog('images', lang, other_langs)}
    </div>

    <script>
      window.onload = function() {
        $('[data-toggle=\'tooltip\']').tooltip();
      };
    </script>
  % endif
</div>
