<%!
from c2corg_common.attributes import activities, image_categories, image_types
from c2corg_ui.templates.utils import get_lang_lists, has_associations
from json import dumps
%>

<%inherit file="../base.html"/>
<%namespace file="../helpers/view.html" import="get_image_gallery, photoswipe_gallery,
    show_missing_langs_links, show_other_langs_links, show_badge,
    show_archive_data, show_locale_title, get_activities, show_areas, show_float_buttons,
    show_associated_waypoints, show_associated_routes, show_associated_articles,
    show_associated_outings, show_associated_books, delete_association_confirmation_modal,
    get_document_description, get_comments, get_licence"/>
<%namespace file="helpers/view.html" import="get_image_general, get_image_camera_settings, show_image"/>

<%
  image_id = image['document_id']
  image['doctype'] = 'images'
  other_langs, missing_langs = get_lang_lists(image, lang)
%>

<%block name="pagelang">lang="${lang}"</%block>
<%block name="pagetitle"><title>${show_locale_title(locale, True)}</title></%block>
<%block name="metarobots">
  % if version:
    <meta name="robots" content="noindex,follow">
  % else:
    <meta name="robots" content="index,follow">
  % endif
</%block>

<%block name="moduleConstantsValues">
  module.value('mapFeatureCollection',
  % if geometry:
    {
      "type": "FeatureCollection",
      "properties": {},
      "features": [
      {
        "type": "Feature",
        "geometry": {"type": "Point", "coordinates": [${geometry.x}, ${geometry.y}]},
        "properties": {
          "title": ${dumps(locale['title']) | n},
          "lang": "${locale['lang']}",
          "documentId": ${image['document_id']},
          "module": "images",
          "highlight": true
        }
      }]
   }
  % else:
    null
  % endif
  );
  module.value('documentData', {
    "document_id": ${image.get('document_id')},
    "lang": "${lang}",
    "type": "i",
    "image_type": "${image.get('image_type')}",
    "topic_id": ${dumps(locale.get('topic_id'))}
    % if not version:
       , "associations": ${dumps(image.get('associations')) | n}
    % endif
  });
</%block>

<header class="view-details-title">
  <h1 class="routes">
    % if image.get('activities'):
      <div class="icons-header">${get_activities(image, 'top')}</div>
    % endif
    <span class="title">${locale['title']}</span><br>
    ${show_badge(image, 'image')}
  </h1>
</header>

<section class="view-details-section images" app-view-details>

  % if version:
    ${show_archive_data('images', image, locale, version)}
  % endif

  <div class="view-details-wrapper">

    <div class="view-details-informations col-xs-12  informations">
      <h3 class="heading informations" ng-click="mainCtrl.animateHeaderIcon($event)" data-toggle="collapse" data-target="#document-informations">
        <span translate>Information</span><span class="glyphicon glyphicon-menu-down"></span>
      </h3>

      <section id="document-informations" class="collapse in">
        ${get_image_general(image)}
        ${get_image_camera_settings(image)}
        ${get_licence(image)}
      </section>
    </div>

    ${get_document_description(locale, 'image')}

    <div class="view-details-description col-xs-12 description">
      <span class="lead text-center">
        ${show_image(image, locale, 'BI', link=True)}
      </span>
    </div>
  </div>

  % if geometry:
    % if image.get('areas'):
      <article class="location-static">
        ${show_areas(image)}
      </article>
    % endif
    <app-map class="view-details-map"></app-map>
  % endif

  ## ASSOCIATIONS
  % if not version:
  <div class="view-details-associations col-xs-12 associations"
    % if not has_associations(image):
       ng-if="userCtrl.hasEditRights('images', {'imageType': '${image['image_type']}', 'imageCreator': ${image['creator']['user_id']}})"
    % endif
  >
    <span class="lead">
      <div class="add-association" ng-show="userCtrl.auth.isAuthenticated()
        % if image['image_type'] == 'personal':
          && userCtrl.hasEditRights('images', {'imageType': 'personal', 'imageCreator': ${image['creator']['user_id']}})
        % endif
      ">
        <label translate>Add association</label>
        <app-add-association parent-doctype="images" parent-id="${image_id}" dataset="wrcb"></app-add-association>
      </div>
      <section>
        ${show_associated_outings(image)}
        ${show_associated_routes(image)}
        ${show_associated_waypoints(image)}
        ${show_associated_articles(image)}
        ${show_associated_books(image)}
      </section>
    </span>
  </div>

  ${get_comments()}

  ## OTHER BUTTON contents
    ${show_other_langs_links('images', image, other_langs)}
    ${show_missing_langs_links('images', image, missing_langs)}
    ${show_float_buttons(image, lang, other_langs, missing_langs)}
  % endif
</section>


<div class="text-center">
  <button class="btn btn-default scroll-top-btn" onclick="window.scrollTo(0, 0);">&nbsp;<span class="glyphicon glyphicon-menu-up"></span></button>
</div>

<div class="ng-hide">
  <div id="image-uploader" app-image-uploader activities="${activities}" categories="${image_categories}" types="${image_types}"></div>
  ${delete_association_confirmation_modal()}
</div>


<script>
  window.onload = function() {
     // init float-buttons tooltips
     $('[data-toggle=\'tooltip\']').tooltip();
  };
</script>
