<%!
from c2corg_common.attributes import default_langs, area_types
%>
<%inherit file="../base.html"/>
<%
  updating_doc = area_id and area_lang
%>
<%namespace file="../helpers/common.html" import="show_title"/>
<%namespace file="../helpers/edit.html" import="show_preview_container, show_editing_buttons,
    show_save_confirmation_modal, show_protected_warning"/>

<%block name="pagetitle">
<title ng-init="id = ${area_id if area_id else 0}" ng-bind="id ?
          mainCtrl.page_title('Editing an area') : mainCtrl.page_title('Creating an area')">${show_title('Create/edit area')}
</title>
</%block>

<%block name="metarobots"><meta name="robots" content="noindex,nofollow"></%block>

<section class="create-edit-document">

  <h1 ng-init="id = ${area_id if area_id else 0}" class="text-center">
    <label class="label label-primary" ng-bind="id ? ('Editing an area' | translate) : ('Creating an area' | translate)"></label>
  </h1>

  <form app-loading app-document-editing="areas" app-document-editing-model="area"
    app-document-editing-controller-name="appDocumentEditingController"
  % if updating_doc:
    app-document-editing-id="${area_id}" app-document-editing-lang="${area_lang}"
  % endif
    class="document-editing" name="editForm" novalidate>

    ${show_protected_warning('area')}

    <section class="editing">

      <div class="step step-1">
        <section class="section">
          <h2 class="heading show-phone" translate>general informations</h2>
          <div class="content">

            ## TITLE
            <div id="title-group" class="form-group"
                 ng-class="{ 'has-feedback': editForm.title.$touched,
                             'has-error': editForm.title.$touched && editForm.title.$invalid,
                             'has-success': editForm.title.$valid }">
              <label ng-class="{ 'control-label': editForm.title.$touched && editForm.title.$invalid }"><span translate>title</span> *</label>
              <input type="text" name="title" ng-model="area.locales[0].title" ng-minlength="3" class="form-control" required />
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="editForm.title.$valid"></span>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.title.$invalid && editForm.title.$touched"></span>
              <div class="help-block" ng-messages="editForm.title.$error" ng-if="editForm.title.$touched && editForm.title.$invalid">
                <p ng-message="required" translate>This field is required.</p>
                <p ng-message="minlength" translate>Title must have at least 3 characters.</p>
              </div>
            </div>

            ## LANGUAGE
            <div id="lang-group" class="form-group"
                 ng-class="{ 'has-feedback': editForm.lang.$touched,
                             'has-error': editForm.lang.$touched && editForm.lang.$invalid,
                             'has-success': editForm.lang.$valid}">
              <label ng-class="{ 'control-label': editForm.lang.$touched && editForm.lang.$invalid }"><span translate>lang</span> *</label>
              % if area_lang:
                <input disabled class="form-control" value="{{mainCtrl.translate('${area_lang}')}}">
              % else:
              <select name="lang" ng-options="lang as mainCtrl.translate(lang) for lang in ['${"','".join(default_langs) |n}'] | translate" ng-model="area.locales[0].lang" class="form-control" required><option value=""></option></select>
              % endif
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="area.locales[0].lang"></span>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.lang.$touched && editForm.lang.$invalid"></span>
              <div class="help-block" ng-messages="editForm.lang.$error" ng-if="editForm.lang.$touched && editForm.lang.$invalid">
                <p ng-message="required" translate>This field is required.</p>
              </div>
            </div>

            <div class="form-group half half-group">
              <div ng-class="{ 'has-feedback': editForm.area_type.$touched,
                               'has-error': editForm.area_type.$touched && editForm.area_type.$invalid,
                               'has-success': editForm.area_type.$valid}"
                   ng-init="area_types = ${area_types}">
                <label ng-class="{ 'control-label': editForm.area_type.$touched && editForm.area_type.$invalid }"><span translate>area_type</span> *</label>
                <select name="area_type" class="form-control" ng-model="area.area_type" ng-options="type as mainCtrl.translate(type) for type in area_types" required><option value=""></option></select>
                <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="editForm.area_type.$valid"></span>
                <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.area_type.$invalid && editForm.area_type.$touched"></span>
                <div class="help-block" ng-messages="editForm.area_type.$error" ng-if="editForm.area_type.$touched && editForm.area_type.$invalid">
                  <p ng-message="required" translate>This field is required.</p>
                </div>
              </div>

            </div>
          </div>
        </section>

        ## MAP
        <section class="section maps-info" ng-show="userCtrl.auth.isModerator()">
          <h2 class="heading show-phone"><span translate>geolocation</span></h2>
          <div class="content" id="edit-maps">
            <app-map app-map-edit="true" app-map-draw-type="Polygon" class="map-edit"></app-map>
          </div>
        </section>

        <section class="section">
          <h2 class="heading show-phone" translate>description</h2>
          <div class="content">

            ## SUMMARY
            <div id="summary-group" class="form-group full">
              <label translate>summary</label>
              <textarea app-markdown-editor name="summary" ng-model="area.locales[0].summary" class="form-control"></textarea>
            </div>

            ## DESCRIPTION
            <div id="description-group" class="form-group full">
              <label translate>description</label>
              <textarea app-markdown-editor name="description" ng-model="area.locales[0].description" class="form-control description"></textarea>
            </div>

          </div>
        </section>

      ${show_editing_buttons('area', updating_doc, area_id, area_lang)}

    </section>
  </form>
  ${show_save_confirmation_modal(updating_doc)}
  ${show_preview_container()}
</section>
