<%!
from c2corg_common.attributes import default_langs, area_types, quality_types
%>
<%namespace file="../helpers/filters.html" import="add_multiselect"/>


## Duplicate simple filters into the main filters and into #moreFilters.
## It is really useful - no need for re-compilation with angular in case of sticky filters.
<%def name="simple_filters()">
  <div class="row simple-filters">
    <div class="filter">
      <label translate>title</label><br>
      <input type="text" class="form-control" ng-model="filtersCtrl.filters.q">
    </div>

    <div class="filter">
      <label translate>area_type</label><br>
      ${add_multiselect('atyp', area_types)}
    </div>

    <div class="col-xs-12 col-sm-6 filter">
      <label translate>quality</label><br>
      <app-slider filter="qa" filters-list="filtersCtrl.filters" unit=""
                  values-list="['${"','".join(quality_types) |n}']"></app-slider>
    </div>
  </div>
</%def>

<form app-search-filters app-search-filters-controller-name="appSearchFiltersController" app-sticky-filters>
  <div class="filters areas">
    ${simple_filters()}
    <div class="row collapse" id="moreFilters">
      ${simple_filters()}

      <div class="filters-bottom-buttons">
        <button class="btn search-filters-btn orange-btn" data-toggle="collapse"
                data-target="#moreFilters" aria-expanded="false">
          <span translate>Show results</span> ({{resCounter}})
        </button>
        <button class="btn blue-btn search-filters-btn" ng-click="filtersCtrl.clear()"
                ng-show="filtersCtrl.filtersNb > 0"><span translate>Clear filters</span> ({{filtersCtrl.filtersNb}})</button>
      </div>
    </div>
    <div class="more-filters-btn-container">
      <button class="btn orange-btn more-filters-btn" data-toggle="collapse" data-target="#moreFilters"
        aria-expanded="false" aria-controls="moreFilters" translate>All filters</button>
      <button class="btn blue-btn more-filters-btn" ng-click="filtersCtrl.clear()" ng-cloak
              ng-show="filtersCtrl.filtersNb > 0"><span translate>Clear filters</span> ({{filtersCtrl.filtersNb}})</button>
    </div>

  </div>
</form>
