<%!
from c2corg_common.attributes import default_langs, area_types, quality_types
%>
<%namespace file="../helpers/filters.html" import="add_multiselect, show_results_buttons, show_filters_buttons"/>


## Duplicate simple filters into the main filters and into #moreFilters.
## It is really useful - no need for re-compilation with angular in case of sticky filters.
<%def name="simple_filters()">
  <div class="row simple-filters">
    <div class="filter">
      <label translate>title</label><br>
      <input type="text" class="form-control" ng-model="filtersCtrl.filters.q">
    </div>

    <div class="filter">
      <label translate>area_type</label><br>
      ${add_multiselect('atyp', area_types)}
    </div>

    <div class="col-xs-12 col-sm-6 filter">
      <label translate>quality</label><br>
      <app-slider filter="qa" filters-list="filtersCtrl.filters" unit=""
                  values-list="['${"','".join(quality_types) |n}']"></app-slider>
    </div>
  </div>
</%def>

<form c2c-search-filters c2c-search-filters-controller-name="SearchFiltersController" app-sticky-filters>
  <div class="filters areas">
    ${simple_filters()}

    <div class="row collapse" id="moreFilters">
      ${simple_filters()}
      ${show_results_buttons()}
    </div>

    ${show_filters_buttons()}
  </div>
</form>
