<%inherit file="../base.html"/>
<%namespace file="../helpers/common.html" import="show_title"/>

<%block name="pagetitle"><title ng-bind="mainCtrl.page_title('Areas')">${show_title('Areas')}</title></%block>

<%block name="moduleConstantsValues">
  module.value('mapFeatureCollection', null);
  module.value('advancedSearchFilters', {
  });
</%block>

## for 'click' of .toggle-map, .page-main-title button and .show-documents-filters-phone
## see js/style/stickyFilters.js

<header class="page-main-title">
  <h3><span translate>Areas</span>
    <span class="badge" ng-cloak>{{resCounter}}</span>
  </h3>
</header>
<div class="documents-list-section-container no-map">
  <section class="documents-list-section">
    <%include file="filters.html" />

    <div class="documents-nav-buttons text-center">
      <button class="btn btn-default orange-btn show-documents-filters-phone" translate>Filters</button>
      <app-doctype-selector app-doctype="areas"></app-doctype-selector>
      <app-pagination class="areas"></app-pagination>
    </div>

    <c2c-advanced-search document-type="areas" use-map="false"></c2c-advanced-search>

    <div class="documents-nav-buttons text-center footer-pagination">
      <app-pagination></app-pagination>
    </div>
  </section>
</div>
