<%namespace file="../helpers/view.html" import="get_document_description"/>
<%namespace file="../helpers/preview.html" import="show_preview_warning"/>
<%namespace file="helpers/view.html" import="get_area_general"/>

<%
area = document
locale = document['locales'][0]
%>

${show_preview_warning()}

<div class="viewdoc">

  <header class="view-title-without-bg">
    <h1 class="routes">
      <span class="title">${locale['title']}</span>
    </h1>
  </header>
  <section class="view-details-section">

    <div class="row">
      <div class="col-xs-12 col-md-4 col-lg-3">
        ${get_area_general(area)}
        <c2c-map class="view-details-map"></c2c-map>

      </div>
      <div class="col-xs-12 col-md-8 col-lg-9">

        ${get_document_description(locale, 'area')}
      </div>
    </div>
    
  </section>
</div>
