<%inherit file="base.html"/>

<h1 translate>Sign In</h1>

<form app-auth name="signInForm" novalidate ng-submit="authCtrl.signIn()">
  <div id="signIn-username-group" class="form-group" ng-class="{ 'has-error': signInForm.username.$touched && signInForm.username.$invalid }">
    <label translate>Username</label>
    <input type="text" name="username" ng-model="signIn.username" class="form-control" required />
    <div class="help-block" ng-messages="signInForm.username.$error" ng-if="signInForm.username.$touched">
      <p ng-message="required" translate>This field is required.</p>
    </div>
  </div>
  <div id="signIn-password-group" class="form-group" ng-class="{ 'has-error': signInForm.password.$touched && signInForm.password.$invalid }">
    <label translate>Password</label>
    <input type="password" name="password" ng-model="signIn.password" class="form-control" required />
    <div class="help-block" ng-messages="signInForm.password.$error" ng-if="signInForm.password.$touched">
      <p ng-message="required" translate>This field is required.</p>
    </div>
  </div>
  <p>
    <button type="submit" class="btn btn-primary" ng-disabled="signInForm.$invalid" translate>Sign In</button>
    <button type="button" class="btn btn-secondary" translate>Forgotten password?</button>
  </p>
</form>

<h1 translate>Sign Up</h1>

<form app-auth name="signUpForm" novalidate ng-submit="authCtrl.signUp()">
  <div id="signUp-username-group" class="form-group" ng-class="{ 'has-error': signUpForm.username.$touched && signUpForm.username.$invalid }">
    <label translate>Username</label>
    <input type="text" name="username" ng-model="signUp.username" class="form-control" required />
    <div class="help-block" ng-messages="signUpForm.username.$error" ng-if="signUpForm.username.$touched">
      <p ng-message="required" translate>This field is required.</p>
    </div>
  </div>
  <div id="signUp-password-group" class="form-group" ng-class="{ 'has-error': signUpForm.password.$touched && signUpForm.password.$invalid }">
    <label translate>Password</label>
    <input type="password" name="password" ng-model="signUp.password" class="form-control" required />
    <div class="help-block" ng-messages="signUpForm.password.$error" ng-if="signUpForm.password.$touched">
      <p ng-message="required" translate>This field is required.</p>
    </div>
  </div>
  <p>
    <button type="submit" class="btn btn-primary" ng-disabled="signUpForm.$invalid" translate>Sign Up</button>
  </p>
</form>
