<%!
from pyramid.settings import asbool
%>
<%inherit file="base.html"/>
<%namespace file="helpers/common.html" import="show_title"/>
<%block name="pagetitle"><title ng-bind="mainCtrl.page_title('Authentication')">${show_title('Authentication')}</title></%block>

<div app-auth class="auth-form">

  <section>
    <div ng-show="authCtrl.uiStates.showLoginForm">
      <h1 translate>Login</h1>

      <form name="loginForm" novalidate ng-submit="authCtrl.login()">
        <div id="login-username-group" class="form-group" ng-class="{ 'has-error': loginForm.username.$touched && loginForm.username.$invalid }">
          <label translate>Username</label>
          <input type="text" name="username" ng-model="login.username" class="form-control" required />
          <div class="help-block" ng-messages="loginForm.username.$error" ng-if="loginForm.username.$touched">
            <p ng-message="required" translate>This field is required.</p>
          </div>
        </div>
        <div id="login-password-group" class="form-group" ng-class="{ 'has-error': loginForm.password.$touched && loginForm.password.$invalid }">
          <label translate>Password</label>
          <input type="password" name="password" ng-model="login.password" class="form-control" required />
          <div class="help-block" ng-messages="loginForm.password.$error" ng-if="loginForm.password.$touched">
            <p ng-message="required" translate>This field is required.</p>
          </div>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="remember" ng-model="login.remember"><span translate>Remember me</span>
          </label>
        </div>
        <p>
          <button type="submit" class="btn blue-btn" ng-disabled="loginForm.$invalid" translate>Login</button>
          <button type="button" class="btn gray-btn" 
                  ng-click="authCtrl.uiStates.showRequestChangePasswordForm = true;
                                     authCtrl.uiStates.showRegisterForm = false;
                                     authCtrl.uiStates.showChangePasswordForm = false;
                                     authCtrl.uiStates.showLoginForm = false;"  translate>Forgot password?
          </button>
        </p>
      </form>

      <p ng-hide="authCtrl.uiStates.showRegisterForm">
        <button type="button" class="btn orange-btn" 
                ng-click="authCtrl.uiStates.showRegisterForm = true;
                                   authCtrl.uiStates.showLoginForm = false;
                                   authCtrl.uiStates.showChangePasswordForm = false;
                                   authCtrl.uiStates.showRequestChangePasswordForm = false;" translate>No account yet?
        </button>
      </p>
    </div>


    <div ng-show="authCtrl.uiStates.showRegisterForm">
      <h1 translate>Register</h1>

      <form name="registerForm" novalidate ng-submit="authCtrl.register()">
        <div id="register-name-group" class="form-group" ng-class="{ 'has-error': registerForm.name.$touched && registerForm.name.$invalid }">
          <label translate>Fullname</label>
          <input type="text" name="name" ng-model="register.name" class="form-control" required />
          <div class="help-block" ng-messages="registerForm.name.$error" ng-if="registerForm.name.$touched">
            <p ng-message="required" translate>This field is required.</p>
          </div>
        </div>
        <div id="register-username-group" class="form-group" ng-class="{ 'has-error': registerForm.username.$touched && registerForm.username.$invalid }">
          <label translate>Username</label>
          <input type="text" name="username" ng-model="register.username" class="form-control" required />
          <div class="help-block" ng-messages="registerForm.username.$error" ng-if="registerForm.username.$touched">
            <p ng-message="required" translate>This field is required.</p>
          </div>
        </div>
        <div id="register-forum_username-group" class="form-group" ng-class="{ 'has-error': registerForm.forum_username.$touched && registerForm.forum_username.$invalid }">
          <label translate>forum_user username</label>
          <!-- http://stackoverflow.com/questions/1538512/how-can-i-invert-a-regular-expression-in-javascript: opposite test of /[^a-zA-Z0-9]/ -->
          <input type="text" name="forum_username" ng-minlength="3" maxlength="15" ng-pattern="/^(?!.*[^a-zA-Z0-9])/" ng-model="register.forum_username" class="form-control" required />
          <div class="help-block" ng-messages="registerForm.forum_username.$error" ng-if="registerForm.forum_username.$touched">
            <p ng-message="required" translate>This field is required.</p>
            <p ng-message="pattern" translate>Only letters and numbers are allowed.</p>
            <p ng-message="minlength" translate>This fielt must be at least 3 characters.</p>
          </div>
        </div>
        <div id="register-password-group" class="form-group" ng-class="{ 'has-error': registerForm.password.$touched && registerForm.password.$invalid }">
          <label translate>Password</label>
          <input type="password" name="password" ng-model="register.password" class="form-control" required />
          <div class="help-block" ng-messages="registerForm.password.$error" ng-if="registerForm.password.$touched">
            <p ng-message="required" translate>This field is required.</p>
          </div>
        </div>
        <div id="register-email-group" class="form-group" ng-class="{ 'has-error': registerForm.email.$touched && registerForm.email.$invalid }">
          <label translate>Email</label>
          <input type="email" name="email" ng-model="register.email" class="form-control" required />
          <div class="help-block" ng-messages="registerForm.email.$error" ng-if="registerForm.email.$touched">
            <p ng-message="required" translate>This field is required.</p>
          </div>
        </div>
%if not asbool(request.registry.settings['skip.captcha.validation']):
        <div id="register-captcha-group" class="form-group">
          <div vc-recaptcha ng-model="register.captcha" on-expire="authCtrl.reloadCaptcha()" required></div>
        </div>
%endif
        <p>
          <button type="submit" class="btn blue-btn" ng-disabled="registerForm.$invalid" translate>Register</button>
        </p>
      </form>
      <p ng-hide="!authCtrl.uiStates.showRegisterForm">
        <button type="button" class="btn orange-btn" 
                ng-click="authCtrl.uiStates.showLoginForm = true;
                                   authCtrl.uiStates.showRegisterForm = false;
                                   authCtrl.uiStates.showChangePasswordForm = false;
                                   authCtrl.uiStates.showRequestChangePasswordForm = false;" translate>have an account ?
        </button>
      </p>
    </div>


    <div ng-show="authCtrl.uiStates.showRequestChangePasswordForm">
      <h1 translate>Reset password</h1>

      <form name="requestChangePasswordForm" novalidate ng-submit="authCtrl.requestPasswordChange()">
        <div id="register-password-group" class="form-group" ng-class="{ 'has-error': requestChangePasswordForm.email.$touched && requestChangePasswordForm.email.$invalid }">
          <label translate>Email</label>
          <input type="email" name="email" ng-model="requestChangePassword.email" class="form-control" required />
          <div class="help-block" ng-messages="requestChangePasswordForm.email.$error" ng-if="requestChangePasswordForm.email.$touched">
            <p ng-message="required" translate>This field is required.</p>
          </div>
        </div>
        <p>
          <button type="submit" class="btn blue-btn" ng-disabled="requestChangePasswordForm.$invalid" translate>Send reset email</button>
        </p>
      </form>
      <p>
        <button type="button" class="btn orange-btn" 
                ng-click="authCtrl.uiStates.showLoginForm = true;
                                   authCtrl.uiStates.showRegisterForm = false;
                                   authCtrl.uiStates.showChangePasswordForm = false;
                                   authCtrl.uiStates.showRequestChangePasswordForm = false;" translate>have an account ?
        </button>
        
        <button type="button" class="btn orange-btn" 
                ng-click="authCtrl.uiStates.showRegisterForm = true;
                                   authCtrl.uiStates.showLoginForm = false;
                                   authCtrl.uiStates.showChangePasswordForm = false;
                                   authCtrl.uiStates.showRequestChangePasswordForm = false;" translate>No account yet?
        </button>
      </p>
    </div>


    <div ng-show="authCtrl.uiStates.showChangePasswordForm">
      <h1 translate>Change password</h1>

      <form name="resetPasswordForm" novalidate ng-submit="authCtrl.validateNewPassword()">
        <div id="change-password-group" class="form-group" ng-class="{ 'has-error': changePasswordForm.password.$touched && changePasswordForm.password.$invalid }">
          <label translate>New password</label>
          <input type="password" name="password" ng-model="changePassword.password" class="form-control" required />
          <div class="help-block" ng-messages="changePasswordForm.password.$error" ng-if="changePasswordForm.password.$touched">
            <p ng-message="required" translate>This field is required.</p>
          </div>
        </div>
        <p>
          <button type="submit" class="btn blue-btn" ng-disabled="changePasswordForm.$invalid" translate>Change password</button>
        </p>
      </form>
    </div>

  </section>
</div>
<script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>
