<%!
from c2corg_common.attributes import default_langs
%>\
<%
settings = request.registry.settings
node_modules_path = settings.get('node_modules_path')
closure_library_path = settings.get('closure_library_path')
%>\
<%namespace file="helpers/common.html" import="show_title"/>\
<!DOCTYPE html>
<html ng-cloak <%block name="pagelang"></%block> ng-app="app" ng-controller="MainController as mainCtrl">
  <head>
    <%block name="pagetitle"><title ng-bind="mainCtrl.page_title('Home')">${show_title('Home')}</title></%block>
    <meta charset="utf-8">
    ## Mobile attributes
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" sizes="196x196"  href="${request.static_path('c2corg_ui:static/img/logo.svg')}">
    <link rel="icon" href="${request.static_path('c2corg_ui:static/img/icon.png')}">
    <meta name="theme-color" content="#F7931D">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Camptocamp.org">
    <meta name="application-name" content="Camptocamp.org">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-TileImage" content="${request.static_path('c2corg_ui:static/img/logo.svg')}">
    <meta name="msapplication-TileColor" content="#FF0000">
    <%block name="metarobots"><meta name="robots" content="index,follow"></%block>
% if debug:
    <link rel="stylesheet" href="${request.static_path('%s/bootstrap/dist/css/bootstrap.css' % node_modules_path)}">
    <link rel="stylesheet" href="${request.static_path('%s/bootstrap-slider/dist/css/bootstrap-slider.css' % node_modules_path)}">
    <link rel="stylesheet"  href="${request.static_path('%s/slick-carousel/slick/slick.css' % node_modules_path)}">
    <link rel="stylesheet"  href="${request.static_path('%s/photoswipe/dist/photoswipe.css' % node_modules_path)}">
    <link rel="stylesheet"  href="${request.static_path('%s/photoswipe/dist/default-skin/default-skin.css' % node_modules_path)}">
    <link rel="stylesheet"  href="${request.static_path('%s/slick-carousel/slick/slick-theme.css' % node_modules_path)}">
    <link rel="stylesheet" href="${request.static_path('c2corg_ui:static/build/build.css')}">
    <link rel="stylesheet" href="${request.static_path('c2corg_ui:static/build/build-print.css')}" media="print">
% else:
    <style>
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
      };
    </style>
    <link rel="stylesheet" href="${request.static_path('c2corg_ui:static/build/deps.css')}">
    <link rel="stylesheet" href="${request.static_path('c2corg_ui:static/build/build.min.css')}">
    <link rel="stylesheet" href="${request.static_path('c2corg_ui:static/build/build-print.min.css')}" media="print">
% endif
  </head>
  <body class="on-load loading">
    <%include file="sidemenu.html"/>
    <img src="${request.static_path('c2corg_ui:static/img/loading.gif')}" class="loading-gif">
    <a href="${request.route_path('index')}" title="{{'Back to homepage'|translate}}" class="logo header">
      <img src="${request.static_path('c2corg_ui:static/img/logo.svg')}" alt="Camptocamp.org"/>
    </a>
    <main class="page-content">
      ${self.body()}
    </main>
    <div class="page-header">
      <button class="btn btn-default menu-open-close header"><span class="glyphicon glyphicon-align-justify"></span></button>
      <div class="quick-search">
        <app-simple-search dataset="wrcb"></app-simple-search>
      </div>
      <app-user></app-user>

      <button class="btn orange-btn" id="add-my-outing" protected-url-btn url="${request.route_path('outings_add')}"><span class="glyphicon glyphicon-plus-sign"></span><span translate>add an outing</span></button>

      <div class="lang-user">
        <div class="lang-selector">
          <label translate>Browse site in</label>
          <app-lang></app-lang>
        </div>
      </div>
    </div>
    <app-alerts></app-alerts>

% if debug:
    <script>
      // We should really use the empty string for CLOSURE_BASE_PATH for there
      // is a bug in Closure Library preventing us from doing it. See
      // <https://github.com/google/closure-library/pull/418>.
      window.CLOSURE_BASE_PATH = ' ';
      window.CLOSURE_NO_DEPS = true;
    </script>
    <script src="${request.static_path('%s/jquery/dist/jquery.js' % node_modules_path)}"></script>
    <script src="${request.static_path('%s/angular/angular.js' % node_modules_path)}"></script>
    <script src="${request.static_path('%s/bootstrap/dist/js/bootstrap.js' % node_modules_path)}"></script>
    <script src="${request.static_path('%s/bootstrap-slider/dist/bootstrap-slider.js' % node_modules_path)}"></script>
    <script src="${request.static_path('c2corg_ui:static/lib/angular-bootstrap/ui-bootstrap-custom-1.3.2.js')}"></script>
    <script src="${request.static_path('c2corg_ui:static/lib/angular-bootstrap/ui-bootstrap-custom-tpls-1.3.2.js')}"></script>
    <script src="${request.static_path('%s/angular-gettext/dist/angular-gettext.js' % node_modules_path)}"></script>
    <script src="${request.static_path('%s/angular-messages/angular-messages.js' % node_modules_path)}"></script>
    <script src="${request.static_path('%s/angular-cookies/angular-cookies.js' % node_modules_path)}"></script>
    <script src="${request.static_path('%s/closure/goog/base.js' % closure_library_path)}"></script>
    <script src="${request.static_path('%s/corejs-typeahead/dist/typeahead.bundle.js' % node_modules_path)}"></script>
    <script src="${request.static_path('%s/ng-infinite-scroll/build/ng-infinite-scroll.js' % node_modules_path)}"></script>
    <script src="${request.static_path('%s/moment/moment.js' % node_modules_path)}"></script>
    <script src="${request.static_path('%s/angular-dynamic-locale/src/tmhDynamicLocale.js' % node_modules_path)}"></script>
    <script src="${request.static_path('%s/moment-timezone/builds/moment-timezone-with-data.js' % node_modules_path)}"></script>
    <script src="${request.static_path('%s/angular-moment/angular-moment.js' % node_modules_path)}"></script>
    <script src="${request.static_path('%s/angular-recaptcha/release/angular-recaptcha.js' % node_modules_path)}"></script>
    <script src="${request.static_path('%s/ng-file-upload/dist/ng-file-upload.js' % node_modules_path)}"></script>
    <script src="${request.static_path('%s/blueimp-load-image/js/load-image.js' % node_modules_path)}"></script>
    <script src="${request.static_path('%s/slick-carousel/slick/slick.js' % node_modules_path)}"></script>
    <script src="${request.static_path('%s/blueimp-load-image/js/load-image-orientation.js' % node_modules_path)}"></script>
    <script src="${request.static_path('%s/blueimp-load-image/js/load-image-meta.js' % node_modules_path)}"></script>
    <script src="${request.static_path('%s/blueimp-load-image/js/load-image-exif.js' % node_modules_path)}"></script>
    <script src="${request.static_path('%s/blueimp-load-image/js/load-image-exif-map.js' % node_modules_path)}"></script>
    <script src="${request.static_path('%s/photoswipe/dist/photoswipe.js' % node_modules_path)}"></script>
    <script src="${request.static_path('%s/photoswipe/dist/photoswipe-ui-default.js' % node_modules_path)}"></script>
    <script src="${request.static_path('%s/angular-slug/angular-slug.js' % node_modules_path)}"></script>
    <script src="${request.static_path('%s/slug/slug.js' % node_modules_path)}"></script>
    <script src="${request.static_path('%s/angular-debounce/angular-debounce.js' % node_modules_path)}"></script>
    <script src="${request.route_path('deps.js')}"></script>
    <script src="${request.static_path('c2corg_ui:static/js/main.js')}"></script>
% else:
    <script src="${request.static_path('c2corg_ui:static/build/deps.js')}"></script>
    <script src="${request.static_path('c2corg_ui:static/build/build.js')}"></script>
% endif



    <script>
      (function() {
        // prevent loading a file from accidental image drag-drop outside the drop-box
        window.addEventListener("dragover",function(e){
          e = e || event;
          e.preventDefault();
        },false);
        window.addEventListener("drop",function(e){
          e = e || event;
          e.preventDefault();
        },false);

         var module = angular.module('app');
         module.constant('langUrlTemplate', '${request.static_path('c2corg_ui:static/build/locale/__lang__/c2corg_ui.json')}');
         module.constant('langMomentPath', '${request.static_path('c2corg_ui:static/build/locale_moment')}');
         module.constant('angularLocalePath', '${request.static_path('c2corg_ui:static/build/angular-i18n')}');
         module.constant('imgPath', '${request.static_path('c2corg_ui:static/img')}');
         module.constant('apiUrl', '${api_url}');
         module.constant('imageBackendUrl', '${image_backend_url}');
         module.constant('imageUrl', '${image_url}');
         module.constant('discourseUrl', '${discourse_url}');
         module.constant('authUrl', '${request.route_path('auth')}');
         module.constant('langs', ['${"','".join(default_langs) |n}']);
         module.constant('mapApiKeys', {
           'ign': '${ign_api_key}',
           'bing': '${bing_api_key}'
         });
         module.config(function(vcRecaptchaServiceProvider) {
           vcRecaptchaServiceProvider.setSiteKey('${settings["recaptcha_site_key"]}');
         });

         <%block name="moduleConstantsValues">
         module.value('mapFeatureCollection', null);
         </%block>
         document.querySelector('.loading-gif').style.display = 'none';
         $('.on-load').removeClass('loading on-load');
         app.sidemenu();
      })();
    </script>
    <script>
      window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
      ga('create','${ganalytics_key}',{'cookieDomain':window.location.host});
      ga('send','pageview',{'anonymizeIp':true});
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
  </body>
</html>
