<%
settings = request.registry.settings
node_modules_path = settings.get('node_modules_path')
closure_library_path = settings.get('closure_library_path')
%>\
<!DOCTYPE html>
<html <%block name="pagelang"></%block> ng-app="app" ng-controller="MainController as mainCtrl">
  <head>
    <title><%block name="pagetitle">Camptocamp.org</%block></title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="initial-scale=1.0, user-scalable=no, width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%block name="metarobots"><meta name="robots" content="index,follow"></%block>
% if debug:
    <link rel="stylesheet" href="${request.static_url('%sbootstrap/dist/css/bootstrap.css' % node_modules_path)}" type="text/css">
    <link rel="stylesheet" href="${request.static_url('c2corg_ui:static/build/build.css')}" type="text/css">
% else:
    ## FIXME add version to links?
    <link rel="stylesheet" href="${request.static_url('%sbootstrap/dist/css/bootstrap.min.css' % node_modules_path)}" type="text/css">
    <link rel="stylesheet" href="${request.static_url('c2corg_ui:static/build/build.min.css')}" type="text/css">
% endif
  </head>
  <body>

    <div class="page-menu">
    <a href="${request.route_url('index')}" title="{{'Back to homepage'|translate}}"><img src="${request.static_url('c2corg_ui:static/img/logo.png')}" alt="Camptocamp.org" /></a>
    <ul>
      <li><a href="${request.route_url('waypoints_index_default')}" translate>Waypoints</a></li>
      <li><a href="${request.route_url('routes_index_default')}" translate>Routes</a></li>
    </ul>
    </div>

    <div class="page-content">
      ${self.body()}
    </div>

    <div class="page-header">
      <div class="quick-search">
        <app-search app-search-map=""></app-search>
      </div>
      <div class="lang-user">
        <app-user app-user-login-url="${request.route_url('auth')}"></app-user>
        <div class="culture-selector">
          <label translate>Browse site in</label>
          <app-lang app-lang-cultures="['${"','".join(default_cultures) |n}']"></app-lang>
        </div>
      </div>
    </div>

    <app-alerts></app-alerts>

% if debug:
    <script>
      // We should really use the empty string for CLOSURE_BASE_PATH for there
      // is a bug in Closure Library preventing us from doing it. See
      // <https://github.com/google/closure-library/pull/418>.
      window.CLOSURE_BASE_PATH = ' ';
      window.CLOSURE_NO_DEPS = true;
    </script>
    <script src="${request.static_url('%s/jquery/dist/jquery.js' % node_modules_path)}"></script>
    <script src="${request.static_url('%sangular/angular.js' % node_modules_path)}"></script>
    <script src="${request.static_url('%s/angular-gettext/dist/angular-gettext.js' % node_modules_path)}"></script>
    <script src="${request.static_url('%s/angular-messages/angular-messages.js' % node_modules_path)}"></script>
    <script src="${request.static_url('%s/angular-cookies/angular-cookies.js' % node_modules_path)}"></script>
    <script src="${request.static_url('%s/closure/goog/base.js' % closure_library_path)}"></script>
    <script src="${request.static_url('%s/typeahead.js/dist/typeahead.bundle.js' % node_modules_path)}"></script>
    <script src="${request.route_url('deps.js')}"></script>
    <script src="${request.static_url('c2corg_ui:static/js/main.js')}"></script>
% else:
    <script src="${request.static_url('%s/jquery/dist/jquery.min.js' % node_modules_path)}"></script>
    <script src="${request.static_url('%sangular/angular.min.js' % node_modules_path)}"></script>
    <script src="${request.static_url('%s/angular-gettext/dist/angular-gettext.min.js' % node_modules_path)}"></script>
    <script src="${request.static_url('%s/angular-messages/angular-messages.min.js' % node_modules_path)}"></script>
    <script src="${request.static_url('%s/angular-cookies/angular-cookies.min.js' % node_modules_path)}"></script>
    <script src="${request.static_url('%s/typeahead.js/dist/typeahead.bundle.min.js' % node_modules_path)}"></script>
    <script src="${request.static_url('c2corg_ui:static/build/build.js')}"></script>
% endif
    <script>
      (function() {
         var module = angular.module('app');
         module.constant('langUrlTemplate', '${request.static_url('c2corg_ui:static/build/locale/__lang__/c2corg_ui.json')}');
         module.constant('apiUrl', '${api_url}');
         module.constant('cultures', ['${"','".join(default_cultures) |n}']);
         <%block name="moduleConstantsValues">
         module.value('mapFeatureCollection', null);
         </%block>
       })();
    </script>

  </body>
</html>
