<%
    settings = request.registry.settings
    node_modules_path = settings.get('node_modules_path')
    closure_library_path = settings.get('closure_library_path')
%>\
<!DOCTYPE html>
<html lang={{mainCtrl.lang}} ng-app="app" ng-controller="MainController as mainCtrl">
  <head>
    <title><%block name="pagetitle">Camptocamp.org</%block></title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="initial-scale=1.0, user-scalable=no, width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
% if debug:
    <link rel="stylesheet" href="${request.static_url('%sbootstrap/dist/css/bootstrap.css' % node_modules_path)}" type="text/css">
    <link rel="stylesheet" href="${request.static_url('c2corg_ui:static/build/build.css')}" type="text/css">
    <script src="${request.static_url('%sangular/angular.js' % node_modules_path)}"></script>
% else:
    ## FIXME add version to links?
    <link rel="stylesheet" href="${request.static_url('%sbootstrap/dist/css/bootstrap.min.css' % node_modules_path)}" type="text/css">
    <link rel="stylesheet" href="${request.static_url('c2corg_ui:static/build/build.min.css')}" type="text/css">
    <script src="${request.static_url('%sangular/angular.min.js' % node_modules_path)}"></script>
% endif
  </head>
  <body>

    <div id="page-header">
    <a href="${request.route_url('index')}" title="Back to homepage"><img src="${request.static_url('c2corg_ui:static/img/logo.png')}" alt="Camptocamp.org" /></a>
    <ul>
      <li><a href="${request.route_url('waypoints_index')}">Waypoints</a></li>
      <li><a href="${request.route_url('routes_index')}">Routes</a></li>
    </ul>
    </div>

    <div class="page-content">
      ${self.body()}
    </div>

% if debug:
    <script>
      // We should really use the empty string for CLOSURE_BASE_PATH for there
      // is a bug in Closure Library preventing us from doing it. See
      // <https://github.com/google/closure-library/pull/418>.
      window.CLOSURE_BASE_PATH = ' ';
      window.CLOSURE_NO_DEPS = true;
    </script>
    <script src="${request.static_url('%s/angular-gettext/dist/angular-gettext.js' % node_modules_path)}"></script>
    <script src="${request.static_url('%s/angular-messages/angular-messages.js' % node_modules_path)}"></script>
    <script src="${request.static_url('%s/closure/goog/base.js' % closure_library_path)}"></script>
    <script src="${request.route_url('deps.js')}"></script>
    <script src="${request.static_url('c2corg_ui:static/js/main.js')}"></script>
% else:
    <script src="${request.static_url('%s/angular-gettext/dist/angular-gettext.min.js' % node_modules_path)}"></script>
    <script src="${request.static_url('%s/angular-messages/angular-messages.min.js' % node_modules_path)}"></script>
    <script src="${request.static_url('c2corg_ui:static/build/build.js')}"></script>
% endif
    <script>
      (function() {
         var module = angular.module('app');
         module.constant('langUrlTemplate', '${request.static_url('c2corg_ui:static/build/locale/__lang__/c2corg_ui.json')}');
         module.constant('apiUrl', '${api_url}');
         <%block name="moduleConstantsValues">
         module.value('mapFeatureCollection', null);
         </%block>
       })();
    </script>

  </body>
</html>
