<%!
from c2corg_common.attributes import mailinglists
%>
<%inherit file="base.html"/>
<%namespace file="helpers/common.html" import="show_title, generate_empty_list_items"/>
<%block name="pagetitle"><title ng-bind="mainCtrl.page_title('Followed users')">${show_title('Followed users')}</title></%block>
<%block name="metarobots"><meta name="robots" content="noindex,nofollow"></%block>

<div class="following" c2c-loading>
  <section c2c-following ng-cloak>
    <h3 class="green-text" translate>Followed users</h3>
    <p translate>Here is the list of users you are following and whose activity you will see in your personal feed.</p>
    <c2c-simple-search c2c-select="flCtrl.addUser(doc)" dataset="u"></c2c-simple-search>
    <div class="list users" ng-show="flCtrl.following.length > 0">
      <div class="list-item users" ng-repeat="user in flCtrl.following">
        <c2c-card c2c-card-doc="user"></c2c-card>
        <span class="glyphicon glyphicon-minus-sign follow-btn" ng-click="flCtrl.toggle(user.document_id)"
              ng-show="flCtrl.followingIds.indexOf(user.document_id) > -1" uib-tooltip="{{'Unfollow' | translate}}" tooltip-append-to-body="true"></span>
        <span class="glyphicon glyphicon-plus-sign follow-btn" ng-click="flCtrl.toggle(user.document_id)"
              ng-hide="flCtrl.followingIds.indexOf(user.document_id) > -1" uib-tooltip="{{'Follow' | translate}}" tooltip-append-to-body="true"></span>
      </div>
      ${generate_empty_list_items(5)}
    </div>
  </section>
</div>
