<%!
from c2corg_common.attributes import mailinglists
%>
<%inherit file="base.html"/>
<%namespace file="helpers/common.html" import="show_title"/>
<%block name="pagetitle"><title ng-bind="mainCtrl.page_title('Followed users')">${show_title('Followed users')}</title></%block>
<%block name="metarobots"><meta name="robots" content="noindex,nofollow"></%block>

<div class="following" app-loading>
  <section app-following>
    <h3 class="green-text" translate>Followed users</h3>
    <p translate>Here is the list of users you are following and whose activity you will see in your personal feed.</p>
    <app-simple-search app-select="flCtrl.addUser(doc)" dataset="u"></app-simple-search>
    <div class="flex wrap-row areas" ng-show="flCtrl.following.length > 0">
      <div class="list-item users" ng-repeat="user in flCtrl.following">
        <app-card app-card-doc="user">
          <button class="btn orange-btn" ng-click="flCtrl.toggle(user.document_id)"
                  ng-show="flCtrl.followingIds.indexOf(user.document_id) > -1"
                  translate>Unfollow</button>
          <button class="btn btn-success" ng-click="flCtrl.toggle(user.document_id)"
                  ng-hide="flCtrl.followingIds.indexOf(user.document_id) > -1"
                  translate>Follow</button>
        </app-card>
      </div>
    </div>
  </section>
</div>
