<%!
from c2corg_ui.templates.utils import get_attr
%>

<%def name="show_attr(obj, key, parse=True)">\
<%
    attr = get_attr(obj, key, md=parse, bb=parse)
    attr = attr if attr else ''
%>
${attr | n}\
</%def>

<%def name="add_pagination_links(module, documents, total, params)">\
% if total > len(documents):
  <%
      # Make sure that offset and limit are integers
      params = {k: int(params[k]) if k == 'offset' or k == 'limit' else params[k] for k in params}
      offset = params['offset'] if 'offset' in params else 0
  %>
  <ul id="pagination">
  % if offset > 0:
    <%
        first = params.copy()
        if 'offset' in first:
            first.pop('offset')
        filters_str = '/' + '/'.join(['%s/%s' % (key, first[key]) for key in first])
    %>
    <li><a class="btn btn-primary" href="${request.route_url(module + '_index', filters=filters_str)}"><span class="glyphicon glyphicon-step-backward"></span><span translate>First</span></a></li>
    <%
        prev = params.copy()
        prev['offset'] -= prev['limit']
        if prev['offset'] <= 0:
            prev.pop('offset')
        filters_str = '/' + '/'.join(['%s/%s' % (key, prev[key]) for key in prev])
    %>
    <li><a class="btn btn-primary" href="${request.route_url(module + '_index', filters=filters_str)}"><span class="glyphicon glyphicon-menu-left" ></span><span translate>Previous</span></a></li>
  % endif
  % if offset + params['limit'] < total:
    <%
        next = params.copy()
        next['offset'] = offset + next['limit']
        filters_str = '/' + '/'.join(['%s/%s' % (key, next[key]) for key in next])
    %>
    <li><a class="btn btn-primary" href="${request.route_url(module + '_index', filters=filters_str)}"><span translate>Next</span><span class="glyphicon glyphicon-menu-right"></span></a></li>
    <%
        last = params.copy()
        last['offset'] = total - last['limit']
        filters_str = '/' + '/'.join(['%s/%s' % (key, last[key]) for key in last])
    %>
    <li><a class="btn btn-primary" href="${request.route_url(module + '_index', filters=filters_str)}"><span translate>Last</span><span class="glyphicon glyphicon-step-forward"></span></a></li>
  % endif
  </ul>
% endif
</%def>

<%def name="show_archive_data(module, document, locale, version)">\
  <ul class="archive-data">
    <li translate>You are viewing an archived version of this document.</li>
    <li>{{'${1000 * version['written_at']}' | date:'medium'}} - <a href="#TODO">${version['username']}</a> - ${show_version_comment(version)}</li>
    <li><a href="${request.route_url(module + '_view', id=document['document_id'], lang=locale['lang'])}" translate>See the latest version</a></li>
  </ul>
</%def>

<%def name="show_other_langs_links(module, document, other_langs)">\
% if other_langs:
  <div class="btn-group view-other-lang">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span translate>View in other lang</span>&nbsp;<span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
    % for l in other_langs:
      <li><a href="${request.route_url(module + '_view', id=document['document_id'], lang=l)}">{{mainCtrl.translate('${l}')}}</a></li>
    % endfor
    </ul>
  </div>
% endif
</%def>

<%def name="show_missing_langs_links(module, document, missing_langs)">\
% if missing_langs:
  <div class="translate-lang">
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span translate>Translate into an other lang</span>&nbsp;<span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
      % for lang in missing_langs:
        <li><app-edit-button app-edit-button-url="${request.route_url(module + '_edit', id=document['document_id'], lang=lang)}">{{mainCtrl.translate('${lang}')}}</app-edit-button></li>
      % endfor
      </ul>
    </div>
  </div>
% endif
</%def>

<%def name="show_route_title(locale, is_tab_title=False)">\
<%
    title = ''
    if 'title_prefix' in locale and locale['title_prefix']:
        title = locale['title_prefix'] + ' : '
    title += locale['title']
%>\
${title}${' - Camptocamp.org' if is_tab_title else ''}\
</%def>

<%def name="show_version_comment(version)">\
${'{{mainCtrl.translate(\'' + get_attr(version, 'comment', md=False) + '\')}}' if version['comment'] else '' | n}
</%def>

<%def name="show_title(title)">\
${title + ' - ' if title else ''}Camptocamp.org\
</%def>
