<%def name="get_attr(obj, key)">\
${obj[key] if obj and key in obj and obj[key] is not None else ''}\
</%def>

<%def name="add_pagination_links(module, documents, total, params)">\
% if total > len(documents):
  <%
      # Make sure that offset and limit are integers
      params = {k: int(params[k]) if k == 'offset' or k == 'limit' else params[k] for k in params}
      offset = params['offset'] if 'offset' in params else 0
  %>
  <ul>
  % if offset > 0:
    <%
        first = params.copy()
        if 'offset' in first:
            first.pop('offset')
        filters_str = '/' + '/'.join(['%s/%s' % (key, first[key]) for key in first])
    %>
    <li><a href="${request.route_url(module + '_index', filters=filters_str)}" translate>First</a></li>
    <%
        prev = params.copy()
        prev['offset'] -= prev['limit']
        if prev['offset'] <= 0:
            prev.pop('offset')
        filters_str = '/' + '/'.join(['%s/%s' % (key, prev[key]) for key in prev])
    %>
    <li><a href="${request.route_url(module + '_index', filters=filters_str)}" translate>Previous</a></li>
  % endif
  % if offset + params['limit'] < total:
    <%
        next = params.copy()
        next['offset'] = offset + next['limit']
        filters_str = '/' + '/'.join(['%s/%s' % (key, next[key]) for key in next])
    %>
    <li><a href="${request.route_url(module + '_index', filters=filters_str)}" translate>Next</a></li>
    <%
        last = params.copy()
        last['offset'] = total - last['limit']
        filters_str = '/' + '/'.join(['%s/%s' % (key, last[key]) for key in last])
    %>
    <li><a href="${request.route_url(module + '_index', filters=filters_str)}" translate>Last</a></li>
  % endif
  </ul>
% endif
</%def>

<%def name="show_archive_data(module, document, locale, version)">\
  <ul class="archive-data">
    <li translate>You are viewing an archived version of this document.</li>
    <li>{{'${1000 * version['written_at']}' | date:'medium'}} - <a href="#TODO">${version['username']}</a> - ${version['comment']}</li>
    <li><a href="${request.route_url(module + '_view', id=document['document_id'], culture=locale['culture'])}" translate>See the latest version</a></li>
  </ul>
</%def>
