## dummy template containing strings that must be detected by angular-gettext
## See https://github.com/c2corg/v6_common/blob/master/c2corg_common/attributes.py

## languages
<span translate>fr</span>
<span translate>en</span>
<span translate>de</span>
<span translate>it</span>
<span translate>es</span>
<span translate>ca</span>
<span translate>eu</span>

## activities
<span translate>skitouring</span>
<span translate>snow_ice_mixed</span>
<span translate>mountain_climbing</span>
<span translate>rock_climbing</span>
<span translate>ice_climbing</span>
<span translate>hiking</span>
<span translate>snowshoeing</span>
<span translate>paragliding</span>
<span translate>mountain_biking</span>
<span translate>via_ferrata</span>

## waypoint_types
<span translate>summit</span>
<span translate>pass</span>
<span translate>lake</span>
<span translate>bisse</span>
<span translate>waterfall</span>
<span translate>cliff</span>
<span translate>cave</span>
<span translate>pit</span>
<span translate>locality</span>
<span translate>confluence</span>
<span translate>glacier</span>
<span translate>bergschrund</span>
<span translate>waterpoint</span>
<span translate>climbing_outdoor</span>
<span translate>climbing_indoor</span>
<span translate>gite</span>
<span translate>camp_site</span>
<span translate>hut</span>
<span translate>shelter</span>
<span translate>bivouac</span>
<span translate>base_camp</span>
<span translate>access</span>
<span translate>local_product</span>
<span translate>paragliding_takeoff</span>
<span translate>paragliding_landing</span>
<span translate>weather_station</span>
<span translate>webcam</span>
<span translate>virtual</span>
<span translate>misc</span>

## route types
<span translate>return_same_way</span>
<span translate>loop</span>
<span translate>loop_hut</span>
<span translate>traverse</span>
<span translate>raid</span>
<span translate>expedition</span>

## fields (used in the diff view)
<span translate>geometry</span>
<span translate>summary</span>

## auth
<span translate>Login failed</span>
<span translate>Invalid email address</span>
<span translate>already used username</span>
<span translate>Register success</span>

## history and diff
<span translate>imported from v4</span>
<span translate>Document has been protected</span>
<span translate>Document has been unprotected</span>
<span translate>Edit in fr</span>
<span translate>Edit in de</span>
<span translate>Edit in it</span>
<span translate>Edit in en</span>
<span translate>Edit in es</span>
<span translate>Edit in eu</span>
<span translate>Edit in ca</span>

## edit
<span translate>Creating a route</span>
<span translate>Editing a route</span>
<span translate>Creating a waypoint</span>
<span translate>Editing a waypoint</span> 

## home
<span translate>Home</span>

## waypoint attributes
<span translate>rain_proof</span>
<span translate>very_safe</span>
<span translate>exposed</span>
<span translate>rock_types</span>
<span translate>best_periods</span>
<span translate>climbing_styles</span>
<span translate>orientation</span>
<span translate>height_max</span>
<span translate>climbing_rating_min</span>
<span translate>climbing_rating_median</span>
<span translate>admin_limits</span>
<span translate>country</span>
<span translate>range</span>

## months
<span translate>jan</span>
<span translate>feb</span>
<span translate>mar</span>
<span translate>apr</span>
<span translate>may</span>
<span translate>jun</span>
<span translate>jul</span>
<span translate>aug</span>
<span translate>sep</span>
<span translate>nov</span>
<span translate>oct</span>
<span translate>dec</span>

<span translate>bus</span>
<span translate>train</span>
<span translate>service_on_demand</span>
<span translate>cable_car</span>
<span translate>boat</span>

<span translate>see more results</span>

## errors from js files
<span translate>You have no rights to edit this document.</span>
<span translate>Form is not valid</span>
<span translate>You must log in to edit this document.</span>

## map baselayers
<span translate>osm</span>
<span translate>esri</span>
<span translate>ign maps</span>
<span translate>ign ortho</span>
<span translate>swisstopo</span>
<span translate>Failed loading this map background</span>
