<!--
dummy template containing strings that must be detected by angular-gettext
See https://github.com/c2corg/v6_common/blob/master/c2corg_common/attributes.py
-->

<!-- languages -->
<span translate>fr</span>
<span translate>en</span>
<span translate>de</span>
<span translate>it</span>
<span translate>es</span>
<span translate>ca</span>
<span translate>eu</span>

<!-- activities -->
<span translate>skitouring</span>
<span translate>snow_ice_mixed</span>
<span translate>mountain_climbing</span>
<span translate>rock_climbing</span>
<span translate>ice_climbing</span>
<span translate>hiking</span>
<span translate>snowshoeing</span>
<span translate>paragliding</span>
<span translate>moutain_biking</span>
<span translate>via_ferrata</span>

<!-- waypoint_types -->
<span translate>summit</span>
<span translate>pass</span>
<span translate>lake</span>
<span translate>bisse</span>
<span translate>waterfall</span>
<span translate>cliff</span>
<span translate>cave</span>
<span translate>pit</span>
<span translate>locality</span>
<span translate>confluence</span>
<span translate>glacier</span>
<span translate>bergschrund</span>
<span translate>waterpoint</span>
<span translate>climbing_outdoor</span>
<span translate>climbing_indoor</span>
<span translate>gite</span>
<span translate>camp_site</span>
<span translate>hut</span>
<span translate>shelter</span>
<span translate>bivouac</span>
<span translate>base_camp</span>
<span translate>access</span>
<span translate>local_product</span>
<span translate>paragliding_takeoff</span>
<span translate>paragliding_landing</span>
<span translate>weather_station</span>
<span translate>webcam</span>
<span translate>virtual</span>
<span translate>misc</span>

<!-- route types -->
<span translate>return_same_way</span>
<span translate>loop</span>
<span translate>loop_hut</span>
<span translate>traverse</span>
<span translate>raid</span>
<span translate>expedition</span>
