## dummy template containing strings that must be detected by angular-gettext
## See https://github.com/c2corg/v6_common/blob/master/c2corg_common/attributes.py

## languages
<span translate>fr</span>
<span translate>en</span>
<span translate>de</span>
<span translate>it</span>
<span translate>es</span>
<span translate>ca</span>
<span translate>eu</span>

## activities
<span translate>skitouring</span>
<span translate>snow_ice_mixed</span>
<span translate>mountain_climbing</span>
<span translate>rock_climbing</span>
<span translate>ice_climbing</span>
<span translate>hiking</span>
<span translate>snowshoeing</span>
<span translate>paragliding</span>
<span translate>mountain_biking</span>
<span translate>via_ferrata</span>

## waypoint_types
<span translate>summit</span>
<span translate>pass</span>
<span translate>lake</span>
<span translate>bisse</span>
<span translate>waterfall</span>
<span translate>cave</span>
<span translate>locality</span>
<span translate>waterpoint</span>
<span translate>climbing_outdoor</span>
<span translate>climbing_indoor</span>
<span translate>gite</span>
<span translate>camp_site</span>
<span translate>hut</span>
<span translate>shelter</span>
<span translate>bivouac</span>
<span translate>base_camp</span>
<span translate>access</span>
<span translate>local_product</span>
<span translate>paragliding_takeoff</span>
<span translate>paragliding_landing</span>
<span translate>weather_station</span>
<span translate>webcam</span>
<span translate>virtual</span>
<span translate>misc</span>

## route types
<span translate>return_same_way</span>
<span translate>loop</span>
<span translate>loop_hut</span>
<span translate>traverse</span>
<span translate>raid</span>
<span translate>expedition</span>

## route configuration types
<span translate>edge</span>
<span translate>pillar</span>
<span translate>face</span>
<span translate>corridor</span>
<span translate>goulotte</span>
<span translate>glacier</span>

## area_types
<span translate>range</span>
<span translate>admin_limits</span>
<span translate>country</span>

## frequentation_types
<span translate>quiet</span>
<span translate>some</span>
<span translate>crowded</span>
<span translate>overcrowded</span>

## access_conditions
<span translate>cleared</span>
<span translate>snowy</span>
<span translate>closed_snow</span>
<span translate>closed_cleared</span>

## lift_status
<span translate>open</span>
<span translate>closed</span>

## condition_ratings
<span translate>excellent</span>
<span translate>good</span>
<span translate>average</span>
<span translate>poor</span>
<span translate>awful</span>

## glacier_ratings
<span translate>easy</span>
<span translate>possible</span>
<span translate>difficult</span>
<span translate>impossible</span>

## avalanche_signs
<span translate>danger_sign</span>
<span translate>recent_avalanche</span>
<span translate>natural_avalanche</span>
<span translate>accidental_avalanche</span>

## hut_status
<span translate>open_guarded</span>
<span translate>open_non_guarded</span>
<span translate>closed_hut</span>

## image_categories
<span translate>landscapes</span>
<span translate>detail</span>
<span translate>action</span>
<span translate>track</span>
<span translate>rise</span>
<span translate>descent</span>
<span translate>topo</span>
<span translate>people</span>
<span translate>fauna</span>
<span translate>flora</span>
<span translate>nivology</span>
<span translate>geology</span>
<span translate>hut</span>
<span translate>equipment</span>
<span translate>book</span>
<span translate>help</span>
<span translate>misc</span>

## image_types
<span translate>collaborative</span>
<span translate>personal</span>
<span translate>copyright</span>

## user_categories
<span translate>amateur</span>
<span translate>mountain_guide</span>
<span translate>mountain_leader</span>
<span translate>ski_instructor</span>
<span translate>climbing_instructor</span>
<span translate>mountainbike_instructor</span>
<span translate>paragliding_instructor</span>
<span translate>hut_warden</span>
<span translate>ski_patroller</span>
<span translate>avalanche_forecaster</span>
<span translate>club</span>
<span translate>institution</span>

## document quality
<span translate>empty</span>
<span translate>draft</span>
<span translate>medium</span>
<span translate>fine</span>
<span translate>great</span>

## custodianship_types
<span translate>accessible_when_wardened</span>
<span translate>always_accessible</span>
<span translate>key_needed</span>
<span translate>no_warden</span>

## glacier_gear_types
<span translate>glacier_safety_gear</span>
<span translate>crampons_spring</span>
<span translate>crampons_req</span>
<span translate>glacier_crampons</span>

## route_types
<span translate>return_same_way</span>
<span translate>loop</span>
<span translate>loop_hut</span>
<span translate>traverse</span>
<span translate>raid</span>
<span translate>expedition</span>

## article_categories
<span translate>mountain_environment</span>
<span translate>gear</span>
<span translate>technical</span>
<span translate>topoguide_supplements</span>
<span translate>soft_mobility</span>
<span translate>expeditions</span>
<span translate>stories</span>
<span translate>c2c_meetings</span>
<span translate>tags</span>
<span translate>site_info</span>
<span translate>association</span>

## article_types
<span translate>collab</span>
<span translate>personal</span>

## book_types
<span translate>topo</span>
<span translate>environment</span>
<span translate>historical</span>
<span translate>biography</span>
<span translate>photos-art</span>
<span translate>novel</span>
<span translate>technics</span>
<span translate>tourism</span>
<span translate>magazine</span>

## climbing_styles
<span translate>slab</span>
<span translate>vertical</span>
<span translate>overhang</span>
<span translate>roof</span>
<span translate>small_pillar</span>
<span translate>crack_dihedral</span>

## rock_types
<span translate>basalte</span>
<span translate>calcaire</span>
<span translate>conglomerat</span>
<span translate>craie</span>
<span translate>gneiss</span>
<span translate>gres</span>
<span translate>granit</span>
<span translate>migmatite</span>
<span translate>mollasse_calcaire</span>
<span translate>pouding</span>
<span translate>quartzite</span>
<span translate>rhyolite</span>
<span translate>schiste</span>
<span translate>trachyte</span>
<span translate>artificial</span>

## children_proof_types
<span translate>very_safe</span>
<span translate>safe</span>
<span translate>dangerous</span>
<span translate>very_dangerous</span>

## snow_clearance_ratings
<span translate>often</span>
<span translate>sometimes</span>
<span translate>progressive</span>
<span translate>naturally</span>
<span translate>closed_in_winter</span>
<span translate>non_applicable</span>

## climbing_outdoor_types
<span translate>single</span>
<span translate>multi</span>
<span translate>bloc</span>
<span translate>psicobloc</span>

## climbing_indoor_types
<span translate>pitch</span>
<span translate>bloc</span>

## public_transportation_types
<span translate>train</span>
<span translate>bus</span>
<span translate>service_on_demand</span>
<span translate>boat</span>
<span translate>cable_car</span>

## product_types
<span translate>farm_sale</span>
<span translate>restaurant</span>
<span translate>grocery</span>
<span translate>bar</span>
<span translate>sport_shop</span>

## ground_types
<span translate>prairie</span>
<span translate>scree</span>
<span translate>snow</span>

## weather_station_types
<span translate>temperature</span>
<span translate>wind_speed</span>
<span translate>wind_direction</span>
<span translate>humidity</span>
<span translate>pressure</span>
<span translate>precipitation</span>
<span translate>precipitation_heater</span>
<span translate>snow_height</span>
<span translate>insolation</span>

## rain_proof_types
<span translate>exposed</span>
<span translate>partly_protected</span>
<span translate>protected</span>
<span translate>inside</span>

## public_transportation_ratings
<span translate>good service</span>
<span translate>seasonal service</span>
<span translate>poor service</span>
<span translate>nearby service</span>
<span translate>no service</span>

## fields (used in the diff view)
<span translate>geometry</span>
<span translate>summary</span>

<span translate>rock_rating</span>
<span translate>labande_rating</span>
<span translate>seasonal</span>

## auth
<span translate>Invalid email address</span>
<span translate>already used username</span>
<span translate>Register success</span>

## history and diff
<span translate>imported from v4</span>
<span translate>Document has been protected</span>
<span translate>Document has been unprotected</span>
<span translate>Edit in fr</span>
<span translate>Edit in de</span>
<span translate>Edit in it</span>
<span translate>Edit in en</span>
<span translate>Edit in es</span>
<span translate>Edit in eu</span>
<span translate>Edit in ca</span>

## edit
<span translate>Creating a route</span>
<span translate>Editing a route</span>
<span translate>Creating a waypoint</span>
<span translate>Editing a waypoint</span>
<span translate>Creating an outing</span>
<span translate>Editing an outing</span>
<span translate>Creating an area</span>
<span translate>Editing an area</span>
<span translate>Creating an article</span>
<span translate>Editing an article</span>
<span translate>Editing an image</span>

## home
<span translate>Home</span>

## waypoint attributes
<span translate>very_safe</span>
<span translate>exposed</span>
<span translate>bus</span>
<span translate>train</span>
<span translate>service_on_demand</span>
<span translate>cable_car</span>
<span translate>boat</span>

## months
<span translate>jan</span>
<span translate>feb</span>
<span translate>mar</span>
<span translate>apr</span>
<span translate>may</span>
<span translate>jun</span>
<span translate>jul</span>
<span translate>aug</span>
<span translate>sep</span>
<span translate>nov</span>
<span translate>oct</span>
<span translate>dec</span>

## placeholders
<span translate>Describe opening periods</span>
<span translate>Describe opening hours</span>
<span translate>Describe access period</span>

## errors from js files
<span translate>You have no rights to edit this document.</span>
<span translate>Form is not valid</span>
<span translate>You must log in to edit this document.</span>
<span translate>no associated routes</span>
<span translate>no associated waypoints</span>
<span translate>Missing field</span>
<span translate>A server error prevented creating the preview</span>
<span translate>Image type cannot be changed for collaborative images</span>

## map baselayers
<span translate>osm</span>
<span translate>esri</span>
<span translate>bing</span>
<span translate>ign maps</span>
<span translate>ign ortho</span>
<span translate>swisstopo</span>
<span translate>Failed loading this map background</span>

## feed actions
<span translate>has created a new outing</span>
<span translate>has created a new waypoint</span>
<span translate>has created a new article</span>
<span translate>has created a new book</span>
<span translate>has created a new route</span>
<span translate>has created a new image</span>

<span translate>has updated the outing</span>
<span translate>has updated the waypoint</span>
<span translate>has updated the article</span>
<span translate>has updated the route</span>
<span translate>has updated the image</span>
<span translate>has updated the book</span>
<span translate>has updated the area</span>

<span translate>has added images to route</span>
<span translate>has added images to outing</span>
<span translate>has added images to waypoint</span>
<span translate>has added images to article</span>
<span translate>has added images to book</span>
<span translate>has added images to area</span>

<span translate>Personal feed off</span>
<span translate>Personal feed on</span>

## creative commons
<span translate>Attribution — You must give appropriate credit, provide a link to the license, and indicate if changes were made.</span>
<span translate>ShareAlike — If you remix, transform, or build upon the material, you must distribute your contributions under the same license as the original.</span>
<span translate>NonCommercial — You may not use the material for commercial purposes.</span>
<span translate>NoDerivatives — If you remix, transform, or build upon the material, you may not distribute the modified material.</span>
<span translate>This picture depicts a book cover. It is the property of its editor and/or author. It is presented here only for illustration purposes.</span>

## mailing lists
<span translate>avalanche list</span>
<span translate>lawinen list</span>
<span translate>valanghe list</span>
<span translate>avalanche.en list</span>
<span translate>meteofrance-38 list</span>
<span translate>meteofrance-74 list</span>
<span translate>meteofrance-73 list</span>
<span translate>meteofrance-04 list</span>
<span translate>meteofrance-05 list</span>
<span translate>meteofrance-06 list</span>
<span translate>meteofrance-31 list</span>
<span translate>meteofrance-64 list</span>
<span translate>meteofrance-65 list</span>
<span translate>meteofrance-66 list</span>
<span translate>meteofrance-09 list</span>
<span translate>meteofrance-andorre list</span>
<span translate>meteofrance-2a list</span>
<span translate>meteofrance-2b list</span>
<span translate>aran list</span>
<span translate>catalunya list</span>

## misc
<span translate>see more results</span>
<span translate>Associated waypoint_children</span>
<span translate>height_diff</span>

## event_types
<span translate>avalanche</span>
<span translate>stone_fall</span>
<span translate>falling_ice</span>
<span translate>person_fall</span>
<span translate>crevasse_fall</span>
<span translate>roped_fall</span>
<span translate>physical_failure</span>
<span translate>lightning</span>
<span translate>other</span>

## author_statuses
<span translate>primary_impacted</span>
<span translate>secondary_impacted</span>
<span translate>internal_witness</span>
<span translate>external_witness</span>

## activity_rates
<span translate>activity_rate_150</span>
<span translate>activity_rate_50</span>
<span translate>activity_rate_30</span>
<span translate>activity_rate_20</span>
<span translate>activity_rate_10</span>
<span translate>activity_rate_5</span>
<span translate>activity_rate_1</span>

## nb_outings
<span translate>nb_outings_4</span>
<span translate>nb_outings_9</span>
<span translate>nb_outings_14</span>
<span translate>nb_outings_15</span>

## genders
<span translate>male</span>
<span translate>female</span>

## previous_injuries
<span translate>no</span>
<span translate>previous_injuries_2</span>
<span translate>previous_injuries_3</span>

## severities
<span translate>severity_no</span>
<span translate>1d_to_3d</span>
<span translate>4d_to_1m</span>
<span translate>1m_to_3m</span>
<span translate>more_than_3m</span>

## autonomies
<span translate>non_autonomous</span>
<span translate>autonomous</span>
<span translate>initiator</span>
<span translate>expert</span>

## avalanche_levels
<span translate>level_1</span>
<span translate>level_2</span>
<span translate>level_3</span>
<span translate>level_4</span>
<span translate>level_5</span>
<span translate>level_na</span>

## avalanche_slopes = [
<span translate>slope_lt_30</span>
<span translate>slope_30_32</span>
<span translate>slope_33_35</span>
<span translate>slope_36_38</span>
<span translate>slope_39_41</span>
<span translate>slope_42_44</span>
<span translate>slope_45_47</span>
<span translate>slope_gt_47</span>
