<%
    settings = request.registry.settings
    node_modules_path = settings.get('node_modules_path')
    closure_library_path = settings.get('closure_library_path')
%>\
<!DOCTYPE html>
<html lang={{mainCtrl.lang}} ng-app="app" ng-controller="MainController as mainCtrl">
  <head>
    <title>Camptocamp.org</title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="initial-scale=1.0, user-scalable=no, width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
% if debug:
    <link rel="stylesheet" href="${request.static_url('c2corg_ui:static/build/build.css')}" type="text/css">
    <script src="${request.static_url('%s/angular/angular.js' % node_modules_path)}"></script>
% else:
    <link rel="stylesheet" href="${request.static_url('c2corg_ui:static/build/build.min.css')}" type="text/css">
    <script src="${request.static_url('%s/angular/angular.min.js' % node_modules_path)}"></script>
% endif
  </head>
  <body>
    <%include file="header.html"/>
    <h1 translate>Welcome to Camptocamp.org</h1>
    <div id="map" ngeo-map="mainCtrl.map"></div>
    <ul>
      <li><a href="${request.route_url('waypoints_index')}" translate>Waypoints</a></li>
      <li><a href="${request.route_url('routes_index')}" translate>Routes</a></li>
    </ul>
% if debug:
    <script>
      // We should really use the empty string for CLOSURE_BASE_PATH for there
      // is a bug in Closure Library preventing us from doing it. See
      // <https://github.com/google/closure-library/pull/418>.
      window.CLOSURE_BASE_PATH = ' ';
      window.CLOSURE_NO_DEPS = true;
    </script>
    <script src="${request.static_url('%s/angular-gettext/dist/angular-gettext.js' % node_modules_path)}"></script>
    <script src="${request.static_url('%s/closure/goog/base.js' % closure_library_path)}"></script>
    <script src="${request.route_url('deps.js')}"></script>
    <script src="${request.static_url('c2corg_ui:static/js/main.js')}"></script>
% else:
    <script src="${request.static_url('%s/angular-gettext/dist/angular-gettext.min.js' % node_modules_path)}"></script>
    <script src="${request.static_url('c2corg_ui:static/build/build.js')}"></script>
% endif
    <script>
      (function() {
         var module = angular.module('app');
         module.constant('langUrlTemplate', '${request.static_url('c2corg_ui:static/build/locale/__lang__/c2corg_ui.json')}');
       })();
    </script>
  </body>
</html>
