<%!
from c2corg_common.attributes import activities, waypoint_types, area_types
%>
<%namespace file="helpers/common.html" import="show_title, show_cards_types"/>
<%inherit file="base.html"/>
<%block name="pagetitle"><title ng-bind="mainCtrl.page_title('Accident database')">${show_title('Accident database')}</title></%block>

<section id="serac">
  <app-announcement></app-announcement>
  <header>
    <div class="serac-intro">
      <h1 class="text-center" translate>SERAC</h1>
      <h2 class="text-center" translate>Accident database</h2>
      <p class="text-center" translate>SERAC is a worldwide incidents and accidents database aiming at increasing safety in rock climbing and mountain sports.</p>
      <div class="text-center">
        <button class="btn orange-btn" protected-url-btn url="${request.route_path('xreports_add')}"><span class="glyphicon glyphicon-plus-sign"></span><span translate>Create a new report</span></button>
        <a href="${request.route_path('xreports_index')}">
          <button class="btn blue-btn">
            <span class="glyphicon glyphicon-th-list"></span>
            <span translate>View xreports</span>
          </button>
        </a>
        <a href="${request.route_path('articles_view_id', id=697210)}">
          <button class="btn green-btn">
            <span class="glyphicon glyphicon-info-sign"></span>
            <span translate>Know more about SERAC</span>
          </button>
        </a>
      </div>
    </div>
  </header>

  <div class="document-types flex wrap-row">
    <div class="xreports doctype">
      <h3 class="heading show-phone collapsible-title" ng-click="mainCtrl.animateHeaderIcon($event)"
          data-toggle="collapse" data-target="#xreports" aria-expanded="true" aria-controls="xreports">
        <span translate>Xreports</span><span class="glyphicon glyphicon-menu-down"></span>
      </h3>
      ${show_cards_types('activity', activities, 'xreports', 'act')}
    </div>
  </div>
</section>
