<%
version = request.registry.settings.get('cache_version')
%>\
<aside id="sidemenu">
  <div class="page-menu">
    <button class="btn btn-default menu-open-close menu">
      <span>
      </span>
    </button>
    <a class="homepage" href="${request.route_path('index')}" title="{{'Back to homepage'|translate}}">
      <img src="${request.static_path('c2corg_ui:static/img/logo.svg')}" alt="Camptocamp.org" class="logo"/>
    </a>
  </div>
  <ul class="nav">
    <li class="main-menu" ng-class="{'menu-selected': mainCtrl.isPath('/') === 'home' }">
      <a href="${request.route_path('index')}">
        <i class="glyphicon glyphicon-home" tooltip-placement="right" uib-tooltip="{{'Home' | translate}}"></i>
        <span class="menu-text" translate>Home</span>
      </a>
    </li>
    <li class="main-menu" ng-class="{'menu-selected': mainCtrl.isPath('topoguide')}">
      <a href="${request.route_path('topoguide')}">
        <i class="glyphicon glyphicon-arrow-right" tooltip-placement="right" uib-tooltip="{{'Topoguide' | translate}}"></i>
        <span class="menu-text" translate>Topoguide</span>
      </a>
    </li>
    <li class="main-menu" ng-class="{'menu-selected': mainCtrl.isPath('outings')}">
      <a href="${request.route_path('outings_index')}">
        <i class="glyphicon glyphicon-time" tooltip-placement="right" uib-tooltip="{{'Outings' | translate}}"></i>
        <span class="menu-text" translate>Outings</span>
      </a>
    </li>
    <li class="main-menu" ng-class="{'menu-selected': mainCtrl.isPath('forum')}">
      <a href="${discourse_url}">
        <i class="glyphicon glyphicon-comment" tooltip-placement="right" uib-tooltip="{{'Forum' | translate}}"></i>
        <span class="menu-text" translate>Forum</span>
      </a>
    </li>
    <li class="main-menu" ng-class="{'menu-selected': mainCtrl.isPath('xreports')}">
      <a href="${request.route_path('xreports_index')}">
        <i class="glyphicon glyphicon-warning-sign" tooltip-placement="right" uib-tooltip="{{'Accident database' | translate}}"></i>
        <span class="menu-text" translate>Accident database</span>
      </a>
    </li>
    <li class="main-menu" ng-class="{'menu-selected': mainCtrl.isPath('articles')}">
      <a href="${request.route_path('articles_index')}">
        <i class="glyphicon glyphicon-info-sign" tooltip-placement="right" uib-tooltip="{{'Articles' | translate}}"></i>
        <span class="menu-text" translate>Articles</span>
      </a>
    </li>
  </ul>

  <footer>
    <div class="advertisement">
      <iframe src="${request.static_path('c2corg_ui:static/affiz.html')}" width="160" height="320" frameborder="0" scrolling="no"></iframe>
    </div>

    <ul class="footer-nav">
      <li><a href="${request.route_path('articles_view_id', id=106727)}" translate>contact</a></li>
      <span class="bullet">&bull; </span>
      <li><a href="${request.route_path('articles_view_id', id=121965)}" translate>credits</a></li>
      <span class="bullet">&bull; </span>
      <li><a href="${request.route_path('articles_view_id', id=106731)}" translate>terms of use</a></li>
      <span class="bullet">&bull; </span>
      <li><a href="${request.route_path('articles_view_id', id=106728)}" translate>content license</a></li>
      <span class="bullet">&bull; </span>
      <li><a href="${request.route_path('articles_view_id', id=106726)}" translate>Association</a></li>
    </ul>

    <div class="version">
      <a href="https://github.com/c2corg/v6_ui/commit/${version}">
        <span translate>Version:</span> ${version}
      </a>
    </div>

    <div class="social-networks">
      <div class="icons">
        <a href="https://twitter.com/camptocamporg"><span class="icon-twitter"></span></a>
        <a href="https://plus.google.com/104270548458536561874/posts"><span class="icon-google-plus"></span></a>
        <a href="https://www.facebook.com/camptocamp.org/"><span class="icon-facebook"></span></a>
      </div>
    </div>
  </footer>

</aside>
