<div class="map" ngeo-map="::mapCtrl.map" ng-class="{'map-fullscreen': mapCtrl.isFullscreen}">
  <div class="full-page-control">
  <button type="button" ng-click="mapCtrl.toggleFullscreen()"
          class="btn btn-primary btn-xs btn-map-fullscreen"
          title="{{ 'Fullscreen map' | translate }}"><span class="glyphicon glyphicon-fullscreen"></span></button>
  </div>
  <div class="map-upper-controls">
    <div class="map-recenter-tools" ng-show="::mapCtrl.showRecenterTools">
      <app-geolocation app-geolocation-map="::mapCtrl.map"></app-geolocation>
      <app-map-search app-map-search-map="::mapCtrl.map"></app-map-search>
    </div>
    <div class="map-filter-switch" ng-show="::mapCtrl.advancedSearch">
      <label>
        <input type="checkbox" ng-model="mapCtrl.enableMapFilter">
        <p translate class="text">Filter on map extent</p>
      </label>
    </div>
  </div>

  <button type="button" ng-show="mapCtrl.canReset()" ng-click="mapCtrl.resetFeature()"
          class="btn btn-primary btn-xs map-reset-feature"
          title="{{ 'Reset geometry' | translate }}" translate>Reset geometry</button>
  <button type="button" ng-show="mapCtrl.canDelete()" ng-click="mapCtrl.deleteFeature()"
          class="btn btn-primary btn-xs map-unset-feature"
          title="{{ 'Delete geometry' | translate }}" translate>Delete geometry</button>

  <app-layertree-selector app-layertree-selector-map="::mapCtrl.map"></app-layertree-selector>
</div>
