<%!
    from c2corg_ui.templates.utils import get_lang_lists
    from json import dumps
%>
<%namespace file="../helpers/view.html" import="get_image_gallery, get_document_description,
    show_areas, get_licence, show_other_langs_links, show_missing_langs_links"/>
<%namespace file="helpers/view.html" import="get_profile_general, show_profile_float_buttons"/>

% if not_authorized:
  <div class="view-details-not-authorised text-center">
    <span class="lead">
      <div id="document-description" class="collapse in" translate>This profile is only available to authenticated users.</div>
    </span>
  </div>

% else:
  <%
      user_id = profile['document_id']
      other_langs, missing_langs = get_lang_lists(profile, lang)
  %>
    
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
      <div app-view-details>
        ${get_profile_general(profile)}
        
        ${get_document_description(locale, 'profile')}

        % if geometry:

        <div ng-init='profileFeature = {
                      "type": "FeatureCollection",
                      "properties": {},
                      "features": [{
                      "type": "Feature",
                      "geometry": {"type": "Point", "coordinates": [${geometry.x}, ${geometry.y}]},
                      "properties": {
                      "title": ${dumps(profile["name"]) | n},
                      "lang": "${locale["lang"]}",
              "documentId": ${user_id},
                                                           "module": "profiles",
                                                           "highlight": true
                                                           }
                                                           }]
                                                           };'></div>
        <app-map class="view-details-map" app-map-feature-collection="profileFeature"></app-map>
        % endif
        <div ng-init="detailsCtrl.documentService.setAssociations(${profile['associations']});"></div>

      % if geometry:
    

        % if profile.get('areas'):
        <article class="location-static">
          ${show_areas(profile)}
        </article>
        % endif
        % endif
        ${show_other_langs_links('profiles', profile, other_langs)}
        ${get_image_gallery()}
        ${get_licence(profile)}
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8">
    <app-feed app-feed-profile="${user_id}" id="feed"></app-feed>
    </div>
  </div>

  ${show_missing_langs_links('profiles', profile, missing_langs)}
  ${show_profile_float_buttons(user_id, lang, other_langs, missing_langs)}
% endif
