<%!
    from c2corg_common.attributes import activities, image_categories, image_types
%>
<%inherit file="../base.html"/>
<%namespace file="../helpers/view.html" import="show_badge, show_locale_title, photoswipe_gallery, generate_share_metadata"/>

<%block name="pagelang">lang="${lang}"</%block>

<%block name="pagetitle"><title>${show_locale_title(locales[0], True)}</title></%block>

<%block name="metarobots">
  <meta name="robots" content="index,follow">
</%block>

<%block name="moduleConstantsValues">
  ## Set in the data request
  module.value('mapFeatureCollection', null);

  module.value('documentData', {
    "document_id": ${profile.get('document_id')},
    "protected": ${'true' if profile.get('protected') else 'false'},
    "lang": "${lang}",
    "type": "u"
  });
</%block>
<div class="viewdoc viewprofile">
  <app-announcement></app-announcement>
<%block name="share">
  ${generate_share_metadata(profile, 'profiles')}
</%block>


  <header class="view-title-without-bg">
    <h1 class="routes">
      <span class="title">${locales[0]['title']}</span>
       ${show_badge(profile, 'profile')}
    </h1>
  </header>



<section class="view-details-section">
  <div app-user-profile="${profile['document_id']}" app-user-profile-lang="${lang}">
    <div id="user-profile-data" app-loading></div>
  </div>


</section>

<div class="ng-hide">
  <div id="image-uploader" app-image-uploader activities="${activities}" categories="${image_categories}" types="${image_types}"></div>
</div>

${photoswipe_gallery()}
  </div>
<script>
  window.onload = function() {
    ## init float-buttons tooltips
    $('[data-toggle=\'tooltip\']').tooltip();
  };
</script>
