<%def name="show_title(title)">\
${title + ' - ' if title else ''}Camptocamp.org\
</%def>

<%def name="show_cards_types(className, types, doctype, filter)">\
  <div class="collapse in" id="${doctype}">
    <div class="wrapper">
      % for type in types:
        <a class="icon-div list-item" href="${request.route_path(doctype + '_index')}#${filter}=${type}">
          <span class="${className} icon-${type}"></span>
          <p x-translate class="text-center value">${type}</p>
        </a>
      % endfor
    </div>
  </div>
</%def>

<%def name="generate_empty_list_items(count)">\
  ## add 5 empty items to fix last row item width (works with up to 6 items in a row)
  ## see http://stackoverflow.com/a/22018710
  <div class="list-item" ng-repeat="n in [].constructor(${count}) track by $index"></div>
</%def>
