<%def name="show_cotometer_dialog(module, lang, other_langs)">\
  <%
      # get the module without the 's' at the end ('routes' -> 'route')
      # to reuse existing translation strings
      document_type = module[:-1]
  %>\
  <section id="cotometer-dialog" c2c-loading>
    <div class="modal-header">
      <h3 class="text-center"><span translate>Cotometer</span> (<span x-translate>${document_type}</span>)</h3>
    </div>
    <c2c-cotometer module="'${module}'"></c2c-cotometer>
  </section>
</%def>