<%!
    from c2corg_common.attributes import quality_types
%>
<%namespace file="common.html" import="generate_empty_list_items"/>

<%def name="show_editing_associated_waypoints(model, type='waypoints')">\
  <h3 translate ng-show="${model}.associations.${type}.length > 0">Associated waypoints</h3>
  <section  class="associated-section">
    <article class="associated-documents">
      <div class="list-item waypoints ${'to-route' if model == 'route' else ''}"
           ng-repeat="wp in ${model}.associations.${type} | orderBy: 'waypoint_type'"
           ng-class="{'main-waypoint': ${model}.main_waypoint_id === wp.document_id, 'new-item': wp['new']}">
        <app-card app-card-doc="wp" app-card-disable-click="true"></app-card>
        % if model == 'route':
          <div class="principal">
            <b class="set-main-waypoint green-text" ng-if="${model}.main_waypoint_id === wp.document_id" ng-init="${model}.main_waypoint_title = wp.locales[0].title" translate>main waypoint</b>
            <br ng-if="${model}.main_waypoint_id === wp.document_id" />
            <button class="btn btn-sm orange-btn set-main-waypoint" translate
                    ng-click="${model}.main_waypoint_id = wp.document_id; ${model}.main_waypoint_title = wp.locales[0].title"
                    ng-if="${model}.main_waypoint_id != wp.document_id">
              Set as main waypoint
            </button>
            <button class="btn btn-sm orange-btn set-main-waypoint" translate
                    ng-click="${model}.main_waypoint_id = null; ${model}.main_waypoint_title = ''"
                    ng-if="${model}.main_waypoint_id == wp.document_id">
              Unset main waypoint
            </button>
          </div>
        % endif
        <span class="glyphicon glyphicon-trash" ng-click="editCtrl.documentService.removeAssociation(wp.document_id, '${type}', $event, true)"></span>
      </div>
    </article>
  </section>
</%def>

<%def name="show_editing_associated_routes(model, hide_title = False)">\
  % if not hide_title:
    <h3 ng-show="${model}.associations.routes.length > 0" translate>Associated routes</h3>
  % endif
  <section ng-show="${model}.associations.routes.length > 0" class="associated-section">
    <article class="associated-documents">
      <div class="list-item" ng-repeat="rte in ${model}.associations.routes" ng-class="{'new-item': rte['new']}">
        <app-card app-card-doc="rte" app-card-disable-click="true"></app-card>
        <span class="glyphicon glyphicon-trash" ng-click="editCtrl.documentService.removeAssociation(rte.document_id, 'routes', $event)"></span>
      </div>
      ${generate_empty_list_items(5)}
    </article>
  </section>
</%def>

<%def name="show_editing_associated_outings(model, hide_title = False)">\
  % if not hide_title:
    <h3 ng-show="${model}.associations.outings.length > 0" translate>Associated outings</h3>
  % endif
  <section ng-show="${model}.associations.outings.length > 0" class="associated-section">
    <article class="associated-documents">
      <div class="list-item" ng-repeat="out in ${model}.associations.outings" ng-class="{'new-item': out['new']}">
        <app-card app-card-doc="out" app-card-disable-click="true"></app-card>
        <span class="glyphicon glyphicon-trash" ng-click="editCtrl.documentService.removeAssociation(out.document_id, 'outings', $event)"></span>
      </div>
      ${generate_empty_list_items(5)}
    </article>
  </section>
</%def>

<%def name="show_editing_associated_books(model, hide_title = False)">\
  % if not hide_title:
    <h3 ng-show="${model}.associations.books.length > 0" translate>Associated books</h3>
  % endif
  <section ng-show="${model}.associations.books.length > 0" class="associated-section">
    <article class="associated-documents">
      <div class="list-item" ng-repeat="bk in ${model}.associations.books" ng-class="{'new-item': bk['new']}">
        <app-card app-card-doc="bk" app-card-disable-click="true"></app-card>
        <span class="glyphicon glyphicon-trash" ng-click="editCtrl.documentService.removeAssociation(bk.document_id, 'books', $event)"></span>
      </div>
      ${generate_empty_list_items(5)}
    </article>
  </section>
</%def>

<%def name="show_editing_associated_articles(model, hide_title = False)">\
  % if not hide_title:
    <h3 ng-show="${model}.associations.articles.length > 0" translate>Associated articles</h3>
  % endif
  <section ng-show="${model}.associations.articles.length > 0" class="associated-section">
    <article class="associated-documents">
      <div class="list-item" ng-repeat="art in ${model}.associations.articles" ng-class="{'new-item': art['new']}">
        <app-card app-card-doc="art" app-card-disable-click="true"></app-card>
        <span class="glyphicon glyphicon-trash" ng-click="editCtrl.documentService.removeAssociation(art.document_id, 'articles', $event)"></span>
      </div>
      ${generate_empty_list_items(5)}
    </article>
  </section>
</%def>

<%def name="show_save_confirmation_modal(updating_doc)">\
  <section id="save-confirmation-modal">
    <h3 class="heading show-phone" translate>summary</h3>
    ## COMMENT
    <div class="content">
      % if updating_doc:
      <div id="message-group" class="full">
        <label translate>Comment about the changes</label>
        <input type="text" name="message" ng-model="saveCtrl.message" maxlength="200" class="form-control"
               placeholder="{{'Short description of the applied changes' | translate}}" />
      </div>
      % endif
      ## QUALITY
      <div class="full comment" ng-class="{'has-success': saveCtrl.quality}">
        <label translate>quality</label>
        <select ng-model="saveCtrl.quality" ng-options="type as saveCtrl.langService.translate(type) for type in ${quality_types}" class="form-control"></select>
      </div>

      <div class="text-center">
        <button ng-click="saveCtrl.close({'message': saveCtrl.message, 'quality': saveCtrl.quality})" class="btn btn-success" translate>Save</button>
        <button ng-click="saveCtrl.close()" class="btn btn-danger" type="button" translate>Cancel</button>
      </div>
    </div>
  </section>
</%def>

<%def name="show_preview_container()">\
  <div class="ng-hide">
    <div id="preview-container">
      <div class="preview-container-content"></div>
      <div class="preview-container-buttons">
        <button class="btn btn-warning" type="button" ng-click="previewModalCtrl.close()" translate>Close</button>
      </div>
    </div>
  </div>
</%def>

<%def name="show_editing_buttons(model, updating_doc, id, lang)">\
  <div class="action-buttons float-buttons">
    <button type="button" class="btn blue-btn btn-lg float-button"
      ng-if="!editForm.$invalid && !editCtrl.hasMissingProps(${model}, false)"
      ng-click="editCtrl.preview()"
      tooltip-placement="left" uib-tooltip="{{'Preview' | translate}}">
      <span class="glyphicon glyphicon-eye-open"></span>
    </button>
    <button type="button" class="btn orange-btn btn-lg float-button"
      ng-click="editCtrl.${'submitForm' if model == 'profile' else 'confirmSave'}(editForm.$valid)"
      ng-if="!editForm.$invalid && !editCtrl.hasMissingProps(${model}, false)"
      tooltip-placement="left" uib-tooltip="{{'Save' | translate}}">
      <span class="glyphicon glyphicon-ok"></span>
    </button>
    <button type="button" class="btn orange-btn btn-lg float-button"
      ng-style="(editForm.$invalid || editCtrl.hasMissingProps(${model}, false)) && {'opacity': 0.5}"
      tooltip-placement="left" uib-tooltip="{{'What is missing?' | translate}}"
      ng-if="editForm.$invalid || editCtrl.hasMissingProps(${model}, false)"
      ng-click="editCtrl.hasMissingProps(${model}, true)">
      <span class="glyphicon glyphicon-ok"></span>
    </button>
    <%
    if model == 'profile':
        view_url = request.route_path(model + 's_view', id=id, lang=lang)
        index_url = ''
    else:
        view_url = request.route_path(model + 's_view_id_lang', id=id, lang=lang) if updating_doc else ''
        index_url = request.route_path(model + 's_index')
    %>
    <button type="button" class="btn gray-btn btn-lg float-button"
      ng-click="editCtrl.cancel('${view_url}', '${index_url}')"
      tooltip-placement="left" uib-tooltip="{{'Cancel' | translate}}">
      <span class="glyphicon glyphicon-remove"></span>
    </button>
  </div>
</%def>

<%def name="show_protected_warning(model)">\
  <article class="protected-warning" ng-if="${model}.protected">
    <span class="glyphicon glyphicon-warning-sign"></span>&nbsp;<span translate>This document is protected and can be edited by moderators only.</span>
  </article>
</%def>

<%def name="show_edit_framework(model)">\
  <section class="section edit-framework" ng-if="!${model}.protected">
    <h2 class="heading show-phone" translate>Framework of your contribution</h2>
    <div class="content">
      <div class="icon">
        <span class="glyphicon glyphicon-warning-sign"></span>
      </div>
      <div class="details" translate>${model} edit framework details</div>
    </div>
  </section>
</%def>
