<%def name="add_multiselect(attr, values)">\
  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
    <p>
      <span ng-if="filtersCtrl.filters.${attr}.length > 0" ng-cloak> ({{filtersCtrl.filters.${attr}.length}})</span>
      <span class="glyphicon glyphicon-menu-down"></span>
    </p>
  </button>
  <ul class="dropdown-menu multiselect-box type">
    <li ng-repeat="val in ['${"','".join(values) |n}']">
      <a data-value="{{val}}" ng-click="filtersCtrl.selectOption('${attr}', val, $event)">
        <input type="checkbox" ng-checked="filtersCtrl.filters.${attr} && filtersCtrl.filters.${attr}.indexOf(val) !== -1">
        <span>{{mainCtrl.translate(val) | capitalize}}</span>
      </a>
    </li>
  </ul>
</%def>

<%def name="show_results_buttons(module=None)">\
  <div class="filters-bottom-buttons">
    <button class="btn search-filters-btn orange-btn" data-toggle="collapse"
            data-target="#moreFilters" aria-expanded="false">
      <span translate>Show results</span> ({{resCounter}})
    </button>
    <button class="btn blue-btn search-filters-btn" ng-click="filtersCtrl.clear()"
            ng-show="filtersCtrl.filtersNb > 0"><span translate>Clear filters</span> ({{filtersCtrl.filtersNb}})</button>
    % if module:
      <button class="btn green-btn search-filters-btn" app-loading app-load-preferences="${module}"
              ng-show="userCtrl.auth.isAuthenticated()" translate>Load my preferences</button>
    % endif
  </div>
</%def>

<%def name="show_filters_buttons(module=None)">\
  <div class="more-filters-btn-container">
    <button class="btn orange-btn more-filters-btn" data-toggle="collapse" data-target="#moreFilters"
      aria-expanded="false" aria-controls="moreFilters" translate>All filters</button>
    <button class="btn blue-btn more-filters-btn" ng-click="filtersCtrl.clear()" ng-cloak
            ng-show="filtersCtrl.filtersNb > 0"><span translate>Clear filters</span> ({{filtersCtrl.filtersNb}})</button>
    % if module:
      <button class="btn green-btn more-filters-btn" app-loading app-load-preferences="${module}"
              ng-show="userCtrl.auth.isAuthenticated()" translate>Load my preferences</button>
    % endif
  </div>
</%def>
