<%!
    from c2corg_ui.templates.utils import get_attr
    from json import dumps, loads
    from shapely.geometry import asShape
    from math import floor
    from slugify import slugify
%>

<%def name="show_attr(obj, key, parse=True)">\
  <%
      attr = get_attr(obj, key, md=parse, bb=parse)
      attr = attr if attr else ''
  %>
  ${attr | n}\
</%def>

<%def name="show_archive_data(module, document, locale, version)">\
  <article class="archive-data">
    <h2><span class="glyphicon glyphicon-warning-sign"></span>&nbsp;<span translate>You are viewing an archived version of this document.</span></h2>
    <div class="text-left">
      <p><b translate>Date</b>: {{'${1000 * version['written_at']}' | date:'medium'}} &nbsp;<span translate>by</span>&nbsp; <a href="#TODO">${version['name']}</a></p>
      <p><b translate>Changes</b>: <span x-translate>${show_version_comment(version)}</span></p>
    </div>
    <p class="text-center">
        <a href="${request.route_url(module + '_view_id_lang', id=document['document_id'], lang=locale['lang'])}">
          <button class="btn btn-default" translate>See the latest version</button>
        </a>
    </p>
  </article>
</%def>

<%def name="show_other_langs_links(module, document, other_langs)">\
  % if other_langs:
    <div id="other-langs">
      <div class="modal-header"><h3 class="text-center" translate>View in other lang</h3></div>
      <ul>
      % for l in other_langs:
        <li>
          <a href="${request.route_url(module + '_view_id_lang', id=document['document_id'], lang=l)}" x-translate>${l}</a>
          <span class="glyphicon glyphicon-chevron-right"></span>
        </li>
      % endfor
      </ul>
    </div>
  % endif
</%def>

<%def name="show_missing_langs_links(module, document, missing_langs)">\
% if missing_langs:
  <div  id="missing-langs">
    <div class="modal-header"><h3 class="text-center" translate>Translate into an other lang</h3></div>
    <ul>
      % for lang in missing_langs:
      <li protected-url-btn url="${request.route_path(module + '_edit', id=document['document_id'], lang=lang)}">
        <span x-translate>${lang}</span><span class="glyphicon glyphicon-chevron-right"></span>
      </li>
      % endfor
    </ul>
  </div>
% endif
</%def>

<%def name="show_route_title(locale, is_tab_title=False)">\
  <%
      title = ''
      if 'title_prefix' in locale and locale['title_prefix']:
          title = locale['title_prefix'] + ' : '
      title += locale['title']
  %>\
  ${title}${' - Camptocamp.org' if is_tab_title else ''}\
</%def>

<%def name="show_version_comment(version)">\
  ${get_attr(version, 'comment', md=False)  if version['comment'] else '' | n}
</%def>


<%def name="show_maps(document)">\
  % if document.get('maps') and len(document['maps']) > 0:
    <ul>
      % for m in document['maps']:
        <li class="text-left">${m['editor']} - ${m['code']} -  ${m['locales'][0]['title']}</li>
      % endfor
    </ul>
  % else :
    <h4 translate>No maps associated</h4>
  % endif
</%def>

<%def name="show_areas(document)">\
  % if document.get('areas'):
    <%
        areas = document.get('areas')
    %>
    <ul>
      % for area in areas:
        <%
          locale = area['locales'][0]
          url = request.route_url('areas_view', id=area['document_id'], lang=locale['lang'], slug=slugify(locale['title']))
        %>
        <li class="${area['area_type']}"><a href="${url}">${locale['title']}</a></li>
      % endfor
    </ul>
  % endif
</%def>


<%def name="get_route_activities(route, tooltipPosition)">\
  % if 'activities' in route and route.get('activities'):
    % for activity in route['activities'] :
      <span class="route-activity icon-${activity}" uib-tooltip="{{mainCtrl.translate('${activity}') }}" tooltip-placement="${tooltipPosition}"></span>
    % endfor
  % endif
</%def>

## Links generated only for the search engines, hidden.
<%def name="add_seo_association_links(documents, doctype, hide=True)">\
  % if len(documents):
    <ul ${'class="ng-hide"' if hide else '' | n}>
      % for doc in documents:
        <%
            locale = doc['locales'][0]
            title = locale['title_prefix'] + ' : ' if doctype == 'routes' and locale['title_prefix'] is not None else ''
            title += locale['title']
        %>
        <li>
          <a href="${request.route_url(doctype + '_view', id=doc['document_id'], lang=locale['lang'], slug=slugify(title))}">${title}</a>
        </li>
      % endfor
    </ul>
  % endif
</%def>


<%def name="show_associated_routes(document, type='routes')">\
  ## Possible values for type: routes, all_routes
  <%
    routes = document['associations']['all_routes']['documents'] if type == 'all_routes' else document['associations']['routes']
    associations = 'detailsCtrl.documentService.document.associations.'
    associations += 'all_routes.documents' if type == 'all_routes' else 'routes'
  %>
    ${add_seo_association_links(routes, 'routes')}
    <section ng-show="${associations}.length > 0">
      <h3 class="heading show-phone" ng-click="mainCtrl.animateHeaderIcon($event)" data-toggle="collapse" data-target="#associated-routes">
        <span class="glyphicon glyphicon-map-marker"></span>
        <span translate>Associated routes</span><span class="glyphicon glyphicon-menu-down"></span>
      </h3>
      <div class="associated-documents collapse in" id="associated-routes">
        <div class="list-item" ng-repeat="doc in ${associations}" ng-class="{'new-item': doc['new']}">
          <app-card app-card-doc="doc"></app-card>
          % if type == 'routes':
            <app-delete-association child-doctype="routes" parent-id="${document['document_id']}" child-id="doc.document_id"
              ng-if="userCtrl.auth.isAuthenticated()"></app-delete-association>
          % endif
        </div>
        % if type == 'all_routes' and document['associations']['all_routes']['total'] > len(routes):
          <%
              fragment = '{0}={1}'.format(document['type'], document['document_id'])
          %>
          <div class="list-item vertical-align" onclick="window.location='${request.route_url('routes_index')}#${fragment}';">
            <button class="gray-btn btn show-more" translate>show more</button>
          </div>
        % endif
      </div>
    </section>
</%def>

<%def name="show_associated_waypoints(document, type='waypoints', showDelete=True)">\
  ## Possible values for type: waypoints, waypoint_children
  <%
      associations = 'detailsCtrl.documentService.document.associations.' + type
  %>
  ${add_seo_association_links(document['associations'][type], 'waypoints')}
  <section ng-show="${associations}.length > 0">
    <h3 class="heading show-phone" ng-click="mainCtrl.animateHeaderIcon($event)" data-toggle="collapse" data-target="#associated-waypoints">
      <span class="glyphicon glyphicon-map-marker"></span>
      <span x-translate>Associated ${type}</span><span class="glyphicon glyphicon-menu-down"></span>
    </h3>
    <div class="associated-documents collapse in" id="associated-waypoints">
      <div class="list-item waypoints"
           % if document['doctype'] == 'routes':
             ng-class="{'main-waypoint': doc.document_id === ${document['main_waypoint_id']}, 'new-item': doc['new']}"
             ng-style="doc.document_id === ${document['main_waypoint_id']} && {'order': -1}"
           % else:
             ng-class="{'new-item': doc['new']}"
           % endif
           ng-repeat="doc in ${associations} | orderBy: 'waypoint_type'">
           <app-card app-card-doc="doc"></app-card>
        % if showDelete:
        <app-delete-association child-doctype="${type}" parent-id="${document['document_id']}" child-id="doc.document_id"
                                ng-if="userCtrl.auth.isAuthenticated()
                                % if document['doctype'] == 'routes':
                                    && ${associations}.length > 1
                                % endif
                                "></app-delete-association>
        % endif
      </div>
    </div>
  </section>
</%def>

<%def name="show_associated_outings(document)">\
  <%
      associations = document['associations']
  %>
  % if 'recent_outings' in associations and associations['recent_outings']['total'] > 0:
    ${add_seo_association_links(associations['recent_outings']['documents'], 'outings')}
    <article>
      <h3 class="heading show-phone outings" ng-click="mainCtrl.animateHeaderIcon($event)" data-toggle="collapse" data-target="#associated-outings">
        <span class="glyphicon glyphicon-map-marker"></span>
        <span translate>Last outings</span><span class="glyphicon glyphicon-menu-down"></span>
      </h3>
      <div class="associated-documents collapse in" id="associated-outings">
        % if document['doctype'] == 'routes':
          <div class="list-item vertical-align" protected-url-btn
               url="${request.route_path('outings_add') + '#r=' + str(document['document_id'])}">
            <a>
              <button class="btn orange-btn" translate>add a new outing to this document</button>
            </a>
          </div>
        % endif
        <div class="list-item outings" ng-repeat="doc in detailsCtrl.documentService.document.associations.recent_outings.documents">
          <app-card app-card-doc="doc"></app-card>
        </div>
        % if associations['recent_outings']['total'] > len(associations['recent_outings']['documents']) :
          <%
              fragment = '{0}={1}'.format(document['type'], document['document_id'])
          %>
          <div class="list-item vertical-align" onclick="window.location='${request.route_url('outings_index')}#${fragment}';">
            <button class="gray-btn btn show-more" translate>show more</button>
          </div>
        % endif
      </div>
    </article>
  % endif
</%def>

<%def name="associated_waypoints_featurelist(document)">\
  % for wp_category in ['waypoints', 'waypoint_children']:
    % if document.get('associations').get(wp_category):
      % for wp in document.get('associations').get(wp_category):
        % if wp.get('geometry'):
          ,
          {
            "type": "Feature",
            "geometry": ${wp['geometry']['geom'] | n},
            "properties": {
              "title": ${dumps(wp['locales'][0]['title']) | n},
              "lang": ${dumps(wp['locales'][0]['lang']) | n},
              "documentId": ${wp['document_id']},
              "module": "waypoints",
              "type": "${wp['waypoint_type']}"
            }
          }
        % endif
      % endfor
    % endif
  % endfor
</%def>

<%def name="associated_images_featurelist(document)">\
  % if document.get('associations').get('images'):
    % for image in document.get('associations').get('images'):
      % if image.get('geometry') and image.get('geometry').get('geom'):
        ,
        {
          "type": "Feature",
          "geometry": ${image['geometry']['geom'] | n},
          "properties": {
            "title": ${dumps(image['locales'][0]['title']) | n},
            "lang": ${dumps(image['locales'][0]['lang']) | n},
            "documentId": ${image['document_id']},
            "module": "images"
          }
        }
      % endif
    % endfor
  % endif
</%def>

<%def name="get_document_description(locale, doctype)">\
  % if locale.get('summary') or locale.get('description'):
    <div class="view-details-description col-xs-12  description">
      <h3 class="heading show-phone">
        % if doctype == 'outing':
          <span translate>personal comments</span>
        % else:
          <span translate>description</span>
        % endif
      </h3>
      <span class="lead">
        <div id="document-description" class="collapse in">
          % if locale.get('summary'):
            <summary class="document-summary">
              <label translate>summary</label><br>
              ${show_attr(locale, 'summary')}
            </summary>
          % endif

          % if locale.get('description'):
            ${show_attr(locale, 'description')}
          % else:
            <h3 class="text-center" translate>No description available</h3>
          % endif
        </div>
      </span>
    </div>
  % endif
</%def>

<%def name="get_document_locale_text(locale, text)">\
  ## WEATHER AND CONDITIONS
  % if text == 'weather':
  <%
      if type(locale['conditions_levels']) is str:
          cond = loads(locale['conditions_levels'])
          conditions_levels_exist = (cond is not Null and len(cond)) and \
              ( ('level_snow_height_total' in cond[0] and cond[0].get('level_snow_height_total') != '' and cond[0].get('level_snow_height_total') is not None) or \
              ('level_snow_height_soft' in cond[0] and  cond[0]['level_snow_height_soft'] != '' and cond[0].get('level_snow_height_soft') is not None) or \
              ('level_place' in cond[0] and cond[0].get('level_place')  != '') or \
              ('level_comment' in cond[0] and cond[0].get('level_comment') != '') )
      else:
          conditions_levels_exist = False
  %>
  % if locale.get('weather') or locale.get('conditions') or conditions_levels_exist:
    <div class="view-details-info col-xs-12">
      <h3 class="heading closed show-phone" ng-click="mainCtrl.animateHeaderIcon($event)" data-toggle="collapse" data-target="#weather-conditions">
        <span translate>weather and conditions</span><span class="glyphicon glyphicon-menu-right"></span>
      </h3>
      <section class="collapse" id="weather-conditions">
        <div class="lead">
          % if locale.get('weather'):
          <div class="document-weather">
            <label translate>weather</label><br>
            ${show_attr(locale, 'weather')}
          </div>
          % endif

          % if locale.get('conditions'):
          <div class="document-conditions">
            <label translate>conditions</label><br>
            ${show_attr(locale, 'conditions')}
          </div>
          % endif

          % if conditions_levels_exist:
            <div class="table-responsive">
              <table class="table table-striped conditions-levels">
                <thead>
                  <tr>
                    <th class="location"><span translate>location</span> |
                      <span translate>altitude</span> |
                      <span translate>orientations</span>
                    </th>
                    <th class="soft-snow" translate>soft snow</th>
                    <th class="total-snow" translate>total snow</th>
                    <th class="comment" translate>comment</th>
                  </tr>
                </thead>
                <tbody>
                  % for condition in cond:
                  <tr>
                    ## print empty td for alignement
                    % if 'level_place' and condition.get('level_place'):
                      <td>${condition['level_place']}</td>
                    % else:
                      <td></td>
                    % endif
                    % if 'level_snow_height_soft' in condition and condition['level_snow_height_soft'] != '' and condition['level_snow_height_soft'] is not None:
                      <td>${condition['level_snow_height_soft']} cm</td>
                    % else:
                    <td></td>
                    % endif
                    % if 'level_snow_height_total' in condition and condition['level_snow_height_total'] != '' and condition['level_snow_height_total']:
                      <td>${condition['level_snow_height_total']} cm</td>
                    % else:
                    <td></td>
                    % endif
                    % if 'level_comment' and condition.get('level_comment'):
                      <td >${condition['level_comment']}</td>
                    % else:
                      <td></td>
                    % endif
                  </tr>
                  % endfor
                </tbody>
              </table>
            </div>
          % endif
        </div>
      </section>

   </div>
    % endif

  % else :
    % if text in locale and locale[text]:
    <%
      open_tab =  text == 'route_description' or text == 'hut_comment'
    %>
      <div class="view-details-info col-xs-12">
        <h3 class="heading
            ${'closed' if not open_tab else ''}
            show-phone" ng-click="mainCtrl.animateHeaderIcon($event)" data-toggle="collapse" data-target="#${text}">
          <span x-translate>${text}</span><span class="glyphicon glyphicon-menu-right"></span>
        </h3>
        <section
          class="${'collapse in' if open_tab else 'collapse'}"
          id="${text}" aria-expanded="trues">
          <div class="lead">
            ${show_attr(locale, text)}
          </div>
        </section>
      </div>
    % endif
  % endif
</%def>

## Float buttons
<%def name="show_float_buttons(associatedUsers, doctype, doc_id, doc_lang, other_langs, missing_langs, image = None)">\
  <%
      if image:
          options = {"imageType": image["image_type"], "imageCreator": image["creator"]["user_id"]}
      else:
          options = {"users": dumps(associatedUsers) }
  %>
  <div class="float-buttons">
      <div ng-if="userCtrl.hasEditRights('${doctype}', ${options})"
       tooltip-placement="left" uib-tooltip="{{'Edit' | translate}}" class="float-button float-edit"
       protected-url-btn url="${request.route_path(doctype + '_edit', id=doc_id, lang=doc_lang)}">
        <span class="glyphicon glyphicon-edit"></span>
        <p class="float-button-text" translate>Edit</p>
      </div>

    % if doctype != 'images':
      <div class="float-button float-favorites" tooltip-placement="left" uib-tooltip="{{'Add images' | translate}}"
           ng-click="uplCtrl.openModal()" ng-if="userCtrl.auth.isAuthenticated() && detailsCtrl.documentService.isCollaborative('${doctype}')">
        <span class="glyphicon glyphicon-picture"></span>
        <p class="float-button-text" translate>Add images</p>
      </div>
    % endif

    <div class="float-button float-favorites" tooltip-placement="left" uib-tooltip="{{'Add to favorites' | translate}}">
      <span class="glyphicon glyphicon-heart"></span>
      <p class="float-button-text" translate>Favorites</p>
    </div>

    <div class="float-button float-comments" tooltip-placement="left" uib-tooltip="{{'Comments' | translate}}"
         ng-click="detailsCtrl.scrollToComments()">
      <span class="glyphicon glyphicon-comment"></span>
      <p class="float-button-text" translate>Comments</p>
    </div>

    <div class="dropdown">
      <div class="btn-group float-more float-button dropdown-toggle" type="button" data-toggle="dropdown"
           tooltip-placement="left" uib-tooltip="{{'More' | translate}}">
        <span class="glyphicon glyphicon-th-list"></span>
        <p class="float-button-text" translate>More</p>
      </div>
      <ul class="dropdown-menu"  role="menu">
        <li><a href="${request.route_url(doctype + '_history', id=doc_id, lang=doc_lang)}" translate>History</a></li>
        % if other_langs:
        <li ng-click="detailsCtrl.openModal('#other-langs')"><a translate>View in other lang</a></li>
        % endif
        % if missing_langs:
        <li ng-if="userCtrl.hasEditRights('${doctype}', ${options})"
            ng-click="detailsCtrl.openModal('#missing-langs')"><a translate>Translate into an other lang</a></li>
        % endif
        <li role="separator" class="divider"></li>
        <li><a href="#">Print</a></li>
        <li><a href="#">Save</a></li>
      </ul>
    </div>

  </div>
</%def>


<%def name="get_document_min_max(document, prop)">\
  % if document.get(prop + '_min') and document.get(prop + '_max') and (document.get(prop + '_max') is not None and document.get(prop + '_min') is not None):
  <p><b class="value-title"><span x-translate>${prop}</span>&nbsp;<span translate>min</span>/<span translate>max</span> </b>: <span class="value"> ${document[prop + '_min']}&nbsp;m / ${document[prop + '_max']}&nbsp;m</span></p>
  %  elif (document.get(prop + '_min') and document.get(prop + '_min') is not None) and not document.get(prop + '_max'):
  <p><b x-translate class="value-title">${prop + '_min'}</b>: <span class="value">${document[prop + '_min']}&nbsp;m</span></p>
  % elif document.get(prop + '_max') and document.get(prop + '_max') is not None:
  <p><b x-translate class="value-title">${prop + '_max'}</b>: <span class="value">${document[prop + '_max']}&nbsp;m</span></p>
  % endif
</%def>


<%def name="get_document_up_down(document, prop)">\
  % if document.get(prop + '_down') and document.get(prop + '_up') and (document.get(prop + '_up') is not None and document.get(prop + '_down') is not None):
  <p><b x-translate class="value-title">${prop}</b>: <span class="value">+${document[prop + '_up']}&nbsp;m / -${document[prop + '_down']}&nbsp;m</span></p>
  %  elif (document.get(prop + '_down') and document.get(prop + '_down') is not None) and not document.get(prop + '_up'):
  <p><b x-translate class="value-title">${prop + '_down'}</b>: <span class="value">${document[prop + '_down']}&nbsp;m</span></p>
  % elif document.get(prop + '_up') and document.get(prop + '_up') is not None:
  <p><b x-translate class="value-title">${prop + '_up'}</b>: <span class="value">${document[prop + '_up']}&nbsp;m</span></p>
  % endif
</%def>


<%def name="get_skitouring_rating(document)">\
  % if document.get('ski_rating') or document.get('ski_exposition') or document.get('labande_ski_rating') or document.get('labande_global_rating'):

    <div class="rating-block a">
      % if document.get('ski_rating'):
        <span uib-tooltip="{{'ski_rating' | translate}}" class="value">${document['ski_rating']}</span>
      % endif
      ${'/' if document.get('ski_rating') and document.get('ski_exposition') else ''}
      % if document.get('ski_exposition'):
        <span uib-tooltip="{{'ski_exposition' | translate}}" class="value">${document['ski_exposition']}</span>
      %endif
    </div>

    <div class="rating-block b">
      % if document.get('labande_global_rating'):
        <span uib-tooltip="{{'labande_global_rating' | translate}}" class="value">${document['labande_global_rating']}</span>
      % endif
      ${'/' if document.get('labande_global_rating') and document.get('labande_ski_rating') else ''}
      % if document.get('labande_ski_rating') is not None:
        <span uib-tooltip="{{'labande_ski_rating' | translate}}" class="value">${document['labande_ski_rating']}</span>
      %endif
     </div>

  % endif
</%def>


## GET HIKING MTB RATING
<%def name="get_hiking_mtb_rating(document)">\
  % if document.get('mtb_down_rating') or document.get('mtb_up_rating') or document.get('hiking_mtb_exposition'):

      % if document.get('mtb_down_rating') or document.get('mtb_up_rating'):
        <div class="rating-block e">
          % if document.get('mtb_up_rating'):
            <span uib-tooltip="{{'mtb_up_rating' | translate}}" class="value">${document['mtb_up_rating']}</span>
          % endif
          ${'' if document.get('mtb_up_rating') and document.get('mtb_down_rating') else ''}
          % if document.get('mtb_down_rating'):
            <span uib-tooltip="{{'mtb_down_rating' | translate}}" class="value space">${document['mtb_down_rating']}</span>
          % endif
        </div>
      % endif

      % if document.get('hiking_mtb_exposition'):
        <div class="rating-block f">
          <span uib-tooltip="{{'hiking_mtb_exposition' | translate}}"  class="value">${document['hiking_mtb_exposition']}</span>&nbsp;
        </div>
      % endif

  % endif
</%def>

## GET GLOBAL RATING
<%def name="get_global_rating(document)">\
  % if 'snow_ice_mixed' in document.get('activities') or 'via_ferrata' in document.get('activities') \
        or 'mountain_climbing' in document.get('activities') or 'rock_climbing' in document.get('activities') \
        or 'ice_climbing' in document.get('activities'):
  <div class="rating-block b">
    % if document.get('global_rating'):
      <span uib-tooltip="{{'global_rating' | translate}}" class="value">${document['global_rating']}</span>&nbsp;&nbsp;
    % endif

    ## [A0] (without bracket) is showed only if equipment_rating = P1 or P1+, and if aid_rating is empty.
    % if document.get('rock_required_rating') or document.get('rock_free_rating'):
      <div class="rating-block">
      % if document.get('rock_free_rating'):
        <span uib-tooltip="{{'rock_free_rating' | translate}}" class="value">${document.get('rock_free_rating')}</span>
      % endif

      ${'>' if document.get('rock_required_rating') and document.get('rock_free_rating') else ''}

      % if document.get('rock_required_rating') and document.get('rock_free_rating'):
        <span uib-tooltip="{{'rock_required_rating' | translate}}" class="value">${document['rock_required_rating']}${'A0' if (document.get('equipment_rating') == 'P1' or document.get('equipment_rating') == 'P1+') and not document.get('aid_rating') else ''}</span></p>
      % endif
      </div>&nbsp;
    % endif

    % if document.get('aid_rating'):
      <span uib-tooltip="{{'aid_rating' | translate}}" class="value">${document['aid_rating']}</span>&nbsp;
    % endif

    % if document.get('ice_rating'):
      <span uib-tooltip="{{'ice_rating' | translate}}" class="value">${document['ice_rating']}</span>&nbsp;
    % endif

    % if document.get('mixed_rating'):
      <span uib-tooltip="{{'mixed_rating' | translate}}" class="value">${document['mixed_rating']}</span>&nbsp;
    % endif

    % if document.get('via_ferrata_rating'):
      <span uib-tooltip="{{'via_ferrata_rating' | translate}}" class="value">${document['via_ferrata_rating']}</span>&nbsp;
    % endif

    % if document.get('engagement_rating'):
      &nbsp;&nbsp;<span uib-tooltip="{{'engagement_rating' | translate}}" class="value">${document['engagement_rating']}</span>&nbsp;
    % endif

    % if document.get('risk_rating'):
      <span class="value" uib-tooltip="{{'risk_rating' | translate}}">${document['risk_rating']}</span>&nbsp;
    % endif

    % if document.get('equipment_rating'):
      &nbsp;&nbsp;<span class="value" uib-tooltip="{{'equipment_rating' | translate}}">${document['equipment_rating']}</span>&nbsp;
    % endif

    % if document.get('exposition_rock_rating'):
     <span uib-tooltip="{{'exposition_rock_rating' | translate}}" class="value">${document['exposition_rock_rating']}</span>&nbsp;
    % endif
</div>

  % endif
</%def>

<%def name="photoswipe_gallery()">\
  ## Root element of PhotoSwipe. Must have class pswp.
  <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    ## Background of PhotoSwipe.
    ## It's a separate element as animating opacity is faster than rgba().
    <div class="pswp__bg"></div>

    ## Slides wrapper with overflow:hidden.
    <div class="pswp__scroll-wrap">

      ## Container that holds slides.
      ## PhotoSwipe keeps only 3 of them in the DOM to save memory.
      ## Don't modify these 3 pswp__item elements, data is added later on.
      <div class="pswp__container">
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
      </div>

      ## Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed.
      <div class="pswp__ui pswp__ui--hidden">

        <div class="pswp__top-bar">
          <div class="pswp__counter"></div>

          <button class="pswp__button pswp__button--close" title="{{'Close (Esc)' | translate}}"></button>
          <button class="pswp__button pswp__button--fs" title="{{'Toggle fullscreen' | translate}}"></button>
          <button class="pswp__button info"><span class="glyphicon glyphicon-info-sign"></span></button>

          ## Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR
          ## element will get class pswp__preloader--active when preloader is running
          <div class="pswp__preloader">
            <div class="pswp__preloader__icn">
              <div class="pswp__preloader__cut">
                <div class="pswp__preloader__donut"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="pswp__caption">
          <div class="pswp__caption__center"></div>
        </div>

        <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
          <div class="pswp__share-tooltip"></div>
        </div>

        <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
        </button>

        <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
        </button>

      </div>
    </div>
  </div>
</%def>

<%def name="delete_association_confirmation_modal()">\
  <div id="delete-association-modal">
    <div class="modal-header"><h3 class="text-center" translate>Remove association</h3></div>
    <div class="modal-body">
      <p translate class="text-center">Are you sure you want to delete this association?</p>
    </div>
    <div class="modal-footer">
      <p>
        <button class="btn btn-warning" type="button" ng-click="delModalCtrl.close('remove')" translate>Yes</button>
        <button class="btn btn-default" type="button" ng-click="delModalCtrl.dismiss()" translate>Cancel</button>
      </p>
    </div>
  </div>
</%def>

<%def name="get_image_gallery()">\
  <div class="view-details-photos col-xs-12 tab description" ng-show="detailsCtrl.documentService.document.associations.images.length > 0">
    <div class="photos" data-slick='{"variableWidth": true, "infinite": false, "focusOnSelect": false, "lazyLoad": "progressive"}'></div>
  </div>
</%def>

<%def name="get_comments()">\
  <div class="view-details-comments col-xs-12 comments">
    <h3 class="heading comments"
        data-toggle="collapse" data-target="#discourse-comments"
        ng-click="mainCtrl.animateHeaderIcon($event)">
      <span class="glyphicon glyphicon-comment"></span>
      <span translate>Comments</span>
      <span class="glyphicon glyphicon-menu-down"></span>
    </h3>
    <section id="discourse-comments" class="collapse in" ng-init="detailsCtrl.getComments()">
      <div ng-if="detailsCtrl.documentService.document.topic_id == null" class="no-thread">
        <p class="text-center">No thread yet?</p>
        <p class="text-center"
            ng-if="!userCtrl.auth.isAuthenticated()">Log in to post the first comment</p>
        <button class="btn gray-btn"
            ng-if="userCtrl.auth.isAuthenticated()"
            ng-click="detailsCtrl.createTopic()"
            translate>Post the first comment</button>
      </div>
    </section>
  </div>
</%def>

<%def name="show_badge(document, type)">\
  <%
      fragments = []
      if document.get('geometry') and document.get('geometry').get('geom'):
          geojson = loads(document.get('geometry').get('geom'))
          geom = asShape(geojson)
          buffer = geom.buffer(10000)
          bounds = map(floor, buffer.bounds)
          fragments.append(('bbox', ','.join(map(str, bounds))))
      if type == 'waypoint':
          fragments.append(('wtyp', document['waypoint_type']))
  %>
  <label class="badge ${type}">
    <a href="${request.route_url(type + 's_index')}#${'&'.join(['='.join(fragment) for fragment in fragments])}"><span
       class="glyphicon glyphicon-arrow-right"></span>&nbsp;<span x-translate>${type}</span></a>
  </label>
</%def>
