<%! from c2corg_ui.templates.utils import get_attr %>
<%def name="show_attr(obj, key, parse=True)">\
  <%
      attr = get_attr(obj, key, md=parse, bb=parse)
      attr = attr if attr else ''
  %>
  ${attr | n}\
</%def>

<%def name="show_archive_data(module, document, locale, version)">\
  <article class="archive-data">
    <h2><span class="glyphicon glyphicon-warning-sign"></span>&nbsp;<span translate>You are viewing an archived version of this document.</span></h2>
    <div class="text-left">
      <p><b translate>Date</b>: {{'${1000 * version['written_at']}' | date:'medium'}} &nbsp;<span translate>by</span>&nbsp; <a href="#TODO">${version['username']}</a></p>
      <p><b translate>Changes</b>: <span x-translate>${show_version_comment(version)}</span></p>
    </div>
    <p class="text-center">
        <a href="${request.route_url(module + '_view', id=document['document_id'], lang=locale['lang'])}">
          <button class="btn btn-default" translate>See the latest version</button>
        </a>
    </p>
  </article>
</%def>

<%def name="show_other_langs_links(module, document, other_langs)">\
  % if other_langs:
    <div id="other-langs">
      <div class="modal-header"><h3 class="text-center" translate>View in other lang</h3></div>  
      <ul>
      % for l in other_langs:
        <li>
          <a href="${request.route_url(module + '_view', id=document['document_id'], lang=l)}" x-translate>${l}</a>
          <span class="glyphicon glyphicon-chevron-right"></span>
        </li>
      % endfor
      </ul>
    </div>
  % endif
</%def>

<%def name="show_missing_langs_links(module, document, missing_langs)">\
% if missing_langs:
  <div  id="missing-langs">
    <div class="modal-header"><h3 class="text-center" translate>Translate into an other lang</h3></div>  
    <ul>
      % for lang in missing_langs:
      <li>
      <app-edit-button app-edit-button-url="${request.route_url(module + '_edit', id=document['document_id'], lang=lang)}">
        <span x-translate>${lang}</span>
        <span class="glyphicon glyphicon-chevron-right"></span>
      </app-edit-button>
      </li>
      % endfor
    </ul>
</div>
% endif
</%def>

<%def name="show_route_title(locale, is_tab_title=False)">\
  <%
      title = ''
      if 'title_prefix' in locale and locale['title_prefix']:
          title = locale['title_prefix'] + ' : '
      title += locale['title']
  %>\
  ${title}${' - Camptocamp.org' if is_tab_title else ''}\
</%def>

<%def name="show_version_comment(version)">\
  ${get_attr(version, 'comment', md=False)  if version['comment'] else '' | n}
</%def>


<%def name="show_maps(document)">\
  % if document.get('maps') and len(document['maps']) > 0:
    <ul>
      % for m in document['maps']:
        <li class="text-left">${m['editor']} - ${m['code']} -  ${m['locales'][0]['title']}</li>
      % endfor
    </ul>
  % else :
    <h4 translate>No maps associated</h4>
  % endif
</%def>

<%def name="show_areas(document)">\
  % if document.get('areas'):
    <ul>
      % for a in reversed(document['areas']):
        <li ng-cloak>${a['locales'][0]['title']}</li>
      % endfor
    </ul>
  % endif
</%def>


<%def name="get_route_activities(route, tooltipPosition)">\
  % if 'activities' in route and route.get('activities'): 
    % for activity in route['activities'] :
      <span class="route-activity icon-${activity}" uib-tooltip="{{ mainCtrl.translate('${activity}') }}" tooltip-placement="${tooltipPosition}"></span>
    % endfor 
  % endif
</%def>


<%def name="get_associated_documents(document, associatedDocuments)">\
  ##ROUTES
  % if associatedDocuments == 'routes':
  
    % if 'routes' in document['associations'] and  len(document['associations']['routes']) > 0 :
    <article>
      <h3 class="heading show-phone" ng-click="mainCtrl.animateHeaderIcon($event)" data-toggle="collapse" data-target="#associated-${associatedDocuments}">
        <span class="glyphicon glyphicon-map-marker"></span>
        <span translate>Associated ${associatedDocuments}</span><span class="glyphicon glyphicon-menu-down"></span>
      </h3>
      <div class="associated-documents collapse in" id="associated-${associatedDocuments}">
        % for route in document['associations']['routes']:
          ${route_card(route, 'app-delete', document['document_id'])}
        % endfor
        <article class="list-item" ng-repeat="doc in added | filter:{'documentType': '${associatedDocuments}'}">
          <app-association-card parent-id="${document['document_id']}" doc="doc" added-documents="added"></app-association-card>
        </article>
      </div>
    </article>
    % endif
    
    ##WAYPOINTS
    % elif associatedDocuments == 'waypoints':
    
      % if 'waypoints' in document['associations'] and  len(document['associations']['waypoints']) > 0 :
      <article>
        <h3 class="heading show-phone" ng-click="mainCtrl.animateHeaderIcon($event)" data-toggle="collapse" data-target="#associated-${associatedDocuments}">
          <span class="glyphicon glyphicon-map-marker"></span>
          <span translate>Associated ${associatedDocuments}</span><span class="glyphicon glyphicon-menu-down"></span>
        </h3>
        <div class="associated-documents collapse in" id="associated-${associatedDocuments}">
          % for waypoint in document['associations']['waypoints']:
              ${waypoint_card(waypoint, 'app-delete', document['document_id'])}
          % endfor
          <article class="list-item" ng-repeat="doc in added | filter:{'documentType': '${associatedDocuments}'}">
            <app-association-card parent-id="${document['document_id']}" doc="doc" added-documents="added"></app-association-card>
          </article>
        </div>
      </article>
      % endif

    ##OUTINGS
    % elif associatedDocuments == 'recent_outings':
    
      % if len(document['associations']['recent_outings']['outings']) > 0 :
        <article>
          <h3 class="heading show-phone" ng-click="mainCtrl.animateHeaderIcon($event)" data-toggle="collapse" data-target="#associated-${associatedDocuments}">
            <span class="glyphicon glyphicon-map-marker"></span>
            <span translate>Associated ${associatedDocuments}</span><span class="glyphicon glyphicon-menu-down"></span>
          </h3>
          <div class="associated-documents collapse in" id="associated-${associatedDocuments}">
            % for outing in document['associations']['recent_outings']['outings']:
            ${outing_card(outing, 'app-delete', document['document_id'])}
            % endfor
            <article class="list-item" ng-repeat="doc in added | filter:{'documentType': '${associatedDocuments}'}">
              <app-association-card parent-id="${document['document_id']}" doc="doc" added-documents="added"></app-association-card>
            </article>
          </div>
        </article>
      % endif
    
  % endif
</%def>


<%def name="get_document_locale_text(locale, text)">\
  ## WEATHER AND CONDITIONS
  % if text == 'weather':
    % if locale['weather'] or locale['conditions'] or locale['conditions_levels']:
    <div class="view-details-info col-xs-12">
      <h3 class="heading closed show-phone" ng-click="mainCtrl.animateHeaderIcon($event)" data-toggle="collapse" data-target="#weather-conditions">
        <span translate>weather and conditions</span><span class="glyphicon glyphicon-menu-right"></span>
      </h3>
      <section class="collapse" id="weather-conditions">
        <div class="lead">
          % if locale.get('weather'):
          <div class="document-weather">
            <label translate>weather</label><br>
            ${show_attr(locale, 'weather')}
          </div>
          % endif

          % if locale.get('conditions'):
          <div class="document-conditions">
            <label translate>conditions</label><br>
            ${show_attr(locale, 'conditions')}
          </div>
          % endif

          % if locale.get('conditions_levels') :
          <div class="document-conditions_levels">
            <label translate>conditions_levels</label><br>
            ${show_attr(locale, 'conditions_levels')}
          </div>
          % endif
        </div>
      </section>
    </div>
    % endif
    
  % else :
    % if text in locale and locale[text]:
      <div class="view-details-info col-xs-12">
        <h3 class="heading closed show-phone" ng-click="mainCtrl.animateHeaderIcon($event)" data-toggle="collapse" data-target="#${text}">
          <span translate>${text}</span><span class="glyphicon glyphicon-menu-right"></span>
        </h3>
        <section class="collapse" id="${text}" aria-expanded="trues">
          <div class="lead">
            ${show_attr(locale, text)}
          </div>
        </section>
      </div>
    % endif
  % endif
</%def>


## Draw route card with or without additionnal items like delete button.
<%def name="route_card(route, param, parent_id)">\
    <div class="list-item">
      <a href="${request.route_url('routes_view', id=route['document_id'], lang=route['locales'][0]['lang'])}">
        <span class="list-item-title">${show_route_title(route['locales'][0])}</span>
        % if lang != route['locales'][0]:
        <span class="list-item-lang"> (${route['locales'][0]['lang']})</span><br>
        % endif
        <div class="list-item-info">
          ${get_document_min_max(route, 'elevation')}
          <div class="route-activities">
            ${get_route_activities(route, 'top')}
          </div>
        </div>
      </a>
      % if param == 'app-delete':
        <app-delete-association parent-id="${parent_id}" child-id="${route['document_id']}"></app-delete-association>
      % endif
    </div>
</%def>


## Draw waypoint card with or without additionnal items like delete button.
<%def name="waypoint_card(waypoint, param, parent_id)">\
  <div class="list-item">
    <a href="${request.route_url('waypoints_view', id=waypoint['document_id'], lang=waypoint['locales'][0]['lang'])}">
      <span class="list-item-title">${waypoint['locales'][0]['title']}</span>
      % if lang != waypoint['locales'][0]:
      <span class="list-item-lang"> (${waypoint['locales'][0]['lang']})</span><br>
      % endif

      <span class="list-item-info">
        % if waypoint.get('elevation'):
        <p><b  class="value-title" translate>elevation</b>:  <span class="value"> ${waypoint['elevation']} m </span></p>
        % endif
        <img alt="waypoint type" src="${request.static_url('c2corg_ui:static/img/icons/' + waypoint['waypoint_type'] + '.png')}">
        <span x-translate>${waypoint['waypoint_type']}</span>
      </span>
    </a>

    % if param == 'app-delete':
    <app-delete-association parent-id="${parent_id}" child-id="${waypoint['document_id']}"></app-delete-association>
    % endif
  </div>
</%def>


<%def name="outing_card(outing, param, parent_id)">\
  <div class="list-item outing">
    <a href="${request.route_url('outings_view', id=outing['document_id'], lang=outing['locales'][0]['lang'])}">
      <div class="outing-author text-center">
        <div class="outing-date">{{ '${outing['date_start']}' | date: 'MM/dd/yyyy'}}</div>
        <span class="icon-user"></span><br>
        <b class="author-name">${outing['author']['username']}</b>
      </div>
      <div class="list-item-info">
        <span class="list-item-title outing">${show_attr(outing['locales'][0], 'title', False)} (${outing['locales'][0]['lang']})</span>
        ${get_document_min_max(outing, 'elevation')}
        <div class="route-activities">
          ${get_route_activities(outing, 'right')}
        </div>
      </div>        
    </a>
    % if param == 'app-delete':
    <app-delete-association parent-id="${parent_id}" child-id="${outing['document_id']}"></app-delete-association>
    % endif
  </div>
</%def>


## Float buttons
<%def name="show_float_buttons(string, doc_id, doc_lang, other_langs, missing_langs)">\
  <div class="float-buttons" app-view-details>
    <div class="float-button float-edit" tooltip-placement="left" uib-tooltip="{{'Edit' | translate}}">
      <app-edit-button ng-click="ebCtrl.redirect()" app-edit-button-url="${request.route_url( string + '_edit' , id=doc_id, lang=doc_lang)}"></app-edit-button>
      <span class="glyphicon glyphicon-edit"></span>
      <p class="float-button-text" translate>Edit</p>
    </div>
    <div class="float-button float-favorites" tooltip-placement="left" uib-tooltip="{{'Add to favorites' | translate}}">
      <span class="glyphicon glyphicon-heart"></span>
      <p class="float-button-text" translate>Favorites</p>
    </div>
    <div class="float-button float-comments" tooltip-placement="left" uib-tooltip="{{'Comments' | translate}}">
      <span class="glyphicon glyphicon-comment"></span>
      <p class="float-button-text" translate>Comments</p>
    </div>
    <div class="btn-group float-more float-button " uib-dropdown tooltip-placement="left" uib-tooltip="{{'More' | translate}}">
      <span class="glyphicon glyphicon-th-list dropdown-toggle" uib-dropdown-toggle></span>
      <p class="float-button-text" translate>More</p>
      <ul class="dropdown-menu"  role="menu" aria-labelledby="dLabel">
        <li><a href="${request.route_url(string + '_history', id=doc_id, lang=doc_lang)}" translate>History</a></li>
      % if other_langs:
        <li ng-click="detailsCtrl.openModal('#other-langs')"><a translate>View in other lang</a></li>
      % endif
      % if missing_langs:
        <li ng-click="detailsCtrl.openModal('#missing-langs')"><a translate>Translate into an other lang</a></li>
      % endif
        <li role="separator" class="divider"></li>
        <li><a href="#">Print</a></li>
        <li><a href="#">Save</a></li>
      </ul>
    </div>
  </div>

</%def>


<%def name="get_document_min_max(document, prop)">\
  % if document.get(prop + '_min') and document.get(prop + '_max') and (document.get(prop + '_max') is not None and document.get(prop + '_min') is not None):
  <p><b translate class="value-title">${prop}</b>: <span class="value">min ${document[prop + '_min']} m / max ${document[prop + '_max']} m</span></p>
  %  elif (document.get(prop + '_min') and document.get(prop + '_min') is not None) and not document.get(prop + '_max'): 
  <p><b translate class="value-title">${prop + '_min'}</b>: <span class="value">${document[prop + '_min']} m</span></p>
  % elif document.get(prop + '_max') and document.get(prop + '_max') is not None:
  <p><b translate class="value-title">${prop + '_max'}</b>: <span class="value">${document[prop + '_max']} m</span></p>
  % endif
</%def>


<%def name="get_document_up_down(document, prop)">\
  % if document.get(prop + '_down') and document.get(prop + '_up') and (document.get(prop + '_up') is not None and document.get(prop + '_down') is not None):
  <p><b translate class="value-title">${prop}</b>: <span class="value">-${document[prop + '_down']} m / +${document[prop + '_up']} m</span></p>
  %  elif (document.get(prop + '_down') and document.get(prop + '_down') is not None) and not document.get(prop + '_up'): 
  <p><b translate class="value-title">${prop + '_down'}</b>: <span class="value">${document[prop + '_down']} m</span></p>
  % elif document.get(prop + '_up') and document.get(prop + '_up') is not None:
  <p><b translate class="value-title">${prop + '_up'}</b>: <span class="value">${document[prop + '_up']} m</span></p>
  % endif
</%def>
