<%! from c2corg_ui.templates.utils import get_attr %>
<%! import json %>

<%def name="show_attr(obj, key, parse=True)">\
  <%
      attr = get_attr(obj, key, md=parse, bb=parse)
      attr = attr if attr else ''
  %>
  ${attr | n}\
</%def>

<%def name="show_archive_data(module, document, locale, version)">\
  <article class="archive-data">
    <h2><span class="glyphicon glyphicon-warning-sign"></span>&nbsp;<span translate>You are viewing an archived version of this document.</span></h2>
    <div class="text-left">
      <p><b translate>Date</b>: {{'${1000 * version['written_at']}' | date:'medium'}} &nbsp;<span translate>by</span>&nbsp; <a href="#TODO">${version['username']}</a></p>
      <p><b translate>Changes</b>: <span x-translate>${show_version_comment(version)}</span></p>
    </div>
    <p class="text-center">
        <a href="${request.route_url(module + '_view', id=document['document_id'], lang=locale['lang'])}">
          <button class="btn btn-default" translate>See the latest version</button>
        </a>
    </p>
  </article>
</%def>

<%def name="show_other_langs_links(module, document, other_langs)">\
  % if other_langs:
    <div id="other-langs">
      <div class="modal-header"><h3 class="text-center" translate>View in other lang</h3></div>  
      <ul>
      % for l in other_langs:
        <li>
          <a href="${request.route_url(module + '_view', id=document['document_id'], lang=l)}" x-translate>${l}</a>
          <span class="glyphicon glyphicon-chevron-right"></span>
        </li>
      % endfor
      </ul>
    </div>
  % endif
</%def>

<%def name="show_missing_langs_links(module, document, missing_langs)">\
% if missing_langs:
  <div  id="missing-langs">
    <div class="modal-header"><h3 class="text-center" translate>Translate into an other lang</h3></div>  
    <ul>
      % for lang in missing_langs:
      <li protected-url-btn url="'${request.route_url(module + '_edit', id=document['document_id'], lang=lang)}'">
        <span x-translate>${lang}</span><span class="glyphicon glyphicon-chevron-right"></span>
      </li>
      % endfor
    </ul>
  </div>
% endif
</%def>

<%def name="show_route_title(locale, is_tab_title=False)">\
  <%
      title = ''
      if 'title_prefix' in locale and locale['title_prefix']:
          title = locale['title_prefix'] + ' : '
      title += locale['title']
  %>\
  ${title}${' - Camptocamp.org' if is_tab_title else ''}\
</%def>

<%def name="show_version_comment(version)">\
  ${get_attr(version, 'comment', md=False)  if version['comment'] else '' | n}
</%def>


<%def name="show_maps(document)">\
  % if document.get('maps') and len(document['maps']) > 0:
    <ul>
      % for m in document['maps']:
        <li class="text-left">${m['editor']} - ${m['code']} -  ${m['locales'][0]['title']}</li>
      % endfor
    </ul>
  % else :
    <h4 translate>No maps associated</h4>
  % endif
</%def>

<%def name="show_areas(document)">\
  % if document.get('areas'):
  <% areas = document.get('areas') %>\
    <ul>
      % for area in areas:
      <li ng-cloak class="${area['area_type'] }"><a href="#redirectArea">${area['locales'][0]['title']}</a></li>
      % endfor
    </ul>
  % endif
</%def>


<%def name="get_route_activities(route, tooltipPosition)">\
  % if 'activities' in route and route.get('activities'): 
    % for activity in route['activities'] :
      <span class="route-activity icon-${activity}" uib-tooltip="{{ mainCtrl.translate('${activity}') }}" tooltip-placement="${tooltipPosition}"></span>
    % endfor 
  % endif
</%def>


<%def name="show_associated_routes(document, type='routes')">\
  ## Possible values for type: routes, all_routes
  <%
      associations = document['associations']
      routes = []
      if type in associations:
          routes = associations['all_routes']['routes'] if type == 'all_routes' else associations['routes']
  %>
  % if len(routes) > 0 :
    <article>
      <h3 class="heading show-phone" ng-click="mainCtrl.animateHeaderIcon($event)" data-toggle="collapse" data-target="#associated-routes">
        <span class="glyphicon glyphicon-map-marker"></span>
        <span translate>Associated routes</span><span class="glyphicon glyphicon-menu-down"></span>
      </h3>
      <div class="associated-documents collapse in" id="associated-routes">
        % for route in routes:
          <div class="list-item">
            ${route_card(route)}
            <app-delete-association parent-id="${document['document_id']}" child-id="${route['document_id']}" ng-if="userCtrl.auth.isAuthenticated()"></app-delete-association>
          </div>
        % endfor
        <article class="list-item" ng-repeat="doc in added | filter:{'documentType': 'routes'}">
          <app-association-card parent-id="${document['document_id']}" doc="doc" added-documents="added"></app-association-card>
        </article>
      </div>
    </article>
  % endif
</%def>

<%def name="show_associated_waypoints(document, type='waypoints')">\
  ## Possible values for type: waypoints, waypoint_parents, waypoint_children
  <%
      associations = document['associations']
  %>
  % if type in associations and len(associations[type]) > 0 :
    <article>
      <h3 class="heading show-phone" ng-click="mainCtrl.animateHeaderIcon($event)" data-toggle="collapse" data-target="#associated-waypoints">
        <span class="glyphicon glyphicon-map-marker"></span>
        <span x-translate>Associated ${type}</span><span class="glyphicon glyphicon-menu-down"></span>
      </h3>
      <div class="associated-documents collapse in" id="associated-waypoints">
        % for waypoint in associations[type]:
          <div class="list-item"
               % if document.get('type') == 'r':
                  ng-class="{'main-waypoint': ${document['main_waypoint_id']} === ${waypoint['document_id']} } "
               % endif
              >
            ${waypoint_card(waypoint)}
            <app-delete-association parent-id="${document['document_id']}" child-id="${waypoint['document_id']}" ng-if="userCtrl.auth.isAuthenticated()"></app-delete-association>
          </div>
        % endfor
        <article class="list-item" ng-repeat="doc in added | filter:{'documentType': 'waypoints'}">
          <app-association-card parent-id="${document['document_id']}" doc="doc" added-documents="added"></app-association-card>
        </article>
      </div>
    </article>
  % endif
</%def>

<%def name="show_associated_outings(document)">\
  <%
      associations = document['associations']
  %>
  % if 'recent_outings' in associations and associations['recent_outings']['total'] > 0:
    <article>
      <h3 class="heading show-phone outings" ng-click="mainCtrl.animateHeaderIcon($event)" data-toggle="collapse" data-target="#associated-outings">
        <span class="glyphicon glyphicon-map-marker"></span>
        <span translate>Associated outings</span><span class="glyphicon glyphicon-menu-down"></span>
      </h3>
      <div class="associated-documents collapse in" id="associated-outings">
        <div class="list-item vertical-align" protected-url-btn url="'${request.route_url('outings_add')}' + '?${document['doctype']}=${document['document_id']}'">
          <a>
            <button class="btn orange-btn">add a new outing to this document</button>
          </a>
        </div>
        % for outing in associations['recent_outings']['outings']:
        <div class="list-item outing">
          ${outing_card(outing)}
          <app-delete-association parent-id="${document['document_id']}" child-id="${outing['document_id']}" ng-if="userCtrl.auth.isAuthenticated()"></app-delete-association>
        </div>
        % endfor

        % if associations['recent_outings']['total'] > 10 :
          <%
              _query = {}
              _query[document['type']] = document['document_id']
          %>
          <div class="list-item vertical-align" onclick="window.location='${request.route_url('outings_index', _query=_query)}';">
            <button class="gray-btn btn show-more">show more</button>
          </div>
        % endif

        <article class="list-item" ng-repeat="doc in added | filter:{'documentType': 'outings'}">
          <app-association-card parent-id="${document['document_id']}" doc="doc" added-documents="added"></app-association-card>
        </article>
      </div>
    </article>
  % endif
</%def>


<%def name="get_document_locale_text(locale, text)">\
  ## WEATHER AND CONDITIONS
  % if text == 'weather':
    % if locale['weather'] or locale['conditions'] or locale['conditions_levels']:
    <div class="view-details-info col-xs-12">
      <h3 class="heading closed show-phone" ng-click="mainCtrl.animateHeaderIcon($event)" data-toggle="collapse" data-target="#weather-conditions">
        <span translate>weather and conditions</span><span class="glyphicon glyphicon-menu-right"></span>
      </h3>
      <section class="collapse" id="weather-conditions">
        <div class="lead">
          % if locale.get('weather'):
          <div class="document-weather">
            <label translate>weather</label><br>
            ${show_attr(locale, 'weather')}
          </div>
          % endif

          % if locale.get('conditions'):
          <div class="document-conditions">
            <label translate>conditions</label><br>
            ${show_attr(locale, 'conditions')}
          </div>
          % endif

          % if locale.get('conditions_levels') :
            <table class="table table-striped conditions-levels">
              <thead>
                <tr>
                  <th class="location"><span translate>location</span> / <span translate>altitude</span> / <span translate>orientation</span> / <span translate>time</span></th>
                  <th class="soft-snow" translate>soft snow</th>
                  <th class="total-snow" translate>total snow</th>
                  <th class="comment" translate>comment</th>
                </tr>
              </thead>
              <tbody>
                % for condition in json.loads(locale['conditions_levels']):
                <tr>
                  <td>${condition['level_place']}</td>
                  % if condition['level_snow_height_soft'] != '':
                  <td>${condition['level_snow_height_soft']} cm</td>
                  % else:
                  <td></td>
                  % endif
                  % if condition['level_snow_height_total'] != '':
                  <td>${condition['level_snow_height_total']} cm</td>
                  % else:
                  <td></td>
                  % endif
                  <td >${condition['level_comment']}</td>
                </tr>
                % endfor
              </tbody>
            </table>
          
          % endif
        </div>
      </section>
      
   </div>
    % endif
    
  % else :
    % if text in locale and locale[text]:
      <div class="view-details-info col-xs-12">
        <h3 class="heading closed show-phone" ng-click="mainCtrl.animateHeaderIcon($event)" data-toggle="collapse" data-target="#${text}">
          <span x-translate>${text}</span><span class="glyphicon glyphicon-menu-right"></span>
        </h3>
        <section class="collapse" id="${text}" aria-expanded="trues">
          <div class="lead">
            ${show_attr(locale, text)}
          </div>
        </section>
      </div>
    % endif
  % endif
</%def>


## Draw route card with or without additionnal items like delete button.
<%def name="route_card(route)">\
    <a href="${request.route_url('routes_view', id=route['document_id'], lang=route['locales'][0]['lang'])}">
      <span class="list-item-title">${show_route_title(route['locales'][0])}</span>
      % if lang != route['locales'][0]:
      <span class="list-item-lang"> (${route['locales'][0]['lang']})</span><br>
      % endif
      <div class="list-item-info">
        ${get_document_min_max(route, 'elevation')}
        <div class="route-activities">
          ${get_route_activities(route, 'top')}
        </div>
      </div>
    </a>
</%def>


## Draw waypoint card with or without additionnal items like delete button.
<%def name="waypoint_card(waypoint)">\
  <a href="${request.route_url('waypoints_view', id=waypoint['document_id'], lang=waypoint['locales'][0]['lang'])}">
    <span class="list-item-title">${waypoint['locales'][0]['title']}</span>
    % if lang != waypoint['locales'][0]:
    <span class="list-item-lang"> (${waypoint['locales'][0]['lang']})</span><br>
    % endif

    <span class="list-item-info">
      % if waypoint.get('elevation'):
      <p><b  class="value-title" translate>elevation</b>:  <span class="value"> ${waypoint['elevation']} m </span></p>
      % endif
      <span class="icon-${waypoint['waypoint_type']} waypoint-type"></span>
      <span x-translate>${waypoint['waypoint_type']}</span>
    </span>
  </a>
</%def>


<%def name="outing_card(outing)">\
  <a href="${request.route_url('outings_view', id=outing['document_id'], lang=outing['locales'][0]['lang'])}">
    <div class="outing-author text-center">
      <div class="outing-date">{{ '${outing['date_start']}' | date: 'dd/MM/yyyy'}}</div>
      <span class="icon-user"></span><br>
      <b class="author-name">${outing['author']['username']}</b>
    </div>
    <div class="list-item-info">
      <span class="list-item-title outing">${show_attr(outing['locales'][0], 'title', False)} (${outing['locales'][0]['lang']})</span>
      ${get_document_min_max(outing, 'elevation')}
      <div class="route-activities">
        ${get_route_activities(outing, 'right')}
      </div>
    </div>        
  </a>
</%def>


## Float buttons
<%def name="show_float_buttons(outingUsers, doctype, doc_id, doc_lang, other_langs, missing_langs)">\
  <div class="float-buttons">
      <div ng-if="::userCtrl.hasEditRights(${outingUsers if outingUsers is not None else ''})" class="float-button float-edit" tooltip-placement="left" uib-tooltip="{{'Edit' | translate}}"
           protected-url-btn url="'${request.route_url( doctype + '_edit' , id=doc_id, lang=doc_lang)}'">
        <span class="glyphicon glyphicon-edit"></span>
        <p class="float-button-text" translate>Edit</p>
      </div>
    <div class="float-button float-favorites" tooltip-placement="left" uib-tooltip="{{'Add images' | translate}}"
         ng-click="uplCtrl.openModal()">
      <span class="glyphicon glyphicon-picture"></span>
      <p class="float-button-text" translate>Add images</p>
    </div>
    <div class="float-button float-favorites" tooltip-placement="left" uib-tooltip="{{'Add to favorites' | translate}}">
      <span class="glyphicon glyphicon-heart"></span>
      <p class="float-button-text" translate>Favorites</p>
    </div>
    <div class="float-button float-comments" tooltip-placement="left" uib-tooltip="{{'Comments' | translate}}">
      <span class="glyphicon glyphicon-comment"></span>
      <p class="float-button-text" translate>Comments</p>
    </div>
    <div class="btn-group float-more float-button " tooltip-placement="left" uib-tooltip="{{'More' | translate}}">
      <span class="glyphicon glyphicon-th-list dropdown-toggle" type="button" data-toggle="dropdown"></span>
      <p class="float-button-text" translate>More</p>
      <ul class="dropdown-menu"  role="menu">
        <li><a href="${request.route_url(doctype + '_history', id=doc_id, lang=doc_lang)}" translate>History</a></li>
      % if other_langs:
        <li ng-click="detailsCtrl.openModal('#other-langs')"><a translate>View in other lang</a></li>
      % endif
      % if missing_langs:
        <li ng-if="::userCtrl.hasEditRights(${outingUsers if outingUsers is not None else ''})" ng-click="detailsCtrl.openModal('#missing-langs')"><a translate>Translate into an other lang</a></li>
      % endif
        <li role="separator" class="divider"></li>
        <li><a href="#">Print</a></li>
        <li><a href="#">Save</a></li>
      </ul>
    </div>
  </div>

</%def>


<%def name="get_document_min_max(document, prop)">\
  % if document.get(prop + '_min') and document.get(prop + '_max') and (document.get(prop + '_max') is not None and document.get(prop + '_min') is not None):
  <p><b x-translate class="value-title">${prop}</b>: <span class="value">min ${document[prop + '_min']} m / max ${document[prop + '_max']} m</span></p>
  %  elif (document.get(prop + '_min') and document.get(prop + '_min') is not None) and not document.get(prop + '_max'): 
  <p><b x-translate class="value-title">${prop + '_min'}</b>: <span class="value">${document[prop + '_min']} m</span></p>
  % elif document.get(prop + '_max') and document.get(prop + '_max') is not None:
  <p><b x-translate class="value-title">${prop + '_max'}</b>: <span class="value">${document[prop + '_max']} m</span></p>
  % endif
</%def>


<%def name="get_document_up_down(document, prop)">\
  % if document.get(prop + '_down') and document.get(prop + '_up') and (document.get(prop + '_up') is not None and document.get(prop + '_down') is not None):
  <p><b x-translate class="value-title">${prop}</b>: <span class="value">-${document[prop + '_down']} m / +${document[prop + '_up']} m</span></p>
  %  elif (document.get(prop + '_down') and document.get(prop + '_down') is not None) and not document.get(prop + '_up'): 
  <p><b x-translate class="value-title">${prop + '_down'}</b>: <span class="value">${document[prop + '_down']} m</span></p>
  % elif document.get(prop + '_up') and document.get(prop + '_up') is not None:
  <p><b x-translate class="value-title">${prop + '_up'}</b>: <span class="value">${document[prop + '_up']} m</span></p>
  % endif
</%def>


<%def name="get_skitouring_rating(document)">\
  % if document.get('ski_rating') or document.get('ski_exposition') or document.get('labande_ski_rating') or document.get('labande_global_rating'):
  
    <div class="rating-block b">
      % if document.get('ski_rating'):
        <span uib-tooltip="{{mainCtrl.translate('ski_rating')}}" class="value">${document['ski_rating']}</span>
      % endif 
      ${'/' if document.get('ski_rating') and document.get('ski_exposition') else ''}
      % if document.get('ski_exposition'):
        <span uib-tooltip="{{mainCtrl.translate('ski_exposition')}}" class="value">${document['ski_exposition']}</span>
      %endif
    </div>

    <div class="rating-block b">
      % if document.get('labande_global_rating'):
        <span uib-tooltip="{{mainCtrl.translate('labande_global_rating')}}" class="value">${document['labande_global_rating']}</span>
      % endif 
      ${'/' if document.get('labande_global_rating') and document.get('labande_ski_rating') else ''}
      % if document.get('labande_ski_rating') is not None:
        <span uib-tooltip="{{mainCtrl.translate('labande_ski_rating')}}" class="value">${document['labande_ski_rating']}</span>
      %endif
     </div>
  
  % endif
</%def>


## GET HIKING MTB RATING
<%def name="get_hiking_mtb_rating(document)">\
  % if document.get('hiking_rating') or document.get('hiking_mtb_exposition') :
  
      % if document.get('hiking_rating'):
        <div class="rating-block c">
          <span uib-tooltip="{{mainCtrl.translate('hiking_rating')}}" class="value">${document['hiking_rating']}</span>
        </div>
      % endif

      % if document.get('hiking_mtb_exposition'):
        <div class="rating-block f">
          <span uib-tooltip="{{mainCtrl.translate('hiking_mtb_exposition')}}"  class="value">${document['hiking_mtb_exposition']}</span>
        </div>
      % endif

      % if document.get('mtb_down_rating') or document.get('mtb_up_rating'):
        <div class="rating-block e">
          % if document.get('mtb_up_rating'):
            <span uib-tooltip="{{mainCtrl.translate('mtb_up_rating')}}" class="value">${document['mtb_up_rating']}</span>
          % endif
          ${'' if document.get('mtb_up_rating') and document.get('mtb_down_rating') else ''}
          % if document.get('mtb_down_rating'):
            <span uib-tooltip="{{mainCtrl.translate('mtb_down_rating')}}" class="value space">${document['mtb_down_rating']}</span>
          % endif
        </div>
      % endif 

  % endif
</%def>

## GET GLOBAL RATING
<%def name="get_global_rating(document)">\
  % if 'snow_ice_mixed' in document.get('activities') or 'via_ferrata' in document.get('activities') or 'mountain_climbing' in document.get('activities') or 'rock_climbing' in document.get('activities') or 'ice_climbing' in document.get('activities'):

    % if document.get('global_rating'):
      <span uib-tooltip="{{mainCtrl.translate('global_rating')}}" class="value">${document['global_rating']}</span>&nbsp;
    % endif

    ## [A0] (without bracket) is showed only if equipment_rating = P1 or P1+, and if aid_rating is empty.
    % if document.get('rock_required_rating') or document.get('rock_free_rating'):
      <div class="rating-block">
      % if document.get('rock_required_rating'):
        <span uib-tooltip="{{mainCtrl.translate('rock_free_rating')}}" class="value">${document.get('rock_free_rating')}</span>
      % endif
      ${'>' if document.get('rock_required_rating') and document.get('rock_free_rating') else ''}
      % if document.get('rock_required_rating') and document.get('rock_free_rating'):
        <span uib-tooltip="{{mainCtrl.translate('rock_required_rating')}}" class="value">${document['rock_required_rating']}${'A0' if (document.get('equipment_rating') == 'P1' or document.get('equipment_rating') == 'P1+') and not document.get('aid_rating') else ''}</span></p>
      % endif
      </div>
    % endif
    
    % if route.get('aid_rating'):
      <span uib-tooltip="{{mainCtrl.translate('aid_rating')}}" class="value">${route['aid_rating']}</span>&nbsp;
    % endif

    % if route.get('ice_rating'):
      <span uib-tooltip="{{mainCtrl.translate('ice_rating')}}" class="value">${route['ice_rating']}</span>&nbsp;
    % endif

    % if route.get('mixed_rating'):
      <span uib-tooltip="{{mainCtrl.translate('mixed_rating')}}" class="value">${route['mixed_rating']}</span>&nbsp;
    % endif

    % if route.get('via_ferrata_rating'):
      <span uib-tooltip="{{mainCtrl.translate('via_ferrata_rating')}}" class="value">${route['via_ferrata_rating']}</span>&nbsp;&nbsp;
    % endif

    % if route.get('engagement_rating'):
      <span uib-tooltip="{{mainCtrl.translate('engagement_rating')}}" class="value">${route['engagement_rating']}</span>&nbsp;
    % endif

    % if route.get('risk_rating'):
      <span class="value"  uib-tooltip="{{mainCtrl.translate('risk_rating')}}">${route['risk_rating']}</span>&nbsp;
    % endif

    % if route.get('equipment_rating'):
      <span class="value" uib-tooltip="{{mainCtrl.translate('equipment_rating')}}">${route['equipment_rating']}</span>&nbsp;&nbsp;
    % endif

    % if route.get('exposition_rock_rating'):
     <span uib-tooltip="{{mainCtrl.translate('exposition_rock_rating')}}" class="value">${route['exposition_rock_rating']}</span>&nbsp;
    % endif
      
  % endif
</%def>



<%def name="photoswipe_gallery()">\
  ##  Root element of PhotoSwipe. Must have class pswp.
  <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    ##  Background of PhotoSwipe. 
    ##  It's a separate element as animating opacity is faster than rgba(). 
    <div class="pswp__bg"></div>

    ##  Slides wrapper with overflow:hidden. 
    <div class="pswp__scroll-wrap">

      ## Container that holds slides. 
      ##  PhotoSwipe keeps only 3 of them in the DOM to save memory.
      ##  Don't modify these 3 pswp__item elements, data is added later on. 
      <div class="pswp__container">
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
      </div>

      ##  Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. 
      <div class="pswp__ui pswp__ui--hidden">

        <div class="pswp__top-bar">
          <div class="pswp__counter"></div>

          <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
          <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
          <button class="pswp__button info"><span class="glyphicon glyphicon-info-sign"></span></button>

          ##   Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR 
          ##  element will get class pswp__preloader--active when preloader is running 
          <div class="pswp__preloader">
            <div class="pswp__preloader__icn">
              <div class="pswp__preloader__cut">
                <div class="pswp__preloader__donut"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="pswp__caption">
          <div class="pswp__caption__center"></div>
        </div>

        <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
          <div class="pswp__share-tooltip"></div> 
        </div>

        <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
        </button>

        <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
        </button>

      </div>
    </div>
  </div>
</%def>
