<%namespace file="../../helpers/view.html" import="get_document_min_max, get_document_up_down, show_areas, show_attr, show_maps"/>

## LOCATION
<%def name="get_route_location(route)">\
  % if route.get('areas') or route.get('orientations'):
    <div class="name-icon-value location" ng-click="detailsCtrl.openTab($event)">
      <h4><span translate>Location</span><span class="glyphicon glyphicon-menu-right"></span></h4>
      <div class="name-icon">
        <span class="glyphicon glyphicon-map-marker"></span>
        <p translate>Location</p>
      </div>
      <span class="detail-text accordion" id="detail-orientation">
        ${show_areas(route)}
        
        % if route.get('orientations'):
          <%include file="c2corg_ui:static/img/orientation.svg" />
          <p id="orientation-list">${', '.join(route['orientations'])}</p>
        % endif
      </span>
    </div>
  % endif
</%def>

## GENERAL
<%def name="get_route_general(route,locale)">\
  <div class="name-icon-value general" ng-click="detailsCtrl.openTab($event)">
    <h4><span translate>General</span><span class="glyphicon glyphicon-menu-right"></span></h4>
    <div class="name-icon">
      <span class="glyphicon glyphicon-info-sign"></span>
      <p translate>General</p>
    </div>
    <span class="detail-text accordion">

      % if route.get('route_types'):
        <article>
          <span translate class="value-title">route_types</span><br>
          % for type in route.get('route_types') :
          <span x-translate class="value">${type}</span>${'' if loop.last else ', '}
          % endfor
        </article>
      % endif
    
      % if route.get('activities'):
        <article class="value activities">
          <span translate class="value-title">activities</span><br>
          % for type in route.get('activities') :
          <span x-translate  class="green-text">${type}</span>${'' if loop.last else ', '}
          % endfor
        </article>
      % endif

      % if route.get('durations'):
      <p><span translate class="value-title">durations</span>: <b class="value">${route['durations']}</b></p>
      % endif
      
      % if route.get('rock_types'):
        <article>
          <span translate class="value-title">rock_types</span><br>
          % for rock_type in route.get('rock_types') :
            <span x-translate class="value">${rock_type}</span>${'' if loop.last else ', '}
          % endfor
        </article>
      % endif
      
      % if route.get('climbing_outdoor_type'):
        <p><span translate class="value-title">climbing_outdoor_type</span>: <b class="value">${route['climbing_outdoor_type']}</b></p>
      % endif

      % if route.get('configuration'):
        <article>
          <span translate class="value-title">configuration</span><br>
          % for type in route.get('configuration') :
          <span x-translate class="value">${type}</span>${'' if loop.last else ', '}
          % endfor
        </article>
      % endif

    </span>
  </div>
</%def>


## RATING  
<%def name="get_route_rating(route)">\
% if route.get('global_rating') or route.get('engagement_rating') or route.get('risk_rating') or route.get('exposition_rock_rating') \
  or route.get('rock_free_rating') or route.get('rock_required_rating') or route.get('rock_required_rating') or route.get('hiking_rating') \
  or route.get('hiking_mtb_exposition') or route.get('ice_rating') or route.get('mixed_rating') or route.get('snowshoe_rating')  \
  or route.get('mtb_down_rating') or route.get('mtb_up_rating') or route.get('via_ferrata_rating') or route.get('equipment_ratings') \
  or route.get('ski_rating') or route.get('labande_ski_rating') or route.get('labande_global_rating') or route.get('ski_exposition') :
  <div class="name-icon-value" ng-click="detailsCtrl.openTab($event)">
    <h4><span translate>Rating</span><span class="glyphicon glyphicon-menu-right"></span></h4>
    <div class="name-icon">
      <span class="glyphicon glyphicon-sort-by-attributes"></span>
      <p translate>Rating</p>
    </div>
    <span class="detail-text accordion">
      
      % if route.get('global_rating'):
      <p><span translate class="value-title">global_rating</span>: <b class="value">${route['global_rating']}</b></p>
      % endif

      % if route.get('engagement_rating'):
      <p><span translate class="value-title">engagement_rating</span>: <b class="value">${route['engagement_rating']}</b></p>
      % endif

      % if route.get('risk_rating'):
      <p><span translate class="value-title">risk_rating</span>: <b class="value">${route['risk_rating']}</b></p>
      % endif
      
      % if route.get('equipment_ratings'):
        <article>
          <span translate class="value-title">equipment_ratings</span><br>
          % for type in route.get('equipment_ratings') :
          <span x-translate class="value">${type}</span>${'' if loop.last else ', '}
          % endfor
        </article>
      % endif
        
      % if route.get('exposition_rock_rating'):
      <p><span translate class="value-title">exposition_rock_rating</span>: <b class="value">${route['exposition_rock_rating']}</b></p>
      % endif

      % if route.get('rock_free_rating'):
      <p><span translate class="value-title">rock_free_rating</span>: <b class="value">${route['rock_free_rating']}</b></p>
      % endif

      % if route.get('rock_required_rating'):
      <p><span translate class="value-title">rock_required_rating</span>: <b class="value">${route['rock_required_rating']}</b></p>
      % endif

      % if route.get('hiking_rating'):
      <p><span translate class="value-title">hiking_rating</span>: <b class="value">${route['hiking_rating']}</b></p>
      % endif

      % if route.get('hiking_mtb_exposition'):
      <p><span translate class="value-title">hiking_mtb_exposition</span>: <b class="value">${route['hiking_mtb_exposition']}</b></p>
      % endif

      % if route.get('ice_rating'):
      <p><span translate class="value-title">ice_rating</span>: <b class="value">${route['ice_rating']}</b></p>
      % endif

      % if route.get('mixed_rating'):
      <p><span translate class="value-title">mixed_rating</span>: <b class="value">${route['mixed_rating']}</b></p>
      % endif

      % if route.get('snowshoe_rating'):
      <p><span translate class="value-title">snowshoe_rating</span>: <b class="value">${route['snowshoe_rating']}</b></p>
      % endif

      % if route.get('mtb_down_rating'):
      <p><span translate class="value-title">mtb_down_rating</span>: <b class="value">${route['mtb_down_rating']}</b></p>
      % endif

      % if route.get('mtb_up_rating'):
      <p><span translate class="value-title">mtb_up_rating</span>: <b class="value">${route['mtb_up_rating']}</b></p>
      % endif

      % if route.get('via_ferrata_rating'):
      <p><span translate class="value-title">via_ferrata_rating</span>: <b class="value">${route['via_ferrata_rating']}</b></p>
      % endif
      
      % if route.get('aid_rating'):
      <p><span translate class="value-title">aid_rating</span>: <b class="value">${route['aid_rating']}</b></p>
      % endif


      % if route.get('ski_rating'):
      <p><span translate class="value-title">ski_rating</span>: <b class="value">${route['ski_rating']}</b></p>
      % endif

      % if route.get('labande_ski_rating'):
      <p><span translate class="value-title">labande_ski_rating</span>: <b class="value">${route['labande_ski_rating']}</b></p>
      % endif

      % if route.get('labande_global_rating'):
      <p><span translate class="value-title">labande_global_rating</span>: <b class="value">${route['labande_global_rating']}</b></p>
      % endif
      
      % if route.get('ski_exposition'):
      <p><span translate class="value-title">ski_exposition</span>: <b class="value">${route['ski_exposition']}</b></p>
      % endif
      
    </span>
  </div>
  % endif
</%def>


## HEIGHTS  
<%def name="get_route_heights(route)">\
  <div class="name-icon-value" ng-click="detailsCtrl.openTab($event)">
    <h4><span translate>heights</span><span class="glyphicon glyphicon-menu-right"></span></h4>
    <div class="name-icon">
      <span class="glyphicon glyphicon-stats"></span>
      <p translate>heights</p>
    </div>
    <span class="detail-text accordion">
            
     ${get_document_min_max(route, 'elevation')}

     ${get_document_up_down(route, 'height_diff')}

      % if route.get('route_length'):
      <p><span translate class="value-title">route_length</span>: <b class="value">${route['route_length']/1000} km</b></p>
      % endif

      % if route.get('mtb_height_diff_portages'):
      <p><span translate class="value-title">mtb_height_diff_portages</span>: <b class="value">${route['mtb_height_diff_portages']}</b></p>
      % endif

      %if route.get('height_diff_difficulties'):
      <p><span translate class="value-title">height_diff_difficulties</span>: <b class="value">${route['height_diff_difficulties']} m</b></p>
      % endif
      
      %if route.get('difficulties_height'):
      <p><span translate class="value-title">difficulties_height</span>: <b class="value">${route['difficulties_height']} m</b></p>
      % endif
      
      % if route.get('mtb_length_asphalt'):
      <p><span translate class="value-title">mtb_length_asphalt</span>: <b class="value">${route['mtb_length_asphalt']} m</b></p>
      % endif

      % if route.get('mtb_length_trail'):
      <p><span translate class="value-title">mtb_length_trail</span>: <b class="value">${route['mtb_length_trail']} m</b></p>
      % endif
      
      % if locale.get('slope'):
      <p><span translate class="value-title">slope</span>: <b class="value">${locale['slope']}</b></p>
      % endif

    </span>
  </div>
</%def>

## ACCESS
<%def name="get_route_access(route)">\
  % if route.get('lift_access') is not None or route.get('height_diff_access'):
    <div class="name-icon-value" ng-click="detailsCtrl.openTab($event)">
      <h4><span translate>Access</span><span class="glyphicon glyphicon-menu-right"></span></h4>
      <div class="name-icon">
        <span class="glyphicon glyphicon-road"></span>
        <p translate>Access</p>
      </div>
      
      <span class="detail-text accordion">
        % if route.get('lift_access'):
        <span x-translate class="value-title">lift_access</span> : <span translate class="value">yes</span><br>
        % elif route.get('lift_access') is not None :
        <span x-translate class="value-title">lift_access</span> : <span translate class="value">no</span><br>
        % endif

        % if route.get('height_diff_access'):
          <p><span translate class="value-title">height_diff_access</span>: <b class="value">${route['height_diff_access']}</b></p>
        % endif

      </span>
    </div>
  % endif
</%def>

## MAPS
<%def name="get_route_associated_maps(route)">\
  % if route.get('maps'):
  <div class="name-icon-value maps" ng-click="detailsCtrl.openTab($event)">
    <h4><span translate>Maps</span><span class="glyphicon glyphicon-menu-right"></span></h4>
    <div class="name-icon">
      <span class="glyphicon glyphicon-globe"></span>
      <p translate>Maps</p>
    </div>
    <span class="detail-text accordion">
        ${show_maps(route)} 
    </span>
  </div>
  % endif
</%def>