<%!
from c2corg_ui.templates.utils import get_route_gear_articles, format_length
%>
<%namespace file="../../helpers/view.html" import="get_global_rating, get_hiking_mtb_rating, get_skitouring_rating,
    get_document_min_max, get_document_up_down, show_areas, show_maps, show_geom_download, show_attr"/>
<%namespace file="../../helpers/orientations.svg" import="show_orientations_static"/>

## LOCATION
<%def name="get_route_location(route)">\
  % if route.get('areas'):
<div class="col-sm-6 col-lg-3">         
    <div class="name-icon-value location list-green" ng-click="detailsCtrl.toggleTab($event)">
      <h4><span class="glyphicon glyphicon-map-marker"></span> <span translate>Location</span><span class="glyphicon pull-right rotate-arrow-down"></span></h4>
      <span class="detail-text accordion">
        <span class="areas">${show_areas(route)}</span>
      </span>
    </div>
</div>
  % endif
</%def>


## ORIENTATION
<%def name="get_route_orientations(route)">\
  % if route.get('orientations'):
  <div class="col-sm-6 col-lg-3">    
    <div class="name-icon-value" ng-click="detailsCtrl.toggleTab($event)">
      <h4><span class="glyphicon glyphicon-move"></span> <span translate>orientations</span><span class="glyphicon pull-right rotate-arrow-down"></span></h4>
      <span class="detail-text accordion">
        ${show_orientations_static(route.get('orientations'))}
      </span>
    </div>
  </div>
  % endif
</%def>


## GENERAL
<%def name="get_route_general(route, locale, isPreview=False)">\
<div class="col-sm-6 col-lg-3">          
  <div class="name-icon-value general" ng-click="detailsCtrl.toggleTab($event)">
    <h4><span class="glyphicon glyphicon-info-sign"></span> <span translate>General</span><span class="glyphicon pull-right rotate-arrow-down"></span></h4>
    <span class="detail-text accordion">

      % if route.get('route_types'):
        <article>
          <span translate class="value-title">route_types</span>:
          % for type in route.get('route_types') :
          <span x-translate class="value">${type}</span>${'' if loop.last else ', '}
          % endfor
        </article>
      % endif

      % if route.get('activities'):
        <article class="activities">
          <span translate class="value-title">activities</span>:<br>
          % for type in route.get('activities') :
            <span class="route-activity icon-${type}" uib-tooltip="{{mainCtrl.translate('${type}')}}"></span>
          % endfor
        </article>
      % endif

      % if route.get('durations'):
        <article>
          <span translate class="value-title">durations</span>:
          % for duration in route.get('durations') :
          <span x-translate class="value">${duration}</span>
          <span translate class="value">day(s)</span>${'' if loop.last else ', '}
          % endfor
        </article>
      % endif

      % if route.get('rock_types'):
        <article>
          <span translate class="value-title">rock_types</span>:
          % for rock_type in route.get('rock_types') :
            <span x-translate class="value">${rock_type}</span>${'' if loop.last else ', '}
          % endfor
        </article>
      % endif

      % if route.get('climbing_outdoor_type'):
        <p><span translate class="value-title">climbing_outdoor_type</span>: <b x-translate class="value">${route['climbing_outdoor_type']}</b></p>
      % endif

      % if route.get('configuration'):
        <article>
          <span translate class="value-title">configuration</span>:
          % for type in route.get('configuration') :
          <span x-translate class="value">${type}</span>${'' if loop.last else ', '}
          % endfor
        </article>
      % endif

      % if route.get('slackline_type'):
        <p><span translate class="value-title">Type</span>: <b x-translate class="value">${route['slackline_type']}</b></p>
      % endif

      % if route.get('quality'):
        <p><span class="value-title" translate>quality</span>: <span class="value" x-translate>${route['quality']}</span></p>
      % endif

      % if not isPreview:
        ${show_geom_download(route, True)}
      % endif
    </span>
  </div>
</div>
</%def>


## RATING
<%def name="get_route_rating(route)">\
% if route.get('global_rating') or route.get('engagement_rating') or route.get('risk_rating') or route.get('exposition_rock_rating') \
  or route.get('rock_free_rating') or route.get('rock_required_rating') or route.get('hiking_rating') \
  or route.get('hiking_mtb_exposition') or route.get('ice_rating') or route.get('mixed_rating') or route.get('snowshoe_rating')  \
  or route.get('mtb_down_rating') or route.get('mtb_up_rating') or route.get('via_ferrata_rating') or route.get('equipment_rating') \
  or route.get('ski_rating') or route.get('labande_ski_rating') or route.get('labande_global_rating') or route.get('ski_exposition') :
  <div class="col-sm-6 col-lg-3">
  <div class="name-icon-value" ng-click="detailsCtrl.toggleTab($event)">
    <h4><span class="glyphicon glyphicon-sort-by-attributes"></span> <span translate>Rating</span><span class="glyphicon pull-right rotate-arrow-down"></span></h4>
    <span class="detail-text accordion ratings">

      ${get_global_rating(route)}
      ${get_skitouring_rating(route)}

      % if route.get('hiking_rating'):
        <div class="rating-block c">
          <span uib-tooltip="{{'hiking_rating' | translate}}" class="value">${route['hiking_rating']}</span>&nbsp;
        </div>
      % endif

      % if route.get('snowshoe_rating'):
        <div class="rating-block d">
          <span uib-tooltip="{{mainCtrl.translate('snowshoe_rating')}}" class="value">${route['snowshoe_rating']}</span>
        </div>
      % endif

      ${get_hiking_mtb_rating(route)}
    </span>
  </div>
  </div>
  % endif
</%def>


## HEIGHTS
<%def name="get_route_heights(route, locale)">\
  % if route.get('route_length') or route.get('mtb_height_diff_portages') \
        or route.get('height_diff_difficulties') or route.get('difficulties_height') \
        or route.get('mtb_length_asphalt') or route.get('mtb_length_trail') \
        or locale.get('slope') or route.get('elevation_max') or route.get('elevation_min') \
        or route.get('height_diff_max') or route.get('height_diff_min') or route.get('slackline_height'):
  <div class="col-sm-6 col-lg-3">
    <div class="name-icon-value" ng-click="detailsCtrl.toggleTab($event)">
      <h4><span class="glyphicon glyphicon-stats"></span> <span translate>heights</span><span class="glyphicon pull-right rotate-arrow-down"></span></h4>
      <span class="detail-text accordion">

       ${get_document_min_max(route, 'elevation')}
       ${get_document_up_down(route, 'height_diff')}

        % if route.get('route_length'):
        <p><span translate class="value-title">route_length</span>: <b class="value">${format_length(route['route_length']) | n}</b></p>
        % endif

        % if route.get('slackline_height'):
        <p><span translate class="value-title">height</span>: <b class="value">${route['slackline_height']} m</b></p>
        % endif

        % if route.get('mtb_height_diff_portages'):
        <p><span translate class="value-title">mtb_height_diff_portages</span>: <b class="value">${route['mtb_height_diff_portages']}&nbsp;m</b></p>
        % endif

        %if route.get('height_diff_difficulties'):
        <p><span translate class="value-title">height_diff_difficulties</span>: <b class="value">${route['height_diff_difficulties']}&nbsp;m</b></p>
        % endif

        %if route.get('difficulties_height'):
        <p><span translate class="value-title">difficulties_height</span>: <b class="value">${route['difficulties_height']}&nbsp;m</b></p>
        % endif

        % if route.get('mtb_length_asphalt'):
        <p><span translate class="value-title">mtb_length_asphalt</span>: <b class="value">${format_length(route['mtb_length_asphalt']) | n}</b></p>
        % endif

        % if route.get('mtb_length_trail'):
        <p><span translate class="value-title">mtb_length_trail</span>: <b class="value">${format_length(route['mtb_length_trail']) | n}</b></p>
        % endif

        % if locale.get('slope'):
        <p><span translate class="value-title">slope</span>: <b class="value">${locale['slope']}</b></p>
        % endif

      </span>
    </div>
  </div>
  % endif
</%def>

## ACCESS
<%def name="get_route_access(route)">\
  % if route.get('lift_access') is not None or route.get('height_diff_access'):
  <div class="col-sm-6 col-lg-3">    
    <div class="name-icon-value" ng-click="detailsCtrl.toggleTab($event)">
      <h4><span class="glyphicon glyphicon-road"></span> <span translate>Access</span><span class="glyphicon pull-right rotate-arrow-down"></span></h4>

      <span class="detail-text accordion">
        % if route.get('lift_access'):
        <span x-translate class="value-title">lift_access</span> : <span translate class="value">yes</span><br>
        % endif

        % if route.get('height_diff_access'):
        <p><span translate class="value-title">height_diff_access</span>: <b class="value">${route['height_diff_access']}&nbsp;m</b></p>
        % endif

      </span>
    </div>
  </div>
  % endif
</%def>

## MAPS
<%def name="get_route_associated_maps(route)">\
  % if route.get('maps'):
  <h3 ng-click="mainCtrl.animateHeaderIcon($event)" id="title-associated-maps" class="collapsible-title"
      data-toggle="collapse" data-target="#associated-maps" aria-expanded="true" aria-controls="associated-maps">
    <span translate>Map</span> <span class="glyphicon glyphicon-menu-down"></span>
  </h3>
  <div class="finfo collpase in" id="associated-maps">
    <div class="ficontent">
      <div class="list-green">
      <span class="detail-text accordion">${show_maps(route)}</span>
        </div>
    </div>
  </div>
  % endif
</%def>

## GLACIER GEAR
<%def name="get_route_glacier_gear(route)">\
  % if route.get('glacier_gear') and route.get('glacier_gear') != 'no':
  <div class="col-sm-6 col-lg-3">    
    <div class="name-icon-value" ng-click="detailsCtrl.toggleTab($event)">
      <h4><span class="icon-glacier"></span> <span translate>gear</span> <span class="glyphicon glyphicon-menu-down"></span></h4>
      <span class="detail-text accordion" id="glacier-gear">
        <span translate class="value-title">glacier_gear</span>:
        <span class="value" x-translate>${route.get('glacier_gear')}</span>
      </span>
    </div>
  </div>
  % endif
</%def>

## SPECIFIC GEAR
<%def name="get_route_gear(route, locale)">\
  <%
    gear_articles = get_route_gear_articles(route)
  %>
  % if locale['gear'] or gear_articles:
    <h3 ng-click="mainCtrl.animateHeaderIcon($event)" class="collapsible-title"
        data-toggle="collapse" data-target="#gear" aria-expanded="true" aria-controls="gear">
      <span x-translate>gear</span> <span class="glyphicon glyphicon-menu-down"></span>
    </h3>
    <div class="finfo collapse in" id="gear">
      % if gear_articles:
      
        % for article_id, name in gear_articles.items():
          
            <div class="ficontent"><a href="${request.route_path('articles_view_id', id=article_id)}" x-translate>${name}</a></div>
        % endfor
      % endif

      % if locale['gear']:
            <div class="ficontent noflex">  ${show_attr(locale, 'gear')}</div>
      % endif
    </div>    
  % endif
</%def>

## REMARKS
<%def name="get_route_remarks(route, locale)">\
  <h3 id="title-remarks" class="show-phone collapsible-title"
      ng-if="detailsCtrl.hasRemarks"
      ng-click="mainCtrl.animateHeaderIcon($event)"
      data-toggle="collapse" data-target="#remarks" aria-expanded="true" aria-controls="remarks">
    <span translate>remarks</span><span class="glyphicon glyphicon-menu-down"></span>
  </h3>
  <div id="remarks" class="finfo collapse in"
       ng-if="detailsCtrl.hasRemarks"
       aria-expanded="true">
    <div class="ficontent max noflex">
      ${show_attr(locale, 'remarks')}
      <div class="md-alert md-alert-info" ng-if="detailsCtrl.hasBiodivsportAreas">
        <p>
          <strong translate>Sensitive areas</strong><br><span stranlate>There are sensitive areas on this route. Please refer to the map.</span>
        </p>
      </div>
    </div>
  </div>
</%def>
