<%!
    import datetime
    from json import loads
%>
<%namespace file="../../helpers/view.html" import="get_document_up_down, get_document_min_max, show_attr"/>

<%def name="show_fulldate(dateStart, dateEnd)">\
  % if dateStart == dateEnd:
    <span class="date-locale">{{ '${dateStart}' | amDateFormat:"dddd Do MMMM YYYY" }}</span>
  % else:
    <%
      date1 = datetime.datetime.strptime(dateStart, '%Y-%m-%d').date()
      date2 = datetime.datetime.strptime(dateEnd, '%Y-%m-%d').date()
      sameYear = date1.year == date2.year
      sameMonth = date1.month == date2.month
    %>
    % if sameYear:
      % if sameMonth:
        <span>${date1.day} - <span class="date-locale">{{ '${dateEnd}' | amDateFormat:"Do MMMM YYYY" }}</span></span>
      % else:
        <span class="date-locale">{{ '${dateStart}' | amDateFormat:"Do MMMM" }}</span> -
        <span class="date-locale">{{ '${dateEnd}'  | amDateFormat:"Do MMMM YYYY" }}</span>
      % endif
    % else:
      <span class="date-locale">{{ '${dateStart}' | amDateFormat:"Do MMMM YYYY" }}</span> -
      <span class="date-locale">{{ '${dateEnd}' | amDateFormat:"Do MMMM YYYY" }}</span>
    % endif
  % endif
</%def>

<%def name="get_outing_general(outing)">\
<div class="name-icon-value general" ng-click="detailsCtrl.openTab($event)">
  <h4><span translate>General</span><span class="glyphicon glyphicon-menu-right"></span></h4>
  <div class="name-icon">
    <span class="glyphicon glyphicon-info-sign"></span>
    <p translate>General</p>
  </div>
  <span class="detail-text accordion">

    % if outing.get('activities'):
      <article class="value activities">
        <span translate class="value-title">activities</span><br>
        % for type in outing.get('activities') :
          <span class="route-activity icon-${type}" uib-tooltip="{{mainCtrl.translate('${type}')}}" ></span>
        % endfor
      </article>
    % endif

    % if outing.get('frequentation'):
    <p><span class="value-title" translate>frequentation</span>: <span class="value" x-translate>${outing['frequentation']}</span></p>
    % endif

    %if outing.get('condition_rating'):
    <p><span class="value-title" translate>condition_rating</span>: <span class="value" x-translate>${outing['condition_rating']}</span></p>
    % endif

    % if outing.get('partial_trip'):
    <p><span class="value-title" translate>partial_trip</span>: <span class="value" translate>yes</span></p>
    % endif

    % if outing.get('quality'):
    <p><span class="value-title" translate>quality</span>: <span class="value" x-translate>${outing['quality']}</span></p>
    % endif
  </span>
</div>
</%def>

<%def name="get_outing_snow(outing)">\
  % if outing.get('elevation_up_snow') or outing.get('snow_quantity') \
        or outing.get('snow_quality') or outing.get('glacier_rating') \
        or outing.get('avalanche_signs') or outing.get('elevation_down_snow'):
    <div class="name-icon-value" ng-click="detailsCtrl.openTab($event)">
      <h4><span translate>snow</span><span class="glyphicon glyphicon-menu-right"></span></h4>
      <div class="name-icon">
        <span class="glyphicon glyphicon-asterisk"></span>
        <p translate>snow</p>
      </div>
      <span class="detail-text accordion">
        % if outing.get('elevation_up_snow'):
        <p><span class="value-title" translate>elevation_up_snow</span>: <span class="value">${outing['elevation_up_snow']}&nbsp;m</span></p>
        % endif

        % if outing.get('elevation_down_snow'):
        <p><span class="value-title" translate>elevation_down_snow</span>: <span class="value">${outing['elevation_down_snow']}&nbsp;m</span></p>
        % endif

        % if outing.get('snow_quantity'):
        <p><span class="value-title" translate>snow_quantity</span>: <span class="value" x-translate>${outing['snow_quantity']}</span></p>
        % endif

        % if outing.get('snow_quality'):
        <p><span class="value-title" translate>snow_quality</span>: <span class="value" x-translate>${outing['snow_quality']}</span></p>
        % endif

        % if outing.get('glacier_rating'):
        <p><span class="value-title" translate>glacier_rating</span>: <span class="value" x-translate>${outing['glacier_rating']}</span></p>
        % endif

        % if outing.get('avalanche_signs'):
        <article class="value activities">
          <span translate class="value-title">avalanche_signs</span>:
          % for type in outing.get('avalanche_signs') :
          <span x-translate  class="value">${type}</span>${'' if loop.last else ', '}
          % endfor
        </article>
        % endif

      </span>
    </div>
  % endif
</%def>

<%def name="get_outing_access(outing)">\
  % if outing.get('public_transport') or outing.get('access_condition') or outing.get('lift_status') or outing.get('hut_status') :
    <div class="name-icon-value" ng-click="detailsCtrl.openTab($event)">
      <h4><span translate>Access</span><span class="glyphicon glyphicon-menu-right"></span></h4>
      <div class="name-icon">
        <span class="glyphicon glyphicon-road"></span>
        <p translate>Access</p>
      </div>
      <span class="detail-text accordion">
        % if outing.get('public_transport'):
        <p>
          <span class="value-title" translate>public_transport</span>:
          <span class="value" x-translate>${'no info' if outing.get('public_transport') is None else 'yes' if outing.get('public_transport') else 'no'}</span>
        </p>
        % endif

        % if outing.get('access_condition'):
        <p><span class="value-title" translate>access_condition</span>: <span class="value" x-translate>${outing['access_condition']}</span></p>
        % endif

        % if outing.get('lift_status'):
        <p><span class="value-title" translate>lift_status</span>: <span class="value" x-translate>${outing['lift_status']}</span></p>
        % endif

        % if outing.get('hut_status'):
        <p><span class="value-title" translate>hut_status</span>: <span class="value" x-translate>${outing['hut_status']}</span></p>
        % endif
      </span>
    </div>
  % endif
</%def>

<%def name="get_outing_participants(outing, preview=False)">\
  % if outing.get('participant_count') or outing['locales'][0].get('participants') or outing['associations']['users']:
    <div class="name-icon-value" ng-click="detailsCtrl.openTab($event)">
      <h4><span translate>participants</span><span class="glyphicon glyphicon-menu-right"></span></h4>
      <div class="name-icon">
        <span class="icon-user"></span>
        <p translate>participants</p>
      </div>
      <span class="detail-text accordion">
        % if outing.get('participant_count') :
          <p><span translate>participant_count</span>: <b>${outing['participant_count']}</b></p>
        % endif

        % if outing.get('associations').get('users'):
          <p>
            % for user in outing['associations']['users']:
              <%
                  is_last_participant = loop.last and not outing['locales'][0].get('participants')
              %>
              % if preview:
                <a>${user['name']}</a>${'' if is_last_participant else ', '}
              % else:
                <%
                    user_id = user['document_id']
                    user_lang = user['locales'][0]['lang']
                %>
                <a href="${request.route_path('profiles_view', id=user_id, lang=user_lang)}">${user['name']}</a>${'' if is_last_participant else ', '}
              % endif
            % endfor
            ${outing['locales'][0].get('participants') or ''}
          </p>
        % endif

      </span>
    </div>
  % endif
</%def>

<%def name="get_outing_heights(outing)">\
  % if outing.get('elevation_min') or outing.get('elevation_max') or outing.get('elevation_access') or outing.get('height_diff_up') \
  or outing.get('height_diff_down') or outing.get('length_total'):

    <div class="name-icon-value" ng-click="detailsCtrl.openTab($event)">
      <h4><span translate>heights</span><span class="glyphicon glyphicon-menu-right"></span></h4>
      <div class="name-icon">
        <span class="glyphicon glyphicon-stats"></span>
        <p translate>heights</p>
      </div>
      <span class="detail-text accordion">

        ${get_document_min_max(outing, 'elevation')}

        % if outing.get('elevation_access'):
        <p><b class="value-title" translate>elevation_access</b>:  <span class="value">${outing['elevation_access']}&nbsp;m</span></p>
        % endif

       ${get_document_up_down(outing, 'height_diff')}

        % if outing.get('length_total'):
        <p><span class="value-title" translate>length_total</span>: <span class="value">${outing['length_total']}&nbsp;m</span></p>
        % endif
      </span>
    </div>
  %endif
</%def>

<%def name="get_conditions(locale, open_tab=False)">\
  <%
      if type(locale['conditions_levels']) is str:
          cond = loads(locale['conditions_levels'])
          conditions_levels_exist = (cond is not Null and len(cond)) and \
              ( ('level_snow_height_total' in cond[0] and cond[0].get('level_snow_height_total') != '' and cond[0].get('level_snow_height_total') is not None) or \
              ('level_snow_height_soft' in cond[0] and  cond[0]['level_snow_height_soft'] != '' and cond[0].get('level_snow_height_soft') is not None) or \
              ('level_place' in cond[0] and cond[0].get('level_place')  != '') or \
              ('level_comment' in cond[0] and cond[0].get('level_comment') != '') )
      else:
          conditions_levels_exist = False
  %>
  % if locale.get('weather') or locale.get('conditions') or conditions_levels_exist:
    <div class="view-details-info col-xs-12">
      <h3 class="heading ${'' if open_tab else 'closed '}show-phone"
          ng-click="mainCtrl.animateHeaderIcon($event)" data-toggle="collapse" data-target="#weather-conditions">
        <span translate>weather and conditions</span><span class="glyphicon glyphicon-menu-${'down' if open_tab else 'right'}"></span>
      </h3>
      <section class="collapse${' in' if open_tab else ''}" id="weather-conditions">
        <div class="lead">
          % if locale.get('weather'):
            <div class="document-weather">
              <label translate>weather</label><br>
              ${show_attr(locale, 'weather')}
            </div>
          % endif

          % if locale.get('conditions'):
            <div class="document-conditions">
              <label translate>conditions</label><br>
              ${show_attr(locale, 'conditions')}
            </div>
          % endif

          % if conditions_levels_exist:
            ${create_conditions_levels_tables(cond)}
          % endif
        </div>
      </section>
    </div>
  % endif
</%def>

<%def name="create_conditions_levels_tables(conditions)">\
  <label translate>conditions_levels</label>
  <div class="show-only-mobile conditions-levels">
    % for condition in conditions:
      <%
          level = 'level_place' and condition.get('level_place')
          comment = 'level_comment' and condition.get('level_comment')
          total_snow = 'level_snow_height_total' in condition and condition['level_snow_height_total'] != '' and condition['level_snow_height_total']
          soft_snow = 'level_snow_height_soft' in condition and condition['level_snow_height_soft'] != '' and condition['level_snow_height_soft'] is not None
      %>
      <div class="condition">
        % if level:
          <p class="key">
            <span translate>location</span> |
            <span translate>altitude</span> |
            <span translate>orientations</span>
          </p>
          <p class="val">${condition['level_place']}</p>
        % endif
        <div class="snow">
          <p class="key" translate>soft snow</p>
          % if soft_snow:
            <p class="val">${condition['level_snow_height_soft']} cm<p>
          % else:
            <p  class="val" translate>no info</p>
          % endif
        </div>
        <div class="snow">
          <p class="key" translate>total snow</b></p>
          % if total_snow:
            <p  class="val">${condition['level_snow_height_total']} cm}</p>
          % else:
            <p  class="val" translate>no info</p>
          % endif
        </div>
        % if comment:
          <p class="key" translate>comment</p>
          <p class="val">${condition['level_comment']}</p>
        % endif
      </div>
    % endfor
  </div>
  <table class="table table-striped conditions-levels">
    <thead>
      <tr>
        <th class="location">
          <span translate>location</span> |
          <span translate>altitude</span> |
          <span translate>orientations</span>
        </th>
        <th class="soft-snow" translate>soft snow</th>
        <th class="total-snow" translate>total snow</th>
        <th class="comment" translate>comment</th>
      </tr>
    </thead>
    <tbody>
      % for condition in conditions:
      <%
          level = 'level_place' and condition.get('level_place')
          comment = 'level_comment' and condition.get('level_comment')
          total_snow = 'level_snow_height_total' in condition and condition['level_snow_height_total'] != '' and condition['level_snow_height_total']
          soft_snow = 'level_snow_height_soft' in condition and condition['level_snow_height_soft'] != '' and condition['level_snow_height_soft'] is not None
      %>
      <tr>
        ## print empty td for alignement
        % if level:
          <td>${condition['level_place']}</td>
        % else:
          <td></td>
        % endif
        % if soft_snow:
          <td>${condition['level_snow_height_soft']} cm</td>
        % else:
          <td></td>
        % endif
        % if total_snow:
          <td>${condition['level_snow_height_total']} cm</td>
        % else:
          <td></td>
        % endif
        % if comment:
          <td >${condition['level_comment']}</td>
        % else:
          <td></td>
        % endif
      </tr>
      % endfor
    </tbody>
  </table>
</%def>
