<%def name="get_profile_general(profile)">\
 <h3><span translate>General</span> <span class="glyphicon glyphicon-menu-right "></span></h3>
  <div class="finfo" id="general">
    <div class="ficontent collapse in max">
      <span class="detail-text accordion">
        <p>
          <span translate class="value-title">Forum username</span>:
          <span class="value">
            <a href="${discourse_url}users/${profile['forum_username']}/activity">${profile['forum_username']}</a>
          </span>
        </p>

        % if profile.get('activities'):
          <article class="value activities">
            <span translate class="value-title">activities</span>:<br>
            % for activity in profile.get('activities'):
              <span class="route-activity icon-${activity}" uib-tooltip="{{mainCtrl.translate('${activity}')}}"></span>
            % endfor
          </article>
        % endif

        % if profile.get('categories'):
          <article>
            <span translate class="value-title">categories</span>:
            % for category in profile.get('categories'):
              <span class="value" x-translate>${category}</span>${'' if loop.last else ', '}
            % endfor
          </article>
        % endif
      </span>
    </div>
  </div>
</%def>

<%def name="show_profile_float_buttons(doc_id, doc_lang, other_langs, missing_langs)">\
  <%
      options = "{'user_id': %d}" % doc_id
  %>
  <div class="float-buttons">

    <c2c-follow c2c-follow-id="${doc_id}" ng-if="userCtrl.auth.isAuthenticated()"></c2c-follow>

    <div ng-if="userCtrl.hasEditRights('profiles', ${options | n})"
     tooltip-placement="left" uib-tooltip="{{'Edit' | translate}}" class="float-button float-edit"
     c2c-protected-url-btn url="${request.route_path('profiles_edit', id=doc_id, lang=doc_lang)}">
      <span class="glyphicon glyphicon-edit"></span>
      <p class="float-button-text" translate>Edit</p>
    </div>

    <div class="float-button float-favorites" tooltip-placement="left" uib-tooltip="{{'Add images' | translate}}"
         ng-click="uplCtrl.openModal()" ng-if="userCtrl.hasEditRights('profiles', ${options | n})">
      <span class="glyphicon glyphicon-picture"></span>
      <p class="float-button-text" translate>Add images</p>
    </div>

    <div class="float-button float-share-alt addthis_button hide-only-mobile" addthis:ui_click="true" addthis:ui_offset_top="40" addthis:ui_offset_left="-50" tooltip-placement="left" uib-tooltip="{{'Share' | translate}}">
      <span class="glyphicon glyphicon-share"></span>
      <p class="float-button-text" translate>Share</p>
    </div>

    <div class="dropdown" ng-if="userCtrl.hasEditRights('profiles', ${options | n})">
      <div class="btn-group float-more float-button dropdown-toggle" type="button" data-toggle="dropdown"
           tooltip-placement="left" uib-tooltip="{{'More' | translate}}">
        <span class="glyphicon glyphicon-wrench"></span>
        <p class="float-button-text" translate>More</p>
      </div>
      <ul class="dropdown-menu" role="menu">
        <li class="show-only-mobile"><a class="addthis_button_compact" addthis:ui_click="true" addthis:ui_disable="true"><span class="glyphicon glyphicon-share-alt"></span> <translate>Share</translate></a></li>
        % if missing_langs:
          <li ng-click="detailsCtrl.openModal('#missing-langs')"><a><span class="glyphicon glyphicon-edit"></span> <translate>Translate into an other lang</translate></a></li>
        % endif
        <li ng-if="userCtrl.isModerator()" c2c-block-account c2c-user-id="${doc_id}"></li>
      </ul>
    </div>

    % if other_langs:
      <div class="dropdown" ng-if="!userCtrl.hasEditRights('profiles', ${options | n})">
        <div class="btn-group float-more float-button dropdown-toggle" type="button" data-toggle="dropdown"
             tooltip-placement="left" uib-tooltip="{{'More' | translate}}">
          <span class="glyphicon glyphicon-wrench"></span>
          <p class="float-button-text" translate>More</p>
        </div>
        <ul class="dropdown-menu" role="menu">
          <li ng-click="detailsCtrl.openModal('#other-langs')"><a><span class="glyphicon glyphicon-globe"></span> <translate>View in other lang</translate></a></li>
        </ul>
      </div>
    % endif

  </div>
</%def>
