<%inherit file="../base.html"/>
<%namespace file="../helpers/common.html" import="show_title"/>
<%namespace file="../helpers/list.html" import="add_doctype_selector"/>

<%block name="pagetitle"><title ng-bind="mainCtrl.page_title('Books')">${show_title('Books')}</title></%block>

<%block name="moduleConstantsValues">
  module.value('mapFeatureCollection', null);
  module.value('advancedSearchFilters', {
    'act': {'type': 'list'},
    'btyp': {'type': 'list'},
    'l': {'type': 'list'}
  });
</%block>

## for 'click' of .toggle-map, .page-main-title button and .show-documents-filters-phone
## see js/style/stickyFilters.js

<header class="page-main-title">
  <h3><span translate>Books</span>
    <span class="badge" ng-cloak>{{resCounter}}</span>
  </h3>
</header>
<div class="documents-list-section-container no-map">
  <section class="documents-list-section">
    <%include file="filters.html" />

    <div class="documents-nav-buttons text-center">
      <button class="btn btn-default show-documents-filters-phone" translate>Filters</button>
      ${add_doctype_selector()}

      <button class="btn btn-default orange-btn" protected-url-btn url="${request.route_path('books_add')}"
              uib-tooltip="{{'Create a new book' | translate }}" tooltip-placement="right">
        <span class="glyphicon glyphicon-plus-sign"></span>
      </button>

      <app-pagination></app-pagination>
    </div>

    <app-advanced-search document-type="books" use-map="false"></app-advanced-search>
  </section>
</div>