<%namespace file="../helpers/common.html" import="show_title"/>
<%namespace file="../helpers/view.html" import="get_document_locale_text, show_attr, get_document_description"/>
<%namespace file="../helpers/preview.html" import="show_preview_warning"/>
<%namespace file="helpers/view.html" import="get_book_general"/>

<%
book = document
locale = document['locales'][0]
%>

${show_preview_warning()}

<div class="viewdoc">
  <app-announcement></app-announcement>
  <header class="view-title-without-bg">
    <h1 class="routes">
      <span class="title">${locale['title']}</span><br>
    </h1>
  </header>

  <section class="view-details-section">
    <div class="row">
      <div class="col-xs-12 col-md-4 col-lg-3">
        ${get_book_general(book)}
      </div>
      <div class="col-xs-12 col-md-8 col-lg-9">
        ${get_document_description(locale, 'book')}

      </div>
    </div>
  </section>
</div>
