<%!
from c2corg_common.attributes import activities, book_types, image_categories, image_types
from c2corg_ui.templates.utils import get_lang_lists, get_title
from json import dumps
%>

<%inherit file="../base.html"/>
<%namespace file="../helpers/common.html" import="show_title"/>
<%namespace file="../helpers/view.html" import="get_comments, get_image_gallery, photoswipe_gallery,
  get_document_locale_text, show_attr, show_missing_langs_links, show_other_langs_links,
  show_archive_data, get_activities, show_areas, show_float_buttons, show_locale_title,
  show_associated_waypoints, show_associated_outings, show_associated_routes, show_associated_articles,
  delete_association_confirmation_modal, associated_images_featurelist,
  show_badge, get_document_description, get_licence, show_merge_documents_dialog,
  show_delete_document_dialog, generate_share_metadata" />
<%namespace file="helpers/view.html" import="get_book_general"/>

<%
book_id = book['document_id']
book['doctype'] = 'books'
other_langs, missing_langs = get_lang_lists(book, lang)
%>

<%block name="pagelang">lang="${lang}"</%block>

<%block name="pagetitle"><title>${show_locale_title(locale, True)}</title></%block>

<%block name="metarobots">
  % if version:
    <meta name="robots" content="noindex,follow">
  % else:
    <meta name="robots" content="index,follow">
  %endif
</%block>

<%block name="moduleConstantsValues">
  module.value('documentData', {
    "document_id": ${book.get('document_id')},
    "protected": ${'true' if book.get('protected') else 'false'},
    "lang": "${lang}",
    "type": "b",
    "topic_id": ${dumps(locale.get('topic_id'))},
    "title": ${dumps(get_title(locale)) | n}
    % if not version:
       , "associations": ${dumps(book.get('associations')) | n}
    % endif
  });
</%block>

<%block name="share">
  ${generate_share_metadata(book, 'books')}
</%block>
  <div ng-cloak>
  <div class="viewdoc">
    <app-announcement></app-announcement>
    <header class="view-title-without-bg">
      <h1 class="routes">
        <span class="title">${show_locale_title(locale)}</span><br>
      ${show_badge(book, 'book')}
      </h1>
    </header>


    <section class="view-details-section" app-view-details>

      % if version:
        ${show_archive_data('books', book, locale, version)}
      % else:
        <div class="row">
          <div class="col-xs-12 col-md-4 col-lg-3" id="left-column">
            ${get_book_general(book)}

            ## IMAGES
            % if not version:
              ${get_image_gallery()}
              ${show_other_langs_links('books', book, other_langs)}
            % endif

            ${get_licence(book)}
          </div>
          <div class="col-xs-12 col-md-8 col-lg-9" id="right-column">
            ${get_document_description(locale, 'book')}
              % if not version:

          <span class="lead" ng-cloak id="associated-documents">
              <div ng-show="userCtrl.auth.isAuthenticated()" class="add-association">
                <label translate>Add association</label>
                <app-add-association parent-doctype="books" parent-id="${book_id}" dataset="wrc"></app-add-association>
              </div>
              <section>
                ${show_associated_waypoints(book)}
                ${show_associated_routes(book)}
                ${show_associated_articles(book)}
              </section>
          </span>


        ${get_comments()}

        ${show_float_buttons(book, lang, other_langs, missing_langs)}
      % endif
          </div>
      </div>
        % endif



    </section>
  </div>
  <div class="text-center viewdoc-bottom">
    <button class="btn btn-default scroll-top-btn" onclick="window.scrollTo(0, 0);">&nbsp;<span class="glyphicon glyphicon-menu-up"></span></button>
  </div>

  % if not version:
    <div class="ng-hide">
      <div id="image-uploader" app-image-uploader activities="${activities}" categories="${image_categories}" types="${image_types}"></div>
      ${delete_association_confirmation_modal()}
      ${show_missing_langs_links('books', book, missing_langs)}
      ${show_merge_documents_dialog('books')}
      ${show_delete_document_dialog('books', lang, other_langs)}
    </div>

    ${photoswipe_gallery()}

    <script>
      window.onload = function() {
        ## init float-buttons tooltips
        $('[data-toggle=\'tooltip\']').tooltip();
      };
    </script>
  % endif

</div>
