<article class="post route" ng-init="doc = cardCtrl.doc; locale = cardCtrl.locale;" ng-click="cardCtrl.openDoc()">
  <a ng-href="{{::cardCtrl.createURL()}}" title="{{::locale.title}}" ng-click="$event.stopPropagation()" class="text-link">
    <div class="parent-text">
      <div class="text emptyimg">
        <span ng-if="locale.title_prefix">{{::locale.title_prefix}} : </span> {{::locale.title}}
      </div>
    </div>
  </a>
  <div class="parent-img"></div>
  <div class="parent-infop parent-infop-first area" ng-if="doc['areas']">
    <div class="infop-bar">
      <div class="parent-bubble">
        <div class="bubble">
          <span class="glyphicon glyphicon-map-marker"></span>
        </div>
      </div>
      <div class="text-bubble">
        <a ng-href="{{cardCtrl.createAreaURL(doc['areas'])}}" title="{{cardCtrl.showArea(doc['areas'])}}"
           ng-click="$event.stopPropagation()">{{cardCtrl.showArea(doc['areas'])}}</a>
      </div>
      <div class="grow"></div>
    </div>
  </div>
  <div class="parent-infop parent-infop-first large" ng-init="fullRatings = cardCtrl.getFullRatings()">
    <div class="infop-bar" >
      <div class="group-infop">
        <div class="parent-bubble" >
          <div class="bubble">
            <span class="icon-rating" ng-if="fullRatings"></span>
          </div>
        </div>
        <div class="text-bubble cotationbox" >
          <div ng-repeat="(attr, val) in fullRatings" uib-tooltip="{{attr | translate}} : {{::val}}"
               class="rating ng-scope" tooltip-append-to-body="true">
            <span class="value">{{::val}}</span>
          </div>
        </div>
      </div>
      <div class="group-infop elevation_max">
        <div class="parent-bubble">
          <div class="bubble" uib-tooltip="{{'elevation_max'| translate}}: {{::doc['elevation_max']}} m"
               tooltip-append-to-body="true">
            <span class="value-title glyphicon glyphicon-sort-by-attributes rotate-180" ng-if="doc['elevation_max']"></span>
          </div>
        </div>
        <div class="text-bubble" ng-if="doc['elevation_max']">
          {{::doc['elevation_max']}} m
        </div>
      </div>
      <div class="group-infop height_diff_up">
        <div class="parent-bubble" >
          <div class="bubble" uib-tooltip="{{'height_diff_up'| translate}}: {{::doc['height_diff_up']}} m">
            <span class="icon-height_diff" ng-if="doc['height_diff_up']"></span>
          </div>
        </div>
        <div class="text-bubble" ng-if="doc['height_diff_up']">
          {{::doc['height_diff_up']}} m
        </div>
      </div>
      <div class="group-infop height_diff_difficulties">
        <div class="parent-bubble">
          <div class="bubble" ng-if="doc['height_diff_difficulties']" uib-tooltip="{{'height_diff_difficulties'| translate}}: {{::doc['height_diff_difficulties']}} m"
               tooltip-append-to-body="true">
            <span class="value-title glyphicon glyphicon-resize-vertical"></span>
          </div>
        </div>
        <div class="text-bubble" ng-if="doc['height_diff_difficulties']">
          {{::doc['height_diff_difficulties']}} m
        </div>
      </div>
      <div class="grow"></div>
    </div>
  </div>
  <div class="parent-infop">
    <div class="infop-bar">
      <div class="parent-activity">
        <div class="parent-bubble" ng-repeat="activity in doc.activities">
          <a href="#" class="shcom" uib-tooltip="{{activity | translate}}">
            <div class="bubble">
              <span class="route-activity icon-{{::activity}}"></span>
            </div>
          </a>
        </div>
      </div>
      <div class="parent-bubble" ng-if="doc['geometry']['has_geom_detail']" uib-tooltip="{{ 'GPS Track'| translate}}" tooltip-append-to-body="true">
        <span class="glyphicon glyphicon-flag"></span>
      </div>
      <div class="grow"></div>
      <div class="group-infop">
        <div class="parent-bubble topsubicon">
          <a href="#" class="link"
             uib-tooltip="{{'orientations'| translate}} : {{cardCtrl.showOrientation(doc['orientations'])}}"
             tooltip-append-to-body="true" tooltip-append-to-body="true" ng-if="doc['orientations'].length">
            <span class="subicon glyphicon glyphicon-fullscreen"></span>
          </a>
        </div>
        <div class="text-bubble" ng-if="doc['orientations'].length">
          {{cardCtrl.showOrientation(doc['orientations'])}}
        </div>
      </div>
      <div class="parent-bubble">
        <div class="bubble bquality" ng-if="doc['quality']">
          <a class="link" uib-tooltip="{{doc['quality'] | translate}}" tooltip-append-to-body="true">
            <span class="quality-{{::doc['quality']}}"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</article>
