.view-details-associations, .view-details-comments, .view-details-photos,
.scroll-top-btn, .view-details-map, .location-static, .badge, .icons-header,
.logo {
  display: none;
}

.view-details-title{
	display: block;
	font-size: .75em !important;
	margin-top: 0px;
	margin-bottom: 10px;
}

.description , .view-details-info {
	display: inline-block !important;
}

.view-details-section {
	display: block;
	font-size: .75em !important;
}

.lead{
	padding: 0 10px !important;
}

.heading {
	padding: 5px 10px !important;
}

.view-details-section .view-details-informations .accordion {
    padding: 0;
}
