.viewdoc {

  header {
    &.view-title-with-bg {
      height: auto !important;
      padding-top: 30px;
    }
  }

  .glyphicon-menu-down {
    display: none;
  }

  .view-details-section {
    [class^=embedded_] {
      display: none;
    }

    #left-column {
      display: none;
    }

    #right-column {
      width: 100%;
    }
  }

  h3 {
    padding: 0 15px;
  }

  #discourse-comments,
  #associated-documents,
  #discourse-comments-title {
    display: none;

    &.collapse.in {
      display: none;
    }
  }
}

.view-details-comments,
.view-details-map,
.badge,
.icons-header {
  display: none !important;
}

.view-details-title {
  font-size: 0.75em !important;
  margin-top: 0;
  margin-bottom: 10px;
}

.view-details-section {
  display: block;
  font-size: 0.75em !important;
  margin-left: 0;
  padding-bottom: 0;
  width: 100%;

  .other-langs {
    display: none;
  }
}

.lead {
  padding: 0 10px !important;
}

.heading {
  padding: 5px 10px !important;
  text-decoration: underline;

  &.closed,
  .glyphicon {
    display: none;
  }
}

.document-summary {
  border: none !important;
  padding: 5px;
  margin: 0;
}

.view-details-title {
  border: none !important;
  width: 100%;
}

.orientation-svg {
  height: 45px !important;
  margin-left: 0 !important;

  text {
    display: none !important;
  }

  path {
    &.orientation-selected {
      fill: black !important;
    }

    &:not(.orientation-selected) {
      fill: none !important;
      stroke: black !important;
    }
  }
}

[class*="creative-commons icon-"]::after {
  font-size: 0.5em;
  vertical-align: middle;
  padding-left: 0.2em;
}

.icon-BY::after {
  content: "BY";
}

.icon-NC::after {
  content: "NC";
}

.icon-ND::after {
  content: "ND";
}

.icon-SA::after {
  content: "SA";
}

.creative-commons {
  display: inline-flex;
  margin-left: 6px;

  .cc-description,
  + div {
    line-height: 30px;
  }

  + div {
    display: inline-block;
    padding: 2px;
    position: relative;
    top: -9px;
  }
}

.name-icon-value {
  border-bottom: none !important;
  min-height: 10px !important;
  max-width: 50%;
  display: inline;
}

.view-details-title > h1.routes .title {
  max-width: 100%;
  margin-right: 0;
}

h3 {
  font-size: 1em;
  font-weight: bold;
  padding: 5px 0 5px 0;
}
