<%namespace file="../../helpers/view.html" import="show_areas, show_attr, show_maps"/>

## MAPSINFO
<%def name="get_waypoint_maps_info(waypoint)">\
  % if waypoint.get('maps_info') or waypoint.get('maps'):
    <div class="name-icon-value maps" ng-click="detailsCtrl.openTab($event)">
      <h4><span translate>maps_info</span><span class="glyphicon glyphicon-menu-right"></span></h4>
      <div class="name-icon">
        <span class="glyphicon glyphicon-globe"></span>
        <p translate>maps_info</p>
      </div>
      <span class="detail-text accordion">
        % if waypoint.get('maps_info'):
          <p><span translate>maps_info</span>: <b>${waypoint['maps_info']}</b></p>
        % endif
        
        ${show_maps(waypoint)}
      </span>
    </div>
  % endif
</%def>

## GENERAL
<%def name="get_waypoint_general(waypoint)">\
<div class="name-icon-value general" ng-click="detailsCtrl.openTab($event)">
  <h4><span translate>General</span><span class="glyphicon glyphicon-menu-right"></span></h4>
  <div class="name-icon">
    <span class="glyphicon glyphicon-asterisk"></span>
    <p translate>General</p>
  </div>
  <span class="detail-text accordion">
    % if waypoint.get('waypoint_type'):
      <p><span translate>waypoint_type</span>: <b x-translate>${waypoint['waypoint_type']}</b></p>
    % endif

    % if waypoint.get('orientation'):
      <p><span translate>orientation</span>:</p>
      % for orient in waypoint['orientation'] :
        <span x-translate>${orient}</span>
      % endfor
    % endif

    % if waypoint.get('climbing_indoor_types'):
      <article>
        <b translate>climbing_indoor_types</b><br>
        <ul>
          % for style in waypoint['climbing_indoor_types'] :
          <li x-translate>${style}</li>
          % endfor
        </ul>
      </article>
    % endif

    % if waypoint.get('rock_types'):
      <article>
        <b translate>rock_types</b><br>
        <ul>
          % for type in waypoint['rock_types'] :
          <li x-translate>${type}</li>
          % endfor
        </ul>
      </article>
    % endif

    % if waypoint.get('climbing_outdoor_types') and waypoint['climbing_outdoor_types'][0] != '':
      <article>
        <b translate>climbing_outdoor_types</b><br>
        <ul>
          % for type in waypoint['climbing_outdoor_types'] :
          <li x-translate>${type}</li>
          % endfor
        </ul>
      </article>
    % endif

    % if waypoint.get('product_types'):
      <article>
        <b translate>product_types</b><br>
        <ul>
          % for type in waypoint['product_types'] :
          <li x-translate>${type}</li>
          % endfor
        </ul>
      </article>
    % endif

    % if waypoint.get('ground_types'):
      <article>
        <b translate>ground_types</b><br>
        <ul>
          % for type in waypoint['ground_types'] :
          <li x-translate>${type}</li>
          % endfor
        </ul>
      </article>
    % endif

    % if waypoint.get('weather_station_types'):
      <article>
        <b translate>weather_station_types</b><br>
        <ul>
          % for type in waypoint['weather_station_types'] :
          <li x-translate>${type}</li>
          % endfor
        </ul>
      </article>
    % endif

    % if waypoint.get('rain_proof'):
    <p><span translate>rain_proof</span>: <b x-translate>${waypoint['rain_proof']}</b></p>
    % endif

    % if waypoint.get('children_proof'):
    <p><span translate>children_proof</span>: <b x-translate>${waypoint['children_proof']}</b></p>
    % endif

    % if waypoint.get('capacity'):
    <p><span translate>capacity</span>: <b>${waypoint['capacity']}</b></p>
    % endif

    % if waypoint.get('capacity_staffed'):
    <p><span translate>capacity_staffed</span>: <b>${waypoint['capacity_staffed']}</b></p>
    % endif

    % if waypoint.get('length'):
    <p><span translate>length</span>: <b>${waypoint['length']}</b></p>
    % endif

  </span>
</div>
</%def>

## LOCATION
<%def name="get_waypoint_location(waypoint, geometry4326)">\
<div class="name-icon-value location" ng-click="detailsCtrl.openTab($event)">
  <h4><span translate>Location</span><span class="glyphicon glyphicon-menu-right"></span></h4>
  <div class="name-icon">
    <span class="glyphicon glyphicon-map-marker"></span>
    <p translate>Location</p>
  </div>
  <span class="detail-text accordion">
    % if not version:
      ${show_areas(waypoint)}
    % endif
    <p>${round(geometry4326.x)} °E / ${round(geometry4326.y)} °N</p>
  </span>
</div>
</%def>

## HEIGHTS
<%def name="get_waypoint_heights(waypoint)">\

  % if waypoint.get('elevation') and ( waypoint.get('prominence') or waypoint.get('elevation_min') \
    or waypoint.get('height_min')  or waypoint.get('height_max') \
    or waypoint.get('prominence')  or waypoint.get('height_median') ):
    
    <div class="name-icon-value" ng-click="detailsCtrl.openTab($event)">
      <h4><span translate>heights</span><span class="glyphicon glyphicon-menu-right"></span></h4>
      <div class="name-icon">
        <span class="glyphicon glyphicon-map-marker"></span>
        <p translate>heights</p>
      </div>
      <span class="detail-text accordion">

        % if waypoint.get('prominence'):
          <p><span translate>prominence</span>: <b>${waypoint['prominence']} m</b></p>
        % endif

        % if waypoint.get('elevation_min'):
          <p><span translate>elevation_min</span>: <b>${waypoint['elevation_min']} m</b></p>
        % endif

        % if waypoint.get('elevation'):
          <p class="show-phone elevation"><span translate>elevation</span>: <b>${waypoint['elevation']} m</b></p>
        % endif

        % if waypoint.get('height_min'):
          <p><span translate>height_min</span>: <b>${waypoint['height_min']} m</b></p>
        % endif

        % if waypoint.get('height_max'):
          <p><span translate>height_max</span>: <b>${waypoint['height_max']} m</b></p>
        % endif

        % if waypoint.get('height_median'):
          <p><span translate>height_median</span>: <b>${waypoint['height_median']} m</b></p>
        % endif

      </span>
    </div>
  % endif
</%def>

## ACCESS
<%def name="get_waypoint_access(waypoint, locale)">\
  % if locale.get('access_period') or waypoint.get('access_period') or waypoint.get('access_time') or \
   waypoint.get('best_periods') or  waypoint.get('public_transportation_types') or  waypoint.get('public_transportation_rating') or \
   waypoint.get('parking_fee') or waypoint.get('snow_clearance_rating') or waypoint.get('lift_access') :

  <div class="name-icon-value" ng-click="detailsCtrl.openTab($event)">
    <h4><span translate>Access</span><span class="glyphicon glyphicon-menu-right"></span></h4>
    <div class="name-icon">
      <span class="glyphicon glyphicon-road"></span>
      <p translate>Access</p>
    </div>
    <span class="detail-text accordion">

      % if locale.get('access_period'):
        <p><span translate>access_period</span>: <b>${locale['access_period']}</b></p>
      % endif

      % if waypoint.get('access_period'):
        <p><span translate>routes_quantity</span>: <b>${waypoint['routes_quantity']}</b></p>
      % endif

      % if waypoint.get('access_time'):
        <p><span translate>access_time</span>: <b>${waypoint['access_time']}</b></p>
      % endif
      
      % if waypoint.get('best_periods'):
      <article>
        <b translate>best_periods</b><br>
        <ul>
          % for month in waypoint['best_periods'] :
          <li x-translate>${month}</li>
          % endfor
        </ul>
      </article>
      % endif
      
      % if waypoint.get('public_transportation_types'):
      <article>
        <b translate>public_transportation_types</b><br>
        <ul>
          % for type in waypoint['public_transportation_types'] :
          <li x-translate>${type}</li>
          % endfor
        </ul>
      </article>
      % endif
      
      % if waypoint.get('public_transportation_rating'):
        <p><span translate>public_transportation_rating</span>: <b>${waypoint['public_transportation_rating']}</b></p>
      % endif

      % if waypoint.get('parking_fee'):
        <p><span translate>parking_fee</span>: <b>${waypoint['parking_fee']}</b></p>
      % endif

      % if waypoint.get('snow_clearance_rating'):
        <p><span translate>snow_clearance_rating</span>: <b>${waypoint['snow_clearance_rating']}</b></p>
      % endif

      % if waypoint.get('lift_access'):
        <p><span translate>lift_access</span>: <b>${waypoint['lift_access']}</b></p>
      % endif
    </span>
  </div>
 % endif
</%def>

## RATING  
<%def name="get_waypoint_rating(waypoint)">\
  % if waypoint.get('climbing_rating_max') or waypoint.get('risk_rating') or waypoint.get('climbing_rating_median') or waypoint.get('equipment_ratings') or  waypoint.get('paragliding_rating') or waypoint.get('exposition_rating') :
    <div class="name-icon-value" ng-click="detailsCtrl.openTab($event)">
      <h4><span translate>Rating</span><span class="glyphicon glyphicon-menu-right"></span></h4>
      <div class="name-icon">
        <span class="glyphicon glyphicon-sort-by-attributes"></span>
        <p translate>Rating</p>
      </div>
      <span class="detail-text accordion">

        % if waypoint.get('climbing_rating_max'):
        <p><span translate>climbing_rating_min</span>: <b>${waypoint['climbing_rating_min']}</b></p>
        % endif

        % if waypoint.get('risk_rating'):
          <p><span translate>risk_rating</span>: <b>${waypoint['risk_rating']}</b></p>
        % endif

        % if waypoint.get('climbing_rating_median'):
          <p><span translate>climbing_rating_median</span>: <b>${waypoint['climbing_rating_median']}</b></p>
        % endif
        
        % if waypoint.get('equipment_ratings'):
        <article>
          <b translate>equipment_ratings</b><br>
          <ul>
            % for activity in waypoint['equipment_ratings'] :
            <li x-translate>${equipment_ratings}</li>
            % endfor
          </ul>
        </article>
        % endif

        % if waypoint.get('paragliding_rating'):
          <p><span translate>paragliding_rating</span>: <b>${waypoint['paragliding_rating']}</b></p>
        % endif

        % if waypoint.get('exposition_rating'):
          <p><span translate>exposition_rating</span>: <b>${waypoint['exposition_rating']}</b></p>
        % endif
      </span>
    </div>
  % endif
</%def>

## STYLE  
<%def name="get_waypoint_style(waypoint)">\
  % if waypoint.get('climbing_styles'):
    <div class="name-icon-value" ng-click="detailsCtrl.openTab($event)">
      <h4><span translate>Style</span><span class="glyphicon glyphicon-menu-right"></span></h4>
      <div class="name-icon">
        <span class="glyphicon glyphicon-sunglasses"></span>
        <p translate>Style</p>
      </div>
      <span class="detail-text accordion">
        % if waypoint.get('climbing_styles'):
        <article>
          <b translate>climbing_styles</b><br>
          <ul>
            % for type in waypoint['climbing_styles'] :
            <li x-translate>${type}</li>
            % endfor
          </ul>
        </article>
        % endif
      </span>
    </div>
  % endif
</%def>

## CONTACT  
<%def name="get_waypoint_contact(waypoint)">\
  % if waypoint.get('url') and waypoint.get('phone') and waypoint.get('phone_custodian') and waypoint.get('custodianship') :
    <div class="name-icon-value" ng-click="detailsCtrl.openTab($event)">
      <h4><span translate>Contact</span><span class="glyphicon glyphicon-menu-right"></span></h4>
      <div class="name-icon">
        <span class="glyphicon glyphicon-phone-alt"></span>
        <p translate>Contact</p>
      </div>
      <span class="detail-text accordion">

        % if waypoint.get('url'):
          <p><span translate>url</span>${waypoint['url']}</p>
        % endif

        % if waypoint.get('phone'):
          <p><span translate>phone</span> ${waypoint['phone']}</p>
        % endif

        % if waypoint.get('phone_custodian'):
          <p><span translate>phone_custodian</span> ${waypoint['phone_custodian']}</p>
        % endif

        % if waypoint.get('custodianship'):
          <p><span translate>custodianship</span> ${waypoint['custodianship']}</p>
        % endif

      </span>
    </div>
  % endif
</%def>

## EQUIPMENT  
<%def name="get_waypoint_equipment(waypoint)">\
  % if waypoint.get('matress_unstaffed') and  waypoint.get('gas_unstaffed') and waypoint.get('heating_unstaffed') and waypoint.get('blanket_unstaffed') :
    <div class="name-icon-value" ng-click="detailsCtrl.openTab($event)">
      <h4><span translate>Equipment</span><span class="glyphicon glyphicon-menu-right"></span></h4>
      <div class="name-icon">
        <span class="glyphicon glyphicon-cutlery"></span>
        <p translate>Equipment</p>
      </div>
      <span class="detail-text accordion">

        % if waypoint.get('matress_unstaffed'):
          <p><span translate>matress_unstaffed</span>${waypoint['matress_unstaffed']}</p>
        % endif

        % if waypoint.get('blanket_unstaffed'):
          <p><span translate>blanket_unstaffed</span> ${waypoint['blanket_unstaffed']}</p>
        % endif

        % if waypoint.get('heating_unstaffed'):
          <p><span translate>heating_unstaffed</span> ${waypoint['heating_unstaffed']}</p>
        % endif

        % if waypoint.get('gas_unstaffed'):
          <p><span translate>gas_unstaffed</span> ${waypoint['gas_unstaffed']}</p>
        % endif

      </span>
    </div>
  % endif
</%def>