<%namespace file="../../helpers/view.html" import="get_document_min_max, show_areas, show_maps, show_attr, show_geom_download"/>
<%namespace file="../../helpers/orientations.svg" import="show_orientations_static"/>

## MAPSINFO
<%def name="get_waypoint_maps_info(waypoint)">\
  % if waypoint.get('maps_info') or waypoint.get('maps'):
  <h3 id="title-associated-maps" ng-click="mainCtrl.animateHeaderIcon($event)"
      data-toggle="collapse" data-target="#associated-maps" aria-expanded="true" aria-controls="associated-maps">
    <span translate>Map</span> <span class="glyphicon glyphicon-menu-down"></span>
  </h3>
  <div class="finfo collpase in" id="associated-maps">
    <div class="ficontent">
      <div class="list-green">
      <span class="detail-text accordion">
            % if waypoint.get('maps_info'):
          <p><span translate>maps_info</span>: <span>${waypoint['maps_info']}</span></p>
        % endif
        
        ${show_maps(waypoint)}</span>
        </div>
    </div>
  </div>
  % endif
</%def>



## GENERAL
<%def name="get_waypoint_general(waypoint, isPreview=False)">\
  <div class="col-sm-6 col-lg-3">    
<div class="name-icon-value general" ng-click="detailsCtrl.toggleTab($event)">
  <h4><span class="glyphicon glyphicon-info-sign"></span> <span translate>General</span></h4>
  <span class="detail-text accordion">
    % if waypoint.get('elevation'):
      <p><span translate class="value-title">elevation</span>: <span class="value">${waypoint['elevation']} m</span></p>
    % endif

    % if waypoint.get('waypoint_type'):
      <p><span translate class="value-title">waypoint_type</span>: <span x-translate class="value">${waypoint['waypoint_type']}</span></p>
    % endif

    % if waypoint.get('climbing_indoor_types'):
      <article>
        <span translate class="value-title">climbing_indoor_types</span>:
        % for type in waypoint.get('climbing_indoor_types') :
        <span x-translate class="value">${type}</span>${'' if loop.last else ', '}
        % endfor
      </article>
    % endif

    % if waypoint.get('rock_types'):
      <article>
        <span translate class="value-title">rock_types</span>:
        % for type in waypoint.get('rock_types') :
        <span x-translate class="value">${type}</span>${'' if loop.last else ', '}
        % endfor
      </article>
    % endif

    % if waypoint.get('slackline_types'):
      <article>
        <span translate class="value-title">slackline_types</span>:
        % for type in waypoint.get('slackline_types') :
        <span x-translate class="value">${type}</span>${'' if loop.last else ', '}
        % endfor
      </article>
    % endif

    % if waypoint.get('climbing_outdoor_types') and waypoint['climbing_outdoor_types'][0] != '':
      <article>
        <span translate class="value-title">climbing_outdoor_types</span>:
        % for type in waypoint.get('climbing_outdoor_types') :
        <span x-translate class="value">${type}</span>${'' if loop.last else ', '}
        % endfor
      </article>
    % endif

    % if waypoint.get('product_types'):
      <article>
        <span translate class="value-title">product_types</span>:
        % for type in waypoint.get('product_types') :
        <span x-translate class="value">${type}</span>${'' if loop.last else ', '}
        % endfor
      </article>
    % endif

    % if waypoint.get('ground_types'):
      <article>
        <span translate class="value-title">ground_types</span>:
        % for type in waypoint.get('ground_types') :
        <span x-translate class="value">${type}</span>${'' if loop.last else ', '}
        % endfor
      </article>
    % endif

    % if waypoint.get('weather_station_types'):
      <article>
        <span translate class="value-title">weather_station_types</span>:
        % for type in waypoint.get('weather_station_types') :
        <span x-translate class="value">${type}</span>${'' if loop.last else ', '}
        % endfor
      </article>
    % endif

    % if waypoint.get('rain_proof'):
    <p><span translate class="value-title">rain_proof</span>: <span x-translate class="value">${waypoint['rain_proof']}</span></p>
    % endif

    % if waypoint.get('children_proof'):
      <p><span translate class="value-title">children_proof</span>: <span x-translate class="value">${waypoint['children_proof']}</span></p>
    % endif

    % if waypoint.get('capacity'):
      <p><span translate class="value-title">capacity</span>: <span class="value">${waypoint['capacity']}</span></p>
    % endif

    % if waypoint.get('capacity_staffed'):
      <p><span translate class="value-title">capacity_staffed</span>: <span class="value">${waypoint['capacity_staffed']}</span></p>
    % endif

    % if waypoint.get('length'):
      <p><span translate class="value-title">length</span>: <span class="value">${waypoint['length']} m</span></p>
    % endif

    ${get_document_min_max(waypoint, 'slackline_length')}

    % if waypoint.get('routes_quantity'):
      <p><span translate class="value-title">routes_quantity</span>: <span class="value">${waypoint['routes_quantity']}</span></p>
    % endif

    % if waypoint.get('best_periods'):
      <article>
        <span translate class="value-title">best_periods</span>:
        % for type in waypoint.get('best_periods') :
        <span x-translate class="value">${type}</span>${'' if loop.last else ', '}
        % endfor
      </article>
    % endif

    % if not isPreview:
      ${show_geom_download(waypoint)}
    % endif

    % if waypoint.get('quality'):
      <p><span translate class="value-title">quality</span>: <span x-translate class="value">${waypoint['quality']}</span></p>
    % endif
  </span>
</div>
  </div>
</%def>

## LOCATION
<%def name="get_waypoint_location(waypoint, geometry4326)">\
   <div class="col-sm-6 col-lg-3">    
<div class="name-icon-value location" >
  <h4><span class="glyphicon glyphicon-map-marker"></span><span translate>Location</span></h4>
  <span class="detail-text accordion">
    % if not version:
      ${show_areas(waypoint)}
    % endif
    <p>${round(geometry4326.x)} °E / ${round(geometry4326.y)} °N</p>
  </span>
</div>
  </div>
</%def>

## HEIGHTS
<%def name="get_waypoint_heights(waypoint)">\

  % if waypoint.get('elevation') and ( waypoint.get('prominence') or waypoint.get('elevation_min') \
    or waypoint.get('height_min')  or waypoint.get('height_max') \
    or waypoint.get('prominence')  or waypoint.get('height_median') ):
   <div class="col-sm-6 col-lg-3">    
    <div class="name-icon-value" ng-click="detailsCtrl.toggleTab($event)">
      <h4><span class="glyphicon glyphicon-map-marker"></span><span translate>heights</span></h4>
      <span class="detail-text accordion">

        % if waypoint.get('prominence'):
          <p><span translate class="value-title">prominence</span>: <span class="value">${waypoint['prominence']} m</span></p>
        % endif

        % if waypoint.get('elevation_min'):
          <p><span translate class="value-title">elevation_min</span>: <span class="value">${waypoint['elevation_min']} m</span></p>
        % endif

        % if waypoint.get('elevation'):
          <p class="show-phone elevation"><span translate class="value-title">elevation</span>: <span class="value">${waypoint['elevation']} m</span></p>
        % endif

        ${get_document_min_max(waypoint, 'height')}

        % if waypoint.get('height_median'):
          <p><span translate class="value-title">height_median</span>: <span class="value">${waypoint['height_median']} m</span></p>
        % endif

      </span>
    </div>
  </div>
  % endif
</%def>

## ACCESS
<%def name="get_waypoint_access(waypoint, locale)">\
  %if waypoint.get('access_time') or \
   waypoint.get('public_transportation_types') or  waypoint.get('public_transportation_rating') or \
   waypoint.get('parking_fee') or waypoint.get('snow_clearance_rating') or waypoint.get('lift_access') is not None or waypoint.get('routes_quantity') :

  <div class="name-icon-value" ng-click="detailsCtrl.toggleTab($event)">
    <h4><span class="glyphicon glyphicon-road"></span> <span translate>Access</span></h4>
    <span class="detail-text accordion">

      % if waypoint.get('access_time'):
        <p><span translate class="value-title">access_time</span>: <span class="value">${waypoint['access_time']}</span></p>
      % endif

      % if waypoint.get('public_transportation_types'):
        <article>
          <span translate class="value-title">public_transportation_types</span>:
          % for type in waypoint.get('public_transportation_types') :
          <span x-translate class="value">${type}</span>${'' if loop.last else ', '}
          % endfor
        </article>
      % endif

      % if waypoint.get('public_transportation_rating'):
        <p><span translate class="value-title">public_transportation_rating</span>: <span class="value" x-translate>${waypoint['public_transportation_rating']}</span></p>
      % endif

      % if waypoint.get('parking_fee'):
        <p><span translate class="value-title">parking_fee</span>: <span class="value" x-translate>${waypoint['parking_fee']}</span></p>
      % endif

      % if waypoint.get('snow_clearance_rating'):
        <p><span translate class="value-title">snow_clearance_rating</span>: <span class="value" x-translate>${waypoint['snow_clearance_rating']}</span></p>
      % endif

      % if waypoint.get('lift_access'):
        <span translate class="value-title">lift_access</span>: <span translate class="value">yes</span>
      % endif

    </span>
  </div>
 % endif
</%def>

## RATING
<%def name="get_waypoint_rating(waypoint)">\
  % if waypoint.get('climbing_rating_max') or waypoint.get('risk_rating') or waypoint.get('climbing_rating_median') or waypoint.get('equipment_ratings') or  waypoint.get('paragliding_rating') or waypoint.get('exposition_rating') :
  <div class="col-sm-6 col-lg-3">    
    <div class="name-icon-value" ng-click="detailsCtrl.toggleTab($event)">
      <h4><span class="glyphicon glyphicon-sort-by-attributes"></span><span translate>Rating</span></h4>
      <span class="detail-text accordion">

        % if waypoint.get('risk_rating'):
        <p><span translate class="value-title">risk_rating</span>: <span class="value">${waypoint['risk_rating']}</span></p>
        % endif

        % if waypoint.get('climbing_rating_max'):
        <p><span translate class="value-title">climbing_rating_max</span>: <span class="value">${waypoint['climbing_rating_max']}</span></p>
        % endif

        % if waypoint.get('climbing_rating_min'):
        <p><span translate class="value-title">climbing_rating_min</span>: <span class="value">${waypoint['climbing_rating_min']}</span></p>
        % endif

        % if waypoint.get('climbing_rating_median'):
        <p><span translate class="value-title">climbing_rating_median</span>: <span class="value">${waypoint['climbing_rating_median']}</span></p>
        % endif

        % if waypoint.get('equipment_ratings'):
          <article>
            <span translate class="value-title">equipment_ratings</span>:
            % for type in waypoint.get('equipment_ratings') :
              <span class="value">${type}</span>${'' if loop.last else ', '}
            % endfor
          </article>
        % endif

        % if waypoint.get('paragliding_rating'):
        <p><span translate class="value-title">paragliding_rating</span>: <span class="value">${waypoint['paragliding_rating']}</span></p>
        % endif

        % if waypoint.get('exposition_rating'):
          <p><span translate class="value-title">exposition_rating</span>: <span class="value">${waypoint['exposition_rating']}</span></p>
        % endif
      </span>
    </div>
    </div>
  % endif
</%def>

## STYLE
<%def name="get_waypoint_style(waypoint)">\
  % if waypoint.get('climbing_styles'):
   <div class="col-sm-6 col-lg-3">    
    <div class="name-icon-value" ng-click="detailsCtrl.toggleTab($event)">
      <h4> <span class="glyphicon glyphicon-sunglasses"></span><span translate>Style</span></h4>
      <span class="detail-text accordion">

        % if waypoint.get('climbing_styles'):
          <article>
            <span translate class="value-title">climbing_styles</span>:
            % for type in waypoint.get('climbing_styles') :
            <span x-translate class="value">${type}</span>${'' if loop.last else ', '}
            % endfor
          </article>
        % endif

      </span>
    </div>
  </div>
  % endif
</%def>

## CONTACT
<%def name="get_waypoint_contact(waypoint)">\
  % if waypoint.get('url') or waypoint.get('phone') or waypoint.get('phone_custodian') or waypoint.get('custodianship') is not None:
  <div class="col-sm-6 col-lg-3">    
    <div class="name-icon-value" ng-click="detailsCtrl.toggleTab($event)">
      <h4><span class="glyphicon glyphicon-phone-alt"></span> <span translate>Contact</span></h4>
      <span class="detail-text accordion">

        % if waypoint.get('url'):
          <p><span translate class="value-title">url</span>: <a class="value" href="${waypoint['url']}">${waypoint['url']}</a></p>
        % endif

        % if waypoint.get('phone'):
          <p><span translate class="value-title">phone</span>: <span class="value"> ${waypoint['phone']}</span></p>
        % endif

        % if waypoint.get('custodianship'):
          <span translate class="value-title">custodianship</span> : <span x-translate class="value">${waypoint['custodianship']}</span><br>
        % endif

        % if waypoint.get('phone_custodian'):
          <p><span translate class="value-title">phone_custodian</span>: <span class="value">${waypoint['phone_custodian']}</span></p>
        % endif

      </span>
    </div>
  </div>
  % endif
</%def>

## EQUIPMENT
<%def name="get_waypoint_equipment(waypoint)">\
  % if waypoint.get('matress_unstaffed') is not None or  waypoint.get('gas_unstaffed') is not None or \
  waypoint.get('heating_unstaffed') is not None or waypoint.get('blanket_unstaffed') is not None:
  <div class="col-sm-6 col-lg-3">   
    <div class="name-icon-value" ng-click="detailsCtrl.toggleTab($event)">
      <h4><span class="glyphicon glyphicon-cutlery"></span> <span translate>Equipment</span></h4>
      <span class="detail-text accordion">

        % if waypoint.get('matress_unstaffed'):
        <p><span translate class="value-title">matress_unstaffed</span> : <span translate class="value">yes</span></p>
        % elif waypoint.get('matress_unstaffed') is not None :
        <p><span translate class="value-title">matress_unstaffed</span> : <span translate class="value">no</span></p>
        % endif

        % if waypoint.get('blanket_unstaffed'):
        <p><span translate class="value-title">blanket_unstaffed</span> : <span translate class="value">yes</span></p>
        % elif waypoint.get('blanket_unstaffed') is not None:
        <p><span translate class="value-title">blanket_unstaffed</span> : <span translate class="value">no</span></p>
        % endif

        % if waypoint.get('heating_unstaffed'):
        <p><span translate class="value-title">heating_unstaffed</span> : <span translate class="value">yes</span></p>
        % elif waypoint.get('heating_unstaffed') is not None:
        <p><span translate class="value-title">heating_unstaffed</span> : <span translate class="value">no</span></p>
        % endif

        % if waypoint.get('gas_unstaffed'):
        <p><span translate class="value-title">gas_unstaffed</span> : <span translate class="value">yes</span></p>
        % elif waypoint.get('gas_unstaffed') is not None:
        <p><span translate class="value-title">gas_unstaffed</span> : <span translate class="value">no</span></p>
        % endif

      </span>
    </div>
  </div>
  % endif
</%def>

## ORIENTATION
<%def name="get_waypoint_orientations(waypoint)">\
  % if waypoint.get('orientations'):
    <div class="col-sm-6 col-lg-3">    
    <div class="name-icon-value">
      <h4> <span class="glyphicon glyphicon-move"></span><span translate>orientations</span></h4>
      <span class="detail-text accordion">
        ${show_orientations_static(waypoint.get('orientations'))}
      </span>
    </div>
  </div>
  % endif
</%def>

<%def name="get_waypoint_access_period(locale, waypoint_type, open_tab=False)">\
  % if locale.get('access_period'):
  <h3 ng-click="mainCtrl.animateHeaderIcon($event)" class="${'' if open_tab else 'closed'}"
      data-toggle="collapse" data-target="#access_period" aria-expanded="${'true' if open_tab else 'false'}" aria-controls="access_period">
    % if waypoint_type in ['hut', 'gite', 'camp_site']:
      <span translate>opening_periods</span>
    % elif waypoint_type == 'local_product':
      <span translate>opening_hours</span>
    % elif waypoint_type == 'climbing_outdoor':
      <span translate>restricted_access</span>
    % else:
      <span translate>access_period</span>
    % endif
    <span class="glyphicon glyphicon-menu-${'down' if open_tab else 'right'}"></span>
  </h3>
  
  <div class="finfo" class="collapse${' in' if open_tab else ''}" id="access_period">
    <div class="ficontent max">
      ${show_attr(locale, 'access_period')}
    </div>
  </div>
  % endif
</%def>

<%def name="get_waypoint_access_field(locale, waypoint_type, open_tab=False)">\
  % if locale.get('access'):
    <h3 class="${'' if open_tab else 'closed'}" ng-click="mainCtrl.animateHeaderIcon($event)"
        data-toggle="collapse" data-target="#access" aria-expanded="${'true' if open_tab else 'false'}" aria-controls="access">
        % if waypoint_type == 'access':
          <span translate>public transportation access</span>
        % elif waypoint_type in ['hut', 'climbing_indoor', 'climbing_outdoor']:
          <span translate>pedestrian access</span>
        % else:
          <span translate>road or pedestrian access</span>
        % endif
        <span class="glyphicon glyphicon-menu-${'down' if open_tab else 'right'}"></span>
    </h3>
    <div class="finfo" class="collapse${' in' if open_tab else ''}" id="access">
      <div class="ficontent max">
        ${show_attr(locale, 'access')}
      </div>
    </div>
  % endif
</%def>
