<%!
    import os
%>

<%def name="show_image(image, locale, size='', link=False)">\
  <%
      base, ext = os.path.splitext(image['filename'])
      ext = '.jpg' if size and ext == '.svg' else ext
  %>
  % if link:
    <a href="${image_url + image['filename']}" target="_blank" title="${locale['title']}">
  % endif
      <img class="image full-image" src="${image_url + base + size + ext}" alt="${locale['title']}">
  % if link:
    </a>
  % endif
</%def>

<%def name="get_image_general(image)">\
  <%
      base, ext = os.path.splitext(image['filename'])
  %>
  <h3 ng-click="mainCtrl.animateHeaderIcon($event)" data-toggle="collapse" data-target="#general">
    <span translate>General</span> <span class="glyphicon glyphicon-menu-down"></span></h3>
  <div class="finfo" id="general">
    <div class="ficontent collapse in max">
    <span class="detail-text accordion">

      % if image.get('activities') :
        <article class="value activities">
          <span translate class="value-title">activities</span><br>
          % for type in image.get('activities') :
          <span class="route-activity icon-${type}" uib-tooltip="{{mainCtrl.translate('${type}')}}" ></span>
          % endfor
        </article>
      % endif

      % if image.get('categories') :
        <article class="value categories">
          <span translate class="value-title">categories</span>:
          % for type in image.get('categories') :
          <span x-translate  class="green-text">${type}</span>${'' if loop.last else ', '}
          % endfor
        </article>
      % endif

      % if image.get('date_time'):
        <p><span class="value-title" translate>date_taken</span>: <span class="value">{{'${image['date_time']}' | amUtc | amLocal | amDateFormat:'L LTS'}}</span></p>
      % endif

      % if image.get('author'):
        <p><span class="value-title" translate>author</span>: <span class="value">${image['author']}</span></p>
      % elif image.get('creator'):
        <p><span class="value-title" translate>uploaded by</span>:
          <span class="value"><a href="${request.route_path('profiles_view_id', id=image['creator']['user_id'])}">${image['creator']['name']}</a></span>
        </p>
      % endif

      % if image.get('elevation'):
        <p><span class="value-title" translate>elevation</span>: <span class="value">${image['elevation']}&nbsp;m</span></p>
      % endif

      % if ext == '.svg':
        <p><span class="value-title" translate>Source file</span>: <a href="${image_url + image['filename']}" class="value" translate>SVG file</a></p>
      % endif

      % if image.get('quality'):
        <p><span class="value-title" translate>quality</span>: <span class="value" x-translate>${image['quality']}</span></p>
      % endif

      % if image.get('image_type'):
        <p><span class="value-title" translate>image_type</span>: <span class="value" x-translate>${image['image_type']}</span></p>
      % endif
    </span>
  </div>
    </div>
</%def>

## CAMERA SETTINGS
<%def name="get_image_camera_settings(image)">\

  % if image.get('camera_name') or image.get('fnumber') or image.get('exposure_time') or image.get('iso_speed') or \
   image.get('width') or image.get('height') or image.get('focal_length'):

      
        <h3 ng-click="mainCtrl.animateHeaderIcon($event)" data-toggle="collapse" data-target="#camera">
    <span translate>camera</span> <span class="glyphicon glyphicon-menu-down"></span></h3>
  <div class="finfo" id="camera">
    <div class="ficontent collapse in max">
      
      
      <span class="detail-text accordion">

        % if image.get('camera_name'):
          <p><span class="value-title" translate>camera_name</span>: <span class="value">${image['camera_name']}</span></p>
        % endif

        % if image.get('fnumber'):
          <p><span class="value-title" translate>fnumber</span>: <span class="value">f/${image['fnumber']}</span></p>
        % endif

        % if image.get('iso_speed'):
          <p><span class="value-title" translate>iso_speed</span>: <span class="value">${image['iso_speed']}</span></p>
        % endif


        % if image.get('exposure_time'):
        <%
          exposure = image.get('exposure_time')
        %>
          % if exposure < 1 and exposure > 0:
              <p><span class="value-title" translate>exposure_time</span>: <span class="value">1/${round(1/exposure)}&nbsp;s</span></p>
           % elif exposure >= 1:
              <p><span class="value-title" translate>exposure_time</span>: <span class="value">${exposure}&nbsp;s</span></p>
          % endif
        % endif

        % if image.get('width'):
          <p><span class="value-title" translate>width</span>: <span class="value">${image['width']}&nbsp;px</span></p>
        % endif

        % if image.get('height'):
          <p><span class="value-title" translate>height</span>: <span class="value">${image['height']}&nbsp;px</span></p>
        % endif

        % if image.get('focal_length'):
          <p><span class="value-title" translate>focal_length</span>: <span class="value">${image['focal_length']}&nbsp;mm</span></p>
        % endif
      </span>
    </div>
        </div>
   % endif
</%def>
