<figure>
  ## TITLE & TYPES
  <h3><span translate>title</span> & <span translate>types</span></h3>
  <p><label translate>title</label>
    <input required class="form-control" ng-model="outing.locales[0].title">
    <p class="text-danger" translate ng-if="!outing.locales[0].title">This field is required.</p>
  </p>

  <label translate>lang</label>
  <input disabled required class="form-control" value="{{mainCtrl.translate(outing.locales[0].lang)}}">
  <p class="text-danger" translate ng-if="!outing.locales[0].lang">This field is required.</p>

  <div ng-if="outing.date_start">
    <label translate>date_start</label>
    <p>{{outing.date_start}}</p>
  </div>

  <div ng-if="outing.date_end">
    <label translate>date_end</label>
    <p>{{outing.date_end}}</p>
  </div>

  <div ng-if="outing.locales[0]['weather']">
    <label translate>weather</label>
    <p>{{outing.locales[0]['weather']}}</p>
  </div>
  
</figure>

## DESCRIPTION
<figure class="summary-description">
  <h3>text</h3>
  <label translate>personal comment</label>
  <textarea class="form-control">{{outing.locales[0].description}}</textarea>
  
  <label translate>conditions</label>
  <textarea class="form-control">{{outing.locales[0]['conditions']}}</textarea>
</figure>