<%!
from c2corg_common.attributes import default_langs, activities, condition_ratings, \
    quality_types, hut_status, lift_status, frequentation_types, avalanche_signs, \
    route_duration_types, access_conditions, glacier_ratings
%>

<%inherit file="../base.html"/>

<%
updating_doc = outing_id and outing_lang
%>

<%namespace file="../helpers/common.html" import="show_title"/>
<%namespace file="../helpers/edit.html" import="show_editing_associated_waypoints,
    show_editing_associated_routes,show_preview_container,
    show_editing_buttons"/>

<%block name="pagetitle"><title ng-init="id=${outing_id if outing_id else 0}" ng-bind="id ? mainCtrl.page_title('Editing an outing') : mainCtrl.page_title('Creating an outing')">${show_title('Create/edit outing')}</title></%block>
<%block name="metarobots"><meta name="robots" content="noindex,nofollow"></%block>

<section class="create-edit-document">

  <h1 ng-cloak ng-init="id=${outing_id if outing_id else 0}"
      ng-bind="id ? ('Editing an outing' | translate) : ('Creating an outing' | translate)"
      class="text-center"></h1>

  <form app-loading app-document-editing="outings" app-document-editing-model="outing"
    app-document-editing-controller-name="appOutingEditingController"
  % if updating_doc:
    app-document-editing-id="${outing_id}" app-document-editing-lang="${outing_lang}"
  % endif
    name="editForm" novalidate ng-submit="editCtrl.submitForm(editForm.$valid)" class="document-editing">

    <app-progress-bar>
      ## It won't work with ng-init
      <span class="ng-hide">{{progressBarCtrl.maxSteps = 4}}</span>

      ## PROGRESS BAR
      <ul class="progress-bar-edit">
        <li class="nav-step-1" ng-click="progressBarCtrl.step(1, 'outing',  'backwards')" ng-class="{'nav-step-selected': progressBarCtrl.currentStep == 1 }"><span class="nav-text"><span translate>track</span></span><span class="bullet-container"><span class="bullet"></span></span></li>
        <li class="nav-step-2" ng-click="progressBarCtrl.step(2, 'outing', progressBarCtrl.previousStep >= 2 ? 'backwards' : 'forwards')"><span class="nav-text"><span translate>weather</span> & <span translate>conditions</span></span><span class="bullet-container"><span class="bullet"></span></span></li>
        <li class="nav-step-3" ng-click="progressBarCtrl.step(3, 'outing', progressBarCtrl.previousStep >= 3 ? 'backwards' : 'forwards')"><span class="nav-text"><span translate>personal informations</span></span><span class="bullet-container"><span class="bullet"></span></span></li>
        <li class="nav-step-4" ng-click="progressBarCtrl.step(4, 'outing',  'forwards')"><span translate class="nav-text">review</span><span class="bullet-container"><span class="bullet"></span></span></li>
      </ul>

      ## NAV BUTTONS
      <div class="nav-buttons">
        <button class="btn btn-primary prev" type="button" ng-if="progressBarCtrl.previousStep !== 0" ng-click="progressBarCtrl.step(progressBarCtrl.previousStep, 'outing', 'backwards')"><span class="glyphicon glyphicon-triangle-left"></span></button>
        <button class="btn btn-primary next" type="button" ng-if="progressBarCtrl.nextStep <= progressBarCtrl.maxSteps" ng-click="progressBarCtrl.step(progressBarCtrl.nextStep, 'outing', 'forwards')"><span class="glyphicon glyphicon-triangle-right"></span></button>
      </div>
    </app-progress-bar>

    <section class="editing outing">
      <div class="step step-1">

        <section class="section title">
          <h2 class="heading show-phone" translate>general informations</h2>
          <div class="content collapse in" id="title-edit">

            ## ACTIVITIES
            <div class="form-group  full" id="outing-activities" ng-init="activities = ${activities}"
                 ng-class="{ 'has-error': editForm.activities.$touched && editForm.activities.$invalid, 'has-success': editForm.activities.$valid }">
              <label><span translate>activities</span> *</label>
              <div class="route-activities">
                <div ng-repeat="activity in activities" class="activity">
                  <div>
                    <div class="icon-{{activity}}" class="icon-" ng-click="editCtrl.pushToArray(outing, 'activities', activity, $event)"
                         ng-class="{'activity-selected' : outing.activities.indexOf(activity) > -1}">
                    </div>
                    <p>{{activity | translate}}</p>
                  </div>
                </div>
              </div>
            </div>

            ## MAP
            <app-gpx-upload></app-gpx-upload>
            <app-map app-map-edit="true" app-map-draw-type="LineString" class="map-edit"></app-map>

            ## ROUTE TAKEN
            <div class=" full" class="form-group">
              <label><span translate>Taken routes</span> *</label>
              <app-simple-search parent-id="outing.document_id"
                app-select="editCtrl.documentService.pushToAssociations(doc, 'routes', true)" dataset="r"></app-simple-search>
            </div>

            <section class="section associations full">
              <div class="route-associations full">
                <h5 translate ng-show="outing.associations.routes.length == 0">Choose at least one route taken during the outing.</h5>
                ${show_editing_associated_routes('outing')}
              </div>
            </section>

            ## ROUTE DESCRIPTION
            <div class=" full form-group" ng-class="{'has-success': outing.locales[0].route_description}">
              <label translate>route_description</label>
              <textarea class="form-control" ng-model="outing.locales[0].route_description" placeholder="{{'describe route_conditions' | translate}}"></textarea>
            </div>

            ## PARTIAL TRIP
            <div class="form-group half" ng-class="{'has-success': outing.partial_trip != undefined}">
              <label translate>partial_trip</label>
              <input type="checkbox" ng-model="outing.partial_trip" ng-checked="outing.partial_trip == true">
              <span ng-click="editCtrl.pushToArray(outing, 'partial_trip', !outing.partial_trip, $event)"></span>
            </div>

            ## DURATION
            <div class="form-group half" ng-class="{'has-success': outing.duration, 'has-error': editForm.duration.$touched && editForm.duration.$invalid}">
              <label translate>duration</label>
              <div class="input-group">
                <input type="number" min="1" minlength="1" name="duration" ng-model="outing.duration" class="form-control" />
                <span class="input-group-addon">min</span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="editForm.duration.$valid && outing.duration"></span>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.duration.$invalid && outing.duration"></span>
              <div class="help-block" ng-messages="editForm.duration.$error">
                <p ng-message="number" class="label label-danger" style="{{ (editForm.duration.$invalid && editForm.duration.$touched) ? 'display:inline' : '' }}" translate>This field must be a number.</p>
              </div>
            </div>

            ## DURATION DIFFICULTIES
            <div class="form-group half" ng-class="{'has-success': outing.duration_difficulties, 'has-error': editForm.duration_difficulties.$touched && editForm.duration_difficulties.$invalid}"
                 ng-if="outing.activities.indexOf('snow_ice_mixed') > -1 || outing.activities.indexOf('mountain_climbing') > -1 ||
                           outing.activities.indexOf('rock_climbing') > -1 || outing.activities.indexOf('ice_climbing') > -1 || outing.activities.indexOf('via_ferrata') > -1">
              <label translate>duration_difficulties</label>
              <div class="input-group">
                <input type="number" min="1" minlength="1" name="duration_difficulties" ng-model="outing.duration_difficulties" class="form-control" />
                <span class="input-group-addon">min</span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="editForm.duration_difficulties.$valid && outing.duration_difficulties"></span>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.duration_difficulties.$invalid && outing.duration_difficulties"></span>
              <div class="help-block" ng-messages="editForm.duration_difficulties.$error">
                <p ng-message="number" class="label label-danger" style="{{ (editForm.duration_difficulties.$invalid && editForm.duration_difficulties.$touched) ? 'display:inline' : '' }}" translate>This field must be a number.</p>
              </div>
            </div>

            ## LENGTH TOTAL
            <div id="length_total-group" class="half form-group" ng-class="{ 'has-error': editForm.length_total.$touched && editForm.length_total.$invalid,'has-success': outing.length_total }">
              <label translate>length_total</label>
              <div class="input-group">
                <input type="number" min="0" minlength="1" name="length_total" ng-model="outing.length_total" class="form-control" />
                <span class="input-group-addon">m</span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="editForm.length_total.$valid && outing.length_total"></span>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.length_total.$invalid && outing.length_total"></span>
              <div class="help-block" ng-messages="editForm.length_total.$error">
                <p ng-message="number" class="label label-danger" style="{{ (editForm.length_total.$invalid && editForm.length_total.$touched) ? 'display:inline' : '' }}" translate>This field must be a number.</p>
              </div>
            </div>

            ## ELEVATION MIN
            <div id="elevation_min-group" class="half remain form-group" ng-class="{ 'has-error': editForm.elevation_min.$touched && editForm.elevation_min.$invalid,'has-success': outing.elevation_min }">
              <label translate>elevation_min</label>
              <div class="input-group">
                <input type="number" min="0" minlength="1" name="elevation_min" ng-model="outing.elevation_min" class="form-control" />
                <span class="input-group-addon">m</span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="editForm.elevation_min.$valid && outing.elevation_min"></span>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.elevation_min.$invalid && outing.elevation_min"></span>
              <div class="help-block" ng-messages="editForm.elevation_min.$error">
                <p ng-message="number" class="label label-danger" style="{{ (editForm.elevation_min.$invalid && editForm.elevation_min.$touched) ? 'display:inline' : '' }}" translate>This field must be a number.</p>
              </div>
            </div>

            ## ELEVATION MAX
            <div id="elevation_max-group" class="half remain form-group" ng-class="{ 'has-error': editForm.elevation_max.$touched && editForm.elevation_max.$invalid,'has-success': outing.elevation_max }">
              <label translate>elevation_max</label>
              <div class="input-group">
                <input type="number" min="0" minlength="1" name="elevation_max" ng-model="outing.elevation_max" class="form-control" />
                <span class="input-group-addon">m</span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="editForm.elevation_max.$valid && outing.elevation_max"></span>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.elevation_max.$invalid && outing.elevation_max"></span>
              <div class="help-block" ng-messages="editForm.elevation_max.$error">
                <p ng-message="number" class="label label-danger" style="{{ (editForm.elevation_max.$invalid && editForm.elevation_max.$touched) ? 'display:inline' : '' }}" translate>This field must be a number.</p>
              </div>
            </div>

            ## HEIGHT DIFF UP
            <div id="height_diff_up-group" class="half remain form-group" ng-class="{ 'has-error': editForm.height_diff_up.$touched && editForm.height_diff_up.$invalid,'has-success': outing.height_diff_up }">
              <label translate>height_diff_up</label>
              <div class="input-group">
                <input type="number" min="0" minlength="1" name="height_diff_up" ng-model="outing.height_diff_up" class="form-control" />
                <span class="input-group-addon">m</span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="editForm.height_diff_up.$valid && outing.height_diff_up"></span>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.height_diff_up.$invalid && outing.height_diff_up"></span>
              <div class="help-block" ng-messages="editForm.height_diff_up.$error">
                <p ng-message="number" class="label label-danger" style="{{ (editForm.height_diff_up.$invalid && editForm.height_diff_up.$touched) ? 'display:inline' : '' }}" translate>This field must be a number.</p>
              </div>
            </div>

            ## HEIGHT DIFF DOWN
            <div id="height_diff_down-group" class="half remain form-group" ng-class="{ 'has-error': editForm.height_diff_down.$touched && editForm.height_diff_down.$invalid,'has-success': outing.height_diff_down }">
              <label translate>height_diff_down</label>
              <div class="input-group">
                <input type="number" min="0" minlength="1" name="height_diff_down" ng-model="outing.height_diff_down" class="form-control" />
                <span class="input-group-addon">m</span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="editForm.height_diff_down.$valid && outing.height_diff_down"></span>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.height_diff_down.$invalid && outing.height_diff_down"></span>
              <div class="help-block" ng-messages="editForm.height_diff_down.$error">
                <p ng-message="number" class="label label-danger" style="{{ (editForm.height_diff_down.$invalid && editForm.height_diff_down.$touched) ? 'display:inline' : '' }}" translate>This field must be a number.</p>
              </div>
            </div>
            <section class="section associations" ng-if="outing.associations.waypoints.length > 0">
              <div class=" full route-associations">
                ${show_editing_associated_waypoints('outing')}
              </div>
            </section>
          </div>
        </section>
      </div>

      <div class="step step-2">
        <section class="section weather">
          <h2 class="heading show-phone"><span translate>weather</span></h2>
          <div class="content outing-weather">

            ## DATE START
            <div class="date form-group" ng-init="openDateStart = false">
              <label><span translate>date_start</span> *</label>
              <div class="input-group" ng-model="outing.date_start" datepicker-options="{maxDate : editCtrl.dateMaxStart}"
                   uib-datepicker-popup="dd MM yyyy" is-open="openDateStart" ng-change="editCtrl.dateMinEnd = outing.date_start">
                <input type="text" disabled class="form-control" value="{{outing.date_start | amDateFormat:'Do MMMM YYYY' }}" required/>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="openDateStart = true"><span class="glyphicon glyphicon-calendar"></span></button>
                </span>
              </div>
            </div>

            ## DATE END
            <div class="date form-group flex flexend-align" ng-init="openDateEnd = false">
              <div  ng-show="editCtrl.differentDates">
                <label><span translate>date_end </span></label>
                <div class="input-group" ng-model="outing.date_end" datepicker-options="{maxDate : editCtrl.dateMaxEnd, minDate: editCtrl.dateMinEnd}"
                     uib-datepicker-popup="dd MM yyyy" is-open="openDateEnd" ng-change="editCtrl.dateMaxStart = outing.date_end">
                  <input disabled type="text" class="form-control" value="{{outing.date_end | amDateFormat:'Do MMMM YYYY' }}"/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openDateEnd = true"><span class="glyphicon glyphicon-calendar"></span></button>
                  </span>
                </div>
                <span class="glyphicon glyphicon-remove form-control-feedback"  ng-click="editCtrl.differentDates = false; outing.date_end = undefined; editCtrl.dateMaxStart = editCtrl.today;"></span>
              </div>
              <div ng-click="editCtrl.differentDates = true" ng-show="!editCtrl.differentDates" class="flex flexend-align">
                <button class="btn orange-btn" type="button" translate>Several days?</button>
              </div>
            </div>

            ## TIMING
            <div class=" full form-group">
              <label translate>timing</label>
              <textarea class="form-control" ng-model="outing.locales[0]['timing']" placeholder="{{'describe timing' | translate}}"></textarea>
            </div>

            ## WEATHER
            <div class=" full form-group">
              <label translate>weather</label>
              <textarea class="form-control" ng-model="outing.locales[0]['weather']" placeholder="{{'describe weather' | translate}}"></textarea>
            </div>

        </section>

        <section class="section conditions">
          <h2 class="heading show-phone"><span translate>conditions</span></h2>
          <div class="content collapse in" id="outing-conditions">

            ## CONDITIONS LEVELS
            <div class=" full form-group" ng-class="{'has-success': outing.condition_levels}"
                 ng-if="outing.activities.indexOf('skitouring') > -1 || outing.activities.indexOf('snowshoeing') > -1 || outing.activities.indexOf('ice_climbing') > -1 || outing.activities.indexOf('snow_ice_mixed') > -1 ">
              <label translate>condition_levels</label>
              <table class="table table-striped conditions-levels" ng-if="outing.locales[0].conditions_levels[0]">
                <thead>
                  <tr>
                    <th class="location"><span translate>location</span> / <span translate>elevation</span> / <span translate>orientations</span></th>
                    <th class="soft-snow"><span translate>soft snow</span> (cm)</th>
                    <th class="total-snow"><span translate>total snow</span> (cm)</th>
                    <th class="comment" translate>comment</th>
                    <th class="delete"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="cond in outing.locales[0].conditions_levels">
                    <td><input type="text" class="form-control" ng-model="outing.locales[0].conditions_levels[$index].level_place"></td>
                    <td><input type="text" class="form-control" ng-model="outing.locales[0].conditions_levels[$index].level_snow_height_soft"></td>
                    <td><input type="text" class="form-control" ng-model="outing.locales[0].conditions_levels[$index].level_snow_height_total"></td>
                    <td><input type="text" class="form-control" ng-model="outing.locales[0].conditions_levels[$index].level_comment"></td>
                    <td ng-click="outing.locales[0].conditions_levels.splice($index, 1)"><span class="glyphicon glyphicon-trash"></span></td>
                  </tr>
                </tbody>
              </table>
              <button class="btn orange-btn" type="button" ng-click="outing.locales[0].conditions_levels.push({})" translate>add row</button>
            </div>

            ## CONDITIONS
            <div class=" full form-group">
              <label translate>conditions</label>
              <textarea class="form-control" ng-model="outing.locales[0]['conditions']" placeholder="{{'describe conditions' | translate}}"></textarea>
            </div>

            ## CONDITION RATING
            <div class="form-group half" ng-class="{'has-success': outing.condition_rating}">
              <label translate>condition_rating</label>
              <div class="input-group">
                <select class="form-control" ng-model="outing.condition_rating" ng-options="rat as rat for rat in ${condition_ratings}"><option value=""></option></select>
                <span class="input-group-addon"><span class="glyphicon glyphicon-star"></span></span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="outing.condition_rating"></span>
            </div>

            ## ELEVATION UP SNOW
            <div id="elevation_up_snow-group" class="half form-group" ng-class="{ 'has-error': editForm.elevation_up_snow.$touched && editForm.elevation_up_snow.$invalid,'has-success': outing.elevation_up_snow }"
                 ng-if="outing.activities.indexOf('skitouring') > -1 || outing.activities.indexOf('snowshoeing') > -1 || outing.activities.indexOf('ice_climbing') > -1  || outing.activities.indexOf('mountain_climbing') > -1  || outing.activities.indexOf('snow_ice_mixed') > -1">
              <label translate>elevation_up_snow</label>
              <div class="input-group">
                <input type="number" min="0" minlength="1" name="elevation_up_snow" ng-model="outing.elevation_up_snow" class="form-control" />
                <span class="input-group-addon">m</span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="editForm.elevation_up_snow.$valid && outing.elevation_up_snow"></span>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.elevation_up_snow.$invalid && outing.elevation_up_snow"></span>
              <div class="help-block" ng-messages="editForm.elevation_up_snow.$error">
                <p ng-message="number" class="label label-danger" style="{{ (editForm.elevation_up_snow.$invalid && editForm.elevation_up_snow.$touched) ? 'display:inline' : '' }}" translate>This field must be a number.</p>
              </div>
            </div>

            ## ELEVATION DOWN SNOW
            <div id="elevation_down_snow-group" class="half form-group" ng-class="{ 'has-error': editForm.elevation_down_snow.$touched && editForm.elevation_down_snow.$invalid,'has-success': outing.elevation_down_snow }"
                 ng-if="outing.activities.indexOf('snow_ice_mixed') > -1 || outing.activities.indexOf('mountain_climbing') > -1 || outing.activities.indexOf('ice_climbing') > -1  || outing.activities.indexOf('snowshoeing') > -1 || outing.activities.indexOf('skitouring') > -1">
              <label translate>elevation_down_snow</label>
              <div class="input-group">
                <input type="number" min="0" minlength="1" name="elevation_down_snow" ng-model="outing.elevation_down_snow" class="form-control" />
                <span class="input-group-addon">m</span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="editForm.elevation_down_snow.$valid && outing.elevation_down_snow"></span>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.elevation_down_snow.$invalid && outing.elevation_down_snow"></span>
              <div class="help-block" ng-messages="editForm.elevation_down_snow.$error">
                <p ng-message="number" class="label label-danger" style="{{ (editForm.elevation_down_snow.$invalid && editForm.elevation_down_snow.$touched) ? 'display:inline' : '' }}" translate>This field must be a number.</p>
              </div>
            </div>

              ## SNOW QUANTITY
            <div id="snow_quantity-group" class="half form-group" ng-class="{ 'has-error': editForm.snow_quantity.$touched && editForm.snow_quantity.$invalid,'has-success': outing.snow_quantity }"
                 ng-if="outing.activities.indexOf('skitouring') > -1 || outing.activities.indexOf('snowshoeing') > -1 || outing.activities.indexOf('ice_climbing') > -1  || outing.activities.indexOf('mountain_climbing') > -1  || outing.activities.indexOf('snow_ice_mixed') > -1 ">
              <label translate>snow_quantity</label>
              <select class="form-control" ng-model="outing.snow_quantity" ng-options="rat as rat for rat in ${condition_ratings}"><option value=""></option></select>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="outing.snow_quantity"></span>
              <div class="help-block" ng-messages="editForm.snow_quantity.$error">
                <p ng-message="number" class="label label-danger" style="{{ (editForm.snow_quantity.$invalid && editForm.snow_quantity.$touched) ? 'display:inline' : '' }}" translate>This field must be a number.</p>
              </div>
            </div>

            ## SNOW QUALITY
            <div id="snow_quality-group" class="half form-group" ng-class="{ 'has-error': editForm.snow_quality.$touched && editForm.snow_quality.$invalid,'has-success': outing.snow_quality }"
                 ng-if="outing.activities.indexOf('skitouring') > -1 || outing.activities.indexOf('snowshoeing') > -1 || outing.activities.indexOf('ice_climbing') > -1  || outing.activities.indexOf('mountain_climbing') > -1  || outing.activities.indexOf('snow_ice_mixed') > -1">
              <label translate>snow_quality</label>
              <select class="form-control" ng-model="outing.snow_quality" ng-options="rat as rat for rat in ${condition_ratings}"><option value=""></option></select>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="outing.snow_quality"></span>
              <div class="help-block" ng-messages="editForm.snow_quality.$error">
                <p ng-message="number" class="label label-danger" style="{{ (editForm.snow_quality.$invalid && editForm.snow_quality.$touched) ? 'display:inline' : '' }}" translate>This field must be a number.</p>
              </div>
            </div>

            ## GLACIER RATING
            <div class="form-group half" ng-if="outing.activities.indexOf('skitouring') > -1 || outing.activities.indexOf('snowshoeing') > -1 || outing.activities.indexOf('mountain_climbing') > -1  || outing.activities.indexOf('snow_ice_mixed') > -1 ">
              <label translate>glacier_rating</label>
              <div class="input-group" ng-class="{'has-success': outing.glacier_rating }">
                <select class="form-control" ng-model="outing.glacier_rating" ng-options="rat as rat for rat in ${glacier_ratings}"><option value=""></option></select>
                <span class="input-group-addon"><span class="glyphicon glyphicon-star"></span></span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="outing.glacier_rating"></span>
            </div>

            ## AVALANCHE SIGNS
            <div class="form-group half" ng-init="signs = ${avalanche_signs}; outing.avalanche_signs = outing.avalanche_signs || [];"
                  ng-if="outing.activities.indexOf('skitouring') > -1 || outing.activities.indexOf('snowshoeing') > -1 || outing.activities.indexOf('ice_climbing') > -1 || outing.activities.indexOf('snow_ice_mixed') > -1">
              <label translate>avalanche_signs</label>
              <ul class="types">
                <li ng-click="outing.avalanche_signs.indexOf('no') == -1 ? (outing.avalanche_signs = ['no']) : (outing.avalanche_signs[outing.avalanche_signs.indexOf('no')] = null)">
                  <div class="checkbox"><input type="checkbox" ng-checked="outing.avalanche_signs.indexOf('no') > -1"><span translate>no</span></div>
                </li>
                ## don't show other options if 'no' is selected
                <li ng-repeat="type in signs" ng-click="editCtrl.pushToArray(outing, 'avalanche_signs', type, $event)" ng-if="$index > 0 && outing.avalanche_signs.indexOf('no') == -1">
                  <div class="checkbox"><input type="checkbox" ng-checked="outing.avalanche_signs.indexOf(type) > -1"><span x-translate>{{type}}</span></div>
                </li>
              </ul>
            </div>

            ## AVALANCHES
            <div class="form-group  full"  ng-if="(outing.activities.indexOf('skitouring') > -1 || outing.activities.indexOf('snowshoeing') > -1
                      || outing.activities.indexOf('ice_climbing') > -1 || outing.activities.indexOf('snow_ice_mixed') > -1) && (outing.avalanche_signs != 'no' && outing.avalanche_signs != null) ">
              <label translate>avalanches_info</label>
              <textarea class="form-control" ng-model="outing.locales[0]['avalanches']"></textarea>
            </div>

          </div>
        </section>

        <section class="section access">
          <h2 class="heading show-phone">
            <span><span translate>access</span> & <span translate>hut</span></span>
          </h2>

          <div class="content outing-route" id="track-edit">

            ## PUBLIC TRANSPORT
            <div class="form-group half" ng-class="{'has-success': outing.public_transport != undefined}">
              <label translate>public_transport</label>
              <input type="checkbox" ng-model="outing.public_transport" ng-checked="outing.public_transport == true">
              <span></span>
            </div>

            ## FREQUENTATION
            <div class="form-group half" ng-class="{'has-success': outing.frequentation}">
              <label translate>frequentation</label>
              <select class="form-control" ng-model="outing.frequentation" ng-options="rat as rat for rat in ${frequentation_types}"><option value=""></option></select>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="outing.frequentation"></span>
            </div>

            ## LIFT STATUS
            <div class="form-group half" ng-class="{'has-success': outing.lift_status}">
              <label translate>lift_status</label>
              <div class="input-group">
                <select class="form-control" ng-model="outing.lift_status" ng-options="rat as rat for rat in ${lift_status}"><option value=""></option></select>
                <span class="input-group-addon"><span class="glyphicon glyphicon-resize-vertical"></span></span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="outing.lift_status"></span>
            </div>

            ## HUT COMMENT
            <div class="form-group  full" ng-class="{'has-success': outing.locales[0].hut_comment}">
              <label translate>hut_comment</label>
              <textarea class="form-control " ng-model="outing.locales[0].hut_comment"></textarea>
            </div>

            ## HUT STATUS
            <div class="form-group half" ng-class="{'has-success': outing.hut_status}">
              <label translate>hut_status</label>
              <div class="input-group">
                <select class="form-control" ng-model="outing.hut_status" ng-options="rat as rat for rat in ${hut_status}"><option value=""></option></select>
                <span class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="outing.hut_status"></span>
            </div>

            ## ELEVATION ACCESS
            <div id="elevation_access-group" class="half form-group" ng-class="{ 'has-error': editForm.elevation_access.$touched && editForm.elevation_access.$invalid,'has-success': outing.elevation_access }">
              <label translate>elevation_access</label>
              <div class="input-group">
                <input type="number" min="0" minlength="1" name="elevation_access" ng-model="outing.elevation_access" class="form-control" />
                <span class="input-group-addon">m</span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="editForm.elevation_access.$valid && outing.elevation_access"></span>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.elevation_access.$invalid && outing.elevation_access"></span>
              <div class="help-block" ng-messages="editForm.elevation_access.$error">
                <p ng-message="number" class="label label-danger" style="{{ (editForm.elevation_access.$invalid && editForm.elevation_access.$touched) ? 'display:inline' : '' }}" translate>This field must be a number.</p>
              </div>
            </div>

            ## ACCESS CONDITION
            <div class="form-group half"  ng-class="{'has-success': outing.access_condition}">
              <label translate>access_condition</label>
              <div class="input-group">
                <select class="form-control" ng-model="outing.access_condition" ng-options="rat as rat for rat in ${access_conditions}"><option value=""></option></select>
                <span class="input-group-addon"><span class="glyphicon glyphicon-road"></span></span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="outing.access_condition"></span>
            </div>

            ## ACCESS COMMENT
            <div class="form-group data full" ng-class="{'has-success': outing.locales[0].access_comment}">
              <label translate>access_comment</label>
              <textarea class="form-control " ng-model="outing.locales[0].access_comment"></textarea>
            </div>

          </div>
        </section>

      </div>

      <div class="step step-3">
        <section class="section">
          <h2 class="heading show-phone"><span translate>Comments</span></h2>
          <div class="content collapse in">

            ## TITLE
            <div class="form-group" id="title-group" ng-class="{ 'has-error': editForm.title.$touched && editForm.title.$invalid, 'has-success': editForm.title.$valid }">
              <label><span translate>outing title</span> *</label>
              <input type="text" name="title" ng-model="outing.locales[0].title" ng-minlength="3"class="form-control" required/>
              <div class="help-block" ng-messages="editForm.title.$error">
                <p ng-message="required" class="label label-danger" style="{{ (editForm.title.$invalid && editForm.title.$touched) ? 'display:inline' : '' }}" translate>This field is required.</p>
                <p ng-message="minlength" class="label label-danger" style="{{ (editForm.title.$invalid && editForm.title.$touched) ? 'display:inline' : '' }}" translate>Title must have at least 3 characters.</p>
              </div>
            </div>

            ## LANGUAGE
            <div id="lang-group" class="form-group" ng-class="{ 'has-error': editForm.lang.$touched && editForm.lang.$invalid, 'has-success': editForm.lang.$valid}">
              <label><span translate>lang</span> *</label>
              % if outing_lang:
                <input disabled class="form-control" value="{{mainCtrl.translate('${outing_lang}')}}">
              % else:
                <select name="lang" ng-options="lang as mainCtrl.translate(lang) for lang in ['${"','".join(default_langs) |n}'] | translate" ng-model="outing.locales[0].lang" class="form-control" required><option value=""></option></select>
              % endif
              <div class="help-block" ng-messages="editForm.lang.$error">
                <p ng-message="required" class="label label-danger" style="{{ (editForm.lang.$invalid && editForm.lang.$touched) ? 'display:inline' : '' }}" translate>This field is required.</p>
              </div>
            </div>

            ## ASSOCIATED PARTICIPANTS
            ## TODO better to show all users in one row, will have to convert users in controller.
            <div id="participants-group" class="form-group  full" ng-class="{'has-success': outing.locales[0]['participants']}">
              <app-simple-search parent-id="outing.document_id"
                app-select="editCtrl.documentService.pushToAssociations(doc)" dataset="u"></app-simple-search>
              <section class="section associations" ng-show="outing.associations.users.length > 0">
                <label translate>associated_participants</label>

                <section class="associated-section">
                  <article class="associated-documents">
                    <h5 translate ng-show="outing.associations.users.length == 0">You can look up for users that were with you during the outing.</h5>
                    <div class="list-item outings user-id-{{user.document_id}}" ng-repeat="user in outing.associations.users">
                      <a>
                        <div class="outing-author text-center">
                          <span class="icon-user"></span><br>
                        </div>
                        <div class="list-item-info">
                          <span class="list-item-title outing">{{user.name}}</span>
                        </div>
                      </a>
                      <span class="glyphicon glyphicon-trash" ng-click="editCtrl.documentService.removeAssociation(user.document_id, 'users', $event)"></span>
                    </div>
                  </article>
                </section>

              </section>
            </div>

            ## PARTICIPANTS
            <div id="participants-group" class="form-group  full" ng-class="{'has-success': outing.locales[0]['participants']}">
              <label translate>participants</label>
              <div class="input-group">
                <input type="text"  ng-model="outing.locales[0]['participants']" class="form-control" />
                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
              </div>
            </div>

            ## NUMBER OF PARTICIPANTS
            <div id="participants-group" class="form-group half" ng-class="{'has-success': outing.participant_count, 'has-error': editForm.participant_count.$touched && editForm.participant_count.$invalid }">
              <label translate>participant_count</label>
              <div class="input-group">
                <input type="number" min="1" name="participant_count" ng-model="outing.participant_count" class="form-control" />
                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="outing.participant_count"></span>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.participant_count.$invalid"></span>
              <div class="help-block" ng-messages="editForm.participant_count.$error">
                <p ng-message="number" class="label label-danger" style="{{ (editForm.participant_count.$invalid && editForm.participant_count.$touched) ? 'display:inline' : '' }}" translate>This field must be a number.</p>
              </div>
            </div>

            ## COMMENT
            <div class=" full form-group">
              <label translate>personal comments</label>
              <textarea class="form-control description" placeholder="{{'write your comments' | translate}}" ng-model="outing.locales[0]['description']"></textarea>
            </div>

          </div>
        </section>

      </div>

      <div class="step step-4">
        <section class="section summary">
          <h2 class="heading show-phone"><span translate>summary</span></h2>

          <div class="content collapse in">
            % if updating_doc:
            <div id="message-group" class="form-group">
              <label translate>Comment about the changes</label>
              <input type="text" name="message" ng-model="outing.message" class="form-control" placeholder="{{'Short description of the applied changes' | translate}}" />
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="outing.message"></span>
            </div>
            % endif

            ## QUALITY
            <div class="form-group half" ng-style="{'has-success': outing.quality}" ng-init="qualityTypes = ${quality_types}">
              ## I tried with ng-init, ng-selected..so hacking
              <div class="ng-hide">{{outing.quality = outing.quality || qualityTypes[1]}}</div>
              <label translate>document_quality</label>
              <select ng-options="type as mainCtrl.translate(type) for type in qualityTypes" ng-model="outing.quality" class="form-control"><option value=""></option></select>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="outing.quality"></span>
            </div>
          </div>
        </section>
      </div>

      ${show_editing_buttons('outing', updating_doc, outing_id, outing_lang)}

    </section>
  </form>
</section>

${show_preview_container()}
