<%!
from c2corg_common.attributes import default_langs, activities, condition_ratings, awesomeness, quality_types, hut_status, lift_status, frequentation_types, avalanche_signs,  route_duration_types, access_conditions, public_transportation_types, glacier_ratings
%>

<%inherit file="../base.html"/>

<%
updating_doc = outing_id and outing_lang
%>
<%namespace file="../helpers/common.html" import="show_title"/>

<%block name="pagetitle"><title ng-init="id=${outing_id if outing_id else 0}" ng-bind="id ? mainCtrl.page_title('Editing an outing') : mainCtrl.page_title('Creating an outing')">${show_title('Create/edit outing')}</title></%block>

<%block name="metarobots"><meta name="robots" content="noindex,nofollow"></%block>

<section class="create-edit-document">
  
  <h1 ng-cloak ng-init="id=${outing_id if outing_id else 0}" ng-bind="id ? ('Editing an outing' | translate) : ('Creating an outing' | translate)" class="text-center"></h1>
  
  <form app-loading app-document-editing="outings" app-document-editing-model="outing"
  % if updating_doc:
    app-document-editing-id="${outing_id}" app-document-editing-lang="${outing_lang}"
  % endif 
    name="editForm" novalidate ng-submit="editCtrl.submitForm(editForm.$valid)" class="document-editing">
    
    ## It won't work with ng-init
    <span class="ng-hide">
      {{editCtrl.max_steps = 4}} 
    </span>
    
    ## PROGRESS BAR
    <ul class="progress-bar-edit">
      <li class="nav-step-1" ng-click="editCtrl.step(1, 'outing',  'backwards')" ng-class="{'nav-step-selected': editCtrl.current_step == 1 }"><span class="nav-text"><span translate>track</span></span><span class="bullet-container"><span class="bullet"></span></span></li>
      <li class="nav-step-2" ng-click="editCtrl.step(2, 'outing', editCtrl.previous_step >= 2 ? 'backwards' : 'forwards')"><span class="nav-text"><span translate>weather</span> & <span translate>conditions</span></span><span class="bullet-container"><span class="bullet"></span></span></li>
      <li class="nav-step-3" ng-click="editCtrl.step(3, 'outing', editCtrl.previous_step >= 3 ? 'backwards' : 'forwards')"><span class="nav-text"><span translate>personal informations</span></span><span class="bullet-container"><span class="bullet"></span></span></li>
      <li class="nav-step-4" ng-click="editCtrl.step(4, 'outing',  'forwards')"><span translate class="nav-text">review</span><span class="bullet-container"><span class="bullet"></span></span></li>
    </ul>

    ## NAV BUTTONS
    <div class="nav-buttons">
      <button class="btn btn-primary prev" type="button" ng-if="editCtrl.previous_step !== 0" ng-click="editCtrl.step(editCtrl.previous_step, 'outing', 'backwards')"><span class="glyphicon glyphicon-triangle-left"></span></button>
      <button class="btn btn-primary next" type="button" ng-if="editCtrl.next_step <= editCtrl.max_steps" ng-click="editCtrl.step(editCtrl.next_step, 'outing', 'forwards')"><span class="glyphicon glyphicon-triangle-right"></span></button>
    </div>

    <section class="editing outing">
      <div class="step step-1">
        
        <section class="section title">
          <h2 class="heading show-phone" translate>general informations</h2>
          <div class="content collapse in" id="title-edit">

            ## ACTIVITIES
            <div class="form-group data full" id="outing-activities" ng-init="activities = ${activities}" 
                 ng-class="{ 'has-error': editForm.activities.$touched && editForm.activities.$invalid, 'has-success': editForm.activities.$valid }">
              <label><span translate>activities</span> *</label>
              <div class="route-activities">
                <div ng-repeat="activity in activities" class="activity">
                  <div>
                    <div class="icon-{{activity}}" class="icon-" ng-click="editCtrl.pushToArray(outing, 'activities', activity, $event)"
                         ng-class="{'activity-selected' : outing.activities.indexOf(activity) > -1}">
                    </div>
                    <p>{{activity | translate}}</p>
                  </div>
                </div>
              </div>
            </div>
            
            ## MAP
            <app-gpx-upload></app-gpx-upload>
            <app-map app-map-edit="true" app-map-draw-type="LineString" class="map-edit"></app-map>

            ## ROUTE TAKEN
            <div class="data full" class="form-group">
              ## todo: add a taken route as card
              <label translate>routes_taken *</label>
              <app-simple-search parent-id="document.document_id" app-select="editCtrl.documentService.pushToAssociations(doc)" dataset="r"></app-simple-search>
            </div>
            
            <section class="section associations">
              <div class="data full route-associations">
                <h5 translate ng-show="document.associations.routes.length == 0">choose at least one route taken during the outing.</h5>
                <%include file="../route/associated.html"/>
              </div>
            </section>

            ## ROUTE DESCRIPTION
            <div class="data full form-group" ng-class="{'has-success': outing.locales[0].route_description}">
              <label translate>route_description</label>
              <textarea class="form-control" ng-model="outing.locales[0].route_description" placeholder="{{mainCtrl.translate('describe route_conditions')}}"></textarea>
            </div>

            ## PARTIAL TRIP
            <div class="form-group data half" ng-class="{'has-success': outing.partial_trip }">
              <label translate>partial_trip</label>
              <select ng-model="outing.partial_trip" class="form-control">
                <option value="true">yes</option>
                <option value="false">no</option>
              </select>
            </div>

            ## DURATION
            <div class="form-group data half" ng-class="{'has-success': outing.duration}">
              <label translate>duration</label>
              <div class="input-group">
                <input type="number" min="1" minlength="1" name="duration" ng-model="outing.duration" class="form-control" />
                <span class="input-group-addon">min</span>
              </div>
            </div>

            ## LENGTH TOTAL
            <div id="length_total-group" class="data half form-group" ng-class="{ 'has-error': editForm.length_total.$touched && editForm.length_total.$invalid,'has-success': outing.length_total }">
              <label translate>length_total</label>
              <div class="input-group">
                <input type="number" min="0" minlength="1" name="length_total" ng-model="outing.length_total" class="form-control" />
                <span class="input-group-addon">m</span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="editForm.length_total.$valid && outing.length_total"></span>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.length_total.$invalid && outing.length_total"></span>
              <div class="help-block" ng-messages="editForm.length_total.$error">
                <p ng-message="number" class="label label-danger" style="{{ (editForm.length_total.$invalid && editForm.length_total.$touched) ? 'display:inline' : '' }}" translate>This field must be a number.</p>
              </div>
            </div>

            ## ELEVATION MIN
            <div id="elevation_min-group" class="data half remain form-group" ng-class="{ 'has-error': editForm.elevation_min.$touched && editForm.elevation_min.$invalid,'has-success': outing.elevation_min }">
              <label translate>elevation_min</label>
              <div class="input-group">
                <input type="number" min="0" minlength="1" name="elevation_min" ng-model="outing.elevation_min" class="form-control" />
                <span class="input-group-addon">m</span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="editForm.elevation_min.$valid && outing.elevation_min"></span>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.elevation_min.$invalid && outing.elevation_min"></span>
              <div class="help-block" ng-messages="editForm.elevation_min.$error">
                <p ng-message="number" class="label label-danger" style="{{ (editForm.elevation_min.$invalid && editForm.elevation_min.$touched) ? 'display:inline' : '' }}" translate>This field must be a number.</p>
              </div>
            </div>

            ## ELEVATION MAX
            <div id="elevation_max-group" class="data half remain form-group" ng-class="{ 'has-error': editForm.elevation_max.$touched && editForm.elevation_max.$invalid,'has-success': outing.elevation_max }">
              <label translate>elevation_max</label>
              <div class="input-group">
                <input type="number" min="0" minlength="1" name="elevation_max" ng-model="outing.elevation_max" class="form-control" />
                <span class="input-group-addon">m</span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="editForm.elevation_max.$valid && outing.elevation_max"></span>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.elevation_max.$invalid && outing.elevation_max"></span>
              <div class="help-block" ng-messages="editForm.elevation_max.$error">
                <p ng-message="number" class="label label-danger" style="{{ (editForm.elevation_max.$invalid && editForm.elevation_max.$touched) ? 'display:inline' : '' }}" translate>This field must be a number.</p>
              </div>
            </div>

            ## HEIGHT DIFF UP
            <div id="height_diff_up-group" class="data half remain form-group" ng-class="{ 'has-error': editForm.height_diff_up.$touched && editForm.height_diff_up.$invalid,'has-success': outing.height_diff_up }">
              <label translate>height_diff_up</label>
              <div class="input-group">
                <input type="number" min="0" minlength="1" name="height_diff_up" ng-model="outing.height_diff_up" class="form-control" />
                <span class="input-group-addon">m</span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="editForm.height_diff_up.$valid && outing.height_diff_up"></span>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.height_diff_up.$invalid && outing.height_diff_up"></span>
              <div class="help-block" ng-messages="editForm.height_diff_up.$error">
                <p ng-message="number" class="label label-danger" style="{{ (editForm.height_diff_up.$invalid && editForm.height_diff_up.$touched) ? 'display:inline' : '' }}" translate>This field must be a number.</p>
              </div>
            </div>

            ## HEIGHT DIFF DOWN
            <div id="height_diff_down-group" class="data half remain form-group" ng-class="{ 'has-error': editForm.height_diff_down.$touched && editForm.height_diff_down.$invalid,'has-success': outing.height_diff_down }">
              <label translate>height_diff_down</label>
              <div class="input-group">
                <input type="number" min="0" minlength="1" name="height_diff_down" ng-model="outing.height_diff_down" class="form-control" />
                <span class="input-group-addon">m</span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="editForm.height_diff_down.$valid && outing.height_diff_down"></span>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.height_diff_down.$invalid && outing.height_diff_down"></span>
              <div class="help-block" ng-messages="editForm.height_diff_down.$error">
                <p ng-message="number" class="label label-danger" style="{{ (editForm.height_diff_down.$invalid && editForm.height_diff_down.$touched) ? 'display:inline' : '' }}" translate>This field must be a number.</p>
              </div>
            </div>
            <section class="section associations" ng-if="outing.associations.waypoints.length > 0">
              <div class="data full route-associations">
                <%include file="../waypoint/associated.html"/>
              </div>
            </section>
          </div>
        </section>


      </div>

      <div class="step step-2">
        <section class="section weather">
          <h2 class="heading show-phone"><span translate>weather </span></h2>
          <div class="content outing-weather" id="title-edit">
           
            ## DATE START
            <div class="data half remain form-group" ng-init="openDateStart = false">
              <label><span translate>date_start</span> *</label>
              <div class="input-group" ng-model="outing.date_start" uib-datepicker-popup="dd MM yyyy" is-open="openDateStart">
                <input type="text" class="form-control" value="{{outing.date_start | amDateFormat:'Do MMMM YYYY' }}"/>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="openDateStart = true"><span class="glyphicon glyphicon-calendar"></span></button>
                </span>
              </div>
            </div>
              
            ## DATE END
            <div class="data half remain form-group baseline-align" ng-init="openDateEnd = false">
              <div  ng-show="editCtrl.differentDates">
                <label><span translate>date_end </span></label>               
                <div class="input-group" ng-model="outing.date_end" uib-datepicker-popup="dd MM yyyy" is-open="openDateEnd">
                  <input type="text" class="form-control" value="{{outing.date_end | amDateFormat:'Do MMMM YYYY' }}"/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openDateEnd = true"><span class="glyphicon glyphicon-calendar"></span></button>
                  </span>
                </div>
                <span class="glyphicon glyphicon-remove form-control-feedback"  ng-click="editCtrl.differentDates = false"></span>
              </div>
              <div ng-click="editCtrl.differentDates = true" ng-show="!editCtrl.differentDates" class="baseline-align">
                <button class="btn orange-btn" type="button">several days?</button>
              </div>
            </div>

            ## TIMING
            <div class="data full form-group">
              <label translate>timing</label>
              <textarea class="form-control" ng-model="outing.locales[0]['timing']" placeholder="{{mainCtrl.translate('describe timing')}}"></textarea>
            </div>
            
            ## WEATHER
            <div class="data full form-group">
              <label translate>weather</label>
              <textarea class="form-control" ng-model="outing.locales[0]['weather']" placeholder="{{mainCtrl.translate('describe weather')}}"></textarea>
            </div>            
            
        </section>

        <section class="section conditions">
          <h2 class="heading show-phone"><span translate>conditions</span></h2>
          <div class="content collapse in" id="outing-conditions">

            ## CONDITIONS LEVELS
            <div class="data full form-group" ng-class="{'has-success': outing.condition_levels}"   
                 ng-if="outing.activities.indexOf('skitouring') > -1 || outing.activities.indexOf('snowshoeing') > -1 || outing.activities.indexOf('ice_climbing') > -1 || outing.activities.indexOf('snow_ice_mixed') > -1 ">
              <label translate>condition_levels</label>
              <table class="table table-striped conditions-levels">
                <thead>
                  <tr>
                    <th class="location"><span translate>location</span> / <span translate>altitude</span> / <span translate>orientation</span> / <span translate>time</span></th>
                    <th class="soft-snow"><span translate>soft snow (</span>cm)</th>
                    <th class="total-snow"><span translate>total snow</span> (cm)</th>
                    <th class="comment" translate>comment</th>
                    <th class="delete"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="cond in outing.locales[0].conditions_levels">
                    <td><input type="text" class="form-control" ng-model="outing.locales[0].conditions_levels[$index].level_place"></td>
                    <td><input type="number" min="0" class="form-control" ng-model="outing.locales[0].conditions_levels[$index].level_snow_height_soft"></td>
                    <td><input type="number" min="0" class="form-control" ng-model="outing.locales[0].conditions_levels[$index].level_snow_height_total"></td>
                    <td><input type="text" class="form-control" ng-model="outing.locales[0].conditions_levels[$index].level_comment"></td>
                    <td ng-click="outing.locales[0].conditions_levels.splice($index, 1)"><span class="glyphicon glyphicon-trash"></span></td>
                  </tr>
                </tbody>
              </table>
              <button class="btn orange-btn" type="button" ng-click="outing.locales[0].conditions_levels.push({})" translate>add row</button>
            </div>

            ## CONDITIONS
            <div class="data full form-group">
              <label translate>conditions</label>
              <textarea class="form-control" ng-model="outing.locales[0]['conditions']" placeholder="{{mainCtrl.translate('describe conditions')}}"></textarea>
            </div>

            ## CONDITION RATING
            <div class="form-group data half" ng-class="{'has-success': outing.condition_rating}">
              <label translate>condition_rating</label>
              <div class="input-group">
                <select class="form-control" ng-model="outing.condition_rating" ng-options="rat as rat for rat in ${condition_ratings}"><option value=""></option></select>
                <span class="input-group-addon"><span class="glyphicon glyphicon-star"></span></span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="outing.condition_rating"></span>
            </div>
            
            ## ELEVATION UP SNOW
            <div id="elevation_up_snow-group" class="data half form-group" ng-class="{ 'has-error': editForm.elevation_up_snow.$touched && editForm.elevation_up_snow.$invalid,'has-success': outing.elevation_up_snow }"
                 ng-if="outing.activities.indexOf('skitouring') > -1 || outing.activities.indexOf('snowshoeing') > -1 || outing.activities.indexOf('ice_climbing') > -1  || outing.activities.indexOf('mountain_climbing') > -1  || outing.activities.indexOf('snow_ice_mixed') > -1 ">
              <label translate>elevation_up_snow</label>
              <div class="input-group">
                <input type="number" min="0" minlength="1" name="elevation_up_snow" ng-model="outing.elevation_up_snow" class="form-control" />
                <span class="input-group-addon">m</span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="editForm.elevation_up_snow.$valid && outing.elevation_up_snow"></span>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.elevation_up_snow.$invalid && outing.elevation_up_snow"></span>
              <div class="help-block" ng-messages="editForm.elevation_up_snow.$error">
                <p ng-message="number" class="label label-danger" style="{{ (editForm.elevation_up_snow.$invalid && editForm.elevation_up_snow.$touched) ? 'display:inline' : '' }}" translate>This field must be a number.</p>
              </div>
            </div>

            ## ELEVATION DOWN SNOW
            <div id="elevation_down_snow-group" class="data half form-group" ng-class="{ 'has-error': editForm.elevation_down_snow.$touched && editForm.elevation_down_snow.$invalid,'has-success': outing.elevation_down_snow }"
                 ng-if="outing.activities.indexOf('snow_ice_mixed') > -1 || outing.activities.indexOf('mountain_climbing') > -1 || outing.activities.indexOf('ice_climbing') > -1  || outing.activities.indexOf('snowshoeing') > -1">
              <label translate>elevation_down_snow</label>
              <div class="input-group">
                <input type="number" min="0" minlength="1" name="elevation_down_snow" ng-model="outing.elevation_down_snow" class="form-control" />
                <span class="input-group-addon">m</span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="editForm.elevation_down_snow.$valid && outing.elevation_down_snow"></span>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.elevation_down_snow.$invalid && outing.elevation_down_snow"></span>
              <div class="help-block" ng-messages="editForm.elevation_down_snow.$error">
                <p ng-message="number" class="label label-danger" style="{{ (editForm.elevation_down_snow.$invalid && editForm.elevation_down_snow.$touched) ? 'display:inline' : '' }}" translate>This field must be a number.</p>
              </div>
            </div>

              ## SNOW QUANTITY
            <div id="snow_quantity-group" class="data half form-group" ng-class="{ 'has-error': editForm.snow_quantity.$touched && editForm.snow_quantity.$invalid,'has-success': outing.snow_quantity }"
                 ng-if="outing.activities.indexOf('skitouring') > -1 || outing.activities.indexOf('snowshoeing') > -1 || outing.activities.indexOf('ice_climbing') > -1  || outing.activities.indexOf('mountain_climbing') > -1  || outing.activities.indexOf('snow_ice_mixed') > -1 ">
              <label translate>snow_quantity</label>
              <select class="form-control" ng-model="outing.snow_quantity" ng-options="rat as rat for rat in ${condition_ratings}"><option value=""></option></select>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="outing.snow_quantity"></span>
              <div class="help-block" ng-messages="editForm.snow_quantity.$error">
                <p ng-message="number" class="label label-danger" style="{{ (editForm.snow_quantity.$invalid && editForm.snow_quantity.$touched) ? 'display:inline' : '' }}" translate>This field must be a number.</p>
              </div>
            </div>

            ## SNOW QUALITY
            <div id="snow_quality-group" class="data half form-group" ng-class="{ 'has-error': editForm.snow_quality.$touched && editForm.snow_quality.$invalid,'has-success': outing.snow_quality }"
                 ng-if="outing.activities.indexOf('skitouring') > -1 || outing.activities.indexOf('snowshoeing') > -1 || outing.activities.indexOf('ice_climbing') > -1  || outing.activities.indexOf('mountain_climbing') > -1  || outing.activities.indexOf('snow_ice_mixed') > -1">
              <label translate>snow_quality</label>
              <select class="form-control" ng-model="outing.snow_quality" ng-options="rat as rat for rat in ${condition_ratings}"><option value=""></option></select>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="outing.snow_quality"></span>
              <div class="help-block" ng-messages="editForm.snow_quality.$error">
                <p ng-message="number" class="label label-danger" style="{{ (editForm.snow_quality.$invalid && editForm.snow_quality.$touched) ? 'display:inline' : '' }}" translate>This field must be a number.</p>
              </div>
            </div>
            
            ## GLACIER RATING
            <div class="form-group data half" ng-if="outing.activities.indexOf('skitouring') > -1 || outing.activities.indexOf('snowshoeing') > -1 || outing.activities.indexOf('via_ferrata') > -1  || outing.activities.indexOf('mountain_climbing') > -1  || outing.activities.indexOf('snow_ice_mixed') > -1 ">
              <label translate>glacier_rating</label>
              <div class="input-group" ng-class="{'has-success': outing.glacier_rating }">
                <select class="form-control" ng-model="outing.glacier_rating" ng-options="rat as rat for rat in ${glacier_ratings}"><option value=""></option></select>
                <span class="input-group-addon"><span class="glyphicon glyphicon-star"></span></span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="outing.glacier_rating"></span>
            </div>
                        
            ## AVALANCHE SIGNS
            <div class="form-group data half" ng-class="{'has-success': outing.avalanche_sign}"
                  ng-if="outing.activities.indexOf('skitouring') > -1 || outing.activities.indexOf('snowshoeing') > -1 || outing.activities.indexOf('ice_climbing') > -1 || outing.activities.indexOf('snow_ice_mixed') > -1">
              <label translate>avalanche_sign</label>
              <div class="input-group">
                <select class="form-control" ng-model="outing.avalanche_sign" ng-options="rat as rat for rat in ${avalanche_signs}"><option value=""></option></select>
                <span class="input-group-addon"><span class="glyphicon glyphicon glyphicon-alert"></span></span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="outing.avalanche_sign"></span>
            </div>
                                    
            ## AVALANCHES
            <div class="form-group data full"  ng-if="(outing.activities.indexOf('skitouring') > -1 || outing.activities.indexOf('snowshoeing') > -1 
                      || outing.activities.indexOf('ice_climbing') > -1 || outing.activities.indexOf('snow_ice_mixed') > -1) && (outing.avalanche_sign != 'no' && outing.avalanche_sign != null) ">
              <label translate>avalanches_info</label>
              <textarea class="form-control" ng-model="outing.locales[0]['avalanches']"></textarea>
            </div>
            
          </div>
        </section>
        
        
        <section class="section access">
          <h2 class="heading show-phone">
            <span><span translate>access</span> & <span translate>hut</span></span>
          </h2>

          <div class="content outing-route" id="track-edit">

            ## ACCESS COMMENT
            <div class="form-group data full" ng-class="{'has-success': outing.locales[0].access_comment}">
              <label translate>access_comment</label>
              <textarea class="form-control " ng-model="outing.locales[0].access_comment"></textarea>
            </div>

            ## PUBLIC TRANSPORT 
            <div class="form-group data half" ng-class="{'has-success': outing.public_transport}">
              <label translate>public_transport</label>
              <select class="form-control" ng-model="outing.public_transport" ng-options="rat as rat for rat in ${public_transportation_types}"><option value=""></option></select>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="outing.public_transport"></span>
            </div>

            ## LIFT STATUS
            <div class="form-group data half" ng-class="{'has-success': outing.lift_status}">
              <label translate>lift_status</label>
              <div class="input-group">
                <select class="form-control" ng-model="outing.lift_status" ng-options="rat as rat for rat in ${lift_status}"><option value=""></option></select>
                <span class="input-group-addon"><span class="glyphicon glyphicon-resize-vertical"></span></span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="outing.lift_status"></span>
            </div>
            
            ## HUT COMMENT
            <div class="form-group data full" ng-class="{'has-success': outing.locales[0].hut_comment}">
              <label translate>hut_comment</label>
              <textarea class="form-control " ng-model="outing.locales[0].hut_comment"></textarea>
            </div>

            ## HUT STATUS
            <div class="form-group data half" ng-class="{'has-success': outing.hut_status}">
              <label translate>hut_status</label>
              <div class="input-group">
                <select class="form-control" ng-model="outing.hut_status" ng-options="rat as rat for rat in ${hut_status}"><option value=""></option></select>
                <span class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="outing.hut_status"></span>
            </div>

            ## ELEVATION ACCESS
            <div id="elevation_access-group" class="data half form-group" ng-class="{ 'has-error': editForm.elevation_access.$touched && editForm.elevation_access.$invalid,'has-success': outing.elevation_access }">
              <label translate>elevation_access</label>
              <div class="input-group">
                <input type="number" min="0" minlength="1" name="elevation_access" ng-model="outing.elevation_access" class="form-control" />
                <span class="input-group-addon">m</span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="editForm.elevation_access.$valid && outing.elevation_access"></span>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.elevation_access.$invalid && outing.elevation_access"></span>
              <div class="help-block" ng-messages="editForm.elevation_access.$error">
                <p ng-message="number" class="label label-danger" style="{{ (editForm.elevation_access.$invalid && editForm.elevation_access.$touched) ? 'display:inline' : '' }}" translate>This field must be a number.</p>
              </div>
            </div>

            ## ACCESS CONDITION
            <div class="form-group data half"  ng-class="{'has-success': outing.access_condition}">
              <label translate>access_condition</label>
              <div class="input-group">
                <select class="form-control" ng-model="outing.access_condition" ng-options="rat as rat for rat in ${access_conditions}"><option value=""></option></select>
                <span class="input-group-addon"><span class="glyphicon glyphicon-road"></span></span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="outing.access_condition"></span>
            </div>

          </div>
        </section>
        
      </div>

      <div class="step step-3">
        <section class="section">
          <h2 class="heading show-phone"><span translate>comments</span></h2>
          <div class="content collapse in">

            ## TITLE
            <div class="form-group" id="title-group" ng-class="{ 'has-error': editForm.title.$touched && editForm.title.$invalid, 'has-success': editForm.title.$valid }">
              <label><span translate>outing title</span> *</label>
              <input type="text" name="title" ng-model="outing.locales[0].title" ng-minlength="3"class="form-control" required/>
              <div class="help-block" ng-messages="editForm.title.$error">
                <p ng-message="required" class="label label-danger" style="{{ (editForm.title.$invalid && editForm.title.$touched) ? 'display:inline' : '' }}" translate>This field is required.</p>
                <p ng-message="minlength" class="label label-danger" style="{{ (editForm.title.$invalid && editForm.title.$touched) ? 'display:inline' : '' }}" translate>Title must have at least 3 characters.</p>
              </div>
            </div>

            ## LANGUAGE
            <div id="lang-group" class="form-group" ng-class="{ 'has-error': editForm.lang.$touched && editForm.lang.$invalid, 'has-success': editForm.lang.$valid}">
              <label><span translate>lang</span> *</label>
              % if outing_lang:
                <input disabled x-translate class="form-control" value="${outing_lang}">
              % else:
                <select name="lang" ng-options="lang as mainCtrl.translate(lang) for lang in ['${"','".join(default_langs) |n}'] | translate" ng-model="outing.locales[0].lang" class="form-control" required><option value=""></option></select>
              % endif
                <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="outing.locales[0].lang"></span>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.lang.$touched && editForm.lang.$invalid"></span>
              <div class="help-block" ng-messages="editForm.lang.$error">
                <p ng-message="required" class="label label-danger" style="{{ (editForm.lang.$invalid && editForm.lang.$touched) ? 'display:inline' : '' }}" translate>This field is required.</p>
              </div>
            </div>

            ## ASSOCIATED PARTICIPANTS
            ## todo: better to show all users in one row, will have to convert users in controller.
            <div id="participants-group" class="form-group data full" ng-class="{'has-success': outing.locales[0]['participants']}">
              <app-simple-search parent-id="document.document_id" app-select="editCtrl.documentService.pushToAssociations(doc)" dataset="u"></app-simple-search>
              <section class="section associations" ng-show="outing.associations.users.length > 0">
                <label translate>associated_participants</label>
                
                <section class="associated-section">
                  <article class="associated-documents">
                    <h5 translate ng-show="document.associations.users.length == 0">you can look up for users that were with you during the outing.</h5>
                    <div class="list-item outing user-id-{{user.document_id}}" ng-repeat="user in outing.associations.users">
                      <a>
                        <div class="outing-author text-center">
                          <span class="icon-user"></span><br>
                        </div>
                        <div class="list-item-info">
                          <span class="list-item-title outing">{{user.username}}</span>
                        </div>
                      </a>
                      <span class="glyphicon glyphicon-trash" ng-click="editCtrl.documentService.removeAssociation(user.document_id, 'users')"></span>
                    </div>
                  </article>
                </section>
                
              </section>
            </div>

            ## PARTICIPANTS
            <div id="participants-group" class="form-group data full" ng-class="{'has-success': outing.locales[0]['participants']}">
              <label translate>participants</label>
              <div class="input-group">
                <input type="text"  ng-model="outing.locales[0]['participants']" class="form-control" />
                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
              </div>
            </div>

            ## NUMBER OF PARTICIPANTS
            <div id="participants-group" class="form-group data half" ng-class="{'has-success': outing.participant_count }">
              <label translate>participant_count</label>
              <div class="input-group">
                <input type="number" min="1" ng-model="outing.participant_count" class="form-control" />
                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
              </div>
            </div>
            
            ## COMMENT
            <div class="data full form-group">
              <label translate>personal comment</label>
              <textarea class="form-control description" placeholder="{{mainCtrl.translate('write your comment')}}" ng-model="outing.locales[0]['description']"></textarea>
            </div>

          </div>   
        </section>

      </div>
      
      <div class="step step-4"></div>
          
      <div class="step step-5">
        <section class="section summary">
          <h2 class="heading show-phone"><span translate>summary</span></h2>

          <div class="content collapse in" id="title-edit">
            <%include file="create_edit_summary.html" />
            % if updating_doc:
            <div id="message-group" class="form-group">
              <label translate>Comment about the changes</label>
              <input type="text" name="message" ng-model="outing.message" class="form-control" placeholder="{{'Short description of the applied changes'|translate}}" />
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="outing.message"></span>
            </div>
            % endif
            
            ## QUALITY
            <div class="form-group" ng-style="{'has-success': outing.quality}" ng-init="qualityTypes = ${quality_types}">
              ## I tried with ng-init, ng-selected..so hacking
              <div class="ng-hide">{{outing.quality = outing.quality || qualityTypes[1]}}</div>
              <label translate>document_quality</label>
              <select ng-options="type as mainCtrl.translate(type) for type in qualityTypes" ng-model="outing.quality" class="form-control"><option value=""></option></select>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="outing.quality"></span>
            </div>
            
          </div>
        </section>

        <p  class="action-buttons float-buttons">
          <button type="submit" class="btn btn-lg orange-btn float-button" ng-disabled="editForm.$invalid || editForm.$pristine"  tooltip-placement="left" uib-tooltip="{{'Save' | translate}}">
            <span class="glyphicon glyphicon-ok"></span>
          </button>
          <%
          view_url = request.route_url('outings_view', id=outing_id, lang=outing_lang) if updating_doc else ''
          index_url = request.route_url('outings_index')
          %>
          <button type="button" class="btn btn-lg gray-btn float-button" ng-click="editCtrl.cancel('${view_url}', '${index_url}')"  tooltip-placement="left" uib-tooltip="{{'Cancel' | translate}}">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </p>
        
      </div>
    </section>
  </form>
</section>
