<%!
from c2corg_common.attributes import default_langs, activities, condition_ratings, \
    hut_status, lift_status, frequentation_types, avalanche_signs, \
    route_duration_types, access_conditions, glacier_ratings
%>

<%inherit file="../base.html"/>

<%
updating_doc = outing_id and outing_lang
%>

<%namespace file="../helpers/common.html" import="show_title"/>
<%namespace file="../helpers/edit.html" import="show_editing_associated_waypoints,
    show_editing_associated_routes,show_preview_container, show_save_confirmation_modal,
    show_editing_buttons, show_protected_warning"/>

<%block name="pagetitle"><title ng-init="id=${outing_id if outing_id else 0}" ng-bind="id ? mainCtrl.page_title('Editing an outing') : mainCtrl.page_title('Creating an outing')">${show_title('Create/edit outing')}</title></%block>
<%block name="metarobots"><meta name="robots" content="noindex,nofollow"></%block>

<section class="create-edit-document">

  <h1 ng-cloak ng-init="id=${outing_id if outing_id else 0}"
      ng-bind="id ? ('Editing an outing' | translate) : ('Creating an outing' | translate)"
      class="text-center"></h1>

  <form app-loading app-document-editing="outings" app-document-editing-model="outing"
    app-document-editing-controller-name="appOutingEditingController"
  % if updating_doc:
    app-document-editing-id="${outing_id}" app-document-editing-lang="${outing_lang}"
  % endif
    name="editForm" novalidate ng-submit="editCtrl.confirmSave(editForm.$valid)" class="document-editing">

    <app-progress-bar>
      ## It won't work with ng-init
      <span class="ng-hide">{{progressBarCtrl.maxSteps = 3}}</span>

      ## PROGRESS BAR
      <ul class="progress-bar-edit">
        <li class="nav-step-1" ng-click="progressBarCtrl.step(1, 'outing',  'backwards')" ng-class="{'nav-step-selected': progressBarCtrl.currentStep == 1 }"><span class="nav-text"><span translate>track</span></span><span class="bullet-container"><span class="bullet"></span></span></li>
        <li class="nav-step-2" ng-click="progressBarCtrl.step(2, 'outing', progressBarCtrl.previousStep >= 2 ? 'backwards' : 'forwards')"><span class="nav-text"><span translate>weather</span> & <span translate>conditions</span></span><span class="bullet-container"><span class="bullet"></span></span></li>
        <li class="nav-step-3" ng-click="progressBarCtrl.step(3, 'outing', progressBarCtrl.previousStep >= 3 ? 'backwards' : 'forwards')"><span class="nav-text"><span translate>personal informations</span></span><span class="bullet-container"><span class="bullet"></span></span></li>
      </ul>

      ## NAV BUTTONS
      <div class="nav-buttons">
        <button class="btn btn-primary prev" type="button" ng-if="progressBarCtrl.previousStep !== 0" ng-click="progressBarCtrl.step(progressBarCtrl.previousStep, 'outing', 'backwards')"><span class="glyphicon glyphicon-triangle-left"></span></button>
        <button class="btn btn-primary next" type="button" ng-if="progressBarCtrl.nextStep <= progressBarCtrl.maxSteps" ng-click="progressBarCtrl.step(progressBarCtrl.nextStep, 'outing', 'forwards')"><span class="glyphicon glyphicon-triangle-right"></span></button>
      </div>
    </app-progress-bar>

    ${show_protected_warning('outing')}

    <section class="editing outing">
      <div class="step step-1">

        <section class="section title">
          <h2 class="heading show-phone" translate>general informations</h2>
          <div class="content collapse in" id="title-edit">

            ## DATE START
            <div class="date form-group" ng-init="openDateStart = false">
              <label><span translate>date_start</span> *</label>
              <div class="input-group" ng-model="outing.date_start" datepicker-options="{maxDate : editCtrl.dateMaxStart}"
                   uib-datepicker-popup="dd MM yyyy" is-open="openDateStart" ng-change="editCtrl.dateMinEnd = outing.date_start">
                <input type="text" disabled class="form-control" value="{{outing.date_start | amDateFormat:'Do MMMM YYYY' }}" required/>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="openDateStart = true"><span class="glyphicon glyphicon-calendar"></span></button>
                </span>
              </div>
            </div>

            ## DATE END
            <div class="date form-group flex flexend-align" ng-init="openDateEnd = false">
              <div ng-show="editCtrl.differentDates">
                <label><span translate>date_end </span></label>
                <div class="input-group" ng-model="outing.date_end" datepicker-options="{maxDate : editCtrl.dateMaxEnd, minDate: editCtrl.dateMinEnd}"
                     uib-datepicker-popup="dd MM yyyy" is-open="openDateEnd" ng-change="editCtrl.dateMaxStart = outing.date_end">
                  <input disabled type="text" class="form-control" value="{{outing.date_end | amDateFormat:'Do MMMM YYYY' }}"/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openDateEnd = true"><span class="glyphicon glyphicon-calendar"></span></button>
                  </span>
                </div>
                <span class="glyphicon glyphicon-remove form-control-feedback pointer" ng-click="editCtrl.differentDates = false; outing.date_end = undefined; editCtrl.dateMaxStart = editCtrl.today;"></span>
              </div>
              <div ng-click="editCtrl.differentDates = true" ng-show="!editCtrl.differentDates" class="flex flexend-align">
                <button class="btn orange-btn" type="button" translate>Several days?</button>
              </div>
            </div>

            ## ACTIVITIES
            <div class="form-group full" id="outing-activities" ng-init="activities = ${activities}">
              <label app-context-help context-help-title="{{'activities' | translate}}" context-help-content-url="/static/partials/contexthelp/activities.html"><span translate>activities</span> *</label>
              <div class="route-activities">
                <div ng-repeat="activity in activities" class="activity">
                  <div>
                    <div class="icon-{{activity}}" class="icon-" ng-click="editCtrl.pushToArray(outing, 'activities', activity, $event)"
                         ng-class="{'activity-selected' : outing.activities.indexOf(activity) > -1}">
                    </div>
                    <p>{{activity | translate}}</p>
                  </div>
                </div>
              </div>
            </div>

            ## MAP
            <div class="full form-group">
              <label translate>Track</label>
              <div class="track">
                <app-gpx-upload></app-gpx-upload>
                <div class="track-tip" translate>You may also drag, draw or edit the track on the map.</div>
              </div>
              <app-map app-map-edit="true" app-map-show-recenter-tools="true" app-map-draw-type="LineString" class="map-edit"></app-map>
            </div>

            ## ROUTE TAKEN
            <div class="full form-group">
              <label><span translate>Taken routes</span> *</label>
              <h5 translate ng-show="outing.associations.routes.length == 0">Choose at least one route taken during the outing.</h5>
              <app-simple-search parent-id="outing.document_id"
                app-select="editCtrl.documentService.pushToAssociations(doc, 'routes', true)" dataset="r"></app-simple-search>
            </div>

            <section class="section associations full route-associations">
              ${show_editing_associated_routes('outing', True)}
            </section>

            ## ROUTE DESCRIPTION
            <div class="full form-group">
              <label translate>route_description</label>
              <textarea app-markdown-editor class="form-control" ng-model="outing.locales[0].route_description" placeholder="{{'describe route_conditions' | translate}}"></textarea>
            </div>

            ## TIMING
            <div class="full form-group">
              <label translate>timing</label>
              <textarea app-markdown-editor class="form-control" ng-model="outing.locales[0]['timing']" placeholder="{{'describe timing' | translate}}"></textarea>
            </div>

            ## PARTIAL TRIP
            <div class="form-group half">
              <label translate>partial_trip</label>
              <input type="checkbox" ng-model="outing.partial_trip" ng-checked="outing.partial_trip == true">
              <span ng-click="editCtrl.pushToArray(outing, 'partial_trip', !outing.partial_trip, $event)"></span>
            </div>

            ## LENGTH TOTAL
            <div id="length_total-group" class="half form-group"
                 ng-class="{ 'has-feedback': editForm.length_total.$touched,
                             'has-error': editForm.length_total.$touched && editForm.length_total.$invalid,
                             'has-success': outing.length_total }">
              <label ng-class="{ 'control-label': editForm.length_total.$touched && editForm.length_total.$invalid }" translate>length_total</label>
              <div class="input-group">
                <input type="number" min="0" minlength="1" step="any" name="length_total" ng-model="outing.length_total" class="form-control" />
                <span class="input-group-addon">km</span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="editForm.length_total.$valid && outing.length_total"></span>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.length_total.$touched && editForm.length_total.$invalid"></span>
              <div class="help-block" ng-messages="editForm.length_total.$error" ng-if="editForm.length_total.$touched && editForm.length_total.$invalid">
                <p ng-message="number" translate>This field must be a number.</p>
              </div>
            </div>

            ## ELEVATION MIN
            <div id="elevation_min-group" class="half remain form-group"
                 ng-class="{ 'has-feedback': editForm.elevation_min.$touched,
                             'has-error': editForm.elevation_min.$touched && editForm.elevation_min.$invalid,
                             'has-success': outing.elevation_min }">
              <label ng-class="{ 'control-label': editForm.elevation_min.$touched && editForm.elevation_min.$invalid }" translate>elevation_min</label>
              <div class="input-group">
                <input type="number" min="0" max="9999" minlength="1" name="elevation_min" ng-model="outing.elevation_min" class="form-control" />
                <span class="input-group-addon">m</span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="editForm.elevation_min.$valid && outing.elevation_min"></span>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.elevation_min.$touched && editForm.elevation_min.$invalid"></span>
              <div class="help-block" ng-messages="editForm.elevation_min.$error" ng-if="editForm.elevation_min.$touched && editForm.elevation_min.$invalid">
                <p ng-message="max" translate>This field must be lower than 9999 m.</p>
                <p ng-message="number" translate>This field must be a number.</p>
              </div>
            </div>

            ## ELEVATION MAX
            <div id="elevation_max-group" class="half remain form-group"
                 ng-class="{ 'has-feedback': editForm.elevation_max.$touched,
                             'has-error': editForm.elevation_max.$touched && editForm.elevation_max.$invalid,
                             'has-success': outing.elevation_max }">
              <label ng-class="{ 'control-label': editForm.elevation_max.$touched && editForm.elevation_max.$invalid }" translate>elevation_max</label>
              <div class="input-group">
                <input type="number" min="0" max="9999" minlength="1" name="elevation_max" ng-model="outing.elevation_max" class="form-control" />
                <span class="input-group-addon">m</span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="editForm.elevation_max.$valid && outing.elevation_max"></span>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.elevation_max.$touched && editForm.elevation_max.$invalid"></span>
              <div class="help-block" ng-messages="editForm.elevation_max.$error" ng-if="editForm.elevation_max.$touched && editForm.elevation_max.$invalid">
                <p ng-message="max" translate>This field must be lower than 9999 m.</p>
                <p ng-message="number" translate>This field must be a number.</p>
              </div>
            </div>

            ## HEIGHT DIFF UP
            <div id="height_diff_up-group" class="half remain form-group"
                 ng-class="{ 'has-feedback': editForm.height_diff_up.$touched,
                             'has-error': editForm.height_diff_up.$touched && editForm.height_diff_up.$invalid,
                             'has-success': outing.height_diff_up }">
              <label ng-class="{ 'control-label': editForm.height_diff_up.$touched && editForm.height_diff_up.$invalid }" translate>height_diff_up</label>
              <div class="input-group">
                <input type="number" min="0" minlength="1" name="height_diff_up" ng-model="outing.height_diff_up" class="form-control" />
                <span class="input-group-addon">m</span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="editForm.height_diff_up.$valid && outing.height_diff_up"></span>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.height_diff_up.$touched && editForm.height_diff_up.$invalid"></span>
              <div class="help-block" ng-messages="editForm.height_diff_up.$error" ng-if="editForm.height_diff_up.$touched && editForm.height_diff_up.$invalid">
                <p ng-message="number" translate>This field must be a number.</p>
              </div>
            </div>

            ## HEIGHT DIFF DOWN
            <div id="height_diff_down-group" class="half remain form-group"
                 ng-class="{ 'has-feedback': editForm.height_diff_down.$touched,
                             'has-error': editForm.height_diff_down.$touched && editForm.height_diff_down.$invalid,
                             'has-success': outing.height_diff_down }">
              <label ng-class="{ 'control-label': editForm.height_diff_down.$touched && editForm.height_diff_down.$invalid }" translate>height_diff_down</label>
              <div ng-class="{ 'control-label': editForm.height_diff_down.$touched && editForm.height_diff_down.$invalid }" class="input-group">
                <input type="number" min="0" minlength="1" name="height_diff_down" ng-model="outing.height_diff_down" class="form-control" />
                <span class="input-group-addon">m</span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="editForm.height_diff_down.$valid && outing.height_diff_down"></span>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.height_diff_down.$touched && editForm.height_diff_down.$invalid"></span>
              <div class="help-block" ng-messages="editForm.height_diff_down.$error" ng-if="editForm.height_diff_down.$touched && editForm.height_diff_down.$invalid">
                <p ng-message="number" translate>This field must be a number.</p>
              </div>
            </div>
            <section class="section associations" ng-if="outing.associations.waypoints.length > 0">
              <div class=" full route-associations">
                ${show_editing_associated_waypoints('outing')}
              </div>
            </section>
          </div>
        </section>
      </div>

      <div class="step step-2">
        <section class="section conditions">
          <h2 class="heading show-phone"><span><span translate>weather</span> & <span translate>conditions</span></span></h2>
          <div class="content collapse in" id="outing-conditions">

            ## WEATHER
            <div class="full form-group">
              <label translate>weather</label>
              <textarea app-markdown-editor class="form-control" ng-model="outing.locales[0]['weather']" placeholder="{{'describe weather' | translate}}"></textarea>
            </div>

            ## CONDITIONS LEVELS
            <div class="full form-group"
                 ng-if="outing.activities.indexOf('skitouring') > -1 || outing.activities.indexOf('snowshoeing') > -1 || outing.activities.indexOf('ice_climbing') > -1 || outing.activities.indexOf('snow_ice_mixed') > -1 ">
              <label translate>conditions_levels</label>
              <table class="table table-striped conditions-levels" ng-if="outing.locales[0].conditions_levels[0]">
                <thead>
                  <tr>
                    <th class="location"><span translate>location</span> / <span translate>elevation</span> / <span translate>orientations</span></th>
                    <th class="soft-snow"><span translate>soft snow</span> (cm)</th>
                    <th class="total-snow"><span translate>total snow</span> (cm)</th>
                    <th class="comment" translate>comment</th>
                    <th class="delete"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="cond in outing.locales[0].conditions_levels">
                    <td><input type="text" class="form-control" ng-model="outing.locales[0].conditions_levels[$index].level_place"></td>
                    <td><input type="text" class="form-control" ng-model="outing.locales[0].conditions_levels[$index].level_snow_height_soft"></td>
                    <td><input type="text" class="form-control" ng-model="outing.locales[0].conditions_levels[$index].level_snow_height_total"></td>
                    <td><input type="text" class="form-control" ng-model="outing.locales[0].conditions_levels[$index].level_comment"></td>
                    <td ng-click="outing.locales[0].conditions_levels.splice($index, 1)"><span class="glyphicon glyphicon-trash"></span></td>
                  </tr>
                </tbody>
              </table>
              <button class="btn orange-btn" type="button" ng-click="outing.locales[0].conditions_levels.push({})" translate>add row</button>
            </div>

            ## CONDITIONS
            <div class=" full form-group">
              <label translate>conditions</label>
              <textarea app-markdown-editor class="form-control" ng-model="outing.locales[0]['conditions']" placeholder="{{'describe conditions' | translate}}"></textarea>
            </div>

            ## CONDITION RATING
            <div class="form-group half" ng-class="{'has-success': outing.condition_rating}" ng-init="condition_ratings = ${condition_ratings}">
              <label translate>condition_rating</label>
              <div class="input-group">
                <select class="form-control" ng-model="outing.condition_rating" ng-options="rat as mainCtrl.translate(rat) for rat in condition_ratings"><option value=""></option></select>
                <span class="input-group-addon"><span class="glyphicon glyphicon-star"></span></span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="outing.condition_rating"></span>
            </div>

            ## ELEVATION UP SNOW
            <div id="elevation_up_snow-group" class="half form-group"
                 ng-class="{ 'has-feedback': editForm.elevation_up_snow.$touched,
                             'has-error': editForm.elevation_up_snow.$touched && editForm.elevation_up_snow.$invalid,
                             'has-success': outing.elevation_up_snow }"
                 ng-if="outing.activities.indexOf('skitouring') > -1 || outing.activities.indexOf('snowshoeing') > -1 || outing.activities.indexOf('ice_climbing') > -1  || outing.activities.indexOf('mountain_climbing') > -1  || outing.activities.indexOf('snow_ice_mixed') > -1">
              <label ng-class="{ 'control-label': editForm.elevation_up_snow.$touched && editForm.elevation_up_snow.$invalid }" translate>elevation_up_snow</label>
              <div class="input-group">
                <input type="number" min="0" max="9999" minlength="1" name="elevation_up_snow" ng-model="outing.elevation_up_snow" class="form-control" />
                <span class="input-group-addon">m</span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="editForm.elevation_up_snow.$valid && outing.elevation_up_snow"></span>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.elevation_up_snow.$touched && editForm.elevation_up_snow.$invalid"></span>
              <div class="help-block" ng-messages="editForm.elevation_up_snow.$error" ng-if="editForm.elevation_up_snow.$touched && editForm.elevation_up_snow.$invalid">
                <p ng-message="max" translate>This field must be lower than 9999 m.</p>
                <p ng-message="number" translate>This field must be a number.</p>
              </div>
            </div>

            ## ELEVATION DOWN SNOW
            <div id="elevation_down_snow-group" class="half form-group"
                 ng-class="{ 'has-feedback': editForm.elevation_down_snow.$touched,
                             'has-error': editForm.elevation_down_snow.$touched && editForm.elevation_down_snow.$invalid,
                             'has-success': outing.elevation_down_snow }"
                 ng-if="outing.activities.indexOf('snow_ice_mixed') > -1 || outing.activities.indexOf('mountain_climbing') > -1 || outing.activities.indexOf('ice_climbing') > -1  || outing.activities.indexOf('snowshoeing') > -1 || outing.activities.indexOf('skitouring') > -1">
              <label ng-class="{ 'control-label': editForm.elevation_down_snow.$touched && editForm.elevation_down_snow.$invalid }" translate>elevation_down_snow</label>
              <div class="input-group">
                <input type="number" min="0" max="9999" minlength="1" name="elevation_down_snow" ng-model="outing.elevation_down_snow" class="form-control" />
                <span class="input-group-addon">m</span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="editForm.elevation_down_snow.$valid && outing.elevation_down_snow"></span>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.elevation_down_snow.$touched && editForm.elevation_down_snow.$invalid"></span>
              <div class="help-block" ng-messages="editForm.elevation_down_snow.$error" ng-if="editForm.elevation_down_snow.$touched && editForm.elevation_down_snow.$invalid">
                <p ng-message="max" translate>This field must be lower than 9999m.</p>
                <p ng-message="number" translate>This field must be a number.</p>
              </div>
            </div>

              ## SNOW QUANTITY
            <div id="snow_quantity-group" class="half form-group" ng-class="{ 'has-error': editForm.snow_quantity.$touched && editForm.snow_quantity.$invalid,'has-success': outing.snow_quantity }"
                 ng-if="outing.activities.indexOf('skitouring') > -1 || outing.activities.indexOf('snowshoeing') > -1 || outing.activities.indexOf('ice_climbing') > -1  || outing.activities.indexOf('mountain_climbing') > -1  || outing.activities.indexOf('snow_ice_mixed') > -1 ">
              <label translate>snow_quantity</label>
              <select class="form-control" ng-model="outing.snow_quantity" ng-options="rat as mainCtrl.translate(rat) for rat in ${condition_ratings}"><option value=""></option></select>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="outing.snow_quantity"></span>
            </div>

            ## SNOW QUALITY
            <div id="snow_quality-group" class="half form-group" ng-class="{ 'has-error': editForm.snow_quality.$touched && editForm.snow_quality.$invalid,'has-success': outing.snow_quality }"
                 ng-if="outing.activities.indexOf('skitouring') > -1 || outing.activities.indexOf('snowshoeing') > -1 || outing.activities.indexOf('ice_climbing') > -1  || outing.activities.indexOf('mountain_climbing') > -1  || outing.activities.indexOf('snow_ice_mixed') > -1">
              <label translate>snow_quality</label>
              <select class="form-control" ng-model="outing.snow_quality" ng-options="rat as mainCtrl.translate(rat) for rat in ${condition_ratings}"><option value=""></option></select>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="outing.snow_quality"></span>
            </div>

            ## GLACIER RATING
            <div class="form-group half" ng-if="outing.activities.indexOf('skitouring') > -1 || outing.activities.indexOf('snowshoeing') > -1 || outing.activities.indexOf('mountain_climbing') > -1  || outing.activities.indexOf('snow_ice_mixed') > -1 ">
              <label translate>glacier_rating</label>
              <div class="input-group" ng-class="{'has-success': outing.glacier_rating }">
                <select class="form-control" ng-model="outing.glacier_rating" ng-options="rat as mainCtrl.translate(rat) for rat in ${glacier_ratings}"><option value=""></option></select>
                <span class="input-group-addon"><span class="glyphicon glyphicon-star"></span></span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="outing.glacier_rating"></span>
            </div>

            ## AVALANCHE SIGNS
            <div class="form-group full" ng-init="signs = ${avalanche_signs}; outing.avalanche_signs = outing.avalanche_signs || [];"
                  ng-if="outing.activities.indexOf('skitouring') > -1 || outing.activities.indexOf('snowshoeing') > -1 || outing.activities.indexOf('ice_climbing') > -1 || outing.activities.indexOf('snow_ice_mixed') > -1">
              <label translate>avalanche_signs</label>
              <ul class="types">
                <li ng-click="outing.avalanche_signs.indexOf('no') == -1 ? (outing.avalanche_signs = ['no']) : (outing.avalanche_signs[outing.avalanche_signs.indexOf('no')] = null)">
                  <div class="checkbox"><input type="checkbox" ng-checked="outing.avalanche_signs.indexOf('no') > -1"><span translate>no</span></div>
                </li>
                ## don't show other options if 'no' is selected
                <li ng-repeat="type in signs" ng-click="editCtrl.pushToArray(outing, 'avalanche_signs', type, $event)" ng-if="$index > 0 && outing.avalanche_signs.indexOf('no') == -1">
                  <div class="checkbox"><input type="checkbox" ng-checked="outing.avalanche_signs.indexOf(type) > -1"><span>{{type | translate}}</span></div>
                </li>
              </ul>
            </div>

            ## AVALANCHES
            <div class="form-group  full"  ng-if="(outing.activities.indexOf('skitouring') > -1 || outing.activities.indexOf('snowshoeing') > -1
                      || outing.activities.indexOf('ice_climbing') > -1 || outing.activities.indexOf('snow_ice_mixed') > -1) && (outing.avalanche_signs != 'no' && outing.avalanche_signs != null) ">
              <label translate>avalanches</label>
              <textarea app-markdown-editor class="form-control" ng-model="outing.locales[0]['avalanches']"></textarea>
            </div>

          </div>
        </section>

        <section class="section access">
          <h2 class="heading show-phone">
            <span><span translate>access</span> & <span translate>hut</span></span>
          </h2>

          <div class="content outing-route" id="track-edit">

            ## PUBLIC TRANSPORT
            <div class="form-group half" ng-class="{'has-success': outing.public_transport != undefined}">
              <label translate>public_transport</label>
              <input type="checkbox" ng-model="outing.public_transport" ng-checked="outing.public_transport == true">
              <span ng-click="editCtrl.pushToArray(outing, 'public_transport', !outing.public_transport, $event)"></span>
            </div>

            ## FREQUENTATION
            <div class="form-group half" ng-class="{'has-success': outing.frequentation}" ng-init="frequentation_types = ${frequentation_types}">
              <label translate>frequentation</label>
              <select class="form-control" ng-model="outing.frequentation" ng-options="rat as mainCtrl.translate(rat) for rat in frequentation_types"><option value=""></option></select>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="outing.frequentation"></span>
            </div>

            ## LIFT STATUS
            <div class="form-group half" ng-class="{'has-success': outing.lift_status}" ng-init="lift_status = ${lift_status}">
              <label translate>lift_status</label>
              <div class="input-group">
                <select class="form-control" ng-model="outing.lift_status" ng-options="rat as mainCtrl.translate(rat) for rat in lift_status"><option value=""></option></select>
                <span class="input-group-addon"><span class="glyphicon glyphicon-resize-vertical"></span></span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="outing.lift_status"></span>
            </div>

            ## HUT COMMENT
            <div class="form-group  full" ng-class="{'has-success': outing.locales[0].hut_comment}">
              <label translate>hut_comment</label>
              <textarea app-markdown-editor class="form-control " ng-model="outing.locales[0].hut_comment"></textarea>
            </div>

            ## HUT STATUS
            <div class="form-group half" ng-class="{'has-success': outing.hut_status}" ng-init="hut_status = ${hut_status}">
              <label translate>hut_status</label>
              <div class="input-group">
                <select class="form-control" ng-model="outing.hut_status" ng-options="rat as mainCtrl.translate(rat) for rat in hut_status"><option value=""></option></select>
                <span class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="outing.hut_status"></span>
            </div>

            ## ELEVATION ACCESS
            <div id="elevation_access-group" class="half form-group"
                 ng-class="{ 'has-feedback': editForm.elevation_access.$touched,
                             'has-error': editForm.elevation_access.$touched && editForm.elevation_access.$invalid,'has-success': outing.elevation_access }">
              <label ng-class="{ 'control-label': editForm.elevation_access.$touched && editForm.elevation_access.$invalid }" translate>elevation_access</label>
              <div class="input-group">
                <input type="number" min="0" max="9999" minlength="1" name="elevation_access" ng-model="outing.elevation_access" class="form-control" />
                <span class="input-group-addon">m</span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="editForm.elevation_access.$valid && outing.elevation_access"></span>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.elevation_access.$touched && editForm.elevation_access.$invalid"></span>
              <div class="help-block" ng-messages="editForm.elevation_access.$error" ng-if="editForm.elevation_access.$touched && editForm.elevation_access.$invalid">
                <p ng-message="max" translate>This field must be lower than 9999 m.</p>
                <p ng-message="number" translate>This field must be a number.</p>
              </div>
            </div>

            ## ACCESS CONDITION
            <div class="form-group half"  ng-class="{'has-success': outing.access_condition}" ng-init="access_conditions = ${access_conditions}">
              <label translate>access_condition</label>
              <div class="input-group">
                <select class="form-control" ng-model="outing.access_condition" ng-options="rat as mainCtrl.translate(rat) for rat in access_conditions"><option value=""></option></select>
                <span class="input-group-addon"><span class="glyphicon glyphicon-road"></span></span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="outing.access_condition"></span>
            </div>

            ## ACCESS COMMENT
            <div class="form-group data full" ng-class="{'has-success': outing.locales[0].access_comment}">
              <label translate>access_comment</label>
              <textarea app-markdown-editor class="form-control " ng-model="outing.locales[0].access_comment"></textarea>
            </div>

          </div>
        </section>

      </div>

      <div class="step step-3">
        <section class="section">
          <h2 class="heading show-phone"><span translate>Comments</span></h2>
          <div class="content collapse in">

            ## TITLE
            <div class="form-group" id="title-group"
                 ng-class="{ 'has-feedback': editForm.title.$touched,
                             'has-error': editForm.title.$touched && editForm.title.$invalid,
                             'has-success': editForm.title.$valid }">
              <label ng-class="{ 'control-label': editForm.title.$touched && editForm.title.$invalid }"><span translate>outing title</span> *</label>
              <input type="text" name="title" ng-model="outing.locales[0].title" ng-minlength="3" class="form-control" required/>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="editForm.title.$valid && outing.title"></span>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.title.$touched && editForm.title.$invalid"></span>
              <div class="help-block" ng-messages="editForm.title.$error" ng-if="editForm.title.$touched && editForm.title.$invalid">
                <p ng-message="required" translate>This field is required.</p>
                <p ng-message="minlength" translate>Title must have at least 3 characters.</p>
              </div>
            </div>

            ## LANGUAGE
            <div id="lang-group" class="form-group"
                 ng-class="{ 'has-feedback': editForm.lang.$touched,
                             'has-error': editForm.lang.$touched && editForm.lang.$invalid,
                             'has-success': editForm.lang.$valid}">
              <label ng-class="{ 'control-label': editForm.lang.$touched && editForm.lang.$invalid }"><span translate>lang</span> *</label>
              % if outing_lang:
                <input disabled class="form-control" value="{{mainCtrl.translate('${outing_lang}')}}">
                <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="editForm.lang.$valid && outing.lang"></span>
                <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.lang.$invalid && outing.lang"></span>
              % else:
                <select name="lang" ng-options="lang as mainCtrl.translate(lang) for lang in ['${"','".join(default_langs) |n}'] | translate" ng-model="outing.locales[0].lang" class="form-control" required><option value=""></option></select>
              % endif
              <div class="help-block" ng-messages="editForm.lang.$error" ng-if="editForm.lang.$touched && editForm.lang.$invalid">
                <p ng-message="required" translate>This field is required.</p>
              </div>
            </div>

            ## ASSOCIATED PARTICIPANTS
            ## TODO better to show all users in one row, will have to convert users in controller.
            <div id="participants-group" class="form-group  full" ng-class="{'has-success': outing.locales[0]['participants']}">
              <label translate>associated_participants</label>

              <section class="section associations" ng-show="outing.associations.users.length > 0">
                <app-simple-search parent-id="outing.document_id"
                                   app-select="editCtrl.documentService.pushToAssociations(doc, 'users')" dataset="u"></app-simple-search>
                <section class="associated-section flex wrap-row">
                  <h5 translate ng-show="outing.associations.users.length == 0">You can look up for users that were with you during the outing.</h5>
                  <div class="list-item users new-item" ng-repeat="user in outing.associations.users track by user.name">
                    <app-card app-card-doc="{'name': user['name'], 'type': 'u', 'locales': [] }"></app-card>
                    <span class="glyphicon glyphicon-trash"
                          ng-click="editCtrl.documentService.removeAssociation(user.document_id, 'users', $event)"
                          ng-show="outing.associations.users.length > 1"></span>
                  </div>
                </section>

              </section>
            </div>

            ## PARTICIPANTS
            <div id="participants-group" class="form-group  full" ng-class="{'has-success': outing.locales[0]['participants']}">
              <label translate>participants</label>
              <div class="input-group">
                <input type="text"  ng-model="outing.locales[0]['participants']" class="form-control" />
                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
              </div>
            </div>

            ## NUMBER OF PARTICIPANTS
            <div id="participants-group" class="form-group half"
                 ng-class="{ 'has-feedback': editForm.participant_count.$touched,
                             'has-success': outing.participant_count,
                             'has-error': editForm.participant_count.$touched && editForm.participant_count.$invalid }">
              <label ng-class="{ 'control-label': editForm.participant_count.$touched && editForm.particpant_count.$invalid }" translate>participant_count</label>
              <div class="input-group">
                <input type="number" min="1" max="9999" name="participant_count" ng-model="outing.participant_count" class="form-control" />
                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="editForm.participant_count.$valid && outing.participant_count"></span>
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="editForm.participant_count.$touched && editForm.participant_count.$invalid"></span>
              <div class="help-block" ng-messages="editForm.participant_count.$error" ng-if="editForm.participant_count.$touched && editForm.participant_count.$invalid">
                <p ng-message="max" translate>This field must be lower than 9999.</p>
                <p ng-message="number" translate>This field must be a number.</p>
              </div>
            </div>

            ## COMMENT
            <div class=" full form-group">
              <label translate>personal comments</label>
              <textarea app-markdown-editor class="form-control description" placeholder="{{'write your comments' | translate}}" ng-model="outing.locales[0]['description']"></textarea>
            </div>

          </div>
        </section>
      </div>
      ${show_editing_buttons('outing', updating_doc, outing_id, outing_lang)}

    </section>
  </form>
  ${show_preview_container()}
  ${show_save_confirmation_modal(updating_doc)}
</section>
