<%!
from c2corg_common.attributes import default_langs, quality_types, activities, frequentation_types, \
    condition_ratings, glacier_ratings, avalanche_signs
%>
<%namespace file="../helpers/filters.html" import="add_multiselect"/>

## Duplicate simple filters into the main filters and into #moreFilters.
## It is really useful - no need for re-compilation with angular in case of sticky filters.
<%def name="simple_filters()">
  <div class="row simple-filters">

    <div class="filter">
      <label translate>title</label>
      <input type="text" class="form-control" ng-model="filtersCtrl.filters.q">
    </div>

    <div class="filter">
      <label translate>activities</label><br>
      ${add_multiselect('act', activities)}
    </div>

    <div class="filter">
      <label translate>condition_rating</label><br>
      <app-slider filter="ocond" filters-list="filtersCtrl.filters" unit=""
                  values-list="['${"','".join(condition_ratings) |n}']"></app-slider>
    </div>
  </div>
</%def>

<form app-search-filters app-search-filters-controller-name="appOutingFiltersController"  app-sticky-filters>
  <div class="filters">
    ${simple_filters()}
    <div class="row collapse" id="moreFilters">
      ${simple_filters()}

      <div class="col-xs-12 col-sm-6 filter">
        <label translate>date_start</label><br>
        <div class="input-group" ng-model="filtersCtrl.dates[0]" datepicker-options="{maxDate: filtersCtrl.dateMaxStart}"
             uib-datepicker-popup="dd MM yyyy" is-open="openDateStart" ng-change="filtersCtrl.setDate('date')">
          <input type="text" disabled class="form-control" value="{{filtersCtrl.dates[0] | amDateFormat:'Do MMMM YYYY'}}" required/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openDateStart = true"><span class="glyphicon glyphicon-calendar"></span></button>
          </span>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 filter">
        <label translate>date_end</label><br>
        <div class="input-group" ng-model="filtersCtrl.dates[1]" datepicker-options="{maxDate: filtersCtrl.dateMaxEnd, minDate: filtersCtrl.dateMinEnd}"
             uib-datepicker-popup="dd MM yyyy" is-open="openDateEnd" ng-change="filtersCtrl.setDate('date')">
          <input type="text" disabled class="form-control" value="{{filtersCtrl.dates[1] | amDateFormat:'Do MMMM YYYY'}}" required/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openDateEnd = true"><span class="glyphicon glyphicon-calendar"></span></button>
          </span>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 filter">
        <label translate>lang</label><br>
        ${add_multiselect('l', default_langs)}
      </div>

      <div class="col-xs-12 col-sm-6 filter">
        <label translate>document_quality</label><br>
        <app-slider filter="qa" filters-list="filtersCtrl.filters" unit=""
          values-list="['${"','".join(quality_types) |n}']"></app-slider>
      </div>

      <div class="col-xs-12 col-sm-6 filter">
        <label translate>elevation_max</label><br>
        <app-slider filter="oalt" filters-list="filtersCtrl.filters" max="8850"></app-slider>
      </div>

      <div class="col-xs-12 col-sm-6 filter">
        <label translate>height_diff_up</label><br>
        <app-slider filter="odif" filters-list="filtersCtrl.filters" max="5000"></app-slider>
      </div>

      <div class="col-xs-12 col-sm-6 filter">
        <label translate>elevation_access</label><br>
        <app-slider filter="oparka" filters-list="filtersCtrl.filters" max="5000"></app-slider>
      </div>

      <div class="col-xs-12 col-sm-6 filter">
        <label translate>frequentation</label><br>
        <app-slider filter="ofreq" filters-list="filtersCtrl.filters" unit=""
          values-list="['${"','".join(frequentation_types) |n}']"></app-slider>
      </div>

      <div class="col-xs-12 col-sm-6 filter">
        <label translate>public_transport</label><br>
        <a ng-click="filtersCtrl.toggleCheckbox('owpt')">
          <input type="checkbox" ng-checked="filtersCtrl.filters.owpt">
          <span></span>
        </a>
      </div>

      ## SNOW ACTVITIES
      <div ng-show="filtersCtrl.filters.act.length && (filtersCtrl.filters.act.indexOf('skitouring') !== -1 ||
                    filtersCtrl.filters.act.indexOf('snowshoeing') !== -1 ||
                    filtersCtrl.filters.act.indexOf('snow_ice_mixed') !== -1 ||
                    filtersCtrl.filters.act.indexOf('mountain_climbing') !== -1 ||
                    filtersCtrl.filters.act.indexOf('ice_climbing') !== -1)">

        <div class="col-xs-12 col-sm-6 filter">
          <label translate>avalanche_signs</label><br>
          ${add_multiselect('avdate', avalanche_signs)}
        </div>

        <div class="col-xs-12 col-sm-6 filter">
          <label translate>elevation_up_snow</label><br>
          <app-slider filter="swlu" filters-list="filtersCtrl.filters" max="3000"></app-slider>
        </div>

        <div class="col-xs-12 col-sm-6 filter">
          <label translate>elevation_down_snow</label><br>
          <app-slider filter="swld" filters-list="filtersCtrl.filters" max="3000"></app-slider>
        </div>

        <div class="col-xs-12 col-sm-6 filter">
          <label translate>snow_quantity</label><br>
          <app-slider filter="swquan" filters-list="filtersCtrl.filters" unit=""
            values-list="['${"','".join(condition_ratings) |n}']"></app-slider>
        </div>

        <div class="col-xs-12 col-sm-6 filter">
          <label translate>snow_quality</label><br>
          <app-slider filter="swqual" filters-list="filtersCtrl.filters" unit=""
            values-list="['${"','".join(condition_ratings) |n}']"></app-slider>
        </div>

        <div class="col-xs-12 col-sm-6 filter">
          <label translate>glacier_rating</label><br>
          <app-slider filter="oglac" filters-list="filtersCtrl.filters" unit=""
            values-list="['${"','".join(glacier_ratings) |n}']"></app-slider>
        </div>

      </div>

      <div class="filters-bottom-buttons">
        <button class="btn search-filters-btn orange-btn" data-toggle="collapse"
                data-target="#moreFilters" aria-expanded="false">
          <span translate>Show results</span> ({{resCounter}})
        </button>
        <button class="btn blue-btn search-filters-btn" ng-click="filtersCtrl.clear()"
                ng-show="filtersCtrl.filtersNb > 0"><span translate>Clear filters</span> ({{filtersCtrl.filtersNb}})</button>
      </div>
    </div>
    <div class="more-filters-btn-container">
      <button class="btn orange-btn more-filters-btn" data-toggle="collapse" data-target="#moreFilters"
        aria-expanded="false" aria-controls="moreFilters" translate>All filters</button>
      <button class="btn blue-btn more-filters-btn" ng-click="filtersCtrl.clear()" ng-cloak
              ng-show="filtersCtrl.filtersNb > 0"><span translate>Clear filters</span> ({{filtersCtrl.filtersNb}})</button>
    </div>

  </div>
</form>
