<%inherit file="../base.html"/>
<%namespace file="../helpers/common.html" import="show_title"/>
<%namespace file="../helpers/list.html" import="toggle_map_btns, toggle_list_btns"/>

<%block name="pagetitle"><title ng-bind="mainCtrl.page_title('Outings')">${show_title('Outings')}</title></%block>

<%block name="moduleConstantsValues">
  module.value('mapFeatureCollection', null);
  module.value('advancedSearchFilters', {
    'date': {'type': 'date'},
    'act': {'type': 'list'},
    'oalt': {'type': 'range'},
    'odif': {'type': 'range'},
    'oparka': {'type': 'range'},
    'dhei': {'type': 'range'},
    'avdate': {'type': 'list'},
    'l': {'type': 'list'}
  });
</%block>

## for 'click' of .toggle-map, .page-main-title button and .show-documents-filters-phone
## see js/style/stickyFilters.js

<header class="page-main-title">
  <h3>
    <span translate>Outings</span>
    <span class="badge" ng-cloak>{{resCounter}}</span>
  </h3>
</header>
<div class="documents-list-section-container" ng-class="{'no-map': MapswitchCtrl.hideMap, 'no-list': noList, 'row-list' : switchCtrl.showList}">
  <section class="documents-list-section">
    <%include file="filters.html" />

    <div class="documents-nav-buttons text-center">
      <button class="btn btn-default orange-btn show-documents-filters-phone" translate>Filters</button>
      <app-doctype-selector app-doctype="outings"></app-doctype-selector>
      <app-list-switch></app-list-switch>
      <app-map-switch></app-map-switch>
      <button class="btn btn-default orange-btn" protected-url-btn url="${request.route_path('outings_add')}"
              uib-tooltip="{{'Create a new outing' | translate }}" tooltip-placement="right">
        <span class="glyphicon glyphicon-plus-sign"></span>
      </button>
      ${toggle_list_btns()}

      <app-pagination></app-pagination>
      <div class="toggle-map">
        <button class="btn btn-default"><span class="glyphicon glyphicon-globe"></span></button>
      </div>
    </div>

    <app-advanced-search document-type="outings" use-map="true"></app-advanced-search>

    <div class="documents-nav-buttons text-center footer-pagination">
      <app-pagination></app-pagination>
    </div>
  </section>

  <div class="map-right">
    ${toggle_map_btns()}
    <app-map app-map-advanced-search="true" app-map-show-recenter-tools="true" app-map-default-map-filter="true"></app-map>
  </div>
</div>
