<%namespace file="../helpers/view.html" import="get_document_min_max,
    get_document_locale_text, get_activities, get_document_description"/>
<%namespace file="../helpers/preview.html" import="show_preview_warning"/>
<%namespace file="helpers/view.html" import="get_outing_snow, get_outing_access,
    get_outing_participants, get_outing_general, get_outing_heights,
    show_fulldate, get_conditions"/>

<%
outing = document
locale = document['locales'][0]
outing['date_end'] = outing['date_end'] if outing.get('date_end') else outing['date_start']
%>

${show_preview_warning()}

<div class="viewdoc viewroute">



  <header class="view-title-without-bg" >
    <h1 class="routes">
      <span class="title">${locale['title']}</span>
      <div class="icons-header routes">${get_activities(outing, 'top')}</div>
      <div class="outing-date" class="ng-cloak">${show_fulldate(outing['date_start'], outing['date_end'])}</div>
    </h1>
  </header>



  <section class="view-details-section"ng-class="{'row-list' : switchCtrl.showList}">
     <div class="row">
       <div class="col-xs-12 col-md-4 col-lg-3">
         % if outing.get('geometry'):
           <app-map class="view-details-map"></app-map>
        
         % endif
      </div>
       <div class="col-xs-12 col-md-8 col-lg-9">
         <section id="document-informations">
             <div class="finfo">
              <div class="ficontent">
                <div class="row">
                    ${get_outing_general(outing)}
                    ${get_outing_heights(outing)}
                    ${get_outing_access(outing)}
                    ${get_outing_snow(outing)}
                  </div>
              </div>
            </div>
          ${get_document_locale_text(locale, 'route_description', True)}
          ${get_conditions(locale, True)}
          ${get_document_locale_text(locale, 'avalanches', True)}
          ${get_document_locale_text(locale, 'timing', True)}

          ${get_document_locale_text(locale, 'access', True)}
          ${get_document_locale_text(locale, 'access_comment', True)}
          ${get_document_locale_text(locale, 'hut_comment', True)}
          ${get_document_description(locale, 'outing', 'personal comments')}
         </section>
       </div>
    </div>
  </section>
</div>
