<%namespace file="../helpers/common.html" import="show_title, show_fulldate"/>
<%namespace file="helpers/detailed_outings_attributes.html" import="get_outing_snow,
    get_outing_access, get_outing_participants, get_outing_general, get_outing_heights"/>
<%namespace file="../helpers/view.html" import="get_document_min_max,
    get_document_locale_text, show_attr, show_route_title, get_route_activities,
    get_document_description"/>
<%namespace file="../helpers/preview.html" import="show_preview_warning"/>

<%
outing = document
locale = document['locales'][0]
outing['date_end'] = outing['date_end'] if outing.get('date_end') else outing['date_start']
%>

<header class="view-details-title">
  <h1 class="routes">
    <div class="icons-header routes">${get_route_activities(outing, 'top')}</div>
    <span class="title">${show_route_title(locale)}</span><br>
    <label class="badge outing">
      <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;<span translate>outing</span>
    </label>
  </h1>
  <div class="outing-date" class="ng-cloak">${show_fulldate(outing['date_start'], outing['date_end'])}</div>
</header>

<section class="view-details-section" app-view-details>

  <div class="view-details-informations col-xs-12  informations">
    <h3 class="heading informations" ng-click="mainCtrl.animateHeaderIcon($event)" data-toggle="collapse" data-target="#document-informations">
      <span translate>Information</span><span class="glyphicon glyphicon-menu-down"></span>
    </h3>
    <section id="document-informations" class="collapse in">
      ${get_outing_general(outing)}
      ${get_outing_participants(outing)}
      ${get_outing_heights(outing)}
      ${get_outing_access(outing)}
      ${get_outing_snow(outing)}
    </section>
  </div>

  ${get_document_description(locale, 'outing')}

  <div class="description">
    ${get_document_locale_text(locale, 'route_description')}
    ${get_document_locale_text(locale, 'hut_comment')}
    ${get_document_locale_text(locale, 'access_comment')}
    ${get_document_locale_text(locale, 'avalanches')}
    ${get_document_locale_text(locale, 'access')}
    ${get_document_locale_text(locale, 'timing')}
    ${get_document_locale_text(locale, 'weather')}
  </div>

</section>
