<%inherit file="../base.html"/>
<%namespace file="../helpers/common.html" import="show_title"/>
<%namespace file="../helpers/view.html" import="add_seo_association_links"/>

<%block name="pagetitle"><title ng-bind="mainCtrl.page_title('Outings')">${show_title('Outings')}</title></%block>

<%block name="metarobots"><meta name="robots" content="noindex,follow"></%block>

<header class="page-main-title" ng-cloak">
  <h3 ng-init="nbItems = ${total}"><span translate>Outings</span>
    <span class="badge">{{nbItems}}</span>
  </h3>
</header>

<section class="documents-list-section">
  <h2>Temporary page for sitemap</h2>
  ${add_seo_association_links(outings, 'outings', False)}
</section>
