<%!
from c2corg_common.attributes import activities, image_categories, image_types
from c2corg_ui.templates.utils import get_lang_lists, has_associations, get_title
from json import dumps
%>

<%inherit file="../base.html"/>
<%namespace file="../helpers/view.html" import="get_comments, get_image_gallery,
    photoswipe_gallery, get_document_min_max, show_associated_xreports,
    get_document_locale_text, show_missing_langs_links, show_other_langs_links,
    show_archive_data, show_locale_title, get_activities, show_areas, show_float_buttons,
    show_associated_waypoints, show_associated_routes, show_associated_articles,
    show_associated_xreports, delete_association_confirmation_modal,
    associated_images_featurelist, show_badge, get_licence, show_merge_documents_dialog,
    show_delete_document_dialog, get_document_description, generate_share_metadata,
    display_app_smartphone_info, get_print_license"/>
<%namespace file="helpers/view.html" import="get_outing_snow, get_outing_access,
    get_outing_participants, get_outing_general, get_outing_heights,
    show_fulldate, get_conditions, get_outing_elevation_profile, get_outing_rating"/>

<%
outing_id = outing['document_id']
outing['doctype'] = 'outings'
other_langs, missing_langs = get_lang_lists(outing, lang)
%>

<%block name="pagelang">lang="${lang}"</%block>
<%block name="pagetitle"><title>${show_locale_title(locale, True)}</title></%block>
<%block name="metarobots">
  % if version:
    <meta name="robots" content="noindex,follow">
  % else:
    ## FIXME: set back to "index,follow" before going to prod
    <meta name="robots" content="index,follow">
  % endif
</%block>

<%block name="moduleConstantsValues">
  <%
      if outing.get('geometry'):
          geometry = outing['geometry']['geom_detail'] \
              if outing['geometry']['geom_detail'] else outing['geometry']['geom']
      else:
          geometry = None
  %>
  module.value('mapFeatureCollection',
    % if geometry:
      {
        "type": "FeatureCollection",
        "properties": {},
        "features": [
        {
          "type": "Feature",
          "geometry": ${geometry | n},
          "properties": {
            "title": ${dumps(locale['title']) | n},
            "lang": "${locale['lang']}",
            "documentId": ${outing['document_id']},
            "module": "outings"
          }
        }
        % if not version:
          ${associated_images_featurelist(outing)}
        % endif
      ]}
    % else:
      null
    % endif
  );

  module.value('documentData', {
    "document_id": ${outing.get('document_id')},
    "protected": ${'true' if outing.get('protected') else 'false'},
    "lang": "${lang}",
    "type": "o",
    "activities": ${dumps(outing.get('activities')) | n},
    "topic_id": ${dumps(locale.get('topic_id'))},
    "title": ${dumps(get_title(locale)) | n},
    "date_end": ${dumps(outing.get('date_end')) | n}
    % if not version:
       , "associations": ${dumps(outing.get('associations')) | n}
    % endif
  });
</%block>
<div ng-cloak>
  <div class="viewdoc viewroute">
  <app-announcement></app-announcement>
  <%block name="share">
    ${generate_share_metadata(outing, 'outings')}
  </%block>

    <header class="view-title-with-bg" ng-if="detailsCtrl.hasHeadband">
      <div class="view-image-bg" ng-style="{'background-image': 'url('+this.headBands+')'}"><div class="view-filter-bg"></div></div>

      <h1 class="routes">
        <span class="title">${locale['title']}</span>
        <div class="icons-header routes">${get_activities(outing, 'top')}</div> ${show_badge(outing, 'outing')}
             <div class="outing-date" class="ng-cloak">${show_fulldate(outing['date_start'], outing['date_end'])}</div>
      </h1>
    </header>
    <header class="view-title-without-bg" ng-if="!detailsCtrl.hasHeadband">
      <h1 class="routes">
        <span class="title">${locale['title']}</span>
        <div class="icons-header routes">${get_activities(outing, 'top')}</div> ${show_badge(outing, 'outing')}
        <div class="outing-date" class="ng-cloak">${show_fulldate(outing['date_start'], outing['date_end'])}</div>
      </h1>
    </header>

  % if outing.get('areas'):
    <article class="location-static">
      ${show_areas(outing)}
    </article>
  % endif

    <section class="view-details-section" app-view-details ng-class="{'row-list' : switchCtrl.showList}">
       <div class="row">
         <div class="col-xs-12 col-md-4 col-lg-3" id="left-column">
           % if outing.get('geometry'):
             <app-map class="view-details-map"></app-map>
             % if outing.get('geometry').get('geom_detail'):
               ${get_outing_elevation_profile()}
             % endif
           % endif
           % if not version:
             ${display_app_smartphone_info('outing')}
           % endif
           % if not version:
             ${get_image_gallery()}
             ${show_other_langs_links('outings', outing, other_langs)}
           % endif
           ${get_licence(outing)}
        </div>
         <div class="col-xs-12 col-md-8 col-lg-9" id="right-column">
           <section id="document-informations">
               <div class="finfo">
                <div class="ficontent">
                  <div class="row">
                      ${get_outing_general(outing)}
                      % if not version:
                        ${get_outing_rating(outing)}
                      % endif
                      ${get_outing_heights(outing)}
                      ${get_outing_access(outing)}
                      ${get_outing_snow(outing)}
                      % if not version:
                        ${get_outing_participants(outing)}
                      % endif
                    </div>

                </div>
              </div>
             % if version:
              ${show_archive_data('outings', outing, locale, version)}
            % endif
            ${get_document_locale_text(locale, 'route_description', True)}
            ${get_conditions(locale, True)}
            ${get_document_locale_text(locale, 'avalanches', True)}
            ${get_document_locale_text(locale, 'timing', True)}

            ${get_document_locale_text(locale, 'access', True)}
            ${get_document_locale_text(locale, 'access_comment', True)}
            ${get_document_locale_text(locale, 'hut_comment', True)}
            ${get_document_description(locale, 'outing', 'personal comments')}
           </section>

            % if not version:
              <%
                userIds = dumps([user['document_id'] for user in outing['associations']['users']])
              %>
              <div class="row" id="associated-documents">
                <div class="col-xs-12"
                    % if not has_associations(outing):
                     ng-if="userCtrl.hasEditRights('outings', {'users': ${userIds}})"
                   % endif
                     >

                    <span class="lead" ng-cloak>
                      <section>
                        <div ng-show="userCtrl.auth.isAuthenticated() && userCtrl.hasEditRights('outings', {'users': ${userIds}})" class="add-association">
                          <label translate>Add association</label>
                          <app-add-association parent-id="${outing_id}" parent-doctype="outings" dataset="rcx"></app-add-association>
                        </div>
                          ${show_associated_routes(outing)}
                        ${show_associated_articles(outing)}
                        ${show_associated_xreports(outing)}
                      </section>
                    </span>
                  </div>
                </div>

        ${get_comments(outing.get('disable_comments'))}

        ${get_print_license(outing)}

        ${show_float_buttons(outing, lang, other_langs, missing_langs)}
      % endif

         </div>

      </div>
    </section>
  </div>

  % if not version:
    <div class="ng-hide">
      <div id="image-uploader" app-image-uploader activities="${activities}" categories="${image_categories}" types="${image_types}"></div>
      ${show_missing_langs_links('outings', outing, missing_langs)}
      ${delete_association_confirmation_modal()}
      ${show_merge_documents_dialog('outings')}
      ${show_delete_document_dialog('outings', lang, other_langs)}
    </div>

    ${photoswipe_gallery()}

    <script>
      window.onload = function() {
        $('[data-toggle=\'tooltip\']').tooltip();
      };
    </script>
  % endif
</div>
