<div class="header empty" translate>No results</div>
<p class="tt-suggestion" protected-url-btn url="/waypoints/add"><span class="suggestion-text" translate>Create a new waypoint</span><span class="glyphicon glyphicon-plus-sign text-right"></span></p>
<p class="tt-suggestion" protected-url-btn url="/routes/add"><span class="suggestion-text" translate>Create a new route</span><span class="glyphicon glyphicon-plus-sign text-right"></span></p>
<p class="tt-suggestion" protected-url-btn url="/outings/add"><span class="suggestion-text" translate>Create a new outing</span><span class="glyphicon glyphicon-plus-sign text-right"></span></p>
<p class="tt-suggestion" protected-url-btn url="/articles/add"><span class="suggestion-text" translate>Create a new article</span><span class="glyphicon glyphicon-plus-sign text-right"></span></p>
