<a ng-href="{{cardCtrl.createURL()}}" ng-init="doc = cardCtrl.doc; locale = cardCtrl.locale;">
  <div class="list-item-info">

    <div class="list-item-title-lang">
      <span class="list-item-title">{{::locale.title}}</span>
      <span class="list-item-lang" ng-if="cardCtrl.lang != locale.lang">({{::locale.lang}})</span>
    </div>

    <div class="article-categories">
      <span ng-repeat="book_type in ::doc['book_types']" class="value book-type">{{book_type | translate}}{{$last ? '' : ', '}}</span>
    </div>

    <div class="activities flex wrap-row margin-t-sm">
      <span ng-repeat="activity in ::doc.activities | limitTo: 4"  class="activity icon-{{::activity}}"
            uib-tooltip="{{cardCtrl.translate(activity)}}" tooltip-append-to-body="true"></span>

      <span class="flex flexend-align show-more-activities"
            ng-if="doc.activities.length > 4 && !cardCtrl.remainingActivities"
            ng-click="$event.preventDefault(); cardCtrl.remainingActivities = true">
        ...(+ {{::doc.activities.length - 4}})
      </span>

      <span ng-if="cardCtrl.remainingActivities" ng-repeat="activity in ::doc.activities | limitTo: (4 - doc.activities.length)"
            class="activity icon-{{::activity}}" uib-tooltip="{{cardCtrl.translate(activity)}}" tooltip-append-to-body="true">
      </span>
    </div>

    <div class="quality" ng-if="::doc['quality']" ng-class="'icon-'+::doc['quality']"
         uib-tooltip="{{'quality'| translate}} : {{doc['quality'] | translate}}" tooltip-append-to-body="true"></div>

    <div class="author margin-t-sm" ng-if="::doc['author']">
      <span class="glyphicon glyphicon-pencil"></span>
      <span ng-if="::doc['author']" class="value">{{::doc['author']}}</span>
    </div>

  </div>
</a>
