<article class="post" ng-init="doc = cardCtrl.doc; locale = cardCtrl.locale;" ng-click="cardCtrl.openDoc(doc)">
  <div class="parent-img cards-img">
    <a ng-href="{{cardCtrl.createURL()}}">
      <div class="img-bg" style="background-image: url({{cardCtrl.createImg()}});"></div>
    </a>
    <div class="parent-infop" ng-if="locale.title">
      <a ng-href="{{::cardCtrl.createURL(doc)}}" title="{{feedCtrl.showTitle(doc['document']['locales'])}}"
         ng-click="$event.stopPropagation()" class="text-link">
        <div class="parent-overlay">
          <div class="text">
            {{::locale.title}}
            <span class="list-item-lang" ng-if="cardCtrl.lang != locale.lang">({{::locale.lang}})</span>
          </div>
        </div>
      </a>
    </div>
  </div>
</article>
