<a ng-href="{{cardCtrl.createURL()}}" ng-init="doc = cardCtrl.doc; locale = cardCtrl.locale;">
  <span class="list-item-title"><span ng-if="::locale.title_prefix">{{::locale.title_prefix}}&nbsp;: </span>{{::locale.title}}</span>
  <span class="list-item-lang" ng-if="cardCtrl.lang != locale.lang">({{::locale.lang}})</span>
  <br>
  <div class="list-item-info">
    <div class="flex wrap-row">
      <span class="elevation-max" ng-if="::doc['elevation_max']" uib-tooltip="{{'elevation_max'| translate}}">
        <span class="value-title glyphicon glyphicon-sort-by-attributes rotate-180"></span>
        <span class="value">{{::doc['elevation_max']}}&nbsp;m</span>
      </span>

      <div class="quality" ng-if="::doc['quality']" ng-class="::doc['quality']"
           uib-tooltip="{{'quality'| translate}} : {{::doc['quality'] | translate}}" tooltip-placement="left"></div>

      <span class="height-diff" ng-if="::doc['height_diff_up']" uib-tooltip="{{'height_diff_up'| translate}}">
        <span class="icon-height_diff"></span>
        <span class="value">{{::doc['height_diff_up']}}&nbsp;m</span>
      </span>

      <span class="height-diff-difficulties" ng-if="::doc['height_diff_difficulties']" uib-tooltip="{{'height_diff_difficulties'| translate}}">
        <span class="value-title glyphicon glyphicon-resize-vertical"></span>
        <span class="value">{{::doc['height_diff_difficulties']}}&nbsp;m</span>
      </span>

      <div ng-if="::doc['orientations']" class="orientations" uib-tooltip="{{'orientations'| translate}}">
        <span class="glyphicon glyphicon-fullscreen"></span>
        <span ng-repeat="o in ::doc['orientations']">{{o}}{{$last ? '' : ', '}}</span>
      </div>
    </div>

    <div class="global-rating flex flexend-align" ng-init="globalRatings = cardCtrl.getGlobalRatings()" ng-show="::globalRatings">
      <span class="icon-rating"></span>
      <div ng-repeat="(attr, val) in ::globalRatings" class="rating" uib-tooltip="{{::attr | translate}}" ng-if="::val">
        <span class="value">{{::val}}</span>
      </div>
    </div>

    <div class="full-rating flex" ng-init="fullRatings = cardCtrl.getFullRatings()">
      <span class="icon-rating"></span>
      <div ng-repeat="(attr, val) in ::fullRatings" uib-tooltip="{{::attr | translate}}" class="rating">
        <span class="value">{{::val}}</span>
      </div>
    </div>

    <div class="route-activities">
      <span ng-repeat="activity in ::doc.activities" class="route-activity icon-{{::activity}}" uib-tooltip="{{ ::cardCtrl.translate(activity)}}"></span>
    </div>
  </div>
</a>
