<article class="post route" ng-init="doc = cardCtrl.doc; locale = cardCtrl.locale;" ng-click="cardCtrl.openDoc()">
  <a ng-href="{{::cardCtrl.createURL()}}" title="{{::locale.title}}" ng-click="$event.stopPropagation()" class="text-link"> 
    <div class="parent-text">
      <div class="text emptyimg"><span ng-if="::locale.title_prefix">{{::locale.title_prefix}}&nbsp;: </span> {{::locale.title}}
      </div>
    </div></a><div class="parent-img"></div>
  <div class="parent-infop parent-infop-first area" ng-if="::doc['areas'] != null">
    
      <div class="infop-bar">
        <div class="parent-bubble">
          <div class="bubble">
            <span class="glyphicon glyphicon-map-marker"></span>
          </div>
        </div>
        <a ng-href="{{::cardCtrl.createAreaURL(doc['areas'])}}" title="{{::cardCtrl.showArea(doc['areas'])}}" ng-click="$event.stopPropagation()">
        <div class="text-bubble">
          {{::cardCtrl.showArea(doc['areas'])}}
        </div></a>
        <div class="grow">
        </div>
      </div>
  </div>
  <div class="parent-infop parent-infop-first large" ng-init="fullRatings = cardCtrl.getFullRatings()" ng-if="fullRatings || doc['elevation_max'] || doc['height_diff_up'] || doc['height_diff_difficulties']">
    <div class="infop-bar" >
      <div class="group-infop">
        <div class="parent-bubble" ng-if="::fullRatings">
          <div class="bubble ">
            <span class="icon-rating "></span>
          </div>
        </div>
        <div class="text-bubble cotationbox" ng-if="::fullRatings">
          <div ng-repeat="(attr, val) in ::fullRatings" uib-tooltip="{{attr | translate}}: {{::val}}" class="rating ng-scope" tooltip-append-to-body="true"> <span class="value">{{::val}}</span> </div>
        </div> 
      </div>
      <div class="group-infop">
        <div class="parent-bubble" ng-if="::doc['elevation_max']">
          <div class="bubble" uib-tooltip="{{'elevation_max'| translate}}: {{::doc['elevation_max']}} m" tooltip-append-to-body="true">
            <span class="value-title glyphicon glyphicon-sort-by-attributes rotate-180"></span>
          </div>
        </div>
        <div class="text-bubble" ng-if="::doc['elevation_max']">
          {{::doc['elevation_max']}} m
        </div>
      </div>
      <div class="group-infop">
        <div class="parent-bubble" ng-if="::doc['height_diff_up']">
          <div class="bubble" uib-tooltip="{{'height_diff_up'| translate}}: {{::doc['height_diff_up']}} m">
            <span class="icon-height_diff"></span>
          </div>
        </div>
        <div class="text-bubble" ng-if="::doc['height_diff_up']">
          {{::doc['height_diff_up']}} m
        </div>
      </div>
      <div class="group-infop">
        <div class="parent-bubble" ng-if="::doc['height_diff_difficulties']">
          <div class="bubble" uib-tooltip="{{'height_diff_difficulties'| translate}}: {{::doc['height_diff_difficulties']}} m" tooltip-append-to-body="true">
            <span class="value-title glyphicon glyphicon-resize-vertical"></span>
          </div>
        </div>
        <div class="text-bubble" ng-if="::doc['height_diff_difficulties']">
          {{::doc['height_diff_difficulties']}} m
        </div>
      </div>
      <div class="grow">
      </div>
    </div>
  </div>
  <div class="parent-infop">
    <div class="infop-bar">
      <div class="parent-activity">
        <div class="parent-bubble" ng-repeat="activity in ::doc.activities">
          <a href="#" class="shcom" uib-tooltip="{{activity | translate}}"> 
            <div class="bubble">
              <span class="route-activity icon-{{::activity}}"></span>
            </div>
          </a>
        </div>
      </div>
      <div class="grow">
      </div>
      <div class="group-infop">
        <div class="parent-bubble topsubicon" ng-if="::doc['orientations']">
          <a href="#" class="link" uib-tooltip="{{'orientations'| translate}}: {{::cardCtrl.showOrientation(doc['orientations'])}}" tooltip-append-to-body="true" tooltip-append-to-body="true" ng-if="::doc['orientations'].length > 0">
            <span class="subicon glyphicon glyphicon-fullscreen"></span>
          </a>
        </div>
        <div class="text-bubble"  ng-if="::doc['orientations'].length > 0">
          {{::cardCtrl.showOrientation(doc['orientations'])}}
        </div>
      </div>
      <div class="parent-bubble">
        <a href="#" class="link" ng-if="::doc['condition_rating']" uib-tooltip="{{'condition_rating' | translate}} : {{doc['condition_rating'] | translate}}" tooltip-append-to-body="true">
          <div class="condition-rating" ng-class="::doc['condition_rating']" ></div>
        </a>
      </div>
      <div class="parent-bubble"><div class="bubble bquality" ng-if="::doc['quality']">
        <a class="link" uib-tooltip="{{doc['quality'] | translate}}" tooltip-append-to-body="true">
          <span class="quality-{{::doc['quality']}}"></span>
        </a></div>
      </div>
    </div>
  </div>
</article>
