<a ng-href="{{cardCtrl.createURL()}}" ng-init="doc = cardCtrl.doc; locale = cardCtrl.locale;">
  <div class="flex column route-item-infos">
    <div class="flex wrap-row nowrap center-items-align grow">
      <div class="list-item-info">
        <div class="list-item-title-lang">
          <span class="list-item-title"><p><span ng-if="::locale.title_prefix">{{::locale.title_prefix}}&nbsp;: </span>{{::locale.title}}</p></span>
          <span class="list-item-lang" ng-if="cardCtrl.lang != locale.lang">({{::locale.lang}})</span>
        </div>
        <div class="flex location" ng-if="::doc['areas']">
          <span class="value">{{::cardCtrl.showArea(doc['areas'])}}</span>
        </div>
        <div class="flex wrap-row route-infos">
          <span class="elevation" "
                uib-tooltip="{{'elevation_max'| translate}}" tooltip-append-to-body="true">
            <span class="glyphicon glyphicon-sort-by-attributes rotate-180" ng-if="::doc['elevation_max']"></span>
            <span class="value"  ng-if="::doc['elevation_max']">{{::doc['elevation_max']}}&nbsp;m</span>
          </span>
          <span class="height-diff" uib-tooltip="{{'height_diff_up'| translate}}">
            <span class="icon-height_diff" ng-if="::doc['height_diff_up']"></span>
            <span class="value" ng-if="::doc['height_diff_up']">{{::doc['height_diff_up']}}&nbsp;m</span>
          </span>
          <span class="height-diff-difficulties" uib-tooltip="{{'height_diff_difficulties'| translate}}" tooltip-append-to-body="true">
            <span class="glyphicon glyphicon-resize-vertical" ng-if="::doc['height_diff_difficulties']"></span>
            <span class="value" ng-if="::doc['height_diff_difficulties']">{{::doc['height_diff_difficulties']}}&nbsp;m</span>
          </span>
          <span class="slackline-length" ng-if="::doc['route_length'] && cardCtrl.hasActivity(['slacklining'])"
            uib-tooltip="{{'Length'| translate}}" tooltip-append-to-body="true">
            <span class="glyphicon glyphicon-resize-horizontal"></span>
            <span class="value">{{::doc['route_length']}}&nbsp;m</span>
          </span>
          <span class="slackline-height" ng-if="::doc['slackline_height']"
                uib-tooltip="{{'Height'| translate}}" tooltip-append-to-body="true">
            <span class="glyphicon glyphicon-resize-vertical"></span>
            <span class="value">{{::doc['slackline_height']}}&nbsp;m</span>
          </span>
          <div class="orientations"
               uib-tooltip="{{'orientations'| translate}}" tooltip-append-to-body="true">
            <span class="glyphicon glyphicon-fullscreen" ng-if="::doc['orientations']"></span>
            <span ng-if="::doc['orientations']" ng-repeat="o in ::doc['orientations']">{{o}}{{$last ? '' : ', '}}</span>
          </div>
          <div class="full-rating flex" ng-init="fullRatings = cardCtrl.getFullRatings()">
            <span class="icon-rating" ng-if="::fullRatings"></span>
            <div  ng-if="::fullRatings" ng-repeat="(attr, val) in ::fullRatings" uib-tooltip="{{attr | translate}}" class="rating" 
              tooltip-append-to-body="true">
              <span class="value">{{::val}}</span>
            </div>
          </div>
        </div>
        <div class="flex" ng-if="::doc['slackline_type'] && cardCtrl.hasActivity(['slacklining'])">
          <span class="value slackline-type">{{::doc['slackline_type'] | translate}}</span>
        </div>
      </div>

    </div>
    <div class="activities">
      <span ng-repeat="activity in ::doc.activities" class="activity icon-{{::activity}}"
            uib-tooltip="{{activity | translate}}" tooltip-append-to-body="true">
      </span>
    </div>
  </div>
  <div class="quality" ng-if="::doc['quality']"
       uib-tooltip="{{'quality' | translate}} : {{doc['quality'] | translate}}" tooltip-append-to-body="true">
    <span class="quality-{{::doc['quality']}}"></span>
  </div>
</a>
